{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class='col-md-4'>
        <div class="col-md-12 well">
            <h4>BLAST search</h4>
            <p>Enter a sequence into the text box and press the green button.</p>
        </div>
        </div>
    <div class='col-md-4 well'>
        <form id='seq' action="/alignment/blastsearchresults" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <textarea name="input_seq" rows="15" cols="47"></textarea>
        </form>
    </div>
    <div class="col-md-4">
        <div class="col-md-12 well">
            <a href="#" class="btn btn-success btn-lg btn-block" onclick='document.getElementById("seq").submit()'>BLAST</a>
        </div>
    </div>
</div>
    {% endblock %}
