{# Header for EXTENDED mode tables #}
<thead>
  <!-- Super Header Row -->
  <tr style="font-size: 14px; white-space: nowrap;">
    <th colspan="1" style="text-align:center" data-dt-order="disable"></th>
    <th colspan="4" style="text-align:center" data-dt-order="disable">Ligands</th>
    <th colspan="1" style="text-align:center" class="border-left" data-dt-order="disable">Receptor</th>
    <th colspan="9" style="text-align:center" class="border-left" data-dt-order="disable">Activity</th>
    <th colspan="7" style="text-align:center" class="border-left" data-dt-order="disable">Chemical information</th>
  </tr>
  <!-- Header Row -->
  <tr>
    <th style="width: 30px; text-align:center;"><input type="checkbox" class="select-all-checkbox" title="Select/Deselect All Rows"></th>
    <th>Common<br />name</th>
    <th>GPCRdb<br />ID</th>
    <th>Reference<br />ligand</th>
    <th>Vendors</th>
    <th class="border-left">Species</th>
    <th class="border-left">Assay<br />Type</th>
    <th>Activity<br />Type</th>
    <th>Activity<br />Relation</th>
    <th>Activity<br />Value</th>
    <th>p-value<br />(-log)</th>
    <th>Fold<br />selectivity</th>
    <th>Tested<br />GPCRs</th>
    <th>Assay<br />Description</th>
    <th>Source</th>
    <th class="border-left">Mol<br />weight</th>
    <th>Rot<br />Bonds</th>
    <th>H don</th>
    <th>H acc</th>
    <th>LogP</th>
    <th>Smiles</th>
    <th>DOI</th>
  </tr>
  <!-- Filter Row -->
  <tr>
    <td data-dt-order="disable"></td>
    <td data-dt-order="disable"></td><td data-dt-order="disable"></td><td data-dt-order="disable"></td><td data-dt-order="disable"></td><td class="border-left" data-dt-order="disable"></td>
    <td class="border-left" data-dt-order="disable"></td><td data-dt-order="disable"></td><td data-dt-order="disable"></td><td data-dt-order="disable"></td><td data-dt-order="disable"></td>
    <td data-dt-order="disable"></td><td data-dt-order="disable"></td><td data-dt-order="disable"></td><td data-dt-order="disable"></td>
    <td class="border-left" data-dt-order="disable"></td><td data-dt-order="disable"></td><td data-dt-order="disable"></td><td data-dt-order="disable"></td><td data-dt-order="disable"></td>
    <td data-dt-order="disable"></td><td data-dt-order="disable"></td>
 </tr>
</thead>