{# File: ligand/templates/_target_details_qualitative_header.html #}
{# Header for EXTENDED Qualitative table. #}
<thead>
    <!-- Super Header Row -->
    <tr style="font-size: 14px; white-space: nowrap;">
      <th colspan="1" style="text-align:center" data-dt-order="disable"></th>
      <th colspan="4" style="text-align:center" data-dt-order="disable">Ligands</th>
      <th colspan="1" style="text-align:center" class="border-left" data-dt-order="disable">Receptor</th>
      <th colspan="5" style="text-align:center" class="border-left" data-dt-order="disable">Activity</th>
    </tr>
    <!-- Header Row -->
    <tr>
      <th style="width: 30px; text-align:center;"><input type="checkbox" class="select-all-checkbox" title="Select/Deselect All Rows"></th>
      <th>Common<br />name</th>
      <th>GPCRdb<br />ID</th>
      <th>Reference<br />ligand</th>
      <th>Vendors</th>
      <th class="border-left">Species</th>
      <th class="border-left">Assay<br />Type</th>
      <th>Activity<br />Type</th>
      <th>Assay<br />Description</th>
      <th>Qualitative<br />Information</th>
      <th>Source</th>
    </tr>
    <!-- Filter Row -->
    <tr>
      <td data-dt-order="disable"></td>
      <td data-dt-order="disable"></td><td data-dt-order="disable"></td><td data-dt-order="disable"></td><td data-dt-order="disable"></td>
      <td class="border-left" data-dt-order="disable"></td>
      <td class="border-left" data-dt-order="disable"></td>
      <td data-dt-order="disable"></td><td data-dt-order="disable"></td>
      <td data-dt-order="disable"></td><td data-dt-order="disable"></td>
   </tr>
  </thead>