{% extends "home/base.html" %}

{% load static %}



{% block addon_js %}
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
<script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
<script src="{% static 'home/js/dataTables.buttons.min.js' %}"> </script>
<script src="{% static 'home/js/select2.js' %}"> </script>
<script src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.colVis.js"></script>

<script type="text/javascript" charset="utf-8">
    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start, c_end));
            }
        }
        return "";
    }
    // main table load
    $(document).ready(function() {
    var ligand_counter = read_unique_ids();
    var receptor_counter = read_unique_ids_receptor()
        oTable = $('#structures_scrollable').DataTable({
            StateSave: true,
            dom: 'B<"toolbar">ftrip<>',


            buttons: [{
                    text: 'Excel',
                    className: 'btn btn-primary',
                    titleAttr: 'Download excel',
                    init: function(api, node, config) {
                        $(node).removeClass('dt-button buttons-excel buttons-html5');
                    },
                    action: function(e, dt, node, config) {
                        tableToExcel('structures_scrollable', 'Biased Pathways Data', 'GPCRdb_biased_Pathways.xls')
                    },
                },
                {
                    text: 'Reset All Filters',
                    className: 'btn btn-primary',
                    titleAttr: 'Reset All Filters',
                    init: function(api, node, config) {
                        $(node).removeClass('dt-button buttons-excel buttons-html5');
                    },
                    action: function(e, dt, node, config) {
                        read_unique_ids()
                        reset_filters()
                    },
                },
            {
                text: 'Get Vendors',
                className: 'btn btn-primary',
                titleAttr: 'Vendors info for top 20 ligands',
                init: function(api, node, config) {
                    $(node).removeClass('dt-button buttons-excel buttons-html5');
                },
                action: function(e, dt, node, config) {
                    var id = read_ids()
                    var result
                    console.log('test' + id)
                    $.ajaxSetup({
                        headers: { "X-CSRFToken": getCookie("csrftoken") }
                    });
                    $.ajax({
                        type: 'POST',
                        url: '/ligand/vendors',
                        data: {
                            ids: id,
                            csrfmiddlewaretoken: '{{csrf_token }}',
                            action: 'post',
                        },
                        success: function() {

                            myFunction('/ligand/browservendors', 'Detail View', window, 850, 1000)
                        }
                    });
                },
            },
            ],
            scrollX: '100%',
            scrollY: '70vh',
            scrollCollapse: true,
            "order": [
                [4, "desc"]
            ],

            AutoWidth: false,
            paging: true,
            "lengthMenu": [
                [100, -1],
                [100, "All"]
            ],
            "columnDefs": [
                { className: "test_df", "targets": [10,11,12,14] }
              ],
            "initComplete": function(settings, json) {
                    $('#loadingSpinner').show();
                    $('#structures_scrollable_body').hide();
                setTimeout(function() {
                    oTable.columns().flatten().each(function(colIdx) {
                        var columnData = [];
                        oTable.rows({
                            filter: 'applied'
                        }).data().each(function(i) {
                            columnData.push(i[colIdx]);
                        })
                        if (columnData.join('').length == 0 && colIdx != 0) {
                            oTable.column(colIdx).visible(false);
                        }
                    });
                    oTable.columns.adjust();
                        var ligand_counter = read_unique_ids();
                        var receptor_counter = read_unique_ids_receptor()
                        document.getElementById("ligand_counter").innerHTML = ligand_counter;
                        document.getElementById("receptor_counter").innerHTML = receptor_counter;
                        document.getElementById("Publications").innerHTML = 5;

                    $('#loadingSpinner').hide();
                    $('#structures_scrollable_body').show();
                }, 0);
            },

            "fnDrawCallback": function() {
            var ligand_counter = read_unique_ids();
            var receptor_counter = read_unique_ids_receptor()
            $('#loadingSpinner').show();
            $('#structures_scrollable_body').hide();
            setTimeout(function() {
                    $('#loadingSpinner').hide();
                    $('#structures_scrollable_body').show();
                }, 0);
                setTimeout(function() {
                    oTable.columns().flatten().each(function(colIdx) {
                        var columnData = [];
                        oTable.rows({
                            filter: 'applied'
                        }).data().each(function(i) {
                            columnData.push(i[colIdx]);
                        })
                        if (columnData.join('').length == 0 && colIdx != 0) {
                            oTable.column(colIdx).visible(false);
                        }

                    });
                        var ligand_counter = read_unique_ids();
                        var receptor_counter = read_unique_ids_receptor()
                        document.getElementById("ligand_counter").innerHTML = ligand_counter;
                        document.getElementById("receptor_counter").innerHTML = receptor_counter;
                        document.getElementById("Publications").innerHTML = 5;

                    oTable.columns.adjust();
                }, 1);
            }

        });


        yadcf.init(oTable,
            [{
                    column_number: 1,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                {
                    column_number: 2,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    filter_default_label: "Select",
                    filter_reset_button_text: false,

                },
                {
                    column_number: 3,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    //column_data_type: "html",
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                {
                    column_number: 4,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                {
                    column_number: 5,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                {
                    column_number: 6,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    column_data_type: "html",
                    html_data_type: "text",
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                // Ligand
                {
                    column_number: 7,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    column_data_type: "html",
                    html_data_type: "text",
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                {
                    column_number: 8,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    column_data_type: "html",
                    html_data_type: "text",
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                {
                    column_number: 9,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    column_data_type: "html",
                    html_data_type: "text",
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                {
                    column_number: 10,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                {
                    column_number: 11,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                //  Receotor Transduction
                {
                    column_number: 12,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                {
                    column_number: 13,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                // pathway_bias
                {
                    column_number: 14,
                    select_type: 'select2',
                    filter_type: "multi_select",
                    text_data_delimiter: " ",
                    filter_default_label: "Select",
                    filter_reset_button_text: false,
                },
                {
                    column_number: 15,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    filter_default_label: "Article Authors",
                    filter_reset_button_text: false,
                },
                {
                    column_number: 16,
                    filter_type: "multi_select",
                    select_type: 'select2',
                    column_data_type: "html",
                    html_data_type: "text",
                    filter_default_label: "Article DOI",
                    filter_reset_button_text: false,
                },



            ], {
                cumulative_filtering: true
            }, {
                externally_triggered: true
            },
        );

        function reset_filters() {
            yadcf.exResetAllFilters(oTable);
            setTimeout(function() {
                oTable.columns().flatten().each(function(colIdx) {
                    var columnData = [];
                    oTable.rows({
                        filter: 'applied'
                    }).data().each(function(i) {
                        columnData.push(i[colIdx]);
                    })
                    if (columnData.join('').length == 0 && colIdx != 0) {
                        oTable.column(colIdx).visible(false);
                    }
                });
                oTable.columns.adjust();
                $('#loadingSpinner').hide();
                $('#structures_scrollable_body').show();
            }, 5);

        }

        $('.dataTables_scrollBody #structures_scrollable').addClass("pull-left");

        $('.dataTables_scrollBody').append('<div id=overlay><table id="overlay_table" class="row-border text-center compact dataTable no-footer text-nowrap"><tbody></tbody></table></div>');

        function create_overlay() {
            // This function fires upon filtering, to update what rows to show as an overlay
            $("#overlay_table tbody tr").remove();
            var $target = $("#overlay_table tbody");
            $("#structures_scrollable tbody tr").each(function() {
                var $tds = $(this).children(),
                    $row = $("<tr></tr>");
                // $row.append($tds.eq(0).clone()).append($tds.eq(1).clone()).appendTo($target);
                // var clone_this = document.getElementById("potency_id2").clone()
                var $tr = document.getElementsByClassName('tr_clone');

                var $clone = [$tr];

                $row.append($tds.eq(0).clone()).append($tds.eq(4).clone()).append($tds.eq(5).clone()).append($tds.eq(6).clone());

                $row.appendTo($target)
                $row.height($(this).height());
            });
            $("#overlay_table .border-right").removeClass("border-right");
        }
        // Function that detects filtering events
        $('#structures_scrollable').on('draw.dt', function(e, oSettings) {
            create_overlay();
        });
        create_overlay();
        $("#overlay").hide();
        var left = 0;
        var old_left = 0;
        $('.dataTables_scrollBody').scroll(function() {
            // If user scrolls and it's >100px from left, then attach fixed columns overlay
            left = $('.dataTables_scrollBody').scrollLeft();
            if (left != old_left) $("#overlay").hide();
            old_left = left;
            if (left > 100) {
                $("#overlay").css({
                    left: left + 'px'
                });
                if ($("#overlay").is(":hidden")) $("#overlay").show();
            }
        });

        var tableToExcel = (function() {
            var uri = 'data:application/vnd.ms-excel;base64,',
                template =
                '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
                base64 = function(s) {
                    return window.btoa(unescape(encodeURIComponent(s)))
                },
                format = function(s, c) {
                    return s.replace(/{(\w+)}/g, function(m, p) {
                        return c[p];
                    })
                }
            return function(table, name, filename) {
                var table = $("#" + table).clone();
                $("#excel_table").html(table);
                // Clean up table to remove yadcf stuff
                $("#excel_table thead tr").css('height', '');
                $("#excel_table thead th").css('height', '');
                $("#excel_table thead div").css('height', '');
                $("#excel_table thead .yadcf-filter-wrapper").remove();
                $("#excel_table thead button").remove();
                var tr = $("#excel_table thead tr:eq(1)");
                // reattach th titles
                tr.find('th').each(function(column, th) {
                    if ($(th).attr('title')) $(th).html($(th).attr('title'));
                });

                var ctx = {
                    worksheet: name || 'Worksheet',
                    table: $("#excel_table").html()
                }
                $("#excel_table").html("");
                document.getElementById("dlink").href = uri + base64(format(template, ctx));
                document.getElementById("dlink").download = filename;
                document.getElementById("dlink").click();
            }
        })()

    });
</script>

<script type="text/javascript">
    function myFunction(url, title, win, w, h) {
        const y = win.top.outerHeight / 2 + win.top.screenY - (h / 2);
        const x = win.top.outerWidth / 2 + win.top.screenX - (w / 2);
        return win.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + y + ', left=' + x);
    }
    function read_unique_ids() {
        var ids = [];
        var table = document.getElementById("structures_scrollable")
        var temp_lenght = table.rows.length;
        var l = 0;
        for (var i = 2; i < temp_lenght; i++) {
            var x = table.rows[i].cells[0];
            ids.push($(x).find('span:first')[0].innerText)
        }
        l = countUnique(ids);
        return l
    }
    function read_unique_ids_receptor() {
        var ids = [];
        var table = document.getElementById("structures_scrollable")
        var temp_lenght = table.rows.length;
        var l = 0;
        for (var i = 2; i < temp_lenght; i++) {
            var x = table.rows[i].cells[2];
            console.log(x);
            ids.push($(x)[0].innerText)
        }
        l = countUnique(ids);
        return l
    }


    function countUnique(iterable) {
        return new Set(iterable).size;
    }
    function read_ids() {
        var ids = [];
        var table = document.getElementById("structures_scrollable")
        var temp_lenght = table.rows.length;
        if (temp_lenght > 22) {
            temp_lenght = 22;
        }
        for (var i = 2; i < temp_lenght; i++) {
            var x = table.rows[i].cells[0];
            ids.push($(x).find('span:first')[0].innerText)
        }
        var myJSON = JSON.stringify(ids);
        return myJSON
    }
</script>

{% endblock %}


{% block content %}
<a id="dlink" style="display:none;"></a>
<div id="excel_table" style2="display:none;"></div>
<div style="display:block;">
    <div style="display:inline; float:left;">
        <h2 style="width:auto; display:inline;">Pathway effects</h2>
    </div>
</div>
<br><br>

<img id="loadingSpinner" style="position: absolute;
    left: 50%;
    top: 50%;" src="{% static 'home/images/loading.gif' %}" />

{% if data %}
{% autoescape off %}

<div style='padding-top: 0px; font-size: 10px; white-space: nowrap; width:100%; overflow-y:hidden; display:inline-block; width:100%;'>

        <div class="toolbar_data_css" id="toolbar_data">
<table class="display compact text-nowrap toolbar_data_css">
            <thead>
        <tr>
           <h4>Showing unique:</h4>
        </tr>
            </thead>

        <tr><td>Ligands</td><td id="ligand_counter"></td></tr>
        <tr><td>Receptors</td><td id="receptor_counter"></td></tr>
        </table>
        </div>
    <div id='structures_scrollable_div'>

        <div id="testTable" style="padding-top: 10px; font-size: 11px; white-space: nowrap;">


            <table class="display compact text-nowrap" style=" " id='structures_scrollable'>

                <thead id="headers">
                    <tr>
                        <th colspan="1">Details</th>
                        <th style="border-left: 1px solid black;" id="col_Receptor" colspan="5" style="text-align:left">Receptor</th>
                        <th style="border-left: 1px solid black;" id="col_Ligand" colspan="1" style="text-align:left">Ligand</th>
                        <th style="border-left: 1px solid black;" id="col_Pathway" colspan="1">Pathway</th>
                        <th style="border-left: 1px solid black;" colspan="1" style="text-align:left">Relevance</th>
                        <th style="border-left: 1px solid black;" id="col_Pathway" colspan="3">Pathway effect outcomes</th>
                        <th style="border-left: 1px solid black;" id="col_Operational" colspan="3">Experiment</th>
                        <th style="border-left: 1px solid black;" id="authors" style="overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
          max-width: 250px;" colspan="2">Reference</th>
                    </tr>
                    <tr>
                        <!-- Receptor -->
                        <th>Details</th>
                        <th>Class<br></th>
                        <th title="Receptor Family">Rec Fam</th>
                        <th>UniProt</th>
                        <th>IUPHAR</th>
                        <th>Species</th>
                        <!-- Ligand -->
                        <th class='pathways' style="border-left: 1px solid black;">Name</th>
                        <!-- Signalling protein -->
                        <th class='pathways' style="border-left: 1px solid black;">Investigated signalling <br>protein</th>
                        <!-- Relevance-->
                        <th style="border-left: 1px solid black;">Therapeutic area <br>
                        (from Open Targets)</th>
                        <!-- Pathways -->
                        <th class='pathways' style="border-left: 1px solid black;">High level term</th>
                        <th class='pathways'>Summary</th>
                        <th class='pathways'>Detailed description</th>
                        <!-- Experiment -->
                        <th class='opmodel' style="border-left: 1px solid black;">Pathway distinction</th>
                        <th class='opmodel'>System</th>
                        <th class='opmodel'>Assesment method</th>
                        <!-- Authors -->
                        <th style="overflow: hidden;
                          white-space: nowrap;
                          text-overflow: ellipsis;
                          max-width: 250px; border-left: 1px solid black;">Authors</th>
                        <th style="border-right: 1px solid black;">DOI</th>
                    </tr>
                </thead>
                <tbody id='structures_scrollable_body' style="display: none">
                    {%for e in data.items%}

                    <tr>
                        <td>
                            <span style='display: none'> {{e.1.ligand.id}}</span>
                            <a href="#">
                                <span class="glyphicon glyphicon-info-sign" onclick="myFunction('pathwaydata/{{e.1.experiment_id}}/detail', 'Detail View', window, 1500, 1000)"></span> Details
                            </a>
                        </td>
                        <td>{{e.1.receptor.family.parent.parent.parent.name}}</td>
                        <td>{{e.1.receptor.family.parent}}</td>
                        <td>{{e.1.receptor.accession}}</td>
                        <td>{{e.1.receptor.entry_short}}</td>
                        <td>{{e.1.receptor.species.common_name}}</td>

                        <!-- ligand -->
                        <td title='{{e.1.ligand}}'>
                            {%if e.1.chembl%}
                            <a href='/ligand/{{e.1.chembl}}' target='blank'>
                                {%else%}
                                <a href='/ligand/{{e.1.ligand}}' target='blank'>
                                    {%endif%}
                                    {{e.1.ligand}}
                        </td>
                        <!-- signalling_protein -->
                        <td style="border-left: 1px solid black;">{{e.1.signalling_protein}}</td>
                        <!-- receptor trunsducers -->
                        <td style="border-left: 1px solid black;">{{e.1.relevance}}</td>

                        <!-- pathways -->
                        <td title='{{e.1.pathway_outcome_high}}' style="border-left: 1px solid black;">{{e.1.pathway_outcome_high}}</td>
                        <td title='{{e.1.pathway_outcome_summary}}'>{{e.1.pathway_outcome_summary}}</td>
                        <td title='{{e.1.pathway_outcome_detail}}'>{{e.1.pathway_outcome_detail}}</td>

                        <!--experiment -->
                        <td title='{{e.1.experiment_pathway_distinction}}' style="border-left: 1px solid black;">{{e.1.experiment_pathway_distinction}}</td>
                        <td>{{e.1.experiment_system}}</td>
                        <td title='{{e.1.experiment_outcome_method}}'>{{e.1.experiment_outcome_method}}</td>
                        <!-- Reference -->
                        <td class="name" style="border-left: 1px solid black;">
                            {{e.1.publication.authors}}</td>
                        <td class="name">
                            <a href='{{e.1.publication.web_link}}' target='blank'>
                                {{e.1.publication.reference}}</td>

                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <!-- </div> -->
</div>
{% endautoescape %}
{% else %}
<p> Ooops! There is no data to show here yet. </p>
<script>
document.getElementById("loadingSpinner").style.display = "none";
</script>
{% endif %}

<br>
<br>
{% endblock %}



{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
<link href="{% static 'home/css/construct_alignment.css' %}" rel="stylesheet">
<link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
<link href="{% static 'home/css/modal.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css" type="text/css" />

<!-- configure radio buttons style -->
<style>
    div#content ul li {
        display: inline-block;
    }
</style>

<style type="text/css">
    .dataTables_scrollHeadInner {
        margin-top: 20px;
    }

    td {
        height: 15px;
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    table.dataTable tbody td {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }

    table.dataTable thead th,
    table.dataTable tbody td {
        max-width: 110px;
        min-width: 70px;
        border-bottom: 1px solid #111;
        /* padding-top: 4px;
      padding-bottom: 4px; */
    }

    table.dataTable.compact thead th.over_header {
        border-right: 1px solid;
        /* border-left: 0px solid; */
        text-align: center;

    }

    table.dataTable.compact thead tr.over_header th {
        border-bottom: 1px solid #ccc;
    }
    #overlay {
        top: 0px;
        position: absolute;
        background: #f8f8f8;
        /*border: 1px solid #333;*/
        -webkit-box-shadow: 5px 0 2px -2px #888;
        box-shadow: 5px 0 2px -2px #888;
    }
    .test_df{
        width: fit-content;
        max-width: 250px !important;
        min-width: fit-content !important;
    }
    .container {
        width: 90%;
    }
    /* This is just for CodePen. */

    .form1 {
        max-width: 600px;
        width: 500px;
        font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
        font-weight: normal;
        line-height: 1.625;

    }

    .name {
        width: 150px;
        text-overflow: ellipsis;
        cursor: pointer;
        word-break: break-all;
        overflow: hidden;
        white-space: nowrap;
    }

    .name:hover {
        overflow: visible;
        white-space: normal;
        /* height: auto;  /* just added this line */
        */
    }

    .toolbar_data_css{
        width: 250px;
        margin-right: auto;
        margin-left: 0px;
        /* border: 1px solid; */
        font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
        font-weight: normal;
        font-size: 120%;
        line-height: 1.625;
    }
    .toolbar_data_css.td {
        height: 15px;
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

</style>

{% endblock %}
