{% extends "home/base.html" %}
{% load staticfiles %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<style media="screen">
</style>
{% endblock %}
{% block content %}
<h2>Biased Ligands Browser</h2>
<div class="row">
    <div class="col-md-12 text-center">
        {% if data %}
        <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
          <table id="drugdata" class="display table">
            <thead>

    <tr>
      <!-- <th>Link
       <input style = " visibility: hidden" autocomplete='off' class='filter' name='Link' placeholder='Search' data-col='Link' />
     </th> -->
      <th style="background-color:#98df8a;text-align:center">Ligand
        <!-- <input autocomplete='off' class='filter' name='Ligand' placeholder='Search' data-col='Ligand' /> -->
      </th>
      <th style="background-color:#98df8a;text-align:center">Receptor
        <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
      </th>
      <th style="background-color:#18df8b;text-align:center">Pathway 1
        <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
      </th>
      <th style="background-color:#18df8c;text-align:center">Pathway 2
        <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
      </th>
      <th style="background-color:#18df8d;text-align:center">Pathway 3
        <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
      </th>
      <th style="background-color:#18df8e;text-align:center">Pathway 4
        <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
      </th>
      <th style="background-color:#18df8a;text-align:center">Pathway 5
        <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
      </th>

      <th style="background-color:#aec7e8;text-align:center">Potency 1
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#aec7e8;text-align:center">Potency 2
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#aec7e8;text-align:center">Potency 3
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#aec7e8;text-align:center">Potency 4
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#aec7e8;text-align:center">Potency 5
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#98df8a;text-align:center"> Emax 1
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#98df8a;text-align:center"> Emax 2
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#98df8a;text-align:center"> Emax 3
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#98df8a;text-align:center"> Emax 4
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#98df8a;text-align:center"> Emax 5
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#aec7e8;text-align:center">Bias Activity 1
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#aec7e8;text-align:center">Bias Activity 2
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#aec7e8;text-align:center">Bias Activity 3
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#aec7e8;text-align:center">Bias Activity 4
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#aec7e8;text-align:center">Bias Activity 5
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#98df8a;text-align:center; width: 150px">Article Author <br />
        <!-- <input autocomplete='off' class='filter' name='Article DOI' placeholder='Search' data-col='Article DOI' /> -->
      </th>

      <th style="background-color:#ffbb78;text-align:center">Cell Line 1
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#ffbb78;text-align:center">Cell Line 2
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#ffbb78;text-align:center">Cell Line 3
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#ffbb78;text-align:center">Cell Line 4
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#ffbb78;text-align:center">Cell Line 5
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#ffbb78;text-align:center">Assay type 1
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#ffbb78;text-align:center">Assay type 2
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#ffbb78;text-align:center">Assay type 3
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#ffbb78;text-align:center">Assay type 4
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
      <th style="background-color:#ffbb78;text-align:center">Assay type 5
        <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
      </th>
    </tr>
    <tr>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
    </tr>
  </thead>
  <tbody>
  {%for e in data.items%}
      <tr>

        <td style="text-align:center">{{e.1.ligand}}</td>
        <td style="text-align:center">{{e.1.receptor}}</td>

          {% for xe in e.1.assay%}
          <td style="text-align:center">{{xe.pathway}}</td>
          {%endfor%}

          {% for xe in e.1.assay%}
            {%if xe.quantitive_activity%}
            <td style="text-align:center">{{xe.quantitive_activity}}</td>
            {%elif xe.qualitative_activity %}
            <td style="text-align:center">{{xe.qualitative_activity}}</td>
            {%else%}
            <td style="text-align:center">No data</td>
            {%endif%}
          {%endfor%}

        {% for xe in e.1.assay%}
          {%if xe.quantitive_efficacy%}
          <td style="text-align:center">{{xe.quantitive_efficacy}}</td>
          {%else%}
          <td style="text-align:center">No data</td>
          {%endif%}
        {%endfor%}


          {% for xe in e.1.assay%}
            {%if xe.bias%}
            <td style="text-align:center">{{xe.bias}}</td>
            {%else%}
            <td style="text-align:center">No data</td>
            {%endif%}
          {%endfor%}

        <td style="text-align:center">{{e.1.publication.authors}}</td>

          {% for xe in e.1.assay%}

            {%if xe.cell_line%}
            <td style="text-align:center">{{xe.cell_line}}</td>
            {%else%}
            <td style="text-align:center">No data</td>
            {%endif%}

          {%endfor%}


          {% for xe in e.1.assay%}
            {%if xe.assay_type%}
            <td style="text-align:center">{{xe.assay_type}}</td>
            {%else%}
            <td style="text-align:center">No data</td>
            {%endif%}
          {%endfor%}
      </tr>
  {%endfor%}
</tbody>
</table>
        </div>
    {% else %}
        <p> Ooops! There is no data to show here yet. </p>
    {% endif %}
    </div>
</div>
<br>
<br>

<br>
{% endblock %}
{% block addon_js %}
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
<script src="{% static 'home/js/dataTables.tableTools.min.js' %}"> </script>
<script src="{% static 'home/js/jquery.dataTables.columnFilter.js' %}"> </script>

<script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var table = $('#drugdata').DataTable({
                "scrollX": true,
                // 'scrollY': $(window).height()-300,
                'bScrollCollapse': true,
                'paging': true,
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                'orderCellsTop': true,
                'autoWidth': true,
                'dom': 'T<"clear">lfrtip',
                'order': [[6, "desc"]], // order by date
                "aoColumns": [
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"sClass": "center"}
                      ],
                  'tableTools': {
                      "sRowSelect": "multi",
                      "aButtons": []
                  },
                  initComplete: function () {
                      $('#drugdata').dataTable().columnFilter({
                          'sPlaceHolder': "head:after",
                          'aoColumns': [
                              { type: "text" },
                              { type: "text" },
                              { type: "select" },
                              { type: "select" }, 
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" },
                              { type: "select" }
                            ]
                    });
                }

            });
        });
    </script>
{% endblock %}
