{% extends "home/base.html" %}
{% load staticfiles %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />

<style type="text/css">
  #content {
    width: 100%;
  }

  .yadcf-filter-range-date,
  .yadcf-filter-range-number {
    width: 30px;
    /*font-family: sans-serif;*/
    font-size: 100%;
    /*font-weight: bold;*/
  }
</style>
{% endblock %}
{% block content %}
<h2>Biased Ligands Browser</h2>

{% if data %}
<div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
  <table id="drugdata" class="table table-bordered">
    <thead>
      <tr>
        <th>Reference <br>Ligand
          <!-- <input autocomplete='off' class='filter' name='Ligand' placeholder='Search' data-col='Ligand' /> -->
        </th>
        <th>Biased <br>Ligand
          <!-- <input autocomplete='off' class='filter' name='Ligand' placeholder='Search' data-col='Ligand' /> -->
        </th>
        <th>Receptor UniProt
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Receptor IUPHAR
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gi/o <br>Log Potency
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gs <br>Log Potency
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gq/11 <br>Log Potency
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>G12/13 <br>Log Potency
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>B-arr <br>Log Potency
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>

        <th>Gi/o <br>Emax
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gs <br>Emax
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gq/11 <br>Emax
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>G12/13 <br>Emax
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>B-arr <br>Emax
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>1st potency
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>2nd potency
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>Potency ratio
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>Log bias factor <br>(ddLog(Emax/EC50)
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>Operational model <br>dd(Tau/Ka)

          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>3rd potency
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>Potency ratio
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>Log bias factor <br>(ddLog(Emax/EC50)
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>Operational model <br>dd(Tau/Ka)

          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>4th potency
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>Potency ratio
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>Log bias factor <br>(ddLog(Emax/EC50)
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>Operational model <br>dd(Tau/Ka)

          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th> 5th potency
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>Potency ratio
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>Log bias factor <br>(ddLog(Emax/EC50)
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th>Operational model <br>dd(Tau/Ka)
          e
          <!-- <input autocomplete='off' class='filter' name='Mutation' placeholder='Search' data-col='Mutation' /> -->
        </th>
        <th style="width:150px !important;">Article Authors
          <!-- <input autocomplete='off' class='filter' name='Article DOI' placeholder='Search' data-col='Article DOI' /> -->
        </th>

        <th>Gi/o <br> Cell line
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gs <br> Cell line
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gq/11 <br> Cell line
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>G12/13 <br> Cell line
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>B-arr <br> Cell line
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gi/o <br> Ligand Function
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gs <br> Ligand Function
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gq/11 <br> Ligand Function
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>G12/13 <br> Ligand Function
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>B-arr <br> Ligand Function
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gi/o <br> Assay Type
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gs <br> Assay Type
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>Gq/11 <br> Assay Type
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>G12/13 <br> Assay Type
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
        <th>B-arr <br> Assay Type
          <!-- <input autocomplete='off' class='filter' name='Receptor' placeholder='Search' data-col='Receptor' /> -->
        </th>
      </tr>
      <tr>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
          <th style="text-align:center"> </th>
        <th style="width:150px !important;"> </th>

        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
        <th style="text-align:center"> </th>
      </tr>
    </thead>
    <tbody>
      {%for e in data.items%}
      <tr>
        {%for ex in e.1.reference%}
        {% if  forloop.first %}
        <td style="text-align:center;">{{ex.reference_ligand}}</td>
        {% endif %}
        {%endfor%}
        <td style="text-align:center;">  <a href='/ligand/{{e.1.ligand}}' target='blank'>{{e.1.ligand}}</td>
        <td style="text-align:center;">{{e.1.receptor.accession}}</td>
        <td style="text-align:center;">{{e.1.receptor.entry_name}}</td>


        <td style="text-align:center;">{{e.1.family.gi.quantitive_activity}}</td>
        <td style="text-align:center">{{e.1.family.gs.quantitive_activity}}</td>
        <td style="text-align:center">{{e.1.family.gq.quantitive_activity}}</td>
        <td style="text-align:center">{{e.1.family.g12.quantitive_activity}}</td>
        <td style="text-align:center">{{e.1.family.br.quantitive_activity}}</td>
        <td style="text-align:center">{{e.1.family.gi.quantitive_efficacy}}</td>
        <td style="text-align:center">{{e.1.family.gs.quantitive_efficacy}}</td>
        <td style="text-align:center">{{e.1.family.gq.quantitive_efficacy}}</td>
        <td style="text-align:center">{{e.1.family.g12.quantitive_efficacy}}</td>
        <td style="text-align:center">{{e.1.family.br.quantitive_efficacy}}</td>
        {%for ex in e.1.biasdata%}
        {% if  forloop.first %}
        <td style="text-align:center">{{ex.1.pathway }}</td>
        {%else%}
        <td style="text-align:center">{{ex.1.pathway }}</td>
        <td style="text-align:center">{{ex.1.bias }}</td>
        <td style="text-align:center">{{ex.1.log_bias_factor }}</td>
        <td style="text-align:center">{{ex.1.t_factor }}</td>
        {% endif %}
        {%endfor%}
        <td style="
                  text-align:center;
                  width: 18%;
                  word-wrap: break-word;
                  word-break: break-all;
                  white-space: normal;">
        {{e.1.publication.authors}}</td>


        <td style="text-align:center;">{{e.1.family.gi.cell_line}}</td>
        <td style="text-align:center">{{e.1.family.gs.cell_line}}</td>
        <td style="text-align:center">{{e.1.family.gq.cell_line}}</td>
        <td style="text-align:center">{{e.1.family.g12.cell_line}}</td>
        <td style="text-align:center">{{e.1.family.br.cell_line}}</td>
        <td style="text-align:center">{{e.1.family.gi.ligand_function}}</td>
        <td style="text-align:center">{{e.1.family.gs.ligand_function}}</td>
        <td style="text-align:center">{{e.1.family.gq.ligand_function}}</td>
        <td style="text-align:center">{{e.1.family.g12.ligand_function}}</td>
        <td style="text-align:center">{{e.1.family.br.ligand_function}}</td>
        <td style="text-align:center">{{e.1.family.gi.assay_type}}</td>
        <td style="text-align:center">{{e.1.family.gs.assay_type}}</td>
        <td style="text-align:center">{{e.1.family.gq.assay_type}}</td>
        <td style="text-align:center">{{e.1.family.g12.assay_type}}</td>
        <td style="text-align:center">{{e.1.family.br.assay_type}}</td>

      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% else %}
<p> Ooops! There is no data to show here yet. </p>
{% endif %}

<br>
<br>

<br>
{% endblock %}
{% block addon_js %}
<script src="{% static 'home/js/jquery.dataTables.min.js' %}" async> </script>
<script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}" async> </script>
<script src="{% static 'home/js/select2.js' %}" async> </script>

<script type="text/javascript" charset="utf-8" async>
  $(document).ready(function() {


    hideEmptyCols($("#drugdata"))

    oTable = $('#drugdata').DataTable({
      dom: 'Bfrtip',
      buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
      ],
      'scrollX': true,
      'paging': false,
      'autoWidth': true,

      scrollY: '70vh',
      // scrollCollapse: true,
      paging: false,
      "columns": [
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,//
        null, //here
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null
      ],
    });

    yadcf.init(oTable,
      [{
          column_number: 0,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Reference Ligand",
          filter_reset_button_text: false,
        },
        {
          column_number: 1,
          filter_type: "multi_select",
          select_type: 'select2',
          column_data_type: "html",
          filter_default_label: "Biased Ligand",
          filter_reset_button_text: false,
        },
        {
          column_number: 2,
          filter_type: "multi_select",
          select_type: 'select2',
          //column_data_type: "html",
          html_data_type: "text",
          filter_default_label: "UniProt",
          filter_match_mode: "exact",
          filter_reset_button_text: false,
        },

        {
          column_number: 3,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "IUPHAR",
          filter_reset_button_text: false,
        },


        {
          column_number: 4,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },


        {
          column_number: 5,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },


        {
          column_number: 6,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 7,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },


        {
          column_number: 8,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },


        {
          column_number: 9,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },


        {
          column_number: 10,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 11,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },


        {
          column_number: 12,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 13,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 14,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "1st potency",
          filter_reset_button_text: false,
        },


        {
          column_number: 15,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "2nd potency",
          filter_reset_button_text: false,
        },


        {
          //Potency ratio
          column_number: 16,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          //Log bias factor <br>(ddLog(Emax/EC50)
          column_number: 17,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          //B-arr Log Potency
          column_number: 18,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 19,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "3rd potency",
          filter_reset_button_text: false,
        },

        {
          column_number: 20,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 21,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 22,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 23,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "4th potency",
          filter_reset_button_text: false,
        },

        {
          column_number: 24,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 25,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 26,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 27,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "5th potency",
          filter_reset_button_text: false,
        },

        {
          column_number: 28,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 29,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 30,
          filter_type: "range_number",
          filter_default_label: ["From", "To"],
          filter_reset_button_text: false,
        },

        {
          column_number: 31,

          filter_type: "multi_select",
          select_type: 'select2',
          column_data_type: "html",
          html_data_type: "text",
          filter_default_label: "Article Authors",
          filter_reset_button_text: true,
          select_type_options: {
              width: '150px',
          }
        },

        {
          column_number: 32,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Cell line ",
          filter_reset_button_text: false,
        },
        {
          column_number: 33,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Cell line ",
          filter_reset_button_text: false,
        },

        {
          column_number: 34,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Cell line ",
          filter_reset_button_text: false,
        },

        {
          column_number: 35,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Cell line",
          filter_reset_button_text: false,
        },

        {
          column_number: 36,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Cell line",
          filter_reset_button_text: false,
        },

        {
          column_number: 37,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Ligand Function",
          filter_reset_button_text: false,
        },
        {
          column_number: 38,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Ligand Function",
          filter_reset_button_text: false,
        },

        {
          column_number: 39,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Ligand Function",
          filter_reset_button_text: false,
        },

        {
          column_number: 40,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Ligand Function",
          filter_reset_button_text: false,
        },
        {
          column_number: 41,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Ligand Function",
          filter_reset_button_text: false,
        },

        {
          column_number: 42,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Assay Type",
          filter_reset_button_text: false,
        },

        {
          column_number: 43,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Assay Type",
          filter_reset_button_text: false
            },
            {
          column_number: 44,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Assay Type",
          filter_reset_button_text: false,
        },

        {
          column_number: 45,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Assay Type",
          filter_reset_button_text: false,
        },

        {
          column_number: 46,
          filter_type: "multi_select",
          select_type: 'select2',
          filter_default_label: "Assay Type",
          filter_reset_button_text: false,
        }

      ], {
        cumulative_filtering: false
      }
    );

    yadcf.exResetAllFilters(oTable);



  });
</script>

<script type="text/javascript">
  function hideEmptyCols(table) {
    //count # of columns
    var numCols = $("th", table).length;
    for (var i = 0; i <= numCols; i++) {
      var empty = true;
      //grab all the <td>'s of the column at i
      $("td:nth-child(" + i + ")", table).each(function(index, el) {
        //check if the  of this <td> is empty
        console.log(el)
        if ($("td", el).prevObject.text() != '') {

          empty = false;
          return false; //break out of each() early
        }
      });
      if (empty) {
        $("td:nth-child(" + i + ")", table).hide(); //hide <td>'s
        $("th:nth-child(" + i + ")", table).hide(); //hide header <th>
      }
    }
  }
</script>
{% endblock %}
