{% extends "home/base.html" %}
{% load staticfiles %}
{% load structure_extras %}


{% block addon_css %}
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css" />
{% endblock %}

{% block addon_js %}
    <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/dataTables.tableTools.min.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.columnFilter.js' %}"> </script>
    <script src="{% static 'home/js/selection.js' %}"> </script>
    
     <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            ClearSelection('targets');
            //ClearSelection('reference');
            var table = $('#proteins').DataTable({
                'scrollX': true,
                'scrollY': $(window).height()-300,
                'bScrollCollapse': true,
                'paging': false,
                'orderCellsTop': true,
                'autoWidth': false,
                'dom': 'iTlfrt',
                //'order': [[14, "asc"]], // order by date
                'aoColumnDefs': [
                    { 'bSortable' : false, 'aTargets': [0] },
                    { 'sType': 'string', 'aTargets': [1] },
                    //{ 'sType': 'string', 'aTargets': [10] },
                ],
                'tableTools': {
                    "sRowSelect": "double",
                    "aButtons": []
                },
                initComplete: function () {
                    $('#proteins').dataTable().columnFilter({
                        sPlaceHolder: "head:after",
                        sRangeFormat: "{from}:{to}",
                        aoColumns: [
                            null,
                            { type: "select" },		//Protein Entry Name
                            { type: "select" },		//Receptor
                            { type: "select" },		//Rec family
                            { type: "select" },		//Class 
                            { type: "number-range" },	//Num Records
                            { type: "select" },		//Assay Type
                            { type: "select" },		//Value Types
                            { type: "number-range" },	//Minimal Measured Values
                            { type: "number-range" },	//Average Values
                            { type: "select" },		//Units
                            //{ type: "text" },		//
                            //{ type: "number-range" },//Rotatable Bonds
                            //{ type: "number-range" },//Hydrogen Bond Donors
                            //{ type: "number-range" },//Hydrogen Bond Acceptors
                            //{ type: "number-range" },//LogP
                            
                        ]
                    });
                }
            });
            $('.select-all').change(function () {
                $('.alt').prop('checked', $(this).prop("checked"));
                $('.alt').parent().parent().toggleClass('alt_selected');
            });
        });
    </script> 
{% endblock %}

{% block content %}


    <!--<div class="btn-group">-->
    <!--    <a id="align_btn" class="btn btn-primary btn-mini " href="javascript:void(0)">Align</a>-->
    <!--</div>-->
    <div class="btn-group">
        <a id="download_btn" class="btn btn-primary btn-mini " href="javascript:void(0)">Download</a>
    </div>
    <!--<div class="btn-group">-->
    <!--    <a id="concise_binding_btn" class="btn btn-primary btn-mini " href="javascript:void(0)">Show Concise Binding Assay Information</a>-->
    <!--</div>-->
    <!--<div class="btn-group">-->
    <!--    <a id="concise_funtional_btn" class="btn btn-primary btn-mini " href="javascript:void(0)">Show Concise Functional Assay Information</a>-->
    <!--</div>-->
    <!--<div class="btn-group">-->
    <!--    <a id="superpose_btn" class="btn btn-primary btn-mini " href="javascript:void(0)">Superposition</a>-->
    <!--</div>-->
    <!--<div style="font-size: 10px;">For superimposition: Select (tick box) ligands, and Highlight the reference template</div>-->
    <br />
    <br />
    <h3>Ligand information for {{s}}:</h3>
    
    <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;">
	<table width="100%" class="display" id="proteins">
            <thead>

                <tr>
		    <th><input class="select-all" type="checkbox"> Select all</th>
		    <th class="protein-th">Entry name</th>
                    <th class="protein-th">Receptor</th>
                    <th class="protein-th">Rec family</th>
                    <th class="protein-th">Class</th>
		    <th class="ligand-th"> Num Records</th>
		    <th class="ligand-th"> Assay Type</th>
		    <th class="protein-th">Value Types</th>
		    <th class="protein-th">Minimal Measured Values</th>
		    <th class="protein-th">Average Values</th>
		    <th class="protein-th">Standarad Units</th>

		</tr>
		<tr>
                    <th></th>
		    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

		</tr>
	    </thead>
            <tbody>
		{% for ligand in ligands %}
		    
                    <tr>
                    <td><input class="alt" type="checkbox"></td>
		    <td><a href="/ligand/p/{{ligand.protein__entry_name}}">{{ligand.protein__entry_name}}</td>
		    <!--<td>{{ligand.protein__entry_name}}</td>-->
		    <td><a href="/ligand/p/{{ligand.protein__family__parent__slug}}">{{ligand.protein__family__parent__name}}</a></td>
		    <td><a href="/ligand/p/{{ligand.protein__family__parent__parent__slug}}">{{ligand.protein__family__parent__parent__name}}</a></td>
		    <td><a href="/ligand/p/{{ligand.protein__family__parent__parent__parent__slug}}">{{ligand.protein__family__parent__parent__parent__name}}</a></td>
		    <td>{{ligand.num_records}}</td>
		    <td>{{ligand.assay_type}}</td>
		    <td>{{ligand.standard_type}}</td>
		    <td>{{ligand.min}}</td>
		    <td>{{ligand.average}}</td>
		    <td>{{ligand.standard_units}}</td>
		    
		    
		    </tr>
		{% endfor %}
	    </tbody>
            
        </table>
    </div>
{% endblock %}
