{% extends "home/base.html" %}
{% load static %}
{% csrf_token %}

{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.css" />-->
<!-- <link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" /> -->
<link rel="stylesheet" href="{% static 'home/css/bootstrap2-toggle.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
<!-- <link rel="stylesheet" href="{% static 'home/css/signprot-multitabtable.css' %}" type="text/css" /> -->
<!-- configure radio buttons style -->
<style>
	.highlight_green {
		display: none;
		/* background-color: green; */
	}

	.highlight {
		display: none;
		/* background-color: red; */
	}

	.inuse,
	.ui-slider-range .inuse,
	.yadcf-filter-range-number-slider .inuse {
		border-color: yellow;
		border-width: initial;
	}
</style>

<style type="text/css">
	.dataTables_scrollHeadInner {
		margin-top: 20px;
	}

	table.dataTable thead th,
	table.dataTable tbody td {
		max-width: 65px;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	table.dataTable thead .sorting {
		background-position: right;
	}

	.select2-container select2-container-multi {
		width: 75%;
	}

	.select2-container-multi .select2-choices .select2-search-field input {
		max-width: 50px;
	}

	.yadcf-filter-wrapper {
		position: center;
		display: flex;
		white-space: nowrap;
		margin-top: 7px;
		width: 50%;
	}

	.yadcf-filter-wrapper-inner {
		white-space: normal;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.select2-results {
		background-color: white;
		border: gray;
		width: 150px !important;
	}

	.yadcf-filter-range {
		grid-auto-columns: auto;
		max-width: 30px !important;
		font-family: sans-serif;
		font-size: 80%;
		font-weight: bold;
		margin: auto;
		margin-top: 10%;
		margin-bottom: 5%;
		min-width: 30px;
	}

	table.dataTable thead .sorting {
		background-image: none !important;
	}

	table.dataTable thead .sorting_desc {
		background-image: none !important;
	}

	table.dataTable thead .sorting_asc {
		background-image: none !important;
	}

	table.dataTable.compact tbody th,
	table.dataTable.compact tbody td {
		padding: 5px 10px 5px 0px !important;
		/* width: 0px; */
	}

	table.dataTable.compact thead th,
	table.dataTable.compact thead td {
		padding: 5px 10px 5px 0px;
		/* width: 0px; */
	}

	table.dataTable.compact thead tr.over_header th {
		border-bottom: 1px solid #ccc;
	}

	table.dataTable.compact thead th.leftborder {
		border-left: 1px solid;
	}

	table.dataTable.compact thead th.rightborder {
		border-right: 1px solid;
	}

	.clicked_button {
		background-color: rgb(215, 215, 215);
	}

	#overlay {
		top: 0px;
		position: absolute;
		background: #f8f8f8;
		/*border: 1px solid #333;*/
		-webkit-box-shadow: 5px 0 2px -2px #888;
		box-shadow: 5px 0 2px -2px #888;
	}

	.container {
		width: 90%;
		/* display:flex;
            flex-direction: column; */
	}

	.wrapper {
		overflow-x: scroll;
		overflow-y: hidden;
	}

	#overlay tbody tr {
		background-color: #f8f8f8;
	}

	#count_row th {
		font-size: 11px;
		text-align: center;
	}

	.switch-field label:hover {
		cursor: pointer;
		/* width: 100%; */
	}

	.switch-field input:checked+label {
		background-color: #337ab7;
		/* #a5dc86; */
		box-shadow: none;
	}

	.border-left {
		padding-left: 3px;
	}

	.switch-field label:first-of-type {
		border-radius: 4px 0 0 4px;

	}

	.switch-field label:last-of-type {
		border-radius: 0 4px 4px 0;
	}

	.name {
		width: 100px;
		text-overflow: ellipsis;
		cursor: pointer;
		word-break: break-all;
		overflow: hidden;
		white-space: nowrap;
	}

	.name:hover {
		overflow: visible;
		white-space: normal;

	}

	.toolbar_data_css {
		width: 250px;
		margin-right: auto;
		margin-left: 0px;
		/* border: 1px solid; */
		font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
		font-weight: normal;
		font-size: 120%;
		line-height: 1.625;
	}

	.toolbar_data_css.td {
		height: 15px;
		max-width: 150px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
</style>
<style>
  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }
</style>
{% endblock %}

{% block content %}
{% autoescape off %}

<div style='padding-top: 0px; font-size: 10px; white-space: nowrap; overflow-y:hidden;  width:100%;'>
	<a id="dlink" style="display:none;"></a>
	<div id="excel_table" style2="display:none;"></div>
	<br />
	<h5>Showing {{ Lig_Count }} ligands tested for the bias at the {{ IUPHAR }} receptor ({{ UniProt }})</h5>
	<br />
	<button id="reset_hidden" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px"> Reset removed columns </button>
	<button id="reset" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px"> Reset filters </button>
	<button onclick="GlobalTableToExcel('structures_scrollable', 'Families data', 'GPCRDB.xls')" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px"> Export to Excel </button>
	{% if not Balanced %}
		{% if Pathway %}
		<input id="switch_pathway" type="checkbox" checked data-toggle="toggle" data-on="Pathway 1-2" data-off="All pathways" data-style="ios" data-width="130" data-height="35" data-offstyle="success">
		{% else %}
		<input id="switch_biased" type="checkbox" checked data-toggle="toggle" data-on="Pathway 1-2" data-off="All pathways" data-style="ios" data-width="130" data-height="35" data-offstyle="success">
		{% endif %}
	{% endif %}
	 <div class="double_scroll">
			<table class="display compact text-nowrap" id='structures_scrollable' style="width: 100%">
				<thead id="headers">
					<tr class="header-spans">
						<!-- <th id="receptor" style="text-align:left" colspan="5">Receptor</th> -->
						{% if Pathway %}
						<th style="text-align:left" colspan="4" style="">
							Tested ligands
							<button type="button" class="close hide_columns" columns="0,1,2,3"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="pathways_effector" style="border-left: 1px solid black; text-align:left" colspan="5">
							Pathway preference<br>(Log(&#964;/KA) or Log(Emax/EC50))
							<button type="button" class="close hide_columns" columns="4,5,6,7,8"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="pathways_activity_tk" class="color-column" style="border-left: 1px solid black; text-align:left" colspan="4">
							Relative pathway activity<br>(&#916;Log(&#964;/KA))
							<button type="button" class="close hide_columns" columns="10,11,12,13"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="pathways_activity_ee" class="color-column" style="border-left: 1px solid black; text-align:left" colspan="4">
							Relative pathway activity<br>(&#916;Log(Emax/EC50))
							<button type="button" class="close hide_columns" columns="14,15,16,17"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="delta_emax_ec50_part" class="color-column" style="border-left: 1px solid black; text-align:left" colspan="5">
							Pathway activity Log(&#964;/KA)
							<button type="button" class="close hide_columns" columns="18,19,20,21,22"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="relative_transduction_coef" class="color-column" style="border-left: 1px solid black; text-align:left" colspan="5">
							Pathway activity Log(Emax/EC50)
							<button type="button" class="close hide_columns" columns="23,24,25,26,27"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th class="color-column" id="activity" style="border-left: 1px solid black; text-align:left" colspan="5">
							Potency (pEC50)
							<button type="button" class="close hide_columns" columns="28,29,30,31,32"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="emax" class="color-column" style="border-left: 1px solid black; text-align:left" colspan="5">
							Emax (% of ref ligand)
							<button type="button" class="close hide_columns" columns="33,34,35,36,37"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="mm1" style="border-left: 1px solid black; text-align:left" colspan="5">
							Measured molecule 1
							<button type="button" class="close hide_columns" columns="37,38,39,40,41"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="mm2" style="border-left: 1px solid black; text-align:left" colspan="5">
							Measured molecule 2
							<button type="button" class="close hide_columns" columns="42,43,44,45,46"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="bio" style="border-left: 1px solid black; text-align:left" colspan="5">
							Biological process
							<button type="button" class="close hide_columns" columns="47,48,49,50,51"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="cell" style="border-left: 1px solid black; text-align:left" colspan="5">
							Cell line
							<button type="button" class="close hide_columns" columns="52,53,54,55,56"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="time" style="border-left: 1px solid black; text-align:left" colspan="1">
							Time resolved
							<button type="button" class="close hide_columns" columns="57"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th style="border-left: 1px solid black; text-align:left; overflow: hidden;
															white-space: nowrap;
															text-overflow: ellipsis;
											max-width: 250px;" colspan="2">Reference
											<button type="button" class="close hide_columns" columns="58,59"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
										</th>
						{% else %}
						<th style="text-align:left" colspan="5" style="">
							Ligands
							<button type="button" class="close hide_columns" columns="0,1,2,3,4"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  </th>
						<th id="pathways_effector" style="border-left: 1px solid black; text-align:left" colspan="5">
							Pathway rank order<br>(&#916;Log(&#964;/KA) or &#916;Log(Emax/EC50))
							<button type="button" class="close hide_columns" columns="5,6,7,8,9"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="bias_factor" class="color-column" style="border-left: 1px solid black; text-align:left" colspan="4">
							Bias factor<br>(antilog of &#916;&#916;Log(Emax/EC50))
							<button type="button" class="close hide_columns" columns="10,11,12,13"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="pathways_measure" style="border-left: 1px solid black; text-align:left" colspan="5">
							Specific pathway:<br>Measured molecule
							<button type="button" class="close hide_columns" columns="14,15,16,17,18"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="delta_relative_transduction_coef" class="color-column" style="border-left: 1px solid black; text-align:left" colspan="4">
							Operational<br>model <br>(&#916;&#916;Log(&#964;/Ka))
							<button type="button" class="close hide_columns" columns="19,20,21,22"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="lbf" class="color-column" style="border-left: 1px solid black; text-align:left" colspan="4">
							Relative<br>activity<br>(&#916;&#916;Log(Emax/EC50))
							<button type="button" class="close hide_columns" columns="23,24,25,26"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="delta_emax_ec50_part" class="color-column" style="border-left: 1px solid black; text-align:left" colspan="5">
							Ligand &#916;Log(&#964;/KA)
							<button type="button" class="close hide_columns" columns="27,28,29,30,31"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="relative_transduction_coef" class="color-column" style="border-left: 1px solid black; text-align:left" colspan="5">
							Ligand &#916;Log(Emax/EC50)
							<button type="button" class="close hide_columns" columns="32,33,34,35,36"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th class="color-column" id="activity" style="border-left: 1px solid black; text-align:left" colspan="5">
							Potency (pEC50)
							<button type="button" class="close hide_columns" columns="37,38,39,40,41"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="emax" class="color-column" style="border-left: 1px solid black; text-align:left" colspan="5">
							Emax (% of ref ligand)
							<button type="button" class="close hide_columns" columns="42,43,44,45,46"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="mm1" style="border-left: 1px solid black; text-align:left" colspan="5">
							Measured molecule 1
							<button type="button" class="close hide_columns" columns="47,48,49,50,51"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="mm2" style="border-left: 1px solid black; text-align:left" colspan="5">
							Measured molecule 2
							<button type="button" class="close hide_columns" columns="52,53,54,55,56"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="bio" style="border-left: 1px solid black; text-align:left" colspan="5">
							Biological process
							<button type="button" class="close hide_columns" columns="57,58,59,60,61"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="cell" style="border-left: 1px solid black; text-align:left" colspan="5">
							Cell line
							<button type="button" class="close hide_columns" columns="62,63,64,65,66"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th id="time" style="border-left: 1px solid black; text-align:left" colspan="1">
							Time resolved
							<button type="button" class="close hide_columns" columns="66"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</th>
						<th style="border-left: 1px solid black; text-align:left; overflow: hidden;
															white-space: nowrap;
															text-overflow: ellipsis;
											max-width: 250px;" colspan="2">Reference
											<button type="button" class="close hide_columns" columns="67,68"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
										</th>
						{% endif %}
						<!-- <th style="border-left: 1px solid black; text-align:left" colspan="4">reference</th> -->
					</tr>
					<tr class="table-filter-dropdown">
						<!-- <th id="class_filter_select">Class</th>
						<th id="receptor_filter_select">Rec Fam</th>
						<th id="uniprot_filter_select">UniProt</th>
						<th id="iuphar_filter_select">IUPHAR</th>
						<th id="species_filter_select">Species</th> -->

						{% if Pathway %}
						<th id="ligand_filter_select">Ligand</th>
						{% else %}
						<th id="reference_ligand_filter_select">Reference<br>ligand</th>
						<th id="ligand_filter_select">Tested<br>ligand</th>
						{% endif %}
						<th id="vendor_quantity_filter_select">#Vendors</th>
						<th id="article_quantity_filter_select">#Articles</th>
						<th id="labs_quantity_filter_select">#Labs</th>
						<!-- Pathway rank order / pathway preference -->
						<th class="pathways" id="pathways_effector_p1_filter_select">P 1</th>
						<th class="pathways" id="pathways_effector_p2_filter_select">P 2</th>
						<th class="pathways" id="pathways_effector_p3_filter_select">P 3</th>
						<th class="pathways" id="pathways_effector_p4_filter_select">P 4</th>
						<th class="pathways" id="pathways_effector_p5_filter_select">P 5</th>
						{% if Pathway %}
						<!-- Relative pathway activity (delta log (Tau/KA) -->
						<th class="color-column" id="pathways_activity_tk_p2_p1_filter_select">P1 - P2</th>
						<th class="color-column" id="pathways_activity_tk_p3_p1_filter_select">P1 - P3</th>
						<th class="color-column" id="pathways_activity_tk_p4_p1_filter_select">P1 - P4</th>
						<th class="color-column" id="pathways_activity_tk_p5_p1_filter_select">P1 - P5</th>
						<!-- Relative pathway activity (delta log (Emax/EC50) -->
						<th class="color-column" id="pathways_activity_ee_p2_p1_filter_select">P1 - P2</th>
						<th class="color-column" id="pathways_activity_ee_p3_p1_filter_select">P1 - P3</th>
						<th class="color-column" id="pathways_activity_ee_p4_p1_filter_select">P1 - P4</th>
						<th class="color-column" id="pathways_activity_ee_p5_p1_filter_select">P1 - P5</th>
						<!-- log emax/ec50 -->
						<th class="color-column" id="log_emax_ec50_p2_filter_select">P 1</th>
						<th class="color-column" id="log_emax_ec50_p2_filter_select">P 2</th>
						<th class="color-column" id="log_emax_ec50_p3_filter_select">P 3</th>
						<th class="color-column" id="log_emax_ec50_p4_filter_select">P 4</th>
						<th class="color-column" id="log_emax_ec50_p5_filter_select">P 5</th>
						<!-- log tau/ka -->
						<th class="color-column" id="log_tau_ka_p1_filter_select">P 1</th>
						<th class="color-column" id="log_tau_ka_p2_filter_select">P 2</th>
						<th class="color-column" id="log_tau_ka_p3_filter_select">P 3</th>
						<th class="color-column" id="log_tau_ka_p4_filter_select">P 4</th>
						<th class="color-column" id="log_tau_ka_p5_filter_select">P 5</th>
						{% else %}
						<!-- Bias factor -->
						<th class="color-column" id="bias_factor_p1_filter_select">P1-P2</th>
						<th class="color-column" id="bias_factor_p2_filter_select">P1-P3</th>
						<th class="color-column" id="bias_factor_p3_filter_select">P1-P4</th>
						<th class="color-column" id="bias_factor_p4_filter_select">P1-P5</th>
						<!-- Specific pathway measured molecule -->
						<th class="pathways" id="pathways_measure_p1_filter_select">P 1</th>
						<th class="pathways" id="pathways_measure_p2_filter_select">P 2</th>
						<th class="pathways" id="pathways_measure_p3_filter_select">P 3</th>
						<th class="pathways" id="pathways_measure_p4_filter_select">P 4</th>
						<th class="pathways" id="pathways_measure_p5_filter_select">P 5</th>
						<!-- Operational model (delta delta log tau/KA)-->
						<th class="color-column" id="opmodel_p2_p1_filter_select">P1 - P2</th>
						<th class="color-column" id="opmodel_p3_p1_filter_select">P1 - P3</th>
						<th class="color-column" id="opmodel_p4_p1_filter_select">P1 - P4</th>
						<th class="color-column" id="opmodel_p5_p1_filter_select">P1 - P5</th>
						<!-- delta delta log emax/ec50 -->
						<th class="color-column" id="lbf_p2_p1_filter_select">P1 - P2</th>
						<th class="color-column" id="lbf_p3_p1_filter_select">P1 - P3</th>
						<th class="color-column" id="lbf_p4_p1_filter_select">P1 - P4</th>
						<th class="color-column" id="lbf_p5_p1_filter_select">P1 - P5</th>
						<!-- delta log tau/KA -->
						<th class="color-column" id="delta_emax_ec50_part_p2_p1_filter_select">P 1</th>
						<th class="color-column" id="delta_emax_ec50_part_p2_p1_filter_select">P 2</th>
						<th class="color-column" id="delta_emax_ec50_part_p3_p1_filter_select">P 3</th>
						<th class="color-column" id="delta_emax_ec50_part_p4_p1_filter_select">P 4</th>
						<th class="color-column" id="delta_emax_ec50_part_p5_p1_filter_select">P 5</th>
						<!-- delta log emax/ec50 -->
						<th class="color-column" id="relative_transduction_coef_p2_p1_filter_select">P 1</th>
						<th class="color-column" id="relative_transduction_coef_p2_p1_filter_select">P 2</th>
						<th class="color-column" id="relative_transduction_coef_p3_p1_filter_select">P 3</th>
						<th class="color-column" id="relative_transduction_coef_p4_p1_filter_select">P 4</th>
						<th class="color-column" id="relative_transduction_coef_p5_p1_filter_select">P 5</th>
						{% endif %}
						<!-- EC50 -->
						<th class="color-column" id="activity_p1_filter_select">P 1</th>
						<th class="color-column" id="activity_p2_filter_select">P 2</th>
						<th class="color-column" id="activity_p3_filter_select">P 3</th>
						<th class="color-column" id="activity_p4_filter_select">P 4</th>
						<th class="color-column" id="activity_p5_filter_select">P 5</th>
						<!-- Emax -->
						<th class="color-column" id="emax_p1_filter_select">P 1</th>
						<th class="color-column" id="emax_p2_filter_select">P 2</th>
						<th class="color-column" id="emax_p3_filter_select">P 3</th>
						<th class="color-column" id="emax_p4_filter_select">P 4</th>
						<th class="color-column" id="emax_p5_filter_select">P 5</th>
						<!-- Measured Molecule 1 -->
						<th id="measured_molecule_p1_filter_select">P 1</th>
						<th id="measured_molecule_p2_filter_select">P 2</th>
						<th id="measured_molecule_p3_filter_select" class="">P 3</th>
						<th id="measured_molecule_p4_filter_select" class="">P 4</th>
						<th id="measured_molecule_p5_filter_select" class="">P 5</th>
						<!-- Measured Molecule 2 -->
						<th id="measured_molecule2_p1_filter_select">P 1</th>
						<th id="measured_molecule2_p2_filter_select">P 2</th>
						<th id="measured_molecule2_p3_filter_select" class="">P 3</th>
						<th id="measured_molecule2_p4_filter_select" class="">P 4</th>
						<th id="measured_molecule2_p5_filter_select" class="">P 5</th>
						<!-- biological process -->
						<th id="bioprocess_p1_filter_select">P 1</th>
						<th id="bioprocess_p2_filter_select">P 2</th>
						<th id="bioprocess_p3_filter_select" class="">P 3</th>
						<th id="bioprocess_p4_filter_select" class="">P 4</th>
						<th id="bioprocess_p5_filter_select" class="">P 5</th>
						<!-- cell line -->
						<th id="cell_p1_filter_select">P1</th>
						<th id="cell_p1_filter_select">P2</th>
						<th id="cell_p1_filter_select">P3</th>
						<th id="cell_p1_filter_select">P4</th>
						<th id="cell_p1_filter_select">P5</th>
						<!-- time resolved -->
						<th id="time_p1_filter_select">Time</th>
						<!-- references -->
						<th id="authors_filter_select" style="overflow: hidden;
		                          white-space: nowrap;
		                          text-overflow: ellipsis;
		                          max-width: 100px;">Authors</th>
						<th id="doi_reference_filter_select">DOI/PMID</th>
					</tr>
				</thead>
				<tbody id='structures_scrollable_body'>
					{% if Pathway %}
						{% for value in Array %}
						<tr>
							<!-- Receptor block -->
							<!-- <td title='{{value.0}}'>{{value.0}}</td>
							<td title='{{value.1}}'>{{value.1}}</td>
							<td title='{{value.2}}'>{{value.2}}</td>
							<td title='{{value.3}}'>{{value.3}}</td>
							<td title='{{value.4}}'>{{value.4}}</td> -->

							<!-- Tested ligand block -->
							<td title='{{value.5}}'><a href='/ligand/{{value.65|floatformat:"-1"}}/info' target='_blank'>{{value.5|title}}</a></td>
							<td style="text-align:right">{{value.6|floatformat}}</td>
							<td style="text-align:right">{{value.7|floatformat}}</td>
							<td style="text-align:right">{{value.8|floatformat}}</td>

							<!-- Pathway preference block -->
							<td style="text-align:left" class="pathway">{{value.9}}</td>
							<td style="text-align:left" class="pathway">{{value.10}}</td>
							<td style="text-align:left" class="pathway ">{{value.11}}</td>
							<td style="text-align:left" class="pathway ">{{value.12}}</td>
							<td style="text-align:left" class="pathway ">{{value.13}}</td>

							<!-- Relative pathway activity Delta log Tau/KA block ---->
							<td style="text-align:right" class="color-column" id="lbf_p2_p1">{{value.14|floatformat:1}}</td>
							<td style="text-align:right" class="color-column" id="lbf_p3_p1">{{value.15|floatformat:1}}</td>
							<td style="text-align:right" class="color-column" id="lbf_p4_p1">{{value.16|floatformat:1}}</td>
							<td style="text-align:right" class="color-column" id="lbf_p5_p1">{{value.17|floatformat:1}}</td>

							<!-- Relative pathway activity Delta log Emax/EC50 block ---->
							<td style="text-align:right" class="color-column" id="dee_p2_p1">{{value.18|floatformat:1}}</td>
							<td style="text-align:right" class="color-column" id="dee_p3_p1">{{value.19|floatformat:1}}</td>
							<td style="text-align:right" class="color-column" id="dee_p4_p1">{{value.20|floatformat:1}}</td>
							<td style="text-align:right" class="color-column" id="dee_p5_p1">{{value.21|floatformat:1}}</td>

							<!-- Pathway Log Tau/KA block -->
							<td style="text-align:right" class="color-column">{{value.22|floatformat:1}}</td>
							<td style="text-align:right" class="color-column">{{value.23|floatformat:1}}</td>
							<td style="text-align:right" class="color-column">{{value.24|floatformat:1}}</td>
							<td style="text-align:right" class="color-column">{{value.25|floatformat:1}}</td>
							<td style="text-align:right" class="color-column">{{value.26|floatformat:1}}</td>

							<!-- Pathway Log Emax/EC50 block -->
							<td style="text-align:right" class="color-column">{{value.27|floatformat:1}}</td>
							<td style="text-align:right" class="color-column">{{value.28|floatformat:1}}</td>
							<td style="text-align:right" class="color-column">{{value.29|floatformat:1}}</td>
							<td style="text-align:right" class="color-column">{{value.30|floatformat:1}}</td>
							<td style="text-align:right" class="color-column">{{value.31|floatformat:1}}</td>

							<!-- EC50 block -->
							<td class="color-column" style="text-align:right">{{ value.32|default_if_none:""|floatformat:1 }}</td>
							<td class="color-column" style="text-align:right">{{ value.33|default_if_none:""|floatformat:1 }}</td>
							<td class="color-column" style="text-align:right">{{ value.34|default_if_none:""|floatformat:1 }}</td>
							<td class="color-column" style="text-align:right">{{ value.35|default_if_none:""|floatformat:1 }}</td>
							<td class="color-column" style="text-align:right">{{ value.36|default_if_none:""|floatformat:1 }}</td>

							<!-- Emax block -->
							<td style="text-align:right" class="color-column">{{ value.37|default_if_none:""|floatformat:-1 }}</td>
							<td style="text-align:right" class="color-column">{{ value.38|default_if_none:""|floatformat:-1 }}</td>
							<td style="text-align:right" class="color-column">{{ value.39|default_if_none:""|floatformat:-1 }}</td>
							<td style="text-align:right" class="color-column">{{ value.40|default_if_none:""|floatformat:-1 }}</td>
							<td style="text-align:right" class="color-column">{{ value.41|default_if_none:""|floatformat:-1 }}</td>

							<!-- Molecule 1 block -->
							<td>{{ value.42|default_if_none:"" }}</td>
							<td>{{ value.43|default_if_none:"" }}</td>
							<td class="">{{ value.44|default_if_none:"" }}</td>
							<td class="">{{ value.45|default_if_none:"" }}</td>
							<td class="">{{ value.46|default_if_none:"" }}</td>

							<!-- Molecule 2 block -->
							<td>{{ value.47|default_if_none:"" }}</td>
							<td>{{ value.48|default_if_none:"" }}</td>
							<td class="">{{ value.49|default_if_none:"" }}</td>
							<td class="">{{ value.50|default_if_none:"" }}</td>
							<td class="">{{ value.51|default_if_none:"" }}</td>

							<!-- Biological process block -->
							<td title='{{ value.52 }}'>{{ value.52|default_if_none:"" }}</td>
							<td title='{{ value.53 }}'>{{ value.53|default_if_none:"" }}</td>
							<td title='{{ value.54 }}' class="">{{ value.54|default_if_none:"" }}</td>
							<td title='{{ value.55 }}' class="">{{ value.55|default_if_none:"" }}</td>
							<td title='{{ value.56 }}' class="">{{ value.56|default_if_none:"" }}</td>

							<!-- Cell line -->
							<td title='{{ value.57 }}'>{{ value.57|default_if_none:"" }}</td>
							<td title='{{ value.58 }}'>{{ value.58|default_if_none:"" }}</td>
							<td title='{{ value.59 }}'>{{ value.59|default_if_none:"" }}</td>
							<td title='{{ value.60 }}'>{{ value.60|default_if_none:"" }}</td>
							<td title='{{ value.61 }}'>{{ value.61|default_if_none:"" }}</td>

							<!-- Time resolved -->
							<td title='{{ value.62 }}'>{{ value.62|default_if_none:"" }}</td>

							<!-- Reference -->
							<td class="name" style="border-left: 1px solid black;">{{ value.63 }}</td>
							<td class="name"><a href='{{ value.66 }}' target='blank'>{{ value.64 }}</a></td>
						</tr>
						{% endfor %}
					{% else %}
						{% for value in Array %}
						<tr>
							<!-- Receptor block -->
							<!-- <td title='{{ value.0 }}'>{{ value.0 }}</td>
							<td title='{{ value.1 }}'>{{ value.1 }}</td>
							<td title='{{ value.2 }}'>{{ value.2 }}</td>
							<td title='{{ value.3 }}'>{{ value.3 }}</td>
							<td title='{{ value.4 }}'>{{ value.4 }}</td> -->

							<!-- ligand block -->
							<td title='{{ value.5 }}'><a href='/ligand/{{ value.78|floatformat:"-1" }}/info' target='_blank'>{{ value.5|title }}</a></td>
							<td title='{{ value.6 }}'><a href='/ligand/{{ value.76|floatformat:"-1" }}/info' target='_blank'>{{ value.6|title }}</a></td>
							<td title='#Vendor' style="text-align:right">{{ value.7|floatformat }}</td>
							<td title='#Articles' style="text-align:right">{{ value.8|floatformat }}</td>
							<td title='#Labs' style="text-align:right">{{ value.9|floatformat }}</td>

							<!-- Pathway rank order block -->
							<td style="text-align:left" class="pathway">{{ value.10 }}</td>
							<td style="text-align:left" class="pathway">{{ value.11 }}</td>
							<td style="text-align:left" class="pathway">{{ value.12 }}</td>
							<td style="text-align:left" class="pathway">{{ value.13 }}</td>
							<td style="text-align:left" class="pathway">{{ value.14 }}</td>

							<!-- Bias factor block -->
							{% if value.16 == 'Full Bias' %}
							<td style="text-align:right" class="color-column" data-order="100000.0" title="Bias Factor P2">{{ value.16 }}</td>
							{% else %}
							<td style="text-align:right" class="color-column" data-order='{{ value.16|floatformat:1 }}' title="Bias Factor P2">{{ value.16|default_if_none:""|floatformat:2 }}</td>
							{% endif %}
							<td style="text-align:right" class="color-column" data-order="{{ value.17|default_if_none:''|floatformat:1 }}" title="Bias Factor P3">{{ value.17|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" class="color-column" data-order="{{ value.18|default_if_none:''|floatformat:1 }}" title="Bias Factor P4">{{ value.18|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" class="color-column" data-order="{{ value.17|default_if_none:''|floatformat:1 }}" title="Bias Factor P5">{{ value.19|default_if_none:""|floatformat:1 }}</td>

							<!-- Signaling protein block -->
							<td style="text-align:left" title="Measured Molecule P1">{{ value.20 }}</td>
							<td style="text-align:left" title="Measured Molecule P2">{{ value.21 }}</td>
							<td style="text-align:left" title="Measured Molecule P3" class="">{{ value.22 }}</td>
							<td style="text-align:left" title="Measured Molecule P4" class="">{{ value.23 }}</td>
							<td style="text-align:left" title="Measured Molecule P5" class="">{{ value.24 }}</td>

							<!-- delta delta log tau/KA block -->
							<td style="text-align:right" class="color-column" id="opmodel_p2_p1" title="DDtkP1P2">{{ value.25|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" class="color-column" id="opmodel_p3_p1" title="DDtkP1P3">{{ value.26|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" class="color-column" id="opmodel_p4_p1" title="DDtkP1P4">{{ value.27|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" class="color-column" id="opmodel_p5_p1" title="DDtkP1P5">{{ value.28|default_if_none:""|floatformat:1 }}</td>

							<!-- delta delta log emax/ec50 block ---->
							<td style="text-align:right" class="color-column" id="lbf_p2_p1" title="DDeeP1P2">{{ value.29|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" class="color-column" id="lbf_p3_p1" title="DDeeP1P3">{{ value.30|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" class="color-column" id="lbf_p4_p1" title="DDeeP1P4">{{ value.31|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" class="color-column" id="lbf_p5_p1" title="DDeeP1P5">{{ value.32|default_if_none:""|floatformat:1 }}</td>

							<!-- delta log tau/KA block -->
							<td style="text-align:right" class="color-column">{{ value.33|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" class="color-column">{{ value.34|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" class="color-column">{{ value.35|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" class="color-column">{{ value.36|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" class="color-column">{{ value.37|default_if_none:""|floatformat:1 }}</td>

							<!-- delta log emax/ec50 block -->
							<td style="text-align:right" title='{{ value.38 }}' class="color-column">{{ value.38|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" title='{{ value.39 }}' class="color-column">{{ value.39|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" title='{{ value.40 }}' class="color-column">{{ value.40|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" title='{{ value.42 }}' class="color-column">{{ value.41|default_if_none:""|floatformat:1 }}</td>
							<td style="text-align:right" title='{{ value.42 }}' class="color-column">{{ value.42|default_if_none:""|floatformat:1 }}</td>

							<!-- EC50 block -->
							<td class="color-column" style="text-align:right">{{ value.43|default_if_none:""|floatformat:1 }}</td>
							<td class="color-column" style="text-align:right">{{ value.44|default_if_none:""|floatformat:1 }}</td>
							<td class="color-column" style="text-align:right">{{ value.45|default_if_none:""|floatformat:1 }}</td>
							<td class="color-column" style="text-align:right">{{ value.46|default_if_none:""|floatformat:1 }}</td>
							<td class="color-column" style="text-align:right">{{ value.47|default_if_none:""|floatformat:1 }}</td>

							<!-- Emax block -->
							<td style="text-align:right" class="color-column">{{ value.48|default_if_none:""|floatformat:-1 }}</td>
							<td style="text-align:right" class="color-column">{{ value.49|default_if_none:""|floatformat:-1 }}</td>
							<td style="text-align:right" class="color-column">{{ value.50|default_if_none:""|floatformat:-1 }}</td>
							<td style="text-align:right" class="color-column">{{ value.51|default_if_none:""|floatformat:-1 }}</td>
							<td style="text-align:right" class="color-column">{{ value.52|default_if_none:""|floatformat:-1 }}</td>

							<!-- Molecule 1 block -->
							<td>{{ value.53 }}</td>
							<td>{{ value.54 }}</td>
							<td class="">{{ value.55 }}</td>
							<td class="">{{ value.56 }}</td>
							<td class="">{{ value.57 }}</td>

							<!-- Molecule 2 block -->
							<td>{{ value.58 }}</td>
							<td>{{ value.59 }}</td>
							<td class="">{{ value.60 }}</td>
							<td class="">{{ value.61 }}</td>
							<td class="">{{ value.62 }}</td>

							<!-- Biological process block -->
							<td title='{{ value.63 }}'>{{ value.63 }}</td>
							<td title='{{ value.64 }}'>{{ value.64 }}</td>
							<td title='{{ value.65 }}' class="">{{ value.65 }}</td>
							<td title='{{ value.66 }}' class="">{{ value.66 }}</td>
							<td title='{{ value.67 }}' class="">{{ value.67 }}</td>

							<!-- Cell line -->
							<td title='{{ value.68 }}'>{{ value.68|default_if_none:"" }}</td>
							<td title='{{ value.69 }}'>{{ value.69|default_if_none:"" }}</td>
							<td title='{{ value.70 }}'>{{ value.70|default_if_none:"" }}</td>
							<td title='{{ value.71 }}'>{{ value.71|default_if_none:"" }}</td>
							<td title='{{ value.72 }}'>{{ value.72|default_if_none:"" }}</td>

							<!-- Time resolved -->
							<td title='{{ value.73 }}'>{{ value.73|default_if_none:"" }}</td>

							<!-- Reference -->
							<td class="name" style="border-left: 1px solid black;">{{ value.74 }}</td>
							<td class="name"><a href='{{ value.77 }}' target='blank'>{{ value.75 }}</a></td>
						</tr>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
</div>

<br>
{% endautoescape %}
<br>
{% endblock %}
{% block addon_js %}

<script src="{% static 'home/js/datatables.min.js' %}"> </script>
<script src="{% static 'home/js/bootstrap2-toggle.min.js' %}"></script>
<script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
<script src="{% static 'home/js/dataTables.buttons.min.js' %}"> </script>
<script src="{% static 'home/js/dataTables.hideEmptyColumns.min.js' %}"> </script>
<script src="{% static 'home/js/select2.js' %}"> </script>
<script src="{% static 'home/js/grayscale.js' %}"></script>
<script src="{% static 'home/js/gpcrdb.js' %}"></script>
<script src="{% static 'home/js/signprot-multitabtable.js' %}"></script>
<script>
	function openPopup(url, title, win, w, h) {

			const y = win.top.outerHeight / 2 + win.top.screenY - (h / 2);
			const x = win.top.outerWidth / 2 + win.top.screenX - (w / 2);
			return win.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + y + ', left=' + x);

	}
</script>
{% if Pathway %}
<script>
	$(document).ready(function() {
		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		const csrftoken = getCookie('csrftoken');

		console.time("structures_scrollable");
	  $("#structures_scrollable").show();
	  oTable1 = $("#structures_scrollable").DataTable({
	    deferRender: true,
	    scrollY: true,
	    scrollX: true,
	    scrollCollapse: true,
	    scroller: true,
	    paging: false,
	    bSortCellsTop: false, //prevent sort arrows going on bottom row
	    aaSorting: [],
	    autoWidth: true,
	    bInfo: true,
			hideEmptyColumns: true,
			columnDefs: [{
				targets: [6,7,8,
									10,11,12,
									14,15,16,
									19,20,21,
									24,25,26,
									29,30,31,
									34,35,36,
									39,40,41,
									44,45,46,
									49,50,51,
									54,55,56],
				visible: false
			}],
	  });
		// columns to hide: 3,14,15,18,19,22,23,26,27,28,31,32,33,36,37,38,41,42,43,46,47,48,51,52,53,56,57,58
		let column_filters = [];
		// createYADCFfilters(start_column, num_cols, filter_type, select_type = null, filter_default_label = "", filter_reset_button_text = false, filter_match_mode = null, column_data_type = null, width = null)
		// Class
		// column_filters = column_filters.concat(createYADCFfilters(0, 1, "multi_select", "select2", "Class", false, null, null, "80px"));
		// Receptor section (4)
		// column_filters = column_filters.concat(createYADCFfilters(1, 4, "multi_select", "select2", "Select", false, null, null, "30px"));
		// Ligand column
		column_filters = column_filters.concat(createYADCFfilters(0, 1, "multi_select", "select2", "Select", false, null, "html", "80px"));
		// Vendors/Articles/Labs (3)
		column_filters = column_filters.concat(createYADCFfilters(1, 3, "range_number", null, ["Min", "Max"], false, null, null, "30px"));
		// Pathway Preference block (5)
		column_filters = column_filters.concat(createYADCFfilters(4, 5, "multi_select", "select2", "Select", false, null, null, "30px"));
		// ΔLog(Tau/KA)(4)/ΔLog(Emax/EC50)(4)/Log(Tau/KA)(5)/Log(Emax/EC50)(5)/EC50(5)/Emax(5)
    column_filters = column_filters.concat(createYADCFfilters(9, 28, "range_number", null, ["Min", "Max"], false, null, null, "30px"))
		// Measured Molecule 1(5)/2(5)/Biological Process(5)/Cell Line(1)/Time Resolved(1)
		column_filters = column_filters.concat(createYADCFfilters(37, 21, "multi_select", "select2", "Select", false, null, null, "30px"));
    // Authors
		column_filters = column_filters.concat(createYADCFfilters(58, 1, "multi_select", "select2", "Authors", false, null, null, "30px"));
		// DOI
		column_filters = column_filters.concat(createYADCFfilters(59, 1, "multi_select", "select2", "DOI", false, null, "html", "80px"));


		yadcf.init(oTable1.draw(), column_filters, {
			cumulative_filtering: false
		});

		gray_scale_table($("#structures_scrollable"));

		$("#reset").click(function() {
			yadcf.exResetAllFilters(oTable1);
		});
		oTable1.columns.adjust();
		// $(".").hide()
	});
</script>
<script>
	$(window).on("load",function() {
			$('#switch_pathway').change(function() {
				if ($(this).prop('checked')) {
						hideColumns(oTable1, [6,7,8,
																	10,11,12,
																	14,15,16,
																	19,20,21,
																	24,25,26,
																	29,30,31,
																	34,35,36,
																	39,40,41,
																	44,45,46,
																	49,50,51,
																	54,55,56]);
				} else {
						resetHiddenColumns(oTable1);
						gray_scale_table($("#structures_scrollable"));
				}
			});

			$(".hide_columns").click(function(evt) {
	    var columns = $(this).attr("columns").split(",");
	    columns.forEach(function(column) {
	        var column = oTable1.column( column );
	        try {
	            column.visible( false, false );
	        }
	        catch(err) {
	            column.visible( false, false );
	        }
	        });
	        oTable1.draw();
	    } );

			$("#reset_hidden").click(function(evt) {
					resetHiddenColumns(oTable1);
					gray_scale_table($("#structures_scrollable"));
					hideColumns(oTable1, [6,7,8,
																10,11,12,
																14,15,16,
																19,20,21,
																24,25,26,
																29,30,31,
																34,35,36,
																39,40,41,
																44,45,46,
																49,50,51,
																54,55,56]);
			} );
	});
</script>
{% else %}
<script>
	$(document).ready(function() {
		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		const csrftoken = getCookie('csrftoken');

	  $("#structures_scrollable").show();
	  oTable1 = $("#structures_scrollable").DataTable({
	    deferRender: true,
	    scrollY: true,
	    scrollX: true,
	    scrollCollapse: true,
	    scroller: true,
	    paging: false,
		  hideEmptyColumns: true,
	    bSortCellsTop: false, //prevent sort arrows going on bottom row
	    aaSorting: [],
	    autoWidth: false,
	    bInfo: true,
			columnDefs: [{
				targets: [7,8,9,
									11,12,13,
									16,17,18,
									20,21,22,
									24,25,26,
									29,30,31,
									34,35,36,
									39,40,41,
									44,45,46,
									49,50,51,
									54,55,56,
									59,60,61,
									64,65,66],
				visible: false
			}],
	  });

		let column_filters = [];
		// createYADCFfilters(start_column, num_cols, filter_type, select_type = null, filter_default_label = "", filter_reset_button_text = false, filter_match_mode = null, column_data_type = null, width = null)
		// Class
		// column_filters = column_filters.concat(createYADCFfilters(0, 1, "multi_select", "select2", "Class", false, null, null, "80px"));
		// Rec Fam
		// column_filters = column_filters.concat(createYADCFfilters(1, 1, "multi_select", "select2", "Select", false, null, null, "40px"));
		// UniProt
		// column_filters = column_filters.concat(createYADCFfilters(2, 1, "multi_select", "select2", "Select", false, null, null, "30px"));
		// Receptor section (4)
		// column_filters = column_filters.concat(createYADCFfilters(3, 2, "multi_select", "select2", "Select", false, null, null, "60px"));
		// Reference Ligand
		column_filters = column_filters.concat(createYADCFfilters(0, 1, "multi_select", "select2", "Select", false, null, null, "40px"));
		// Tested Ligand column
		column_filters = column_filters.concat(createYADCFfilters(1, 1, "multi_select", "select2", "Select", false, null, "html", "40px"));
		// Vendors/Articles/Labs (3)
		column_filters = column_filters.concat(createYADCFfilters(2, 3, "range_number", null, ["Min", "Max"], false, null, null, "30px"));
		// Pathway Rank Order block (5)
		column_filters = column_filters.concat(createYADCFfilters(5, 5, "multi_select", "select2", "Select", false, null, null, "30px"));
		// Bias Factor(5)
		column_filters = column_filters.concat(createYADCFfilters(10, 4, "range_number", null, ["Min", "Max"], false, null, null, "30px", "data-order"));
		// Signalling protein (5)
		column_filters = column_filters.concat(createYADCFfilters(14, 5, "multi_select", "select2", "Select", false, null, null, "30px"));
		// ΔΔLog(Tau/KA)(4)/ΔΔLog(Emax/EC50)(4)/ΔLog(Tau/KA)(5)/ΔLog(Emax/EC50)(5)/EC50(5)/Emax(5)
    column_filters = column_filters.concat(createYADCFfilters(19, 28, "range_number", null, ["Min", "Max"], false, null, null, "30px"))
		// Measured Molecule 1(5)/2(5)/Biological Process(5)/Cell Line(1)/Time Resolved(1)
		column_filters = column_filters.concat(createYADCFfilters(47, 21, "multi_select", "select2", "Select", false, null, null, "30px"));
    // Authors
		column_filters = column_filters.concat(createYADCFfilters(68, 1, "multi_select", "select2", "Authors", false, null, null, "30px"));
		// DOI
		column_filters = column_filters.concat(createYADCFfilters(69, 1, "multi_select", "select2", "DOI", false, null, null, "80px"));
		console.log(column_filters);
		yadcf.init(oTable1.draw(), column_filters, {
			cumulative_filtering: false
		});

		$("#reset").click(function() {
			yadcf.exResetAllFilters(oTable1);
		});

		gray_scale_table($("#structures_scrollable"));
		oTable1.columns.adjust();
	});
</script>
<script>
	$(window).on("load",function() {
			$('#switch_biased').change(function() {
				if ($(this).prop('checked')) {
						hideColumns(oTable1, [7,8,9,
																	11,12,13,
																	16,17,18,
																	20,21,22,
																	24,25,26,
																	29,30,31,
																	34,35,36,
																	39,40,41,
																	44,45,46,
																	49,50,51,
																	54,55,56,
																	59,60,61,
																	64,65,66]);
				} else {
						resetHiddenColumns(oTable1);
						gray_scale_table($("#structures_scrollable"));
				}
			});

		$(".hide_columns").click(function(evt) {
    var columns = $(this).attr("columns").split(",");
    columns.forEach(function(column) {
        var column = oTable1.column( column );
        try {
            column.visible( false, false );
        }
        catch(err) {
            column.visible( false, false );
        }
        });
        oTable1.draw();
    } );

		$("#reset_hidden").click(function(evt) {
				resetHiddenColumns(oTable1);
				gray_scale_table($("#structures_scrollable"));
				hideColumns(oTable1, [7,8,9,
															11,12,13,
															16,17,18,
															20,21,22,
															24,25,26,
															29,30,31,
															34,35,36,
															39,40,41,
															44,45,46,
															49,50,51,
															54,55,56,
															59,60,61,
															64,65,66]);
		} );
	});
</script>
{% endif %}
<script>
	// General document ready functions
	$(document).ready(function() {
		// Hide max input for specific filters (vendors, articles, labs)
		let hide_ids = ["yadcf-filter--structures_scrollable-to-2", "yadcf-filter--structures_scrollable-to-3", "yadcf-filter--structures_scrollable-to-4"];
		for (let hide_id of hide_ids){
			let hide_elem = document.getElementById(hide_id);
			if (typeof hide_elem == "object" && hide_elem != null){
				hide_elem.setAttribute("type","hidden");
			}
		}

		// Add top scrollbar to
		// https://stackoverflow.com/questions/35147038/how-to-place-the-datatables-horizontal-scrollbar-on-top-of-the-table
		$(".dataTables_scrollHead").css({
				"overflow-x": "scroll"
		}).on("scroll", function(e){
				var scrollBody = $(this).parent().find(".dataTables_scrollBody").get(0);
				scrollBody.scrollLeft = this.scrollLeft;
				$(scrollBody).trigger("scroll");
		});
	});
</script>
{% endblock %}
