{% extends "home/base.html" %}
{% load static %}
{% load structure_extras %}


{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/ligand_browser.css' %}" type="text/css" />
<style>
    /*Assay description tooltip*/
    .AssayCell {
        position: relative;
    }

    .AssayDetail {
        display: none;
        position: absolute;
        z-index: 100;
        border: 1px;
        background-color: black;
        border-style: solid;
        border-width: 1px;
        padding: 3px;
        color: white;
        top: 20px;
        left: 20px;
        width: 250px;
        white-space: pre-wrap;
    }

    .AssayCell:hover span.AssayDetail {
        display: block;
    }
    /*Structure preview in tooltip*/
    pre {
        display: block;
        font: 100% "Courier New", Courier, monospace;
        padding: 10px;
        border: 1px solid #bae2f0;
        background: #e3f4f9;
        margin: .5em 0;
        overflow: auto;
        width: 800px;
    }

    #struct {
        display: none;
        position: absolute;
        z-index: 100;
        border: 1px;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        padding: 3px;
    }

</style>
{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
<script src="{% static 'home/js/dataTables.tableTools.min.js' %}"> </script>
<script src="{% static 'home/js/jquery.dataTables.columnFilter.js' %}"> </script>
<script src="{% static 'home/js/selection.js' %}"> </script>

<script type="text/javascript" charset="utf-8">
    this.compoundPreview = function () {

        //Define position of the tooltip in relation to the cursor
        xOffset = 30;
        yOffset = -10;

        $("a.struct").hover(function (e) {
            this.t = this.title;
            this.title = "";
            var c = (this.t != "") ? "<br/>" + this.t : "";
            $("body").append("<p id='struct'><img style='max-width: 200px; height: auto' src='" + this.rel + "'/>" + c + "</p>");
            $("#struct")
                .css("top", (e.pageY - yOffset) + "px")
                .css("left", (e.pageX + xOffset) + "px")
                .fadeIn("fast");
        },
            function () {
                this.title = this.t;
                $("#struct").remove();
            });
        $("a.struct").mousemove(function (e) {
            $("#struct")
                .css("top", (e.pageY - yOffset) + "px")
                .css("left", (e.pageX + xOffset) + "px");
        });
    };

    $(document).ready(function () {
        //ClearSelection('targets');
        var table = $('#proteins').DataTable({
            'scrollX': true,
            'scrollY': $(window).height() - 150,
            'bScrollCollapse': true,
            'paging': true,
            'paging_type': 'full_numbers',
            'iDisplayLength': 50,
            'orderCellsTop': true,
            'autoWidth': true,
            'dom': 'iTlfrtp',
            'aoColumnDefs': [
                { 'bSortable': false, 'aTargets': [0] },
                { 'sType': 'string', 'aTargets': [1] },
            ],
            'tableTools': {
                "sRowSelect": "double",
                "aButtons": []
            },
            "language": {
                "lengthMenu": 'Display <select>' +
                    '<option value="50">50</option>' +
                    '<option value="100">100</option>' +
                    '<option value="200">200</option>' +
                    '<option value="-1">All</option>' +
                    '</select> records'
            },
            initComplete: function () {
                $('#proteins').dataTable().columnFilter({
                    sPlaceHolder: "head:after",
                    sRangeFormat: "{from}:{to}",
                    aoColumns: [
                        null,
                        null, //{ type: "select" },//Ligand Name
                        null, //{ type: "select" },//Protein Entry Name
                        { type: "select" },//Species
                        { type: "select" },// purchasable
                        { type: "number-range" },//PChEMBL Value
                        { type: "select" },//Standard Type
                        null,//Standard Relation
                        { type: "number-range" },//Standard Value
                        { type: "select" },//Standard Units
                        { type: "select" },//Assay Type
                        { type: "select" },//Assay Description
                        { type: "number-range" },//Mol weight
                        { type: "number-range" },//Rotatable Bonds
                        { type: "number-range" },//Hydrogen Bond Donors
                        { type: "number-range" },//Hydrogen Bond Acceptors
                        { type: "number-range" },//LogP
                        { type: "text" },//Smiles
                    ]
                });
            }, 
        });
        $('.alt').change(function () {
            $(this).parent().parent().toggleClass('alt_selected');
        });
        $('.select-all').change(function () {
            $('.alt').prop('checked', $(this).prop("checked"));
            $('.alt').parent().parent().toggleClass('alt_selected');
        });
        $('#csv_btn').click(function () {
            var checked_data = table.rows('.alt_selected').data();
            var csv_data = [];
            csv_data.push('ChEMBL ID;Receptor;Species;Purchasable;p-value (-log);Activity Type;Activity Relation;Activity Value;Unit;Assay Type;Assay Description;Rot. Bonds;H don;H acc;LogP;Smiles')
            for (i = 0; i < checked_data.length; i++) {
                var csv_row = []
                for (j = 1; j < checked_data[i].length; j++) {
                    var div = document.createElement("div");
                    div.innerHTML = checked_data[i][j];
                    if (typeof div.innerText !== "undefined") {
                        csv_row.push(div.innerText.replace(/\s+/g, ''));
                    } else {
                        csv_row.push(div.textContent.replace(/\s+/g, ''));
                    }
                }
                csv_data.push(csv_row.join(';'));
            }
            var csv_string = csv_data.join("\n");
            if (window.navigator.msSaveOrOpenBlob) {
                var blob = new Blob([csv_string]);
                window.navigator.msSaveOrOpenBlob(blob, 'target_ligand_data.csv');
            } else {
                var a = document.createElement('a');
                a.href = 'data:attachment/csv,' + encodeURIComponent(csv_string);
                a.target = '_blank';
                a.download = 'target_ligand_data.csv';
                document.body.appendChild(a);
                a.click();
            }
        });
        $('#smi_btn').click(function () {
            var checked_data = table.rows('.alt_selected').data();
            var smi_data = [];
            for (i = 0; i < checked_data.length; i++) {
                var smi_row = []
                for (j = 1; j < checked_data[i].length; j++) {
                    var div = document.createElement("div");
                    div.innerHTML = checked_data[i][17];
                    if (typeof div.innerText !== "undefined") {
                        smi_row.push(div.innerText.replace(/\s+/g, ''));
                    } else {
                        smi_row.push(div.textContent.replace(/\s+/g, ''));
                    }
                    div.innerHTML = checked_data[i][1];
                    if (typeof div.innerText !== "undefined") {
                        smi_row.push(div.innerText.replace(/\s+/g, ''));
                    } else {
                        smi_row.push(div.textContent.replace(/\s+/g, ''));
                    }
                }
                smi_data.push(smi_row.join(' '));
            }
            var smi_string = smi_data.join("\n");
            if (window.navigator.msSaveOrOpenBlob) {
                var blob = new Blob([smi_string]);
                window.navigator.msSaveOrOpenBlob(blob, 'target_ligands.smi');
            } else {
                var a = document.createElement('a');
                a.href = 'data:attachment/smi,' + encodeURIComponent(smi_string);
                a.target = '_blank';
                a.download = 'target_ligands.smi';
                document.body.appendChild(a);
                a.click();
            }
        });
        $('#purchasability-btn').click(function () {
            window.location.href = '/ligand/targets_purchasable';
        });
        compoundPreview();
        setTimeout(function () {
            table.columns.adjust().draw();
        }, 10);
    })

</script>
{% endblock %}

{% block content %}
<div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
        </button>
    <ul class="dropdown-menu">
        <li>
            <a id="csv_btn" href="javascript:void(0)">CSV</a>
        </li>
        <li>
            <a id="smi_btn" href="javascript:void(0)">SMILES</a>
        </li>
        </ul>
    </div>
<div class="btn-group">
    <a id="purchasability-btn" class="btn btn-primary btn-mini " href="javascript:void(0)">Purchasability</a>
    </div>
    <!--<div class="btn-group">-->
    <!--    <a id="concise_funtional_btn" class="btn btn-primary btn-mini " href="javascript:void(0)">Show Concise Functional Assay Information</a>-->
    <!--</div>-->
    <!--<div class="btn-group">-->
    <!--    <a id="superpose_btn" class="btn btn-primary btn-mini " href="javascript:void(0)">Superposition</a>-->
    <!--</div>-->
    <!--<div style="font-size: 10px;">For superimposition: Select (tick box) ligands, and Highlight the reference template</div>-->
    <br />
    <br />
    <h3>Ligand source activities (1 row/activity)</h3>

    <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;">
        <table style="width:100%" class="display" id="proteins">
            <thead>
                <tr>
                    <th><input class="select-all" type="checkbox"> Select all</th>
                    <th class="general-th">ChEMBL ID</th>
                    <th class="general-th">Receptor</th>
                    <th class="general-th">Species</th>
                    <th class="general-th">Purchasable</th>
                    <th class="activity-th">p-value<br />(-log)</th>
                    <th class="activity-th">Activity<br />Type</th>
                    <th class="activity-th">Activity<br />Relation</th>
                    <th class="activity-th">Activity<br />Value</th>
                    <th class="activity-th">Unit</th>
                    <th class="activity-th">Assay Type</th>
                    <th class="activity-th">Assay Description</th>
                    <th class="chemical-th">Mol<br />weight</th>
                    <th class="chemical-th">Rot<br />Bonds</th>
                    <th class="chemical-th">H don</th>
                    <th class="chemical-th">H acc</th>
                    <th class="chemical-th">LogP</th>
                    <th class="chemical-th dt-left">Smiles</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for p in proteins %}
                <tr>
                    <td><input class="alt" type="checkbox"></td>
                    <td><a class="struct" rel="http://www.ebi.ac.uk/chembl/api/data/image/{{p.ligand__properities__web_links__index}}" href="/ligand/{{p.ligand__properities__web_links__index}}">{{p.ligand__properities__web_links__index}}</a></td>
                    <td>{{p.protein__entry_name}}</td>
                    <td>{{p.protein__species__common_name}}</td>
                    <td>{{p.purchasability}}</td>
                    <td align="right">{{p.pchembl_value|floatformat:1}}</td>
                    <td align="center">{{p.standard_type}}</td>
                    <td>{{p.standard_relation}}</td>
                    <td>{{p.standard_value|floatformat}}</td>
                    <td>{{p.standard_units}}</td>
                    <td>{% if p.assay_type == 'b' %} Bind {% else %} Funct {% endif %}</td>
                    <td class="AssayCell"> <div style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; max-width: 350px;white-space: nowrap;">{{p.assay_description}}<span class="AssayDetail">{{p.assay_description}}</span> </div></td>
                    <td>{{p.ligand__properities__mw|floatformat:0}}</td>
                    <td>{{p.ligand__properities__rotatable_bonds}}</td>
                    <td>{{p.ligand__properities__hdon}}</td>
                    <td>{{p.ligand__properities__hacc}}</td>
                    <td>{{p.ligand__properities__logp|floatformat:1}}</td>
                    <td class="dt-left">{{p.ligand__properities__smiles}}</td>
                </tr>
                {% endfor %}
            </tbody>




        </table>
    </div>
    {% endblock %}
