{% extends "home/base.html" %}
{% load static %}
{% load structure_extras %}


{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/bootstrap2-toggle.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/modal.css' %}" type="text/css" />
<style>
    /*Assay description tooltip*/
    .AssayCell {
        position: relative;
    }

    .AssayDetail {
        display: none;
        position: absolute;
        z-index: 100;
        border: 1px;
        background-color: black;
        border-style: solid;
        border-width: 1px;
        padding: 3px;
        color: white;
        top: 20px;
        left: 20px;
        width: 250px;
        white-space: pre-wrap;
    }

    .AssayCell:hover span.AssayDetail {
        display: block;
    }
    /*Structure preview in tooltip*/
    pre {
        display: block;
        font: 100% "Courier New", Courier, monospace;
        padding: 10px;
        border: 1px solid #bae2f0;
        background: #e3f4f9;
        margin: .5em 0;
        overflow: auto;
        width: 800px;
    }

    #struct {
        display: none;
        position: absolute;
        z-index: 100;
        border: 1px;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        padding: 3px;
    }
    .scroll-container {
        /*max-width: 200px;*/
        overflow-x: scroll;
        overflow-y: auto;
    }
</style>

<style type="text/css">
	.dataTables_scrollHeadInner {
		margin-top: 20px;
	}

	table.dataTable thead th,
	table.dataTable tbody td {
		max-width: 65px;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	table.dataTable thead .sorting {
		background-position: right;
	}

	.select2-container select2-container-multi {
		width: 75%;
	}

	.select2-container-multi .select2-choices .select2-search-field input {
		max-width: 50px;
	}

	.yadcf-filter-wrapper {
		position: center;
		display: flex;
		white-space: nowrap;
		margin-top: 7px;
		width: 50%;
	}

	.yadcf-filter-wrapper-inner {
		white-space: normal;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.select2-results {
		background-color: white;
		border: gray;
		width: 150px !important;
	}

	.yadcf-filter-range {
		grid-auto-columns: auto;
		max-width: 30px !important;
		font-family: sans-serif;
		font-size: 80%;
		font-weight: bold;
		margin: auto;
		margin-top: 10%;
		margin-bottom: 5%;
		min-width: 30px;
	}

	table.dataTable thead .sorting {
		background-image: none !important;
	}

	table.dataTable thead .sorting_desc {
		background-image: none !important;
	}

	table.dataTable thead .sorting_asc {
		background-image: none !important;
	}

	table.dataTable.compact tbody th,
	table.dataTable.compact tbody td {
		padding: 5px 10px 5px 0px !important;
		/* width: 0px; */
	}

	table.dataTable.compact thead th,
	table.dataTable.compact thead td {
		padding: 5px 10px 5px 0px;
		/* width: 0px; */
	}

	table.dataTable.compact thead tr.over_header th {
		border-bottom: 1px solid #ccc;
	}

	table.dataTable.compact thead th.leftborder {
		border-left: 1px solid;
	}

	table.dataTable.compact thead th.rightborder {
		border-right: 1px solid;
	}

	.clicked_button {
		background-color: rgb(215, 215, 215);
	}

	#overlay {
		top: 0px;
		position: absolute;
		background: #f8f8f8;
		/*border: 1px solid #333;*/
		-webkit-box-shadow: 5px 0 2px -2px #888;
		box-shadow: 5px 0 2px -2px #888;
	}

	.wrapper {
		overflow-x: scroll;
		overflow-y: hidden;
	}

	#overlay tbody tr {
		background-color: #f8f8f8;
	}

	#count_row th {
		font-size: 11px;
		text-align: center;
	}

	.switch-field label:hover {
		cursor: pointer;
		/* width: 100%; */
	}

	.switch-field input:checked+label {
		background-color: #337ab7;
		/* #a5dc86; */
		box-shadow: none;
	}

	.border-left {
		padding-left: 3px;
	}

	.switch-field label:first-of-type {
		border-radius: 4px 0 0 4px;

	}

	.switch-field label:last-of-type {
		border-radius: 0 4px 4px 0;
	}

	.name {
		width: 100px;
		text-overflow: ellipsis;
		cursor: pointer;
		word-break: break-all;
		overflow: hidden;
		white-space: nowrap;
	}

	.name:hover {
		overflow: visible;
		white-space: normal;

	}

	.toolbar_data_css {
		width: 250px;
		margin-right: auto;
		margin-left: 0px;
		/* border: 1px solid; */
		font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
		font-weight: normal;
		font-size: 120%;
		line-height: 1.625;
	}

	.toolbar_data_css.td {
		height: 15px;
		max-width: 150px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
</style>
{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
<script src="{% static 'home/js/dataTables.tableTools.min.js' %}"> </script>
<script src="{% static 'home/js/jquery.dataTables.columnFilter.js' %}"> </script>
<script src="{% static 'home/js/selection.js' %}"> </script>
<script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
<script src="{% static 'home/js/select2.js' %}"> </script>
<script src="{% static 'home/js/gpcrdb.js' %}"></script>

<script type="text/javascript" charset="utf-8">
    this.compoundPreview = function () {

        //Define position of the tooltip in relation to the cursor
        xOffset = 30;
        yOffset = -10;

        $("a.struct").hover(function (e) {
            this.t = this.title;
            this.title = "";
            var c = (this.t != "") ? "<br/>" + this.t : "";
            $("body").append("<p id='struct'><img style='max-width: 200px; height: auto' src='" + this.rel + "'/>" + c + "</p>");
            $("#struct")
                .css("top", (e.pageY - yOffset) + "px")
                .css("left", (e.pageX + xOffset) + "px")
                .fadeIn("fast");
        },
            function () {
                this.title = this.t;
                $("#struct").remove();
            });
        $("a.struct").mousemove(function (e) {
            $("#struct")
                .css("top", (e.pageY - yOffset) + "px")
                .css("left", (e.pageX + xOffset) + "px");
        });
    };
    var mode = '{{ mode }}';
    console.log(mode);
    $(document).ready(function () {


      var table_potency = $('#proteins_potency').DataTable({
          scrollX: true,
          scrollY: $(window).height() - 100,
          bScrollCollapse: true,
          paging: true,
          paging_type: 'full_numbers',
          iDisplayLength: 50,
          orderCellsTop: true,
          autoWidth: true,
          });

      var table_affinity = $('#proteins_affinity').DataTable({
          scrollX: true,
          scrollY: $(window).height() - 100,
          bScrollCollapse: true,
          paging: true,
          paging_type: 'full_numbers',
          iDisplayLength: 50,
          orderCellsTop: true,
          autoWidth: true,
          });

        let column_filters = [];
        // createYADCFfilters(start_column, num_cols, filter_type, select_type = null, filter_default_label = "", filter_reset_button_text = false, filter_match_mode = null, column_data_type = null, width = null)
        if(mode == 'extended'){
          var smiles_column = 20;
          column_filters = column_filters.concat(createYADCFfilters(1, 2, "multi_select", "select2", "Select", false, null, "html", "80px"));
          column_filters = column_filters.concat(createYADCFfilters(3, 2, "multi_select", "select2", "Select", false, null, null, "50px"));
          column_filters = column_filters.concat(createYADCFfilters(5, 2, "range_number", null, ["Min", "Max"], false, null, null, "30px"))
          column_filters = column_filters.concat(createYADCFfilters(7, 1, "multi_select", "select2", "Select", false, null, null, "50px"));
          column_filters = column_filters.concat(createYADCFfilters(8, 1, "range_number", null, ["Min", "Max"], false, null, null, "30px"))
          column_filters = column_filters.concat(createYADCFfilters(9, 6, "multi_select", "select2", "Select", false, null, null, "50px"));
          column_filters = column_filters.concat(createYADCFfilters(15, 5, "range_number", null, ["Min", "Max"], false, null, null, "30px"))
          column_filters = column_filters.concat(createYADCFfilters(20, 2, "multi_select", "select2", "Select", false, null, null, "50px"));
        }else{
          var smiles_column = 21;
          column_filters = column_filters.concat(createYADCFfilters(1, 2, "multi_select", "select2", "Select", false, null, "html", "80px"));
          column_filters = column_filters.concat(createYADCFfilters(3, 2, "multi_select", "select2", "Select", false, null, null, "50px"));
          column_filters = column_filters.concat(createYADCFfilters(5, 2, "range_number", null, ["Min", "Max"], false, null, null, "30px"))
          column_filters = column_filters.concat(createYADCFfilters(7, 3, "multi_select", "select2", "Select", false, null, null, "50px"));
          column_filters = column_filters.concat(createYADCFfilters(10, 5, "range_number", null, ["Min", "Max"], false, null, null, "30px"))
          column_filters = column_filters.concat(createYADCFfilters(15, 1, "multi_select", "select2", "Select", false, null, null, "50px"));
          column_filters = column_filters.concat(createYADCFfilters(16, 5, "range_number", null, ["Min", "Max"], false, null, null, "30px"))
          column_filters = column_filters.concat(createYADCFfilters(21, 1, "multi_select", "select2", "Select", false, null, null, "50px"));

        }

        yadcf.init(table_potency.draw(), column_filters, {
          cumulative_filtering: false
        });

        yadcf.init(table_affinity.draw(), column_filters, {
          cumulative_filtering: false
        });

        $('.alt').change(function () {
            $(this).parent().parent().toggleClass('alt_selected');
        });
        $('.select-page').change(function () {
            $('.alt').prop('checked', $(this).prop("checked"));
            $('.alt').parent().parent().toggleClass('alt_selected');
        });
        //
        const btn_pot = document.getElementById("selectall_potency");
        const btn_aff = document.getElementById("selectall_affinity");

        btn_pot.addEventListener("click", ()=>{
            if(btn_pot.innerText === "Select full table"){
                btn_pot.innerText = "Deselect full table";
            }else{
                btn_pot.innerText= "Select full table";
            }
        })

        btn_aff.addEventListener("click", ()=>{
            if(btn_aff.innerText === "Select full table"){
                btn_aff.innerText = "Deselect full table";
            }else{
                btn_aff.innerText= "Select full table";
            }
        })

        $("#selectall_potency").click(function() {
            var rows = table_potency.rows().nodes();
            if($('input:checked', rows).length == rows.length){
               $('input[type="checkbox"]', rows).prop('checked', false);
               table_potency.rows().every(function() {
                 this.nodes().to$().removeClass('alt_selected')
               })
            }
            else{
               $('input[type="checkbox"]', rows).prop('checked', true);
               table_potency.rows().every(function() {
                 this.nodes().to$().addClass('alt_selected')
               })
            }
        });
        $("#selectall_affinity").click(function() {
            var rows = table_affinity.rows().nodes();
            if($('input:checked', rows).length == rows.length){
               $('input[type="checkbox"]', rows).prop('checked', false);
               table_affinity.rows().every(function() {
                 this.nodes().to$().removeClass('alt_selected')
               })
            }
            else{
               $('input[type="checkbox"]', rows).prop('checked', true);
               table_affinity.rows().every(function() {
                 this.nodes().to$().addClass('alt_selected')
               })
            }
        });

        $(".hide_columns").click(function(evt) {
          var columns = $(this).attr("columns").split(",");
          columns.forEach(function(column) {
              var column = table_potency.column( column );
              try {
                  column.visible( false, false );
              }
              catch(err) {
                  column.visible( false, false );
              }
              var column_affinity = table_affinity.column( column );
              try {
                  column_affinity.visible( false, false );
              }
              catch(err) {
                  column_affinity.visible( false, false );
              }
              });
              table_potency.draw();
              table_affinity.draw();
        } );

        $("#reset_hidden_potency").click(function(evt) {
          let potency_length = table_potency.columns()[0].length;
          let potency_columns = Array.from(new Array(potency_length - 1), (x, i) => i);
          table_potency.columns(potency_columns).visible(true, false);
          table_potency.draw();
        } );
        $("#reset_hidden_affinity").click(function(evt) {
          let affinity_length = table_affinity.columns()[0].length;
          let affinity_columns = Array.from(new Array(affinity_length - 1), (x, i) => i);
          table_affinity.columns(affinity_columns).visible(true, false);
          table_affinity.draw();
        } );

        $('#csv_btn_potency').click(function () {
            var checked_data = table_potency.rows('.alt_selected').data();
            var checked_data = table_potency.rows('.alt_selected').data();
            var csv_data = [];
            csv_data.push('ChEMBL ID;Receptor;Species;Purchasable;No. records;Assay type;Min.;Average;Max.;Unit;Mol. weight;Rot. Bonds;H don;H acc;LogP;Smiles')
            for (i = 0; i < checked_data.length; i++) {
                var csv_row = []
                for (j = 1; j < checked_data[i].length; j++) {
                    var div = document.createElement("div");
                    div.innerHTML = checked_data[i][j];
                    if (typeof div.innerText !== "undefined") {
                        csv_row.push(div.innerText.replace(/\s+/g, ''));
                    } else {
                        csv_row.push(div.textContent.replace(/\s+/g, ''));
                    }
                }
                csv_data.push(csv_row.join(';'));
            }
            var csv_string = csv_data.join("\n");
            if (window.navigator.msSaveOrOpenBlob) {
                var blob = new Blob([csv_string]);
                window.navigator.msSaveOrOpenBlob(blob, 'target_ligand_potency_data.csv');
            } else {
                var a = document.createElement('a');
                a.href = 'data:attachment/csv,' + encodeURIComponent(csv_string);
                a.target = '_blank';
                a.download = 'target_ligand_data.csv';
                document.body.appendChild(a);
                a.click();
            }
        });
        $('#csv_btn_affinity').click(function () {
            var checked_data = table_affinity.rows('.alt_selected').data();
            var checked_data = table_affinity.rows('.alt_selected').data();
            var csv_data = [];
            csv_data.push('ChEMBL ID;Receptor;Species;Purchasable;No. records;Assay type;Min.;Average;Max.;Unit;Mol. weight;Rot. Bonds;H don;H acc;LogP;Smiles')
            for (i = 0; i < checked_data.length; i++) {
                var csv_row = []
                for (j = 1; j < checked_data[i].length; j++) {
                    var div = document.createElement("div");
                    div.innerHTML = checked_data[i][j];
                    if (typeof div.innerText !== "undefined") {
                        csv_row.push(div.innerText.replace(/\s+/g, ''));
                    } else {
                        csv_row.push(div.textContent.replace(/\s+/g, ''));
                    }
                }
                csv_data.push(csv_row.join(';'));
            }
            var csv_string = csv_data.join("\n");
            if (window.navigator.msSaveOrOpenBlob) {
                var blob = new Blob([csv_string]);
                window.navigator.msSaveOrOpenBlob(blob, 'target_ligand_affinity_data.csv');
            } else {
                var a = document.createElement('a');
                a.href = 'data:attachment/csv,' + encodeURIComponent(csv_string);
                a.target = '_blank';
                a.download = 'target_ligand_data.csv';
                document.body.appendChild(a);
                a.click();
            }
        });

        $('#smi_btn_potency').click(function () {
            var checked_data = table_potency.rows('.alt_selected').data();
            let smi_data = [];
            let processed = [];
            for (i = 0; i < checked_data.length; i++) {
                var div = document.createElement("div");
                div.innerHTML = checked_data[i][1];
                name = div.textContent;
                if (!processed.includes(name)){
                  let smi_row = checked_data[i][smiles_column] + "\t" + name;
                  smi_data.push(smi_row);
                  processed.push(name);
                }
            }
            let smi_string = smi_data.join("\n");
            if (window.navigator.msSaveOrOpenBlob) {
                var blob = new Blob([smi_string]);
                window.navigator.msSaveOrOpenBlob(blob, 'target_ligands_potency.smi');
            } else {
                var a = document.createElement('a');
                a.href = 'data:attachment/smi,' + encodeURIComponent(smi_string);
                a.target = '_blank';
                a.download = 'target_ligands_potency.smi';
                document.body.appendChild(a);
                a.click();
            }
        });

        $('#smi_btn_affinity').click(function () {
            var checked_data = table_affinity.rows('.alt_selected').data();
            let smi_data = [];
            let processed = [];
            for (i = 0; i < checked_data.length; i++) {
                var div = document.createElement("div");
                div.innerHTML = checked_data[i][1];
                name = div.textContent;
                if (!processed.includes(name)){
                  let smi_row = checked_data[i][smiles_column] + "\t" + name;
                  smi_data.push(smi_row);
                  processed.push(name);
                }
            }
            let smi_string = smi_data.join("\n");
            if (window.navigator.msSaveOrOpenBlob) {
                var blob = new Blob([smi_string]);
                window.navigator.msSaveOrOpenBlob(blob, 'target_ligands_afffinity.smi');
            } else {
                var a = document.createElement('a');
                a.href = 'data:attachment/smi,' + encodeURIComponent(smi_string);
                a.target = '_blank';
                a.download = 'target_ligands_affinity.smi';
                document.body.appendChild(a);
                a.click();
            }
        });
        $('#purchasability-btn').click(function () {
            window.location.href = '/ligand/targets_purchasable';
        });
        compoundPreview();
        setTimeout(function () {
            table_potency.columns.adjust().draw();
            table_affinity.columns.adjust().draw();
        }, 10);
    })
</script>

{% endblock %}
{% block content %}
  {% if mode == 'extended' %}

  <h3>Ligand source activities (1 row/activity)</h3>

  <ul class="nav nav-tabs">
    <li class="nav-item active">
      <a class="nav-link" data-toggle="tab" href="#potency">Potency</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#affinity">Affinity</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane container active" id="potency">
      <br />
      <br />
      <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" style="margin-top:10px;margin-top:3px">
              <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a id="csv_btn_potency" href="javascript:void(0)">CSV</a>
              </li>
              <li>
                  <a id="smi_btn_potency" href="javascript:void(0)">SMILES</a>
              </li>
          </ul>
      </div>
      <div class="btn-group">
          <a id="purchasability-btn" class="btn btn-primary" href="javascript:void(0)" style="margin-top:10px;margin-top:3px">Get vendors</a>
      </div>
      <div class="btn-group">
        <button id="reset_hidden_potency" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px">Reset columns</button>
      </div>
      <div class="btn-group">
        <button id="selectall_potency" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px">Select full table</button>
      </div>
      <br />
      <br />
      <div class="double_scroll" style="padding-top: 0px; font-size: 10px; white-space: nowrap;">
          <table style="width:100%" class="display" id="proteins_potency">
              <thead>
                  <tr class="header-spans">
                    <th style="text-align:left" colspan="5">Ligands
                      <button type="button" class="close hide_columns" columns="1,2,3,4" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </th>
                    <th style="border-left: 1px solid black; text-align:left" colspan="3" style="">Receptor
                      <button type="button" class="close hide_columns" columns="5,6,7" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </th>
                    <th style="border-left: 1px solid black; text-align:left" colspan="7">Assay information
                      <button type="button" class="close hide_columns" columns="8,9,10,11,12,13,14" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </th>
                    <th style="border-left: 1px solid black; text-align:left" colspan="7">Chemical information
                      <button type="button" class="close hide_columns" columns="15,16,17,18,19,20,21"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </th>
                  </tr>
                  <tr>
                      <th><input class="select-page" type="checkbox">Sel. page</th>
                      <th style="text-align:left"">Common<br \>name</th>
                      <th style="text-align:left">GPCRdb ID</th>
                      <th style="text-align:left">#Vendors</th>
                      <th style="text-align:left">Reference<br \>ligand</th>

                      <th style="border-left: 1px solid black;text-align:left" class="general-th">Fold selectivity<br \>(Potency)</th>
                      <th style="text-align:left"># tested GPCRs<br \>(Potency)</th>

                      <th style="text-align:left">Species</th>
                      <th style="border-left: 1px solid black;text-align:left" class="activity-th">p-value<br />(-log)</th>
                      <th style="text-align:left"Activity<br />Type</th>
                      <th style="text-align:left">Activity<br />Relation</th>
                      <th style="text-align:left">Activity<br />Value</th>
                      <th style="text-align:left">Assay Type</th>
                      <th style="text-align:left"">Assay Description</th>
                      <th style="text-align:left">Source</th>
                      <th style="border-left: 1px solid black;text-align:left" class="chemical-th">Mol<br />weight</th>
                      <th style="text-align:left">Rot<br />Bonds</th>
                      <th style="text-align:left">H don</th>
                      <th style="text-align:left">H acc</th>
                      <th style="text-align:left">LogP</th>
                      <th style="text-align:left">Smiles</th>
                      <th style="text-align:left">DOI</th>
                  </tr>
              </thead>
              <tbody>
                  {% for p in potency_data %}
                  <tr>
                      <td><input class="alt" type="checkbox"></td>
                      <td><a class="struct" rel="http://www.ebi.ac.uk/chembl/api/data/image/{{p.ligand__ids__index}}" href="/ligand/{{p.ligand__id}}/info" target="_blank">{{p.ligand__ids__index}}</a></td>
                      <td><a href="/ligand/{{p.ligand__id}}/info" target="_blank">{{p.ligand__id}}</a></td>
                      <td>{{p.purchasability}}</td>
                      <td>{{p.reference_ligand}}</td>

                      <td>{{p.potency}}</td>
                      <td>{{p.count_potency_test}}</td>

                      <td>{{p.protein__species__common_name}}</td>
                      <td align="right">{{p.p_activity_value|floatformat:1}}</td>
                      <td align="center">{% if p.source == 'ChEMBL' %} p{{p.value_type}} {% else %} {{p.value_type}} {% endif %}</td>
                      <td>{{p.standard_relation}}</td>
                      <td>{{p.p_activity_value|floatformat}}</td>
                      <td>{% if p.assay_type == 'B' %} Binding {% elif p.assay_type == 'F' %} Functional {% elif p.assay_type == 'U' %} Unclassified {% elif p.assay_type == 'A' %} ADMET {% endif %}</td>
                      <td class="AssayCell"> <div style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; max-width: 350px;white-space: nowrap;">{{p.assay_description}}<span class="AssayDetail">{{p.assay_description}}</span> </div></td>
                      <td>{{p.source}}</td>
                      <td>{{p.ligand__mw|floatformat:0}}</td>
                      <td>{{p.ligand__rotatable_bonds}}</td>
                      <td>{{p.ligand__hdon}}</td>
                      <td>{{p.ligand__hacc}}</td>
                      <td>{{p.ligand__logp|floatformat:1}}</td>
                      <td class="dt-left">{{p.ligand__smiles}}</td>
                      <td><a href="{{p.link}}" target="_blank">{{p.publication__web_link__index}}</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
    <div class="tab-pane container" id="affinity">
      <br />
      <br />
      <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" style="margin-top:10px;margin-top:3px">
              <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a id="csv_btn_affinity" href="javascript:void(0)">CSV</a>
              </li>
              <li>
                  <a id="smi_btn_affinity" href="javascript:void(0)">SMILES</a>
              </li>
          </ul>
      </div>
      <div class="btn-group">
          <a id="purchasability-btn" class="btn btn-primary" href="javascript:void(0)" style="margin-top:10px;margin-top:3px">Get vendors</a>
      </div>
      <div class="btn-group">
        <button id="reset_hidden_affinity" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px">Reset columns</button>
      </div>
      <div class="btn-group">
        <button id="selectall_affinity" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px">Select full table</button>
      </div>
      <br />
      <br />
      <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;" class="scroll-container double_scroll">
        <table style="width:100%" class="display" id="proteins_affinity">
            <thead>
                <tr class="header-spans">
                  <th style="text-align:left" colspan="5">Ligands
                    <button type="button" class="close hide_columns" columns="1,2,3,4" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </th>
                  <th style="border-left: 1px solid black; text-align:left" colspan="3" style="">Receptor
                    <button type="button" class="close hide_columns" columns="5,6,7" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </th>
                  <th style="border-left: 1px solid black; text-align:left" colspan="7">Assay information
                    <button type="button" class="close hide_columns" columns="8,9,10,11,12,13,14" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </th>
                  <th style="border-left: 1px solid black; text-align:left" colspan="7">Chemical information
                    <button type="button" class="close hide_columns" columns="15,16,17,18,19,20,21"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </th>
                </tr>
                <tr>
                    <th><input class="select-page" type="checkbox">Sel. page</th>
                    <th style="text-align:left"">Common<br \>name</th>
                    <th style="text-align:left">GPCRdb ID</th>
                    <th style="text-align:left">#Vendors</th>
                    <th style="text-align:left">Reference<br \>ligand</th>

                    <th style="border-left: 1px solid black;text-align:left" class="general-th">Fold selectivity<br \>(Affinity)</th>
                    <th style="text-align:left"># tested GPCRs<br \>(Affinity)</th>

                    <th style="text-align:left">Species</th>
                    <th style="border-left: 1px solid black;text-align:left" class="activity-th">p-value<br />(-log)</th>
                    <th style="text-align:left"Activity<br />Type</th>
                    <th style="text-align:left">Activity<br />Relation</th>
                    <th style="text-align:left">Activity<br />Value</th>
                    <th style="text-align:left">Assay Type</th>
                    <th style="text-align:left"">Assay Description</th>
                    <th style="text-align:left">Source</th>
                    <th style="border-left: 1px solid black;text-align:left" class="chemical-th">Mol<br />weight</th>
                    <th style="text-align:left">Rot<br />Bonds</th>
                    <th style="text-align:left">H don</th>
                    <th style="text-align:left">H acc</th>
                    <th style="text-align:left">LogP</th>
                    <th style="text-align:left">Smiles</th>
                    <th style="text-align:left">DOI</th>
                </tr>
            </thead>
            <tbody>
                {% for p in affinity_data %}
                <tr>
                    <td><input class="alt" type="checkbox"></td>
                    <td><a class="struct" rel="http://www.ebi.ac.uk/chembl/api/data/image/{{p.ligand__ids__index}}" href="/ligand/{{p.ligand__id}}/info" target="_blank">{{p.ligand__ids__index}}</a></td>
                    <td><a href="/ligand/{{p.ligand__id}}/info" target="_blank">{{p.ligand__id}}</a></td>
                    <td>{{p.purchasability}}</td>
                    <td>{{p.reference_ligand}}</td>

                    <td>{{p.affinity}}</td>
                    <td>{{p.count_affinity_test}}</td>

                    <td>{{p.protein__species__common_name}}</td>
                    <td align="right">{{p.p_activity_value|floatformat:1}}</td>
                    <td align="center">{% if p.source == 'ChEMBL' %} p{{p.value_type}} {% else %} {{p.value_type}} {% endif %}</td>
                    <td>{{p.standard_relation}}</td>
                    <td>{{p.p_activity_value|floatformat}}</td>
                    <td>{% if p.assay_type == 'B' %} Binding {% elif p.assay_type == 'F' %} Functional {% elif p.assay_type == 'U' %} Unclassified {% elif p.assay_type == 'A' %} ADMET {% endif %}</td>
                    <td class="AssayCell"> <div style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; max-width: 350px;white-space: nowrap;">{{p.assay_description}}<span class="AssayDetail">{{p.assay_description}}</span> </div></td>
                    <td>{{p.source}}</td>
                    <td>{{p.ligand__mw|floatformat:0}}</td>
                    <td>{{p.ligand__rotatable_bonds}}</td>
                    <td>{{p.ligand__hdon}}</td>
                    <td>{{p.ligand__hacc}}</td>
                    <td>{{p.ligand__logp|floatformat:1}}</td>
                    <td class="dt-left">{{p.ligand__smiles}}</td>
                    <td><a href="{{p.link}}" target="_blank">{{p.publication__web_link__index}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
 {% else %}
   <br />
   <h3>Ligand min, max & mean activities (1 row/ligand)</h3>

   <ul class="nav nav-tabs">
     <li class="nav-item">
       <a class="nav-link active" data-toggle="tab" href="#potency">Potency</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#affinity">Affinity</a>
     </li>
   </ul>
   <div class="tab-content">
     <div class="tab-pane container active" id="potency">
       <br />
       <br />
       <div class="btn-group">
           <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="margin-top:10px;margin-top:3px">
               <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
           </button>
           <ul class="dropdown-menu">
               <li>
                   <a id="csv_btn_potency" href="javascript:void(0)">CSV</a>
               </li>
               <li>
                   <a id="smi_btn_potency" href="javascript:void(0)">SMILES</a>
               </li>
           </ul>
       </div>
       <div class="btn-group">
           <a id="purchasability-btn" class="btn btn-primary" href="javascript:void(0)" style="margin-top:10px;margin-top:3px">Get vendors</a>
       </div>
       <div class="btn-group">
         <button id="reset_hidden_potency" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px">Reset columns</button>
       </div>
       <div class="btn-group">
         <button id="selectall_potency" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px">Select full table</button>
       </div>
       <br />
       <br />
       <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;" class="scroll-container double_scroll">
           <table style="width:100%" class="display" id="proteins_potency">
               <thead id="headers_potency">
           			<tr class="header-spans">
           				<th style="text-align:left" colspan="5">Ligands
                     <button type="button" class="close hide_columns" columns="1,2,3,4"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </th>
           				<th style="border-left: 1px solid black; text-align:left" colspan="3">Receptor
                     <button type="button" class="close hide_columns" columns="5,6,7"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </th>
                   <th style="border-left: 1px solid black; text-align:left" colspan="8">Assay information
                     <button type="button" class="close hide_columns" columns="8,9,10,11,12,13,14,15"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </th>
                   <th style="border-left: 1px solid black; text-align:left" colspan="6">Chemical information
                     <button type="button" class="close hide_columns" columns="16,17,18,19,20,21"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </th>
           			</tr>
           			<tr class="table-filter-dropdown">
                   <th><input class="select-page" type="checkbox">Sel. page</th>
                   <th style="text-align:left">Common<br />name</th>
                   <th style="text-align:left">GPCRdb ID</th>
                   <th style="text-align:left">Type</th>
                   <th style="text-align:left">Reference<br \>ligand</th>

                   <th style="border-left: 1px solid black; text-align:left">Fold selectivity<br \>(Potency)</th>
                   <th style="text-align:left"># tested GPCRs<br \>(Potency)</th>

                   <th style="text-align:left">Species</th>
                   <th style="border-left: 1px solid black; text-align:left">#Vendors</th>
                   <th style="text-align:left">Assay Type</th>
                   <th style="text-align:left">No. records</th>
                   <th style="text-align:left">Min.</th>
                   <th style="text-align:left">Average</th>
                   <th style="text-align:left">Max.</th>
                   <th style="text-align:left">Value</th>
                   <th style="text-align:left">Source</th>
                   <th style="border-left: 1px solid black; text-align:left">Mol<br />weight</th>
                   <th style="text-align:left">Rot<br />Bonds</th>
                   <th style="text-align:left">H don</th>
                   <th style="text-align:left">H acc</th>
                   <th style="text-align:left">LogP</th>
                   <th style="text-align:left">Smiles</th>
           			</tr>
           		</thead>
               <tbody>
                   {% for record in potency_data %}
                   <tr>
                       <td><input class="alt" type="checkbox"></td>
                       <td><a class="struct" rel="{{record.picture}}" href="/ligand/{{record.lig_id}}/info" target="_blank">{{record.ligand_name|safe}}</a></td>
                       <td><a href="/ligand/{{record.lig_id}}/info" target="_blank">{{record.lig_id}}</a></td>
                       <td>{{record.ligand_type}}</td>
                       <td>{{record.reference}}</td>

                       <td>{{record.potency}}</td>
                       <td>{{record.potency_tested}}</td>

                       <td>{{record.species}}</td>
                       <td>{{record.purchasability}}</td>
                       <td>{{record.assay_type}}</td>
                       <td>{{record.record_count}}</td>
                       <td>{{record.low_value|floatformat:1}}</td>
                       <td>{{record.average_value|floatformat:1}}</td>
                       <td>{{record.high_value|floatformat:1}}</td>
                       <td>{{record.value_type}}</td>
                       <td>{{record.source}}</td>
                       <td>{{record.mw|floatformat:0}}</td>
                       <td>{{record.rotatable_bonds}}</td>
                       <td>{{record.hdon}}</td>
                       <td>{{record.hacc}}</td>
                       <td>{{record.logp|floatformat:1}}</td>
                       <td class="dt-left">{{record.smiles}}</td>

                   </tr>
                   {% endfor %}
               </tbody>
           </table>
       </div>
    </div>
    <div class="tab-pane container" id="affinity">
      <br />
      <br />
      <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" style="margin-top:10px;margin-top:3px">
              <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a id="csv_btn_affinity" href="javascript:void(0)">CSV</a>
              </li>
              <li>
                  <a id="smi_btn_affinity" href="javascript:void(0)">SMILES</a>
              </li>
          </ul>
      </div>
      <div class="btn-group">
          <a id="purchasability-btn" class="btn btn-primary" href="javascript:void(0)" style="margin-top:10px;margin-top:3px">Get vendors</a>
      </div>
      <div class="btn-group">
        <button id="reset_hidden_affinity" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px">Reset columns</button>
      </div>
      <div class="btn-group">
        <button id="selectall_affinity" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px">Select full table</button>
      </div>
      <br />
      <br />
      <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;" class="scroll-container double_scroll">

        <table style="width:100%" class="display" id="proteins_affinity">
            <thead id="headers_affinity">
             <tr class="header-spans">
               <th style="text-align:left" colspan="5">Ligands
                  <button type="button" class="close hide_columns" columns="1,2,3,4"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </th>
               <th style="border-left: 1px solid black; text-align:left" colspan="3">Receptor
                  <button type="button" class="close hide_columns" columns="5,6,7"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </th>
                <th style="border-left: 1px solid black; text-align:left" colspan="8">Assay information
                  <button type="button" class="close hide_columns" columns="8,9,10,11,12,13,14,15"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </th>
                <th style="border-left: 1px solid black; text-align:left" colspan="6">Chemical information
                  <button type="button" class="close hide_columns" columns="16,17,18,19,20,21"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </th>
             </tr>
             <tr class="table-filter-dropdown">
                <th><input class="select-page" type="checkbox">Sel. page</th>
                <th style="text-align:left">Common<br />name</th>
                <th style="text-align:left">GPCRdb ID</th>
                <th style="text-align:left">Type</th>
                <th style="text-align:left">Reference<br \>ligand</th>

                <th style="border-left: 1px solid black; text-align:left">Fold selectivity<br \>(Affinity)</th>
                <th style="text-align:left"># tested GPCRs<br \>(Affinity)</th>

                <th style="text-align:left">Species</th>
                <th style="border-left: 1px solid black; text-align:left">#Vendors</th>
                <th style="text-align:left">Assay Type</th>
                <th style="text-align:left">No. records</th>
                <th style="text-align:left">Min.</th>
                <th style="text-align:left">Average</th>
                <th style="text-align:left">Max.</th>
                <th style="text-align:left">Value</th>
                <th style="text-align:left">Source</th>
                <th style="border-left: 1px solid black; text-align:left">Mol<br />weight</th>
                <th style="text-align:left">Rot<br />Bonds</th>
                <th style="text-align:left">H don</th>
                <th style="text-align:left">H acc</th>
                <th style="text-align:left">LogP</th>
                <th style="text-align:left">Smiles</th>
             </tr>
           </thead>
            <tbody>
                {% for record in affinity_data %}
                <tr>
                    <td><input class="alt" type="checkbox"></td>
                    <td><a class="struct" rel="{{record.picture}}" href="/ligand/{{record.lig_id}}/info" target="_blank">{{record.ligand_name|safe}}</a></td>
                    <td><a href="/ligand/{{record.lig_id}}/info" target="_blank">{{record.lig_id}}</a></td>
                    <td>{{record.ligand_type}}</td>
                    <td>{{record.reference}}</td>

                    <td>{{record.affinity}}</td>
                    <td>{{record.affinity_tested}}</td>

                    <td>{{record.species}}</td>
                    <td>{{record.purchasability}}</td>
                    <td>{{record.assay_type}}</td>
                    <td>{{record.record_count}}</td>
                    <td>{{record.low_value|floatformat:1}}</td>
                    <td>{{record.average_value|floatformat:1}}</td>
                    <td>{{record.high_value|floatformat:1}}</td>
                    <td>{{record.value_type}}</td>
                    <td>{{record.source}}</td>
                    <td>{{record.mw|floatformat:0}}</td>
                    <td>{{record.rotatable_bonds}}</td>
                    <td>{{record.hdon}}</td>
                    <td>{{record.hacc}}</td>
                    <td>{{record.logp|floatformat:1}}</td>
                    <td class="dt-left">{{record.smiles}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

      </div>
    </div>
  </div>
 {% endif %}
{% endblock %}
