{% load static %}

<!-- ARRESTINS -->
<li class="dropdown arrestin {% if current_site == 'arrestin' %}highlight_menu{% endif %}" id="arrestindb_menu">
    <a href="{{ hosts.arrestin }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        ArrestinDb<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a role="button" id='cite_arrestindb'>Citing ArrestinDb</a></li>
        <li class="divider"></li>
        <li><a href="{{ hosts.arrestin }}/signprot/arrestin">Arrestin page</a></li>

        <!-- ARRESTIN COUPLING -->
        <li class="divider"></li>
        <li class="nav-header disabled text-left"><a>COUPLINGS</a></li>
        <li><a href="{{ hosts.arrestin }}/signprot/arrestincouplings">Couplings</a></li>
        <li><a href="{{ hosts.arrestin }}/signprot/phosphorylation_sites">Phosphorylation sites</a></li>

        <!-- ARRESTIN COUPLING -->
        <li class="divider"></li>
        <li class="nav-header disabled text-left"><a>COUPLING ANALYSIS</a></li>
        <li><a href="{{ hosts.arrestin }}/signprot/couplings_tree">Coupling selectivity (tree)</a></li>
        <li><a href="{{ hosts.arrestin }}/signprot/couplings_venn">Coupling selectivity (Venn)</a></li>


        <!-- SEQUENCES -->
        <li class="divider"></li>
        <li class="nav-header disabled text-left"><a>SEQUENCES</a></li>
        <li><a href="{{ hosts.arrestin }}/alignment/arrestinselection">Sequence alignments</a></li>
        <li><a href="{{ hosts.arrestin }}/residue/residuetable_arrestin">Generic residue number tables</a></li> <!-- TO CHANGE URL -->


        <!-- STRUCTURES -->
        <li class="divider"></li>
        <li class="nav-header disabled text-left"><a>STRUCTURES</a></li>
        <li><a href="{{ hosts.arrestin }}/structure/structure_coverage">Structure coverage</a></li>
        <li><a href="{{ hosts.arrestin }}/structure/structure_browser">Structures</a></li>
        <li><a href="{{ hosts.arrestin }}/structure/structure_models">Structure models</a></li>

        <!-- STRUCTURE COMPARISON -->
        <li class="divider"></li>
        <li class="nav-header disabled text-left"><a>STRUCTURE ANALYSIS</a></li>
        <li><a href="{{ hosts.arrestin }}/signprot/arr_matrix">Interface interactions & profiling</a></li>
        <!-- <li><a href="{{ hosts.arrestin }}/structure/superposition_workflow_arrestin_index/true">Structure superposition</a></li> -->

        <!-- DETERMINANTS & MUTATIONS -->
        <li class="divider"></li>
        <li class="nav-header disabled text-left"><a>DETERMINANTS & MUTATIONS</a></li>
        <li><a href="https://files.gpcrdb.org/GPCR-Arrestin_Mutations.xlsx">Interface mutations</a></li>
    </ul>
</li>
