{% load static %}

<!-- G PROTEINS -->
<li class="dropdown gprotein {% if current_site == 'gprotein' %}highlight_menu{% endif %}" id="gproteindb_menu">
    <a href="{{ hosts.gprotein }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        GproteinDb<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/cite_gproteindb">Citing GproteinDb</a></li>
        <li class="divider"></li>
        <li><a href="{{ hosts.gprotein }}/signprot/gprotein">G protein page</a></li>

        <!-- GPCR-G PROTEIN COUPLING -->
        <li class="divider"></li>
        <li class="nav-header disabled text-left"><a>COUPLINGS</a></li>
        <li><a href="{{ hosts.gprotein }}/signprot/couplings">Couplings</a></li>
        <li><a href="{{ hosts.gprotein }}/signprot/coupling_datasets">Datasets</a></li>
        <li><a href="{{ hosts.gprotein }}/signprot/coupling_biosensors">Biosensors</a></li>

        <!-- COUPLING ANALYSIS -->
        <li class="divider"></li>
        <li class="nav-header disabled text-left"><a>COUPLING ANALYSIS</a></li>
        <li><a href="{{ hosts.gprotein }}/signprot/statistics_tree">Coupling selectivity (tree)</a></li>
        <li><a href="{{ hosts.gprotein }}/signprot/statistics_venn">Coupling selectivity (Venn)</a></li>

        <!-- SEQUENCES -->
        <li class="divider"></li>
        <li class="nav-header disabled text-left"><a>SEQUENCES</a></li>
        <li><a href="{{ hosts.gprotein }}/alignment/gproteinselection">Sequence alignments</a></li>
        <li><a href="{{ hosts.gprotein }}/residue/residuetable_gprot">Generic residue number tables</a></li> <!-- TO CHANGE URL -->

        <!-- STRUCTURES -->
        <li class="divider"></li>
        <li class="nav-header disabled text-left"><a>STRUCTURES</a></li>
        <li><a href="{{ hosts.gprotein }}/structure/gprot_statistics">Structure coverage</a></li>
        <li><a href="{{ hosts.gprotein }}/structure/g_protein_structure_browser">Structures</a></li>
        <li><a href="{{ hosts.gprotein }}/structure/complex_models">Structure models</a></li>

        <!-- STRUCTURE COMPARISON -->
        <li class="divider"></li>
        <li class="nav-header disabled text-left"><a>STRUCTURE ANALYSIS</a></li>
        <li><a href="{{ hosts.gprotein }}/signprot/matrix">Interface interactions & profiling</a></li>
        <li><a href="{{ hosts.gprotein }}/structure/superposition_workflow_gprot_index/true">Structure superposition</a></li>


        <!-- DETERMINANTS & MUTATIONS -->
        <li class="divider"></li>
        <li class="nav-header disabled text-left"><a>DETERMINANTS & MUTATIONS</a></li>
        <li><a href="{{ hosts.gprotein }}/mutations/gprot_coupling">Coupling determinant mutation design</a></li>
        <li><a href="https://files.gpcrdb.org/GPCR-Gprotein_Mutations.xlsx">Interface mutations & chimeras</a></li>
    </ul>
</li>
