{% extends "home/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}

    <!-- Carousel -->
    <div class="row">

        <div class='col-md-12'>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="30000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for carousel slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{% static 'home/carousel/arrest_seqalign.png' %}">
                        <div class="carousel-caption">
                            <h3>Sequence alignments</h3>
                            <p>Alignments with generic residue numbers and residue plots.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{% static 'home/carousel/arrest_couplings.png' %}">
                        <div class="carousel-caption">
                            <h3>Arrestin couplings</h3>
                            <p>Unified coupling atlas and Arrestin selectivity profiles.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{% static 'home/carousel/arrest_structures.png' %}">
                        <div class="carousel-caption">
                            <h3>Structures</h3>
                            <p>Arrestin structure statistics and browser with unique annotation.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{% static 'home/carousel/arrest_interface.png' %}">
                        <div class="carousel-caption">
                            <h3>Arrestin structure interface</h3>
                            <p>Structure based coupling interface interactions.</p>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">&nbsp;
        </div>
    </div>

    <!-- NEW STUFF -->

    <div class="row">

        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="col-md-4">
                      <br />
                        <p style='text-align:center'>
                        <img style="height:90%; width:100px;" src="{% static 'home/logo/arrestin/main.png' %}">
                        </p>
                        <p style='text-align:center; font-size: 20px; margin-top:0px;'>
                        ArrestinDb
                        </p>
                    </div>
                    <!-- <div class="col-md-1">
                    </div> -->
                    <div class="col-md-4" id='center_menu'>
                        <p style='text-align:justify'>
                            ArrestinDb (Arrestin database) offers:<br/>
                            <ul>
                              <li>Reference data (see Data box)</li>
                              <li>Analysis tools (browse menu)</li>
                              <li>Visualization (e.g., <a href='https://gpcrdb.org/protein/' target='_blank'>snakeplots</a>)</li>
                              <li>Data deposition (for arrestin couplings and interface mutations)</li>
                        </p>

                    </div>

                    <div class="col-md-4">
                        <p style="text-align:justify;">
                          <br />
                          Arrestins can 'arrest' signaling by blocking GPCR-mediated G protein coupling and inducing receptor internalization.
                          They are also scaffold proteins rectruiting and assembling other signaling proteins and can be involved in biased
                          signaling<sup><a href='https://en.wikipedia.org/wiki/Arrestin' target='_blank'>1</a></sup>
                        </p>
                    </div>
                </div>
            </div>
                <!-- Stats -->
                <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="panel-body" id='releases'>
                          <h3>Data</h3>
                          <ul class="stats_list">
                              {% for stat in release_statistics %}
                                  <li>
                                      {{ stat.value| safe }} {{ stat.statistics_type | safe }}
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                    </div>
                </div>

                <!-- Release Notes -->
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h3>Welcome</h3>
                            A new database has been born. ArrestinDb is dedicated to arrestin proteins,
                            which like G proteins, are major GPCR transducers but also have their own highly active research
                            community. The publication is planned for end of 2023 or early 2024.
                            Meanwhile, try it out and let us know what you think.
                        </div>
                    </div>
                </div>

              <!-- commented stuff for POST preprint -->
          <!-- <div class="col-md-4">
                  <div class="panel panel-primary">
                      <div class="panel-body">
                          <h3><a href="/structure/statistics">Data</a></h3>
                          <ul class="stats_list">
                              {% for stat in release_statistics %}
                                  <li>
                                      {{ stat.value| safe }} {{ stat.statistics_type | safe }}
                                  </li>
                              {% endfor %}
                          </ul>
                          {% if users %}
                              {{ users|safe }}
                          {% endif %}
                      </div>
                  </div>
              </div> -->

              <!-- Release Notes -->
        <!-- <div class="col-md-4">
                  <div class="panel panel-primary">
                      <div class="panel-body">
                          <h3>Latest <a href="/pages/releasenotes">release</a></h3>
                          <strong>{{ release_notes.date }}</strong>
                          {{ release_notes.html|safe }}
                          <br />
                          <strong><a href="/pages/releasenotes">All releases</a></strong>
                      </div>
                  </div>

                  <div class="panel panel-primary">
                      <div class="panel-body">
                          <h3><a href="https://files.gpcrdb.org/video/GPCRdb-David_Gloriam.mp4">Videos</a></h3>
                      </div>
                  </div>

              </div> -->

              <!-- Publications -->
        <!-- <div class="col-md-4">
                  <div class="panel panel-primary">
                      <div class="panel-body" style='max-height: 530px; overflow-y: scroll;'>
                          <h3>Publications</h3>
                          <p>
                          The arrestin database, ArrestinDb<br />
                          Jimmy Caroli, Gáspár Pándy-Szekeres, Alexander S. Hauser, György M. Keserű, Albert J. Kooistra and David E. Gloriam<br />
                          <a href='#' target='_blank'><i>Manuscript</i>, 2022</a>
                          </p>
                      </div>
                  </div>
              </div> -->
      </div>
        <div class="col-md-3">

            <div class="panel panel-primary">
                <div class="panel-body">
                    <h3>Related resources</h3>
                    <a href='https://gpcrdb.org/' target='_blank'>GPCRdb</a>, <a href='https://gproteindb.org/' target='_blank'>GproteinDb</a>,
                    <a href='https://arrestindb.org/' target='_blank'>ArrestinDb</a> and <a href='https://biasedsignalingatlas.org/' target='_blank'>Biased Signaling Atlas</a>
                    cover related aspects of signal transduction while serving dedicated research communities and use cases.
                    {% if users %}
                        {{ users|safe }}
                    {% endif %}
                </div>
            </div>

        </div>



    </div>

    {#        <!-- Highlighted news -->#}
    {#        <div class="row">#}
    {#            <div class="col-md-12">#}
    {#                <div class="panel panel-primary">#}
    {#                    <div class="panel-body">#}
    {#                        <div class='col-md-10'>#}
    {#                            <h4>GPCR-G protein selectivity</h4>#}
    {#                            The selective coupling of G-protein-coupled receptors (GPCRs) to specific G proteins is critical to trigger the appropriate physiological response. However, the determinants of selective binding have remained elusive. Here we reveal the existence of a selectivity barcode (that is, patterns of amino acids) on each of the 16 human G proteins that is recognized by distinct regions on the approximately 800 human receptors. Although universally conserved positions in the barcode allow the receptors to bind and activate G proteins in a similar manner, different receptors ...<a href="/news">Read more</a><br>#}
    {#                            Nature: <a href="http://dx.doi.org/10.1038/nature22070">10.1038/nature22070</a><br>#}
    {#                            <a href="http://healthsciences.ku.dk/news/2017/05/researchers-show-how-cell-receptors-regulate-specific-physiological-effects/">Press release</a>#}
    {#                        </div>#}
    {#                        <div class='col-md-2 text-left'>#}
    {#                            <img src="{% static 'home/images/news/naturecover.png' %}" style="height:170px;width:170px;">#}
    {#                            <p class="text-muted small">Photo: MRC Laboratory of Molecular Biology in Cambridge</p>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}


        <!-- <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/X8j_xpryZ4U?start=778&end=3732;" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div> -->

        <!-- Twitter feed -->
        <!-- <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h3>
                        <a class="twitter-timeline" data-height="400" data-theme="light" href="https://twitter.com/gpcrdb"></a>
                    </h3>
                   <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div> -->

        {#<!-- News -->#}
        {#        <div class="col-md-3">#}
        {#            <div class="panel panel-primary">#}
        {#                <div class="panel-body">#}
        {#                    <h3>Latest <a href="/news">news</a></h3>#}
        {#                    <ul>#}
        {#                        {% for item in news %}#}
        {#                        <li><small>{{ item.html|safe }}</small></li>#}
        {#                        {% endfor %}#}
        {#                    </ul>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div> #}

    <!-- Gloriam Group and Collabs -->
    {#    <div class="row">#}
    {#        <div class="col-md-12">#}
    {#            <div class="panel panel-primary">#}
    {#                <div class="panel-body">#}
    {#                    <p class="text-center"> The GPCRdb is developed by the Gloriam <a href="http://gloriamgroup.org" target="_blank">group</a>.#}
    {#                        It integrates data from the large GPCR community and maintains an active collaboration with the#}
    {#                        Guide To Pharmacology (IUPHAR), <a href="http://gpcrmd.org/">GPCRmd</a> and the European Research Network on Signal#}
    {#                        Transduction <a href="https://ernest-gpcr.eu" target="_blank">(ERNEST)</a>.#}
    {#                        If you use the GPCRdb, please remember to <a onclick="citation_tool(window.location.href);" href="#">cite us</a>.#}
    {#                    </p>#}
    {#                    #}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}

{% block addon_js %}
<script>
    $(".release-notes").find("li").addClass("hidden");
    $(".arrestindb").removeClass("hidden");
    $(".all").removeClass("hidden")
</script>
{% endblock %}