{% extends "home/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<style>
  #center_menu ul {
      padding: 0;
      margin: 15px;
  }

  #center_menu li {
     margin: 0;
     padding: 0px;
  }
  #releases ul {
      padding: 0;
      margin: 15px;
  }

  #releases li {
     margin: 0;
     padding: 0px;
  }
</style>

    <!-- Overview modal -->
    <div id="overview-modal" class="modal" style="text-align:center;">
        <div class="modal-content" style='height: 90%; width: 60%; vertical-align:middle;'>
            <img id="overview-modal-image" src="{% static 'home/images/GproteinDb_overview.png' %}" style='height: 90%;'>
            <button id="close-overview-modal"  style="position:absolute;" aria-hidden="false" aria-label="Close" class="close" data-dismiss="overview-modal">&times;</button>
            <p style="padding-top:3%;">Adapted from Pándy-Szekeres et al., <i>Nucl Acids Res</i>, 2024 (manuscript)</p>
        </div>
    </div>

    <!-- Carousel -->
    <div class="row">

        <div class='col-md-12'>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="30000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for carousel slides -->
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img src="{% static 'home/carousel/gprot_models.png' %}">
                        <div class="carousel-caption">
                            <h3>Structure models</a></h3>
                            <p>New GPCR-G protein structure models with AlphaFold2-Multimer.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{% static 'home/carousel/gprot_seqalign.png' %}">
                        <div class="carousel-caption">
                            <h3>Sequence alignments</h3>
                            <p>Alignments with generic residue numbers and residue plots.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{% static 'home/carousel/gprot_couplings.png' %}">
                        <div class="carousel-caption">
                            <h3>G protein couplings</h3>
                            <p>Unified coupling atlas and G protein selectivity profiles.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{% static 'home/carousel/gprot_structures.png' %}">
                        <div class="carousel-caption">
                            <h3>Structures</h3>
                            <p>G protein structure statistics and browser with unique annotation.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{% static 'home/carousel/gprot_interface.png' %}">
                        <div class="carousel-caption">
                            <h3>G protein structure interface</h3>
                            <p>Structure based coupling interface interactions.</p>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">&nbsp;
        </div>
    </div>


    <div class="row">

        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-body" id="center_menu">
                    <div class="col-md-4">
                      <br />
                        <p style='text-align:center'>
                        <img style="height:90%; width:100px;" src="{% static 'home/logo/gprotein/main.png' %}">
                        </p>
                        <p style='text-align:center; font-size: 20px; margin-top:0px;'>
                        GproteinDb
                        </p>
                    </div>
                    <!-- <div class="col-md-1">
                    </div> -->
                    <div class="col-md-4">
                        <p style='text-align:justify'>
                            GproteinDb (G protein database) offers:<br/>
                            <ul>
                              <li>Reference data (see Data box)</li>
                              <li>Analysis tools (browse menu)</li>
                              <li>Visualization (e.g., <a href='https://gpcrdb.org/protein/' target='_blank'>snakeplots</a>)</li>
                              <li>Experiment design (<a href='https://gproteindb.org/mutations/gprot_coupling' target='_blank'>Coupling determinant mutations</a>)</li> <!-- need to add popup image onclick -->
                              <li>Data deposition (for G protein couplings and interface mutations)</li>
                            <!-- GPCRdb contains reference data, interactive
                            visualisation and experiment design tools for G protein-coupled receptors (GPCRs). GPCRdb
                            curates sequence alignments, structures and receptor mutations from literature. Interactive
                            diagrams visualise receptor residues (e.g. snakeplot and helix box plot) and relationships
                            (e.g phylogenetic trees). See the GPCRdb graphical <a href="/static/home/poster/overview.pdf">overview</a>,
                            <a href="https://files.gpcrdb.org/video/GPCRdb-David_Gloriam.mp4">video</a>,
                            <a onclick="citation_tool(window.location.href);" href="#">articles</a> or
                            <a href="https://docs.gpcrdb.org/">documentation</a>. -->
                        </p>

                    </div>

                    <div class="col-md-4">
                        <p style="text-align:justify;">
                        <br />
                        G proteins are the main mediators of GPCR signaling<sup><a href='https://en.wikipedia.org/wiki/Heterotrimeric_G_protein' target='_blank'>1</a></sup>.
                        Their activation is followed by recruitment of arrestins that arrest (stop) signaling or scaffold additional signaling proteins.
                        There are 16 human G protein subtypes from 4 families that can be involved in biased signaling.
                        </p>
                    </div>
                </div>
            </div>
                <!-- Stats -->
                <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="panel-body">
                          <h3>Data</h3>
                          <ul class="stats_list">
                              {% for stat in release_statistics %}
                                  <li>
                                      {{ stat.value| safe }} {{ stat.statistics_type | safe }}
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                    </div>
                </div>

                <!-- Overview -->
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h3>Overview</h3>
                            <br />
                            <img role="button" id="overview-image" src="{% static 'home/images/GproteinDb_overview.png' %}" style='height: 100%; width: 100%; object-fit: contain'>
                        </div>
                    </div>
                </div>

                <!-- Release Notes -->
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-body" id="releases">
                            <h3>Latest <a href="/pages/releasenotes">release</a></h3>
                            <strong>{{ release_notes.date }}</strong>
                            {{ release_notes.html|safe }}
                            <br />
                            <strong><a href="/pages/releasenotes">All releases</a></strong>
                        </div>
                    </div>
                </div>
        </div>

        <div class="col-md-3">

            <div class="panel panel-primary">
                <div class="panel-body">
                    <h3>Related resources</h3>
                    <a href='https://gpcrdb.org/' target='_blank'>GPCRdb</a>, <a href='https://gproteindb.org/' target='_blank'>GproteinDb</a>,
                    <a href='https://arrestindb.org/' target='_blank'>ArrestinDb</a> and <a href='https://biasedsignalingatlas.org/' target='_blank'>Biased Signaling Atlas</a>
                    cover related aspects of signal transduction while serving dedicated research communities and use cases.
                    {% if users %}
                        {{ users|safe }}
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-body" style='max-height: 530px; overflow-y: scroll;'>
                    <h3>Publications</h3>
                    <p>GproteinDb in 2024: New G protein-GPCR couplings, AlphaFold2-Multimer models and interface interactions.<br />
                    Pándy-Szekeres G, Taracena Herrera LP, Caroli J, Kermani AA, Kulkarni Y, Keserű GM, Gloriam DE
                    <i>manuscript</i>, 2023<br /></p>
                    <p><a href='https://doi.org/10.1093/NAR/GKAB852' target='_blank'>The G protein database, GproteinDb.</a><br />
                    Pándy-Szekeres G, Esguerra M, Hauser AS, Caroli J, Munk C, Pilger S, Keserű GM, Kooistra AJ, Gloriam DE<br />
                    <i>Nucleic acids research</i>, 2022<br /></p>
                </div>
            </div>

            <!-- Youtube link -->
            <div class="panel panel-primary">
                <div class="panel-body">
                    <a href="https://www.youtube.com/watch?v=X8j_xpryZ4U&start=778&end=3732;" target="_blank"><img style="width: 100%;" src="{% static '/home/images/gprot_resource.png' %}". ></img></a>
                </div>
            </div>

        </div>



    </div>


    <!-- GPCRdb intro -->

    </div>

    {#        <!-- Highlighted news -->#}
    {#        <div class="row">#}
    {#            <div class="col-md-12">#}
    {#                <div class="panel panel-primary">#}
    {#                    <div class="panel-body">#}
    {#                        <div class='col-md-10'>#}
    {#                            <h4>GPCR-G protein selectivity</h4>#}
    {#                            The selective coupling of G-protein-coupled receptors (GPCRs) to specific G proteins is critical to trigger the appropriate physiological response. However, the determinants of selective binding have remained elusive. Here we reveal the existence of a selectivity barcode (that is, patterns of amino acids) on each of the 16 human G proteins that is recognized by distinct regions on the approximately 800 human receptors. Although universally conserved positions in the barcode allow the receptors to bind and activate G proteins in a similar manner, different receptors ...<a href="/news">Read more</a><br>#}
    {#                            Nature: <a href="http://dx.doi.org/10.1038/nature22070">10.1038/nature22070</a><br>#}
    {#                            <a href="http://healthsciences.ku.dk/news/2017/05/researchers-show-how-cell-receptors-regulate-specific-physiological-effects/">Press release</a>#}
    {#                        </div>#}
    {#                        <div class='col-md-2 text-left'>#}
    {#                            <img src="{% static 'home/images/news/naturecover.png' %}" style="height:170px;width:170px;">#}
    {#                            <p class="text-muted small">Photo: MRC Laboratory of Molecular Biology in Cambridge</p>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}

    <!-- Twitter, release notes, database stats.  -->

        <!-- Twitter feed -->
        <!-- <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h3>
                        <a class="twitter-timeline" data-height="400" data-theme="light" href="https://twitter.com/gpcrdb"></a>
                    </h3>
                   <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div> -->

        {#<!-- News -->#}
        {#        <div class="col-md-3">#}
        {#            <div class="panel panel-primary">#}
        {#                <div class="panel-body">#}
        {#                    <h3>Latest <a href="/news">news</a></h3>#}
        {#                    <ul>#}
        {#                        {% for item in news %}#}
        {#                        <li><small>{{ item.html|safe }}</small></li>#}
        {#                        {% endfor %}#}
        {#                    </ul>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div> #}


    <!-- Gloriam Group and Collabs -->
    {#    <div class="row">#}
    {#        <div class="col-md-12">#}
    {#            <div class="panel panel-primary">#}
    {#                <div class="panel-body">#}
    {#                    <p class="text-center"> The GPCRdb is developed by the Gloriam <a href="http://gloriamgroup.org" target="_blank">group</a>.#}
    {#                        It integrates data from the large GPCR community and maintains an active collaboration with the#}
    {#                        Guide To Pharmacology (IUPHAR), <a href="http://gpcrmd.org/">GPCRmd</a> and the European Research Network on Signal#}
    {#                        Transduction <a href="https://ernest-gpcr.eu" target="_blank">(ERNEST)</a>.#}
    {#                        If you use the GPCRdb, please remember to <a onclick="citation_tool(window.location.href);" href="#">cite us</a>.#}
    {#                    </p>#}
    {#                    #}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}

{% block addon_js %}
<script>
    $(".release-notes").find("li").addClass("hidden");
    $(".gproteindb").removeClass("hidden");
    $(".all").removeClass("hidden")

    $("#overview-image").click(function() {
        // $("#overview-modal-image").attr("src", $("#overview-image").attr("src"));
        $("#overview-modal").css("display","block");
    })
    var modal = document.getElementById("overview-modal");
    var span = document.getElementById("close-overview-modal");
    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}
