{% load static %}

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" alt="{{ site_title }}"><img src="{% static logo_path %}" class="main-logo"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
      {% include menu_template %}
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="input-group">
            <!-- <input class="form-control" name="srch-term" id="srch-term"> -->
            <input type="text" id="nav-selection-autocomplete" class="optional form-control ui-autocomplete-input" size="15" autocomplete="on" placeholder="Jump to receptor">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    </div><!--/.nav-collapse -->
  </div>
</nav>