        <li>
            <a href="/"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                GPCRdb<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="nav-header disabled"><a>INFORMATION</a></li>
                <li><a href="#">GPCRDB Poster</a></li>
                <li><a href="#">Documentation</a></li>
                <li class="nav-header disabled"><a>UPDATES</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Meetings</a></li>
                <li><a href="#">Update history</a></li>
                <li class="nav-header disabled"><a>ABOUT GPCRDB</a></li>
                <li><a href="#">Committees</a></li>
                <li><a href="#">Contributors</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Citing GPCRDB</a></li>
            </ul>
        </li>
        
        <li><a href="/protein">Receptors</a></li>
        
        <li>
            <a href="/"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Sequences<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="nav-header disabled"><a>DATA</a></li>
                <li><a href="/alignment/targetselection">Structure-based alignments</a></li>
                <li class="nav-header disabled"><a>TOOLS - SIMILARITY</a></li>
                <li><a href="/similaritysearch/referenceselection">Similarity search with a reference receptor</a></li>
                <li><a href="#">Similarity matrix</a></li>
                <li><a href="#">Phylogenetic trees</a></li>
                <li><a href="#">Sequence motif search</a></li>
            </ul>
        </li>
        
        <li>
            <a href="/"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Structures<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="nav-header disabled"><a>DATA</a></li>
                <li><a href="#">Crystal structure browser</a></li>
                <li class="nav-header disabled"><a>TOOLS - GENERIC</a></li>
                <li><a href="/structure_gpcr/generic_numbering_index">Assign generic residue numbers to a PDB file</a></li>
                <li><a href="/structure_gpcr/superposition_workflow_index">Superpose structures</a></li>
                <li class="nav-header disabled"><a>TOOLS - MODELING</a></li>
                <li><a href="#">Homology model template selection</a></li>
                <li><a href="#">Pharmacophore generation from crystal structures</a></li>
            </ul>
        </li>

        <li>
            <a href="/"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Mutations<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Mutation browser</a></li>
                <li><a href="#">Contribute to the GPCRDB collection of mutant data</a></li>
            </ul>
        </li>

        <li>
            <a href="/"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Residue numbers<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="nav-header disabled"><a>DATA</a></li>
                <li><a href="#">Generic residue number tables</a></li>
                <li class="nav-header disabled"><a>TOOLS</a></li>
                <li><a href="/structure_gpcr/generic_numbering_index">Assign generic residue numbers to a PDB file</a></li>
                <li><a href="#">GPCR specific PDF reader</a></li>
            </ul>
        </li>

        <li>
            <a href="/"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Links<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">GPCR specific PDF reader</a></li>
                <li><a href="#">External GPCR modeling servers</a></li>
            </ul>
        </li>