*.pyc
*.log
protwis/settings_local.py
env
/data
/Archive
empty_db.txt
*.sh
.DS_Store
.idea/
static/home/js/node_modules
static/home/js/package-lock.json
static/home/js/package.json
.vscode
tsconfig.json
tags
signprot/notebooks/*.json
