*.pyc
*.log
protwis/settings_local.py
env
/data
/.vs/protwis_github/v14/.suo
/.vs/config/applicationhost.config
/structure/templates/Dzienniki wydarzeń testowych - Intel(R) Dual Band Wireless-AC 7260.html
/2rh1.pdb
/4or2.pdb
/4z35.pdb
/protwis_github.pyproj
/protwis_github.sln
/test.xlsx
