body { padding-top: 70px; }

h1, h2, h3, h4 { margin-top: 0px; }

.carousel-caption { color: #000000; }

.main-logo { height:20px;width:20px; }

.dropdown-menu > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
}

.well { padding-bottom: 10px; }

.selection-box
{
    box-sizing: border-box;
}

.selection-heading
{
    height:40px;
}

.selection-heading-text
{
    font-size:18px;
    font-weight:bold;
    vertical-align:middle;
}

.selection-tree-box {
    width: 330px;
    height: 350px;
    overflow-x: scroll;
}

.target-selection
{
    padding: 0px 0px 0px 0px;
    font-size: 11px;
    white-space: nowrap;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .2em 0 .2em;
    line-height: 1.5;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track
{
    background: rgba(255,255,255,0);
}
::-webkit-scrollbar-thumb
{
    background: rgba(6,128,202,1); 
}