body { padding-top: 70px; }

.carousel-caption { color: #000000; }

.main-logo { height:20px;width:20px; }

.dropdown-menu > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
}