<!-- DEPRECATED CODE -->
﻿{% extends "home/base.html" %}
{% load static %}
<div id='all'>
{% block addon_js %}
    <script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
    <script src="{% static 'home/js/unitip.js' %}"></script>
    <script src="{% static 'home/js/raphael-min.js' %}"></script>
    <script src="{% static 'home/js/TreeColours.js' %}"></script>

    {% if branch == 1 %}
    <script src="{% static 'home/js/jsphylosvg2.js' %}"></script>
    {% else %}
    <script src="{% static 'home/js/jsphylosvg.js' %}"></script>
    {% endif %}
<div id='main'>
    {% include 'phylogenetic_trees/main.html' %}
</div>
{% endblock %}
{% block content %}
<div id="svgCanvas"> </div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <b> Image</b>
            <li><a href="javascript:saveSvgAsPng(document.getElementById('svgtree'), 'tree.png', {scale: 3});" >PNG</a></li>
            <li><a href="javascript:saveSvgAsJpg(document.getElementById('svgtree'), 'tree.jpg', {scale: 3});" >JPG</a></li>
            <li><a href="javascript:saveSvgAsTiff(document.getElementById('svgtree'), 'tree.tiff', {scale: 3});" >TIFF</a></li>
            <li><a id=tree_svg_link href-lang="image/svg+xml" href="" download="tree.svg">SVG</a></li>
            <b> Tree</b>
            <li><a href-lang="text" href="data:,{{ phylip }}" download="newick_file.nwk">Newick</a></li>
<!--             <li><a href="data:{{ outtree }}" download="newick_tree">Newick tree</a></li> -->

        </ul>
    </div>
    <div>
        {{ b|safe }}
        <br><button class="btn btn-primary style="width:120px;" onclick="resetColors()">Clear</button>
<!--         <button class="btn btn-primary style="width:250px;" onclick="toggleAll()">Toggle all {% if ttype == 1 %}bars {% else %}rings{% endif %}</button> -->
<!--         <button class="btn btn-primary style="width:250px;" onclick="toggleLegend()">Toggle legend</button> -->
        <div id="ring_buttons" style="display:none;">
        {% include 'phylogenetic_trees/ring_buttons.html' %}
        </div>
        {% if ttype == 0 %}
        <button class="btn btn-primary style="width:250px;" onclick="predefined_colours({{add.crystal.proteins}},'{{ add.crystal.colours.crystal_true }}')">Highlight crystallized receptors</button>
        {% endif %}


    </div>

{% include 'phylogenetic_trees/tree_options.html' %}
</div>

{% endblock %}
</div>
