{% extends "common/selection.html" %}
{% load static %}

{% block addon_js %}
    <script src="{% static 'home/js/selection.js' %}"></script>
{% endblock %}

{% block middle_column %}
    {% if tree_settings %}
        <!-- tree settings -->
        <div class="col-md-12 panel panel-primary">
            <div class="panel-body" id="tree-options">
                {% include 'common/tree_options.html' %}
            </div>
        </div>
    {% endif %}

    {% if blast_input %}
        <!-- BLAST input -->
        {% include 'blast/blast_search.html' %}
    {% endif %}
{% endblock %}
