{% extends "common/selection.html" %}
{% load static %}

{% block addon_js %}
    <script src="{% static 'home/js/selection.js' %}"></script>
{% endblock %}

{% block middle_column %}
            {% if segment_list %}
            <!-- segment list -->
            <div class="col-md-12 panel panel-primary">
                <div class="panel-body">
                    {% if position_type == 'site_residue' %}
                        {% include 'common/selection_segments_sitesearch.html' %}
                    {% elif position_type == 'gprotein' %}
                        {% include 'common/selection_segments_gproteins.html' %}
                    {% elif position_type == 'arrestin' %}
                        {% include 'common/selection_segments_arrestin.html' %}
                    {% else %}
                        {% include 'common/selection_segments.html' %}
                    {% endif %}
                </div>
            </div>
            {% endif %}

            {% if structure_upload %}
            <!-- structure upload -->
                {% include 'common/selection_pdb_upload.html' %}
            {% endif %}
{% endblock %}
