<h5>Residue positions</h5>
<p>Scheme: <select class="form-control" id="numberingschemeselect"
onchange="ExpandSegment('{{ segment_id }}', '{{ position_type }}', this.value)">
{% for rns in schemes %}
    <option {% if rns.slug == scheme.slug %} selected{% endif %} value="{{ rns.slug }}">
        {{ rns.name }}
    </option>
{% endfor %}
</select></p>
<div class="residue-grid{% if residue_grid_wide %} residue-grid-wide{% endif %}">
{% for gn in generic_numbers %}
    <a href="javascript:void(0)" onclick="ToggleResidueSelection(this, '{{ position_type }}')"
    class="btn btn-sm {{ ui_color_class }}"
    data-gn-id="{{ gn.id }}"
    data-default-gn-id="{{ gn.default_generic_number_id }}">
        {{ gn.label }}
    </a>
{% endfor %}
</div>
