{% for type, selected_items in selection.items %}
    {% if type == selection_type %}
    <p>
        <span class="selection-heading-text">Selected {{ selection_type }}</span>
        {% if selected_items|length > 0 %}
        <a onclick="ClearSelection('{{ selection_type }}')" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-remove"></span> Clear
        </a>
        {% endif %}
    </p>
        {% if selection_type == 'segments' %}
            <!-- Read from file -->
            <p>
                <a data-toggle="modal" data-target="#SiteFileSelector"
                   class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-plus"></span> Read site from file
                </a>
            </p>
            <div class="modal fade" id="SiteFileSelector" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            Select a file to upload.
                        </div>
                        <div class="modal-body">
                            <form id="xls-form" enctype="multipart/form-data" method="post" onsubmit="return ReadDefinitionFromFile(document.getElementById('xls-file').files[0], '/sitesearch/siteupload')" >
                                <input id="xls-file" type="file" /> {% csrf_token %}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                            <button onclick='$("#xls-form").submit()' type="button" class="btn btn-success" data-dismiss="modal">Save & close</button>
                        </div>
                    </div>
                </div>
            </div>


            {% if selection.site_residue_groups %}
            <!-- Add interaction button -->
            <p><a onclick="AddResidueGroup('{{ selection_type }}')"
                class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-plus"></span> Add interaction
            </a></p>
            {% endif %}

            {% for group in selection.site_residue_groups %}

                <!-- Interaction line -->
                <p class="target-selection">
                <a href="#" onclick="SelectResidueGroup('{{ selection_type }}', '{{ forloop.counter }}')">
                    {% if selection.active_site_residue_group == forloop.counter %}<b>&raquo; {% endif %}
                    Interaction {{ forloop.counter }}
                    {% if selection.active_site_residue_group == forloop.counter %}</b>{% endif %}
                </a>

                Min. match: <select class="form-control" id="sel-min-match-{{ forloop.counter }}"
                    onchange="SetGroupMinMatch('{{ selection_type }}', {{ forloop.counter }}, this.value)">
                    {% for i in group %}
                    <option {% if group.0 == forloop.counter %}selected {% endif %}value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                    {% endfor %}
                </select>

                <a onclick="RemoveResidueGroup('{{ selection_type }}', '{{ forloop.counter }}')"
                    class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <br />

                <!-- Feature selection line -->
                {% for selected_item in selected_items %}
                    {% if selected_item.properties.site_residue_group == forloop.parentloop.counter %}
                <div class="target-selection">
                        {{ selected_item.item.label|safe }}

                    <select class="form-control" id="sel-feature-{{ forloop.counter }}"
                        onchange="SelectResidueFeature('{{ selection_type }}', '{{ selected_item.type }}',
                        {{ selected_item.item.id }}, this.value)">
                        <option value='any'>Select feature..</option>
                        {% for slug, name in amino_acid_group_names_old.items %}
                        <option
                        {% if selected_item.properties.feature == slug %} selected {% endif %}value='{{ slug }}'>
                        {{ name }}</option>
                        {% endfor %}
                    </select>
                    <a
                    onclick="RemoveFromSelection('{{ selection_type }}', '{{ selected_item.type }}',
                    {{ selected_item.item.id }})" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    {% if selected_item.properties.amino_acids %}
                    ({{ selected_item.properties.amino_acids }})
                    {% endif %}
                </div>
                    {% endif %}
                {% endfor %}
                </p>

            {% empty %}
            None
            {% endfor %}
            <!-- Save site definition -->
            <p>
                <a href="/sitesearch/sitesave"
                    class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-plus"></span> Save site definition
                </a>
            </p>

        {% else %}
            {% for selected_item in selected_items %}
            <div class="target-selection">
                {{ selected_item.item.name|safe }}
                {% if selected_item.item.species.common_name %}
                    [{{ selected_item.item.species.common_name|safe }}]
                {% endif %}

                ({{ selected_item.type_title }})
                <a
                onclick="RemoveFromSelection('{{ selection_type }}', '{{ selected_item.type }}',
                {{ selected_item.item.id }})" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            {% empty %}
            None
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}
