{% if ppf %}
<div id="{{ ppf.id }}">
    {% for i in parent_tree_indent_level %}
            &nbsp;&nbsp
        {% endfor %}
    <a href="javascript:void(0)"
    onclick="ToggleFamilyTreeNode('{{ action }}', '{{ type_of_selection }}', '{{ ppf.id }}',
        {{ parent_tree_indent_level|length }})" class='btn btn-default btn-xs'>
        {% if action == 'expand' %}
            <span class="glyphicon glyphicon-folder-close"></span>
        {% elif action == 'collapse' %}
            <span class="glyphicon glyphicon-folder-open"></span>
        {% endif %}
    </a>
    {% if type_of_selection == 'browse' %}
    <a href="javascript:void(0)" onclick="AddToSelection('targets', 'family', '{{ ppf.id }}');
        toggleButtonClass('selection-button');
        setTimeout(function(){window.location = '/family/{{ ppf.slug }}';}, 200);" class="target-selection">
    {% elif type_of_selection == 'targets' %}
    <a href="javascript:void(0)" onclick="AddToSelection('{{ type_of_selection }}', 'family', '{{ ppf.id }}')"
        class="target-selection">
    {% endif %}
        {{ ppf.name|safe }}
    {% if type_of_selection == 'targets' or type_of_selection == 'browse' %}
    </a>
    {% endif %}
    <br />
</div>
{% endif %}

{% for pf in pfs %}
<div id="{{ pf.id }}">
    {% for i in tree_indent_level %}
        &nbsp;&nbsp
    {% endfor %}
    <a href="javascript:void(0)"
    onclick="ToggleFamilyTreeNode('expand', '{{ type_of_selection }}', '{{ pf.id }}', {{ tree_indent_level|length }})"
        class='btn btn-default btn-xs'>
        <span class="glyphicon glyphicon-folder-close"></span>
    </a>
    {% if type_of_selection == 'targets' %}
    <a href="javascript:void(0)" onclick="AddToSelection('{{ type_of_selection }}', 'family', '{{ pf.id }}')"
        class="target-selection">
    {% endif %}
    {% if type_of_selection == 'browse' %}
    <a href="javascript:void(0)" onclick="AddToSelection('targets', 'family', '{{ pf.id }}');
        toggleButtonClass('selection-button');
        setTimeout(function(){window.location = '/family/{{ pf.slug }}';}, 200);" class="target-selection">
    {% endif %}
        {{ pf.name|safe }}
    {% if type_of_selection == 'targets' or type_of_selection == 'browse' %}
    </a>
    {% endif %}
    <br />
</div>
{% endfor %}

{% for p in ps %}
    {% for i in tree_indent_level %}
        &nbsp;&nbsp
    {% endfor %}
    {% if p.source.name == 'SWISSPROT' %}
<span class="glyphicon glyphicon-star"></span>
    {% elif p.sequence_type.slug == 'mod' %}
<span class="glyphicon glyphicon-edit"></span>
    {% elif p.sequence_type.slug == 'consensus' %}
<span class="glyphicon glyphicon-compressed"></span>
    {% else %}
<span class="glyphicon glyphicon-star-empty"></span>
    {% endif %}
    {% if type_of_selection == 'browse' %}
<a href="javascript:void(0)" onclick="AddToSelection('targets', 'protein', '{{ p.id }}');
    toggleButtonClass('selection-button');
    setTimeout(function(){window.location = '/protein/{{ p.entry_name }}';}, 200);" class="target-selection">
    {% elif type_of_selection == 'ginterface' %}
<a href="javascript:void(0)" onclick="AddToSelection('targets', 'protein', '{{ p.id }}');
    toggleButtonClass('selection-button');
    setTimeout(function(){window.location = '/interaction/ginterface/{{ p.entry_name }}';}, 200);" class="target-selection">
    {% else %}
<a href="javascript:void(0)" class="target-selection" onclick="AddToSelection('{{ type_of_selection }}', 'protein',
    '{{ p.id }}');
    if (type_of_selection == 'reference' && redirect_on_select == 'True') {
        toggleButtonClass('selection-button');
        setTimeout(function(){window.location = redirect_url;}, 200);
    };">
    {% endif %}
    {{ p.name|safe }} [{{ p.species.common_name|safe }}]
</a><br />
<div id="{{ p.id }}"></div>
{% endfor %}