{% for type, selected_items in selection.items %}
    {% if type == selection_type %}
    <p>
        <span class="selection-heading-text">Selected {{ selection_type }}</span>
        {% if selected_items|length > 0 %}
        <a onclick="ClearSelection('{{ selection_type }}')" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-remove"></span> Clear
        </a>
        {% endif %}
    </p>
        {% for selected_item in selected_items %}
        <div class="target-selection">
            {% if selection_type == 'segments' %}
                {% if selected_item.type == 'residue' %}
                    {{ selected_item.item.label|safe }} [{{ selected_item.item.scheme.short_name|safe }}]
                {% else %}
                    {{ selected_item.item.slug|safe }}
                {% endif %}
            {% elif selected_item.type == 'structure' %}
                {{ selected_item.item.pdb_code.index }}
            {% elif selected_item.type == 'structure_model' %}
                {% if selected_item.item.pdb_code.index %}
                    {{ selected_item.item.pdb_code.index }}
                {% else %}
                    {{ selected_item.item.protein.name|safe }} {{ selected_item.item.state.slug}}
                {% endif %}
            {% elif selected_item.type == 'signprot' %}
                {{ selected_item.item.pdb_code.index }}
            {% else %}
                {{ selected_item.item.name|safe }}
                {% if selected_item.item.species.common_name %}
                    [{{ selected_item.item.species.common_name|safe }}]
                {% endif %}
            {% endif %}
            {% if selected_item.properties.only_aligned_residues %} (Only GN) {% endif %}
            ({{ selected_item.type_title|safe }})
            <a
            onclick="RemoveFromSelection('{{ selection_type }}', '{{ selected_item.type }}',
            {{ selected_item.item.id }})" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        {% empty %}
        None
        {% endfor %}
        {% if selection_type == 'segments' and selected_items|length > 0 %}
            <p>
                <a href="/common/residuesdownload"
                   class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-plus"></span> Save residue positions
                </a>
            </p>
        {% endif %}
    {% endif %}
{% endfor %}
