<b>Species</b>
<div class="btn-group btn-group-sm" role="group">
    <a href="javascript:void(0)" onclick="SelectionSpeciesPredefined('Human')"
        class="btn btn-primary{% if selection.species|length == 1 and selection.species.0.item.common_name == 'Human' %} active{% endif %}">
        Human
    </a>
    <a href="javascript:void(0)" onclick="SelectionSpeciesPredefined('All')"
        class="btn btn-primary{% if selection.species|length == 0 or selection.species|length == sps|length %} active{% endif %}">
        All
    </a>
    <a data-toggle="modal" data-target="#SpeciesSelector"
        class="btn btn-primary{% if selection.species|length == 1 and selection.species.0.item.common_name != 'Human' or selection.species|length > 1 and selection.species|length < sps|length %} active{% endif %}">
        Other..
    </a>
</div>

    <!-- Modal -->
<div class="modal fade" id="SpeciesSelector" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Choose species</h4>
            </div>
            <div class="modal-body" id="filters-species-selector">
                {% include 'common/selection_filters_species_selector.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Save & close</button>
            </div>
        </div>
    </div>
</div>