{% extends "common/selection.html" %}
{% load staticfiles %}

{% block addon_js %}
    <script type="text/javascript">
        var type_of_selection = '{{ type_of_selection }}';
        var redirect_url = '{{ buttons.continue.url }}'
        var redirect_on_select = '{{ redirect_on_select }}'
    </script>
    <script src="{% static 'home/js/selection-autocomplete.js' %}"></script>
    <script src="{% static 'home/js/selection-filters.js' %}"></script>
    <script src="{% static 'home/js/selection.js' %}"></script>
{% endblock %}

{% block middle_column %}
            <!-- filters -->
            {% if filters %}
            <div class="col-md-12 panel panel-primary">
                <div class="panel-body">
                    <h4>Filter</h4>
                    <div id="filters-species">
                    {% include 'common/selection_filters_species.html' %}
                    </div>
                    <br \>
                    <div id="filters-annotation">
                    {% include 'common/selection_filters_annotation.html' %}
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- generic numbering schemes -->
            {% if numbering_schemes %}
            <div class="col-md-12 panel panel-primary">
                <div class="panel-body">
                    <h4>Numbering schemes</h4>
                    <div id="filters-schemes">
                        {% include 'common/selection_filters_numbering_schemes.html' %}
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- target search -->
            {% if search %}
            <div class="col-md-12 panel panel-primary">
                <div class="panel-body">
                    <h4>Search</h4>
                    <div>
                        <input id="selection-autocomplete" class="form-control" size="15">
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- target family tree -->
            {% if family_tree %}
            <div class="col-md-12 panel panel-primary">
                <div class="panel-body">
                    <h4>Browse</h4>
                    <div class="selection-tree-box">
                    {% include 'common/selection_tree.html' %}
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- protein sets -->
            {% if psets %}
            <div class="col-md-12 panel panel-primary">
                <div class="panel-body">
                    <h4>Predefined sets</h4>
                    <div>
                        {% include 'common/targetselection_predefined.html' %}
                    </div>
                </div>
            </div>
            {% endif %}
{% endblock %}
