{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        
        <!-- description boxes -->
        <div class="col-md-4">

            <!-- main description -->
            <div class="col-md-12 well">
                {% if step and number_of_steps %}
                <h2>STEP {{ step }} of {{ number_of_steps }}</h2>
                {% endif %}
                <h4>{{ title }}</h4>
                {{ description|linebreaks }}
            </div>

            <!-- link to docs -->
            {% if docs %}
            <div class="col-md-12 well">
                <p>For more information on this tool, see the <a href="{{ docs }}">docs</a>.</p>
            </div>
            {% endif %}

        </div>
        
        <!-- selection boxes -->
        <div class="col-md-4">

            <!-- target search -->
            {% if search %}
            <div class="col-md-12 well">
                <h4>Search</h4>
                <div class="ui-widget">
                    <input id="selection-autocomplete" size="30">
                </div>
            </div>
            {% endif %}

            <!-- family tree -->
            {% if family_tree %}
            <div class="col-md-12 well">
                <h4>Browse by family</h4>
                {% include 'common/selection_tree.html' %}
            </div>
            {% endif %}

        </div>
        
        <!-- selection -->
        <div class="col-md-4">

            <!-- button(s) -->
            {% if buttons %}
            <div id="selection-buttons">
                {% include 'common/selection_buttons.html' %}
            </div>
            {% endif %}

            <!-- show the selection -->
            {% for selection_box, include in selection_boxes.items %}
                {% if include %}
                <div class="col-md-12 well" id="selection-{{ selection_box }}">
                {% with selection_type=selection_box %}
                    {% include 'common/selection_lists.html' %}
                {% endwith %}
                </div>
                {% endif %}
            {% endfor %}

        </div>

    </div>
{% endblock %}
{% block addon_js %}
    <script type="text/javascript">
        var type_of_selection = '{{ type_of_selection }}';
    </script>
    <script src="{% static 'home/js/selection.js' %}"></script>
{% endblock %}