{% extends "home/base.html" %}
{% load static %}

{% block addon_css %}
<link href="{% static 'home/css/alignment.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% block buttons %}
<!-- Download button -->
<div class="btn-group">
  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/similaritymatrix/csv">Spreadsheet (csv)</a></li>
</div>
{% endblock %}
<p class="text-right">
Similarities are on the lower-left side of the table, and identities on the upper-right.
</p>
<!-- matrix starts -->
<div class="table-responsive">
    <table class="table table-bordered table-condensed">
        <tr>
            <th></th>
            {% for p in m %}
            <th class="info text-center">{{ forloop.counter }}</th>
            {% endfor %}
        </tr>
        {% for p, v in m.items %}
        <tr>
            <th class="info">{{ forloop.counter }}. {{ v.name|safe }}</th>
            {% for col in v.values %}
            <td class="text-center{% if col.1 != '-' %} res-cons-{{ col.1 }}{% endif %}">{{ col.0 }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<!-- matrix alignment ends -->
{% endblock %}
