{% extends "home/base.html" %}
{% load static %}
{% load humanize %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/nv.d3.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/nvd3-update.css' %}" type="text/css" />
<link href="{% static 'home/css/bootstrap-responsive.css' %}" rel="stylesheet" media="screen">

{% endblock %}

{% block content %}
<style>
    #circle_lightgray {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: LightGray;
    }
    #circle_darkgray {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: DarkGray;
    }
    #circle_gray {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: Gray;
    }
    #circle_black {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: Black;
    }
    .gprot_orange {
      color: orange;
    }

    .gprot_blue {
      color: blue;
    }

    .gprot_red {
      color: red;
    }

    .gprot_black {
      color: black;
    }

    .gprot_green {
      color: forestgreen;
    }
    .graydiv {
        height: 20px;
        width: 350px;
        background: linear-gradient(to right, white 0%, black 100%)
    }
    .svg-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

</style>
<div class='col-md-12'>
  <br />
  <h3 style='text-align:center;'>Data Mapper Plots</h3>
  <br \>
</div>

<!-- ### Create the panel tabs ### -->
<ul class="nav nav-tabs">
  {% if Plot_evaluation_json.0 %}
    <li class="{% if first_active_tab == '#tab1' %}active{% endif %}">
      <a href="#tab1" data-toggle="tab">Phylogenetic Tree</a>
    </li>
  {% endif %}
  {% if Plot_evaluation_json.1 %}
    <li class="{% if first_active_tab == '#tab2' %}active{% endif %}">
      <a href="#tab2" data-toggle="tab">Cluster Analysis</a>
    </li>
  {% endif %}
  {% if Plot_evaluation_json.2 %}
    <li class="{% if first_active_tab == '#tab3' %}active{% endif %}">
      <a href="#tab3" data-toggle="tab">List Plot</a>
    </li>
  {% endif %}
  {% if Plot_evaluation_json.3 %}
    <li class="{% if first_active_tab == '#tab4' %}active{% endif %}">
      <a href="#tab4" data-toggle="tab">Heatmap</a>
    </li>
  {% endif %}
</ul>

<!-- ## Tab content ## -->
<div class="tab-content">
  <!-- ## Tab 1 - Phylogenetic Tree ## -->
  {% if Plot_evaluation_json.0 %}
  <div id="tab1" class="tab-pane fade {% if first_active_tab == '#tab1' %}in active{% endif %}">
    <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
      <div>
        <div style="padding-top: 5px;">
          Receptor names:
            <div class="btn-group" role="group" id="gtp_plus">
                <button id="UniProtNames" class="btn btn-info active">UniProt</button>
                <button id="IUPHARNames" class="btn btn-info">IUPHAR</button>
            </div>
        </div>
        <br />
        Inner circle colors (TBD):
        <table style="width:30%">
            <tr>
                <td ><div id="circle_lightgray"></div></td>
                <td> < XX </td>
                <td ><div id="circle_darkgray"></div></td>
                <td> < YY </td>
                <td ><div id="circle_gray"></div></td>
                <td> < ZZ </td>
                <td ><div id="circle_black"></div></td>
                <td> ZZ+</td>
            </tr>
        </table>
        <br />
        <div style="float: left; position: relative" class="text-center">
          <b>Features</b> <br />
            <span class="gprot_blue">Feature 1</span>
            <span class="gprot_red">Feature 2</span>
            <span class="gprot_black">Feature 3</span>
            <span class="gprot_green">Feature 4</span>
            <span class="gprot_orange">Feature 5</span>
        </div>
        <div style="float: right;" class="text-center">
          <b>Feature! (from low to high)</b>
          <div class="graydiv"></div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <div id="tree_plot" class="text-center">
              <h4>Tree Plot (Data Mapper)</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- ## Tab 2 - Cluster Analysis ## -->
  {% if Plot_evaluation_json.1 %}
    <div id="tab2" class="tab-pane fade {% if first_active_tab == '#tab2' %}in active{% endif %}">
      <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
      <div style="padding-top: 5px;">
        Plot label:
          <div class="btn-group" role="group" id="gtp_plus">
              <button id="show" class="btn btn-info active">Show</button>
              <button id="hide" class="btn btn-info">Hide</button>
          </div>
      </div>
      <div id="plotContainer" class="text-center">
        <br />
          <br />
            <h4>Cluster Plot</h4>
          <br />
        <br />
      </div>
      </div>
    </div>
  {% endif %}
  <!-- ## Tab 3 - List Plot ## -->
  {% if Plot_evaluation_json.2 %}
    <div id="tab3" class="tab-pane fade {% if first_active_tab == '#tab3' %}in active{% endif %}">
      <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;"></div>
      <div id="ListPlot" class="text-center">
        <br />
          <br />
            <h4>List Plot</h4>
          <br />
        <br />
      </div>
    </div>
  {% endif %}
  <!-- ## Tab 4 - Heatmap ## -->
  {% if Plot_evaluation_json.3 %}
    <div id="tab4" class="tab-pane fade {% if first_active_tab == '#tab4' %}in active{% endif %}">
      <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;"></div>
      <div id="heatmapPlot" class="text-center">
        <br />
          <br />
            <h4>Heatmap</h4>
          <br />
        <br />
      </div>
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/d3.min.js' %}"></script>
<script src="{% static 'home/js/nv.d3.min.js' %}"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/saveSvg.js' %}"></script>
<script src="{% static 'home/js/phylo_tree.js' %}"></script>
<script src="{% static 'home/js/datamapper.js' %}"></script>

{% if Plot_evaluation_json.0 %}
  <script type="text/javascript" charset="utf-8">
      tree_data = {{ tree | safe }};
      tree_options = {{ tree_options | safe }};
      circles = {{ circles|safe }};
      whole_dict = {{ whole_dict|safe }};
      maxLeafNodeLenght = 55;
      conversion = {"Outer1":"#0000FF",
                    "Outer2":"#FF0000",
                    "Outer3":"#000000",
                    "Outer4":"#008000",
                    "Outer5":"#FFA500"};

      $("#UniProtNames").click(function(){
          $("#UniProtNames").addClass("active");
          $("#IUPHARNames").removeClass("active");
          changeLeavesLabels("tree_plot", "UniProt", whole_dict);
          DrawCircles('tree_plot', circles, maxLeafNodeLenght, conversion, true, false);
      });
      $("#IUPHARNames").click(function() {
        $("#UniProtNames_bal").removeClass("active");
        $("#IUPHARNames_bal").addClass("active");
        changeLeavesLabels("tree_plot","IUPHAR", whole_dict);
        // DrawCircles('tree_plot',circles, maxLeafNodeLenght,conversion,true,false);
      });
      draw_tree(tree_data, tree_options);
      DrawCircles('tree_plot', circles, maxLeafNodeLenght, conversion, true, false);
      $("#tree_plot svg g").first().attr('transform', 'translate(620,650) scale(0.8,0.8) ');
      $("#tree_plot").attr('height', 110);
      $("#tree_plot").attr('width', 1110);

  </script>
{% endif %}

{% if Plot_evaluation_json.1 %}
<script>
$(document).ready(function() {
    var cluster_data = {{ cluster_data|safe }};
    var cluster_plot = "{{ plot_type }}";
    // console.log(cluster_data);
    renderClusterPlot(cluster_data, "#plotContainer", cluster_plot);

    $("#show").click(function() {
        $("#show").addClass("active");
        $("#hide").removeClass("active");
        d3.selectAll(".label").style("opacity", 1);
    });

    $("#hide").click(function() {
        $("#show").removeClass("active");
        $("#hide").addClass("active");
        d3.selectAll(".label").style("opacity", 0);
    });
});
</script>
{% endif %}

{% if Plot_evaluation_json.2 %}

<script>
  var heatmap = {{ heatmap_data|safe }};
  var element_id = "heatmap1"; // Unique ID for the SVG element
  var legend_label = "Value Intensity"; // Label for the legend
  simple_heatmap(heatmap, 'heatmapPlot', element_id, legend_label);
</script>
{% endif %}
{% if Plot_evaluation_json.3 %}
<script>
  var listdata = {{ listplot_data|safe }};
  renderDataVisualization(listdata, 'listPlot');
</script>
{% endif %}

{% endblock %}
