{% extends "home/base.html" %}
{% load static %}
{% load humanize %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/nv.d3.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/nvd3-update.css' %}" type="text/css" />
<link href="{% static 'home/css/bootstrap-responsive.css' %}" rel="stylesheet" media="screen">
<style>
  .col-md-12 img {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transformation for scaling and opacity */
    opacity: 1; /* Full opacity by default */
  }

  .col-md-12 img:hover {
    transform: scale(1.1); /* Scales the image up on hover */
    opacity: 1; /* Full opacity on hover */
  }

  .col-md-12:hover img {
    opacity: 0.5; /* Reduces opacity of all images when any part of the div is hovered over */
  }

  .col-md-12 img:last-child {
    margin-left: 5px; /* Adds 5px margin to the left of the last image */
  }

  .col-md-12 img:hover {
    opacity: 1 !important; /* Ensures the hovered image stays fully opaque */
  }

  .img-container .tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    white-space: nowrap;
    visibility: hidden;
    bottom: 100%; /* Adjust if the tooltip appears too high or low */
    left: 50%;
    transform: translateX(-50%) translateY(-10px); /* Adjust to ensure tooltip does not overlap the image */
    z-index: 100; /* Higher value to ensure it's on top of other elements */
  }

  .img-container:hover .tooltip {
    visibility: visible;
    opacity: 1; /* Ensure it's fully opaque */
    transition: visibility 0s, opacity 0.5s linear; /* Immediate visibility change with smooth opacity transition */
  }

  .expandable {
    cursor: pointer;
}

.hidden {
    display: none;
}
</style>
{% endblock %}

{% block content %}


<div class='col-md-12'>
    <br />
    <h1 style='text-align:center;'>Welcome to Data Mapper!</h1>
    <br \>
</div>


<!-- ##################################### -->
<!-- #### Download // Upload // Report ### -->
<!-- ##################################### -->

<div class='col-md-12' style="margin-top: 50px;">
  <!-- ################# -->
  <!-- #### Download ### -->
  <!-- ################# -->
  <div class="col-md-3" style="text-align:center;">
  </div>
  <div class="col-md-3 img-container" style="text-align:center;">
    <a href="{% static 'Files/Upload_test.xlsx' %}" download="Upload_test.xlsx">
      <img src="{% static 'home/images/Mapper_Download.png' %}" width="140" height="140">
    </a>
    <br>
    <h4 style='text-align:center;margin-top: 10px;'>Download Template.xlsx</h4>
    
  </div>
  <!-- ################# -->
  <!-- ####  Upload  ### -->
  <!-- ################# -->
  <div class="col-md-3 img-container" style="text-align:center;">
    <form id="upload-file" name="upload-file" enctype="multipart/form-data" method="POST" action="{% url 'landing_page' %}"> 
      {% csrf_token %}
      <!-- Hidden file input -->
      <input id="file-input" type="file" name="file" style="display:none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
      <!-- Image selector -- Upload  -->
      <img id="file-trigger" src="{% if upload_status == 'Success' %}{% static 'home/images/Mapper_Upload_Success.png' %}
      {% elif upload_status == 'Failed' %}{% static 'home/images/Mapper_Upload_Failed.png' %}
      {% else %}
      {% static 'home/images/Mapper_Upload.png' %}
      {% endif %}" alt="file" width="140" height="140" style="cursor:pointer;">
      <br>
      <h4 style='text-align:center;margin-top: 10px;'>Upload Data</h4>
    </form>
  </div>
</div>

<div class='col-md-12' style="margin-top: 50px;">
    <br />
    <h3 style='text-align:center;'>Analyses</h3>
    <br \>
</div>


<div class='col-md-12' style="display: flex; justify-content: center; align-items: center;">
  <div class="img-container">
    <img id="phyloTreeImage" src="{% static 'home/images/phylo_example.png' %}" width="140" height="140">
    <br>
    <h6 style='text-align:center;'>Phylogenetic Tree</h6>
    <!-- <span class="tooltip">Phylogenetic Tree</span> -->
  </div>
  <div class="img-container">
    <img src="{% static 'home/images/cluster_example.png' %}" width="140" height="140" style='margin-left: 5px'>
    <br>
    <h6 style='text-align:center;'>Cluster Analysis</h6>
    <!-- <span class="tooltip">Cluster Analysis</span> -->
  </div>
  <div class="img-container">
    <img src="{% static 'home/images/list_example.png' %}" width="140" height="140" style='margin-left: 5px'>
    <br>
    <h6 style='text-align:center;'>List Plot</h6>
    <!-- <span class="tooltip">List Plot</span> -->
  </div>
  <div class="img-container">
    <img src="{% static 'home/images/heatmap_example.png' %}" width="140" height="140" style='margin-left: 5px'>
    <br>
    <h6 style='text-align:center;'>Heatmap</h6>
    <!-- <span class="tooltip">Heatmap</span> -->
  </div>
</div>

<!-- ######################## -->
<!-- ###### MODALS ! ######## -->
<!-- ######################## -->

<!-- ################################### -->
<!-- ## Failed to submit correct file ## -->
<!-- ################################### -->

<div class="modal fade" id="uploadFailedModal" tabindex="-1" role="dialog" aria-labelledby="uploadFailedModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="uploadFailedModalLabel">Upload Failed</h5>
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button> -->
          </div>
          <div class="modal-body">
              The file upload has failed. Please try again.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>


<!-- ############################# -->
<!-- ## Totally failed report ! ## -->
<!-- ############################# -->

<div class="modal fade" id="Report_modal_failed" tabindex="-1" role="dialog" aria-labelledby="NoReport-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="NoReport-modal-label">Report: Failed</h5>
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button> -->
          </div>
          <div class="modal-body">
              
              <h4 class="expandable">Phylogenetic Tree</h4>
              {% if incorrect_values %}
                  <ul id="sortable" class="hidden">
                    {% for key, value in incorrect_values.items %}
                        <li>{{ value }}</li>
                    {% endfor %}
                  </ul>
              {% else %}
                  <p>The value is False.</p>
              {% endif %}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<!-- ############# -->
<!-- ## Report! ## -->
<!-- ############# -->

<div class="modal fade" id="Report_modal_success" tabindex="-1" role="dialog" aria-labelledby="Report-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="Report-modal-label">Report: Successful</h5>
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button> -->
          </div>
          <div class="modal-body">
              Here is your report! Good job!
              All values for the phylo tree are good and ready to something.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="window.location.href=window.location.href;">Continue</button>
          </div>
      </div>
  </div>
</div>

<!-- Phylogenetic Tree Modal -->
<div class="modal fade" id="phyloTreeModal" tabindex="-1" role="dialog" aria-labelledby="phyloTreeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="phyloTreeModalLabel">Phylogenetic Tree</h5>
      </div>
      <div class="modal-body">
        This is the Phylogenetic Tree modal content.
        <div class="img-container">
          <img src="{% static 'home/images/Modal_tree_example.png' %}" width="300" height="300" style='margin-left: 5px'>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block addon_js %}
<!-- <script src="{% static 'home/js/jquery-3.1.1.min.js' %}"> </script> -->
<!-- <script src="{% static 'home/js/jquery-ui.min.js' %}"> </script> -->

<script>

$(document).ready(function() {
    $(".expandable").click(function() {
      $("#sortable").toggleClass("hidden");
    });
});

// Function to handle file selection
function handleFileSelect(event) {
        var fileInput = document.getElementById('file-input');
        // Attach change event listener to handle selected file
        fileInput.addEventListener('change', function(event) {
            // Submit the form with selection of a file
            document.getElementById('upload-file').submit();
        });
        // Trigger the file input
        fileInput.click();
    }
// Add click event listener to the image to trigger file selection
document.getElementById('file-trigger').addEventListener('click', handleFileSelect);
// Add click event listener to the Phylogenetic Tree image
document.getElementById('phyloTreeImage').addEventListener('click', function() {
    $('#phyloTreeModal').modal('show');
  });


// Check upload status after form submission
document.addEventListener('DOMContentLoaded', function() {
    // Check if upload was successful
    if ("{{ upload_status }}" === "Success") {
      // Check if report generation was successful
      if ("{{ report_status }}" === "Success") {
        $('#Report_modal_success').modal('show');
      } else if ("{{ report_status }}" === "Failed") {
        $('#Report_modal_failed').modal('show');
      }
    } else if ("{{ upload_status }}" === "Failed") {
      // Show the upload failed modal
      $('#uploadFailedModal').modal('show');
    }
  });
</script>

{% endblock %}
