{% extends "home/base.html" %}
{% load static %}
{% load humanize %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/nv.d3.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/nvd3-update.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/Spectrum_1_8_1.css' %}" type="text/css" />
<style>
    #ListPlot {
      display: flex;
      justify-content: center;
      align-items: flex-start; /* Or center if you want vertical centering too */
      width: 100%;
    }
    #ListPlot svg {
      display: block;
    }
</style>
{% endblock %}
{% block content %}
<div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
  <div class="col-md-12" style="margin-top: 30px;">
    <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 15px; align-items: center;">
      <!-- Receptor names dropdown -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="receptorLabelDropdown" data-toggle="dropdown">
          Receptor names
        </button>
        <div class="dropdown-menu p-2 text-center"
            style="min-width: 160px; padding: 10px 15px; left: 100%; top: 50%;
                    margin-left: 5px; position: absolute; transform: translateY(-50%);">

          <button class="btn btn-primary btn-block mb-1 receptor-label-btn" data-value="Protein" id="List_IUPHARNames">Protein</button>
          <button class="btn btn-outline-primary btn-block mb-1 receptor-label-btn" data-value="Gene" id="List_GeneNames">Gene</button>
          <button class="btn btn-outline-primary btn-block receptor-label-btn" data-value="UniProt" id="List_UniProtNames">UniProt</button>
        </div>
      </div>
      <!-- Layout Dropdown -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="layoutDropdown" data-toggle="dropdown">
          Layout
        </button>
        <div class="dropdown-menu p-3 text-center"
            style="min-width: 250px; padding: 10px 15px; left: 100%; top: 50%;
                    margin-left: 5px; position: absolute; transform: translateY(-25%);">

          <!-- Row 1: Layout selection -->
          <div class="mb-3" style="padding: 10px 15px;">
            <label for="List_Layout_Column_Selector" style="padding: 5px 0px;">Layout:</label>
            <select id="List_Layout_Column_Selector" class="form-select" style="width:125px;text-align: center; padding: 5px;">
              <option value="1">1 column</option>
              <option value="2" selected>2 columns</option>
              <option value="3">3 columns</option>
              <option value="4">4 columns</option>
            </select>
          </div>

          <!-- Row 2: Label max count label -->
          <div class="mb-2" style="padding: 5px 15px;">
            <label for="Layout_Max_Label">Max label number per column:</label>
          </div>

          <!-- Row 3: Dropdown and numeric input -->
          <div class="d-flex justify-content-center align-items-center gap-2" style="padding: 0px 15px 10px;">
            <select id="Layout_Max_Label" class="form-select" style="width: 120px;padding: 5px;">
              <option value="Auto" selected>Auto</option>
              <option value="Custom">Custom</option>
            </select>
            <input type="number" id="List_Layout_Max_Label_input"
                  class="form-control"
                  style="width: 80px;"
                  min="1">
          </div>
          <!-- Row 4: -->
          <div class="mb-2" style="padding: 10px 15px;">
            <label for="Layout_Max_Label">Visible labels:</label>
          </div>
          <div class="form-check mb-2" style="padding: 0px 15px;margin-top:-10px">
            <input class="form-check-input" type="checkbox" id="toggle-layer-1" checked>
            <label class="form-check-label" for="toggle-layer-1">Display class</label>
          </div>
          <div class="form-check mb-2" style="padding: 0px 15px;">
            <input class="form-check-input" type="checkbox" id="toggle-layer-2" checked>
            <label class="form-check-label" for="toggle-layer-2">Display ligand type</label>
          </div>
          <div class="form-check mb-2" style="padding: 0px 15px;">
            <input class="form-check-input" type="checkbox" id="toggle-layer-3" checked>
            <label class="form-check-label" for="toggle-layer-3">Display receptor family</label>
          </div>

        </div>
      </div>

      <!-- Label Styling Dropdown -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="Styling_Menu" data-toggle="dropdown">
          Labels
        </button>
        <div class="dropdown-menu p-3" style="min-width: 325px; padding: 10px 15px; left: 100%; top: 50%; margin-left: 5px; position: absolute; transform: translateY(-9%);">
          <!-- Class Section -->
          <div class="mb-4" style="margin-bottom: 20px;">
            <label style="font-weight: bold; display: block; margin-bottom: 8px;">Class</label>
            <!-- Row 1: Color picker + checkboxes -->
            <div style="white-space: nowrap;">
              <!-- Color Picker -->
              <input type="text" id="colorPicker_Class" style="display: inline-block; width: 90px; vertical-align: middle; margin-right: 15px;" />
              <!-- Bold -->
              <div class="checkbox" style="display: inline-block; margin-right: 15px; margin-bottom: 0; margin-left: 10px;">
                <label style="margin-bottom: 0;">
                  <input type="checkbox" id="boldCheckbox_Class"> Bold
                </label>
              </div>
              <!-- Italic -->
              <div class="checkbox" style="display: inline-block; margin-right: 15px; margin-bottom: 0;">
                <label style="margin-bottom: 0;">
                  <input type="checkbox" id="italicCheckbox_Class"> Italic
                </label>
              </div>
              <!-- Underline -->
              <div class="checkbox" style="display: inline-block; margin-bottom: 0;">
                <label style="margin-bottom: 0;">
                  <input type="checkbox" id="underlineCheckbox_Class"> Underline
                </label>
              </div>
            </div>
            <!-- Label above slider -->
            <div class="text-center" style="margin-top: 10px;">
              <label class="form-label">Font size</label>
            </div>

            <!-- Slider -->
            <input type="range" class="form-control" min="8" max="32" id="fontSizeSlider_Class" style="width: 100%;">

            <!-- Value under slider -->
            <div class="text-center" style="margin-top: -5px;">
              <span id="fontSizeSliderLabel_Class">20 px</span>
            </div>
          </div>
          <!-- Ligand Type Section -->
          <div class="mb-4" style="margin-bottom: 20px;">
            <hr>
            <label style="font-weight: bold; display: block; margin-bottom: 8px;">Ligand type</label>
            <!-- Row 1: Color picker + checkboxes -->
            <div style="white-space: nowrap;">
              <input type="text" id="colorPicker_LigandType" style="display: inline-block; width: 90px; vertical-align: middle; margin-right: 15px;" />
              <div class="checkbox" style="display: inline-block; margin-right: 15px; margin-bottom: 0; margin-left: 10px;">
                <label style="margin-bottom: 0;">
                  <input type="checkbox" id="boldCheckbox_LigandType"> Bold
                </label>
              </div>
              <div class="checkbox" style="display: inline-block; margin-right: 15px; margin-bottom: 0;">
                <label style="margin-bottom: 0;">
                  <input type="checkbox" id="italicCheckbox_LigandType"> Italic
                </label>
              </div>
              <div class="checkbox" style="display: inline-block; margin-bottom: 0;">
                <label style="margin-bottom: 0;">
                  <input type="checkbox" id="underlineCheckbox_LigandType"> Underline
                </label>
              </div>
            </div>
            <!-- Label above slider -->
            <div class="text-center" style="margin-top: 10px;">
              <label class="form-label">Font size</label>
            </div>

            <!-- Slider -->
            <input type="range" class="form-control" min="8" max="28" id="fontSizeSlider_LigandType" style="width: 100%;">

            <!-- Value under slider -->
            <div class="text-center" style="margin-top: -5px;">
              <span id="fontSizeSliderLabel_LigandType">18 px</span>
            </div>
          </div>
          <!-- Receptor Family Section -->
          <div class="mb-4" style="margin-bottom: 20px;">
            <hr>
            <label style="font-weight: bold; display: block; margin-bottom: 8px;">Receptor family</label>
            <div style="white-space: nowrap;">
              <input type="text" id="colorPicker_ReceptorFamily" style="display: inline-block; width: 90px; vertical-align: middle; margin-right: 15px;" />
              <div class="checkbox" style="display: inline-block; margin-right: 15px; margin-bottom: 0; margin-left: 10px;">
                <label style="margin-bottom: 0;">
                  <input type="checkbox" id="boldCheckbox_ReceptorFamily"> Bold
                </label>
              </div>
              <div class="checkbox" style="display: inline-block; margin-right: 15px; margin-bottom: 0;">
                <label style="margin-bottom: 0;">
                  <input type="checkbox" id="italicCheckbox_ReceptorFamily"> Italic
                </label>
              </div>
              <div class="checkbox" style="display: inline-block; margin-bottom: 0;">
                <label style="margin-bottom: 0;">
                  <input type="checkbox" id="underlineCheckbox_ReceptorFamily"> Underline
                </label>
              </div>
            </div>
            <!-- Label above slider -->
            <div class="text-center" style="margin-top: 10px;">
              <label class="form-label">Font size</label>
            </div>

            <!-- Slider -->
            <input type="range" class="form-control" min="8" max="28" id="fontSizeSlider_ReceptorFamily" style="width: 100%;">

            <!-- Value under slider -->
            <div class="text-center" style="margin-top: -5px;">
              <span id="fontSizeSliderLabel_ReceptorFamily">16 px</span>
            </div>

          </div>
          <!-- Receptor Section -->
          <div class="mb-2" style="margin-bottom: 20px;">
            <hr>
            <label style="font-weight: bold; display: block; margin-bottom: 8px;">Receptor</label>
            <div style="white-space: nowrap;">
              <input type="text" id="colorPicker_Receptor" style="display: inline-block; width: 90px; vertical-align: middle; margin-right: 15px;" />
              <div class="checkbox" style="display: inline-block; margin-right: 15px; margin-bottom: 0; margin-left: 10px;">
                <label style="margin-bottom: 0;">
                  <input type="checkbox" id="boldCheckbox_Receptor"> Bold
                </label>
              </div>
              <div class="checkbox" style="display: inline-block; margin-right: 15px; margin-bottom: 0;">
                <label style="margin-bottom: 0;">
                  <input type="checkbox" id="italicCheckbox_Receptor"> Italic
                </label>
              </div>
              <div class="checkbox" style="display: inline-block; margin-bottom: 0;">
                <label style="margin-bottom: 0;">
                  <input type="checkbox" id="underlineCheckbox_Receptor"> Underline
                </label>
              </div>
            </div>
            <!-- Label above slider -->
            <div class="text-center" style="margin-top: 10px;">
              <label class="form-label">Font size</label>
            </div>

            <!-- Slider -->
            <input type="range" class="form-control" min="8" max="26" id="fontSizeSlider_Receptor" style="width: 100%;">

            <!-- Value under slider -->
            <div class="text-center" style="margin-top: -5px;">
              <span id="fontSizeSliderLabel_Receptor">14 px</span>
            </div>

          </div>
        </div>
      </div>

      <!-- Legend Toggle & Label Edit Dropdown -->
      <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="Legend_Menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Legend
          </button>
          <div class="dropdown-menu dropdown-menu-listplot p-3 text-center" style="min-width: 380px; padding: 10px 15px; left: 100%; top: 50%;
                    margin-left: 5px; position: absolute; transform: translateY(-7%);">
              
              <!-- Centered Toggle Button with Padding -->
              <div style="display: flex; justify-content: center; align-items: center; gap: 10px; padding: 20px 0;">
                <label for="legendToggleBtn" style="margin: 0; font-size: 18px;">Legend:</label>
                <button id="legendToggleBtn" class="btn btn-success" style="min-width: 60px;">Shown</button>
              </div>
              <div style="margin: -25px 0px 5px 0px;"><hr></div>

          

            <!-- Legend layout and sorting controls -->
            <div class="text-left mt-3" style="margin-top: 20px;">

              <!-- Layout -->
              <div style="display: flex; align-items: center; margin: 15px 0px 25px 0px;">
                <div style="flex: 0 0 30%; text-align: left; padding-left: 10px;">
                  <label for="legend-layout-select" style="margin: 0; font-weight: bold; font-size: 15px;">Layout:</label>
                </div>
                <div style="flex: 0 0 70%; display: flex; justify-content: center;">
                  <select id="legend-layout-select" style="width: 90%;">
                    <option value="row">Continous text</option>
                    <option value="columns-1">1 column</option>
                    <option value="columns-2">2 columns</option>
                    <option value="columns-3">3 columns</option>
                    <option value="columns-4">4 columns</option>
                  </select>
                </div>
              </div>

              <hr style="margin: 0px auto 10px auto; width: 80%; border-top: 1px solid #ddd;">

              <!-- Sorting -->
              <div style="display: flex; align-items: center; margin: 20px 0px 15px 0px;">
                <div style="flex: 0 0 30%; text-align: left; padding-left: 10px;">
                  <label for="toggleLegendSorting" style="margin: 0; font-size: 15px;">Sorting:</label>
                </div>
                <div style="flex: 0 0 70%; display: flex; justify-content: center;">
                  <button id="toggleLegendSorting" class="btn btn-primary" style="width: 90%;">Vertically</button>
                </div>
              </div>

              <hr style="margin: 0px auto 10px auto; width: 80%; border-top: 1px solid #ddd;">

              <!-- Position -->
              <div style="display: flex; align-items: center; margin: 20px 0px 15px 0px;">
                <div style="flex: 0 0 30%; text-align: left; padding-left: 10px;">
                  <label for="toggleLegendPosition" style="margin: 0; font-size: 15px;">Position:</label>
                </div>
                <div style="flex: 0 0 70%; display: flex; justify-content: center;">
                  <button id="toggleLegendPosition" class="btn btn-primary" style="width: 90%;">Top</button>
                </div>
              </div>

              <hr style="margin: 0px auto 15px auto; width: 80%; border-top: 1px solid #ddd;">

              <!-- Legend Font Size -->
              <div class="form-group text-center">
                <div style="margin-top: 5px;">
                  <label for="legendFontSizeSlider" style="font-size: 15px;">Legend font size</label>
                </div>
                <input type="range" class="form-control" style="width:80%" min="11" max="20" value="16" id="legendFontSizeSlider">
                <div style="text-align: center;margin: -5px 0px -10px 0px;">
                  <span id="legendFontSizeValue">16</span> px
                </div>
              </div>
          </div>
        </div>
      </div>

      <!-- Download Dropdown -->
      <div class="dropdown" style="position: relative;">
        <button type="button" class="btn btn-primary dropdown-toggle"
                id="DownloadDropdownToggle" data-toggle="dropdown"
                style="font-size: 14px;">
          <span class="glyphicon glyphicon-download" style="vertical-align: top; line-height: 1.3;"></span>
          Download <span class="caret"></span>
        </button>

        <div class="dropdown-menu text-center"
            style="min-width: 160px; padding: 10px 15px; left: 100%; top: 50%;
                    margin-left: 5px; position: absolute; transform: translateY(-40%);
                    z-index: 999;">
          <button type="button" class="btn btn-primary btn-block mb-1"
                  onclick="saveSvgAsJpg(document.getElementById('ListPlot_visualization'), 'Listplot.jpg');">JPG</button>
          <button type="button" class="btn btn-primary btn-block mb-1"
                  onclick="saveSvgAsPng(document.getElementById('ListPlot_visualization'), 'Listplot.png');">PNG</button>
          <button type="button" class="btn btn-primary btn-block mb-1"
                  onclick="saveSvg(document.getElementById('ListPlot_visualization'), 'Listplot.svg');">SVG</button>
          <button type="button" class="btn btn-primary btn-block"
                  onclick="saveSvgAsTiff(document.getElementById('ListPlot_visualization'), 'Listplot.tiff');">TIFF</button>
        </div>
      </div>
      <div>
        <a href="/mapper/DataMapperHomeText" class="btn btn-primary" style="display: inline-flex; align-items: center;">
          <span style="line-height: 1; margin-right: 6px; vertical-align: middle;">&#8592;</span>
          <span style="vertical-align: middle;">Return to plot selection</span>
        </a>
      </div>
    </div>
  </div>
  <div id="ListPlot" class="text-left" style="margin-top: 120px;"></div>
</div>

{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/d3.min.js' %}"></script>
<script src="{% static 'home/js/nv.d3.min.js' %}"></script>
<script src="{% static 'home/js/d3.v4.min.js' %}"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/saveSvg.js' %}"></script>
<script src="{% static 'home/js/datamapper.js' %}"></script>
<script src="{% static 'home/js/spectrum_v1_8_1.js' %}"></script>
<!-- Universal scripts -->
<script>
$('.dropdown-menu').on('click', function(event){
    event.stopPropagation();
});
</script>
<script>
$(document).ready(function() {
    // Function to initialize Spectrum color picker
    function initialize_List_Styling_ColorPicker(elementId, start_color, layer) {
        $("#" + elementId).spectrum({
            color: start_color,
            showPalette: true,
            showInput: true,
            preferredFormat: "hex",
            palette: [
                ["#000", "#FF0000", "#00FF00", "#0000FF", "#FFFF00"],
                ["#FF00FF", "#00FFFF", "#FFFFFF", "#C0C0C0", "#808080"],
                ["#800000", "#808000", "#008000", "#800080", "#008080"],
                ["#000080"]
            ],
            change: function(color) {
                Styling_Option_dict[layer].Color = color.toHexString();
                updateVisualization_list();  // Re-render after final color selection
            },
            move: function(color) {
                Styling_Option_dict[layer].Color = color.toHexString();
                updateVisualization_list();  // Re-render after final color selection
            }
        });
    }

    // Initialize all color pickers
    initialize_List_Styling_ColorPicker('colorPicker_Class', Styling_Option_dict.Class.Color, 'Class');
    initialize_List_Styling_ColorPicker('colorPicker_LigandType', Styling_Option_dict.LigandType.Color, 'LigandType');
    initialize_List_Styling_ColorPicker('colorPicker_ReceptorFamily', Styling_Option_dict.ReceptorFamily.Color, 'ReceptorFamily');
    initialize_List_Styling_ColorPicker('colorPicker_Receptor', Styling_Option_dict.Receptor.Color, 'Receptor');
});
</script>
<script>

// #####################
// # Load view context #
// #####################

var listdata = {{ listplot_data|safe }};
var list_data_wow = {{ listplot_data_variables|safe }};
var Label_conversion_dicts = {{Label_Conversion|safe}};

var modded_list_data = Initialize_Data(listdata);
var Legend_data = transformListDataForLegend(list_data_wow);

data_types_list = {'Col1':'Discrete', 'Col2':'Discrete', 'Col3':'Discrete', 'Col4':'Discrete'}

// #################################
// ## Initialize global variables ##
// #################################

// # Initialize layout #
var Layout_dict = {columns: 2, col_breaker: 'Custom', col_max_label: 'Auto', indentation: 'Yes'};

//  Initialize styling
var Styling_Option_dict = {
    Class: {Bold: true, Italic: false, Underline: false, Fontsize: "20px", Color: "#000"},
    LigandType: {Bold: false, Italic: false, Underline: false, Fontsize: "18px", Color: "#000"},
    ReceptorFamily: {Bold: false, Italic: false, Underline: false, Fontsize: "16px", Color: "#000"},
    Receptor: {Bold: false, Italic: false, Underline: false, Fontsize: "14px", Color: "#000"}};

function transformListDataForLegend(data) {
    const legendData = {};
    Object.entries(data).forEach(([key, value]) => {
        if (value.Value1 && value.ColorValue) {
            legendData[key] = {
                Inner: value.Value1,
                ColorValue: value.ColorValue
            };
        }
    });
    return legendData;
}

// Initialize each section to match Styling_Option_dict
function initializeStyling() {
    // Class
    document.getElementById('boldCheckbox_Class').checked = Styling_Option_dict.Class.Bold;
    document.getElementById('italicCheckbox_Class').checked = Styling_Option_dict.Class.Italic;
    document.getElementById('underlineCheckbox_Class').checked = Styling_Option_dict.Class.Underline;
    document.getElementById('fontSizeSlider_Class').value = parseInt(Styling_Option_dict.Class.Fontsize);
    document.getElementById('colorPicker_Class').value = Styling_Option_dict.Class.Color;

    // LigandType
    document.getElementById('boldCheckbox_LigandType').checked = Styling_Option_dict.LigandType.Bold;
    document.getElementById('italicCheckbox_LigandType').checked = Styling_Option_dict.LigandType.Italic;
    document.getElementById('underlineCheckbox_LigandType').checked = Styling_Option_dict.LigandType.Underline;
    document.getElementById('fontSizeSlider_LigandType').value = parseInt(Styling_Option_dict.LigandType.Fontsize);
    document.getElementById('colorPicker_LigandType').value = Styling_Option_dict.LigandType.Color;

    // ReceptorFamily
    document.getElementById('boldCheckbox_ReceptorFamily').checked = Styling_Option_dict.ReceptorFamily.Bold;
    document.getElementById('italicCheckbox_ReceptorFamily').checked = Styling_Option_dict.ReceptorFamily.Italic;
    document.getElementById('underlineCheckbox_ReceptorFamily').checked = Styling_Option_dict.ReceptorFamily.Underline;
    document.getElementById('fontSizeSlider_ReceptorFamily').value = parseInt(Styling_Option_dict.ReceptorFamily.Fontsize);
    document.getElementById('colorPicker_ReceptorFamily').value = Styling_Option_dict.ReceptorFamily.Color;

    // Receptor
    document.getElementById('boldCheckbox_Receptor').checked = Styling_Option_dict.Receptor.Bold;
    document.getElementById('italicCheckbox_Receptor').checked = Styling_Option_dict.Receptor.Italic;
    document.getElementById('underlineCheckbox_Receptor').checked = Styling_Option_dict.Receptor.Underline;
    document.getElementById('fontSizeSlider_Receptor').value = parseInt(Styling_Option_dict.Receptor.Fontsize);
    document.getElementById('colorPicker_Receptor').value = Styling_Option_dict.Receptor.Color;
}

// # Initialize label switcher #
var Label_names = 'Protein';
var Barlabels = {'Col1':"Dataset 1",'Col2':"Dataset 2",'Col3':"Dataset 3",'Col4':"Dataset 4"}

// # Initialize data styling #
var Data_styling = initializeDataStyling(list_data_wow, data_types_list);
const List_Data_result = Data_resorter(modded_list_data);
var Data_array = List_Data_result.final_array;
var Data_Category_array = List_Data_result.category_array;
Textlegend_styling = {
  layoutMode: "row",
  columns: 2,
  sortDirection: "Vertically",
  TreeLegendPosition: "Top",
  Fontsize: "14px"
}
var ShowLegend = true;

// #################################
// # Initialize data visualization #
// #################################

function Listplot_render_visualization(){
  const Col_break_number = Layout_dict.col_max_label === "Auto" ? Math.ceil(Data_array.length / Layout_dict.columns) : Layout_dict.Col_break_number;
  var layout_spacing = Calculate_dimension(Data_array, Data_Category_array, Col_break_number, Layout_dict.columns, Label_conversion_dicts, Label_names, Styling_Option_dict);
  RenderListPlot_Labels(Data_array,Data_Category_array, 'ListPlot',Styling_Option_dict,Layout_dict,Label_conversion_dicts,Label_names);
  data_visualization(Data_array, Data_Category_array, 'ListPlot', Layout_dict, Data_styling, layout_spacing,30,6,14,Barlabels);
  if (ShowLegend) {CreateTextLegend_list('ListPlot', list_data_wow, Textlegend_styling);}  
}

document.addEventListener("DOMContentLoaded", function() {
  initializeStyling();
  Listplot_render_visualization();
  
});

// Function to update a label and redraw the legend
function updateLabel(category) {
    var inputId = "labelInput_" + category;
    var newValue = document.getElementById(inputId).value;

    // Update the Label_dict
    Barlabels[category] = newValue;

    // Now re-run your createLegendBars with updated labels
    updateVisualization_list();
}

function Recalculate_data_and_update() {
  // Recalculate the data
  const List_Data_result = Data_resorter(modded_list_data);

  // Update the previously declared variables with new values
  Data_array = List_Data_result.final_array; 
  Data_Category_array = List_Data_result.category_array;

  // Call the function to update the visualization
  UpdateLayout();
}

// Function to update the visualization
function updateVisualization_list() {
    // Clear existing SVG content
    d3.select("#ListPlot_visualization").remove();
    // Re-render the visualization
    Listplot_render_visualization();
    }

// Add event listeners to checkboxes
d3.selectAll('input[type="checkbox"]').on("change", Recalculate_data_and_update);


// #####################
// ## Layout options  ##
// #####################

// Function to update the layout dynamically
function UpdateLayout() {
// Get values from dropdowns and input
const Cols = parseInt(document.querySelector("#List_Layout_Column_Selector").value);
const Max_label_selector = document.querySelector("#Layout_Max_Label").value;
const Max_label_number = parseInt(document.querySelector("#List_Layout_Max_Label_input").value) || 1;

// Handle Max label number
if (Max_label_selector === 'Auto') {
    Layout_dict.col_max_label = 'Auto';
    Layout_dict.Col_break_number = Math.ceil(Data_array.length / Cols);
} else if (Max_label_selector === 'Custom') {
    Layout_dict.col_max_label = 'Custom';
    Layout_dict.Col_break_number = Max_label_number;
}

// Update columns value
Layout_dict.columns = Cols;

// Update visualization dynamically
updateVisualization_list();
}

// Event listeners for dropdown and input changes
document.querySelector('#List_Layout_Column_Selector').addEventListener('change', UpdateLayout);
document.querySelector('#Layout_Max_Label').addEventListener('change', UpdateLayout);
document.querySelector('#List_Layout_Max_Label_input').addEventListener('input', UpdateLayout);

// Optional: Add logic to enable/disable the input field if "Custom" is selected
document.querySelector('#Layout_Max_Label').addEventListener('change', function() {
const maxLabelInput = document.querySelector("#List_Layout_Max_Label_input");
if (this.value === 'Custom') {
    maxLabelInput.disabled = false;
} else {
    maxLabelInput.disabled = true;
}
});

// Initially disable the max label input if "Auto" is selected
if (document.querySelector("#Layout_Max_Label").value === 'Auto') {
document.querySelector("#List_Layout_Max_Label_input").disabled = true;
}

// #####################
// ## Styling options ##
// #####################
// Function to update the styles for each section dynamically
function updateLayerStyling(layer) {
  // Get the selected values for the current layer
  const boldCheckbox = document.getElementById(`boldCheckbox_${layer}`).checked;
  const italicCheckbox = document.getElementById(`italicCheckbox_${layer}`).checked;
  const underlineCheckbox = document.getElementById(`underlineCheckbox_${layer}`).checked;
  const fontSize = `${document.getElementById(`fontSizeSlider_${layer}`).value}px`;

  // Update the Styling_Option_dict with the selected values
  Styling_Option_dict[layer].Bold = boldCheckbox;
  Styling_Option_dict[layer].Italic = italicCheckbox;
  Styling_Option_dict[layer].Underline = underlineCheckbox;
  Styling_Option_dict[layer].Fontsize = fontSize;

  // Update the visualization with the new styles (replace with your visualization update logic)
  updateVisualization_list();
}

// Add event listeners to checkboxes and sliders for all layers
function addEventListeners() {
["Class", "LigandType", "ReceptorFamily", "Receptor"].forEach(layer => {
    // Add event listeners for checkboxes
    document.getElementById(`boldCheckbox_${layer}`).addEventListener("change", function() {
    updateLayerStyling(layer);
    });

    document.getElementById(`italicCheckbox_${layer}`).addEventListener("change", function() {
    updateLayerStyling(layer);
    });

    document.getElementById(`underlineCheckbox_${layer}`).addEventListener("change", function() {
    updateLayerStyling(layer);
    });

    // Add event listener for font size slider
    document.getElementById(`fontSizeSlider_${layer}`).addEventListener("input", function() {
    document.getElementById(`fontSizeSliderLabel_${layer}`).textContent = `Font Size: ${this.value}px`;
    updateLayerStyling(layer);
    });
});
}

// Call this function to initialize everything once the DOM is ready
function initializeStylingOptions() {
  addEventListeners();
}

// Trigger initialization when the document is fully loaded
document.addEventListener("DOMContentLoaded", initializeStylingOptions);

// ###################
// ## Label switch ###
// ###################

document.addEventListener('DOMContentLoaded', function () {
  const labelButtons = document.querySelectorAll('.receptor-label-btn');

  // Optional: define default on load
  const defaultType = 'Protein';
  window.Label_names = window.Label_names || defaultType;

  labelButtons.forEach(btn => {
    // Highlight the active one on page load
    if (btn.getAttribute('data-value') === Label_names) {
      btn.classList.remove('btn-outline-primary');
      btn.classList.add('btn-primary');
    }

    btn.addEventListener('click', function () {
      const selectedValue = this.getAttribute('data-value');
      Label_names = selectedValue;
      updateVisualization_list();

      // Reset button styles
      labelButtons.forEach(b => {
        b.classList.remove('btn-primary');
        b.classList.add('btn-outline-primary');
      });
      this.classList.remove('btn-outline-primary');
      this.classList.add('btn-primary');
    });
  });
});


// Layout dropdown
document.getElementById('legend-layout-select').addEventListener('change', function () {
    const value = this.value;
    if (value.startsWith('columns')) {
        Textlegend_styling.layoutMode = 'columns';
        Textlegend_styling.columns = parseInt(value.split('-')[1]);
    } else {
        Textlegend_styling.layoutMode = 'row';
    }
    updateVisualization_list();
});

// Sorting toggle
document.getElementById('toggleLegendSorting').addEventListener('click', function () {
    Textlegend_styling.sortDirection = Textlegend_styling.sortDirection === 'Vertically' ? 'Horizontally' : 'Vertically';
    this.textContent = Textlegend_styling.sortDirection;
    updateVisualization_list();
});

// Position toggle
document.getElementById('toggleLegendPosition').addEventListener('click', function () {
    Textlegend_styling.TreeLegendPosition = Textlegend_styling.TreeLegendPosition === 'Top' ? 'Bottom' : 'Top';
    this.textContent = Textlegend_styling.TreeLegendPosition;
    updateVisualization_list();
});

// Font size slider
document.getElementById('legendFontSizeSlider').addEventListener('input', function () {
    const value = this.value;
    document.getElementById('legendFontSizeValue').textContent = value;
    Textlegend_styling.Fontsize = `${value}px`;
    updateVisualization_list();
});

// === Legend Show/Hide Toggle ===
document.getElementById("legendToggleBtn").addEventListener("click", function () {
  ShowLegend = !ShowLegend;

  if (ShowLegend) {
    this.textContent = "Shown";
    this.classList.remove("btn-danger");
    this.classList.add("btn-success");
  } else {
    this.textContent = "Hidden";
    this.classList.remove("btn-success");
    this.classList.add("btn-danger");
  }

  updateVisualization_list();
});
</script>
{% endblock %}
