{% extends "alignment/alignment.html" %}
{% load staticfiles %}

{% block buttons %}
<!-- Download button -->
<div class="btn-group">
  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/similaritysearch/fasta">Alignment (fasta)</a></li>
    <li><a href="/similaritysearch/csv">Spreadsheet (csv)</a></li>
</div>
{% endblock %}

{% block scores %}
        <!-- similarity score column -->
        <td>
            <!-- stats column -->
            <div class="ali-first-scroll-div"></div>
            <div class="ali-first-col-div">
                <table>
                    <!-- segment line -->
                    <tr>
                        <td colspan="3" class="ali-td ali-td-first-col"></td>
                    </tr>

                    <!-- numbering scheme lines -->
                    {% for ns in a.numbering_schemes %}
                    <tr>
                        <td colspan="3" class="ali-td-generic-num ali-td-first-col">
                        </td>
                    </tr>
                    {% endfor %}

                    <!-- protein lines -->
                    {% for p in a.proteins %}
                    <tr>
                        {% if forloop.counter == 1 %}
                        <td class="ali-td ali-td-first-col">
                            %I
                        </td>
                        <td class="ali-td ali-td-first-col">
                            %S
                        </td>
                        <td class="ali-td ali-td-first-col">
                            S
                        </td>
                        {% else %}
                        <td class="ali-td ali-td-first-col">
                            {{ p.identity }}
                        </td>
                        <td class="ali-td ali-td-first-col">
                            {{ p.similarity }}
                        </td>
                        <td class="ali-td ali-td-first-col">
                            {{ p.similarity_score }}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}

                    <!-- numbering scheme lines -->
                    {% for ns in a.numbering_schemes %}
                    <tr>
                        <td colspan="3" class="ali-td-generic-num ali-td-first-col">
                        </td>
                    </tr>
                    {% endfor %}

                    {% if a.consensus %}
                    <!-- consensus sequence -->
                    <tr>
                        <td colspan="3" class="ali-td ali-td-first-col">
                        </td>
                    </tr>

                    <!-- feature consensus -->
                    <tr>
                        <td colspan="3" class="ali-td ali-td-first-col">
                        </td>
                    </tr>
                    <!-- Length -->
                    <tr>
                        <td colspan="3" class="ali-td ali-td-first-col">
                        </td>
                    </tr>
                    <!-- feature frequency -->
                    <tr>
                        <td colspan="3" class="ali-td ali-td-first-col">
                        </td>
                    </tr>
                    {% for feature in a.features_combo %}
                    <tr>
                        <td class="ali-td ali-td-first-col">
                        </td>
                    </tr>
                    {% endfor %}

                    <!-- Z-scales -->
                    <tr>
                        <td colspan="3" class="ali-td ali-td-first-col">
                        </td>
                    </tr>
                    {% for scale in a.zscales %}
                    <tr>
                        <td class="ali-td ali-td-first-col">
                        </td>
                    </tr>
                    {% endfor %}

                    <!-- numbering scheme lines -->
                    {% for ns in a.numbering_schemes %}
                    <tr>
                        <td colspan="3" class="ali-td-generic-num ali-td-first-col">
                        </td>
                    </tr>
                    <!-- amino acid frequency -->
                    {% comment %}<tr>
                        <td colspan="3" class="ali-td ali-td-first-col">
                        </td>
                    </tr>
                    {% for aa in a.amino_acids %}
                    <tr>
                        <td class="ali-td ali-td-first-col">
                        </td>
                    </tr> {% endcomment %}
                    {% endfor %}
                    {% endif %}

                </table>
            </div>
        </td>
{% endblock %}
