{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}
<table class="table" id="couplings">
    <thead>
        <tr>
            <th>
                Receptor
            </th>
            <th width2=70px>
                Uniprot
            </th>
            <th colspan="4">
                GuideToPharmacology
            </th>
            <th colspan="16">
                Aska
            </th>
        </tr>
        <tr>
            <th>
            </th>
            <th>
            </th>
            {% for gf in distinct_gf %}
                <th></th>
            {% endfor %}
            {% for gf in distinct_gf %}
                <th></th>
            {% endfor %}
            {% for gf,sfs in distinct_sf.items %}
                {% for sf in sfs %}
                    <th>{{sf}}</th>
                {% endfor %}
            {% endfor %}
        </tr>

    </thead>

    <tbody>
{% for p,vals in data.items %}
    <tr>
        <td>{{p}}</td>
        {% for v in vals %}
        <td>{{v|safe}}</td>
        {% endfor %}
    </tr>
{% endfor %}
    </tbody>
    </table>

{% endblock %}

{% block addon_js %}
    <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
    <script src="{% static 'home/js/select2.js' %}"> </script>
    <script type="text/javascript">
        $(document).ready(function() {
            oTable = $('#couplings').DataTable({
                    'scrollX': true,
                    // 'paging': true,
                    // 'autoWidth': true,

                    scrollY:        '80vh',
                    // scrollCollapse: true,
                    paging:         false,
                    columnDefs: [
                      { targets: 'no-sort', orderable: false }
                    ],
                  });

                  yadcf.init(oTable,
                    [
                        {
                            column_number : 0,
                            filter_type: "multi_select",
                            select_type: 'select2',
                            filter_default_label: "Uniprot",
                            filter_reset_button_text: false,
                        },
                        {
                            column_number : 1,
                            filter_type: "multi_select",
                            select_type: 'select2',
                            //column_data_type: "html",
                            html_data_type: "text",
                            filter_default_label: "Receptor",
                            filter_match_mode : "exact",
                            filter_reset_button_text: false,
                        },

                        {
                            column_number : 2,
                            filter_type: "multi_select",
                            select_type: 'select2',
                            filter_default_label: "Gq/G11",
                            filter_reset_button_text: false,
                        },


                        {
                            column_number : 3,
                            filter_type: "multi_select",
                            select_type: 'select2',
                            filter_default_label: "Gi/Go",
                            filter_reset_button_text: false,
                        },


                        {
                            column_number : 4,
                            filter_type: "multi_select",
                            select_type: 'select2',
                            filter_default_label: "Gs",
                            filter_reset_button_text: false,
                        },


                        {
                            column_number : 5,
                            filter_type: "multi_select",
                            select_type: 'select2',
                            filter_default_label: "G12/G13",
                            filter_reset_button_text: false,
                        },

                        {
                            column_number : 6,
                            filter_type: "multi_select",
                            select_type: 'select2',
                            filter_default_label: "Gq/G11",
                            filter_reset_button_text: false,
                        },


                        {
                            column_number : 7,
                            filter_type: "multi_select",
                            select_type: 'select2',
                            filter_default_label: "Gi/Go",
                            filter_reset_button_text: false,
                        },


                        {
                            column_number : 8,
                            filter_type: "multi_select",
                            select_type: 'select2',
                            filter_default_label: "Gs",
                            filter_reset_button_text: false,
                        },


                        {
                            column_number : 9,
                            filter_type: "multi_select",
                            select_type: 'select2',
                            filter_default_label: "G12/G13",
                            filter_reset_button_text: false,
                        },

                        // {
                        //     column_number : 1,
                        //     filter_type: "multi_select",
                        //     select_type: 'select2',
                        //     select_type_options: {
                        //       width: '70px'
                        //     },
                        //     filter_default_label: "PDB",
                        //     filter_reset_button_text: false,
                        // },
                        // {
                        //     column_number : 2,
                        //     filter_type: "multi_select",
                        //     select_type: 'select2',
                        //     column_data_type: "html",
                        //     html_data_type: "text",
                        //     filter_default_label: "Receptor",
                        //     filter_match_mode : "exact",
                        //     filter_reset_button_text: false,
                        // },
                        // {
                        //     column_number : 3,
                        //     filter_type: "multi_select",
                        //     select_type: 'select2',
                        //     html_data_type: "text",
                        //     select_type_options: {
                        //       width: '150px'
                        //     },
                        //     filter_default_label: "Family",
                        //     filter_match_mode : "exact",
                        //     filter_reset_button_text: false,
                        // },
                        // {
                        //     column_number : 4,
                        //     filter_type: "multi_select",
                        //     select_type: 'select2',
                        //     filter_default_label: "Species",
                        //     filter_reset_button_text: false,
                        // },
                        // {
                        //     column_number : 5,
                        //     filter_type: "multi_select",
                        //     select_type: 'select2',
                        //     select_type_options: {
                        //         minimumResultsForSearch: -1 // remove search box
                        //     },
                        //     filter_default_label: "State",
                        //     column_data_type: "html",
                        //     html_data_type: "text",
                        //     filter_match_mode : "exact",
                        //     filter_reset_button_text: false,

                        // },
                        // {
                        //     column_number : 6,
                        //     filter_type: "multi_select",
                        //     select_type: 'select2',
                        //     filter_default_label: "Representative",
                        //     filter_reset_button_text: false,

                        // },
                    ],
                    {
                        cumulative_filtering: false
                    }
                );

            yadcf.exResetAllFilters(oTable);
        });
    </script>
{% endblock %}
{% block addon_css %}
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
{% endblock %}