{% extends "home/base.html" %}
{% load staticfiles %}

{% block addon_css %}
<link href="{% static 'home/css/signprotmat.css' %}" rel="stylesheet">
<link href="{% static 'home/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'home/css/select.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'home/css/buttons.dataTables.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
{% endblock %}

{% block content %}
<h1 class="page-header">GPCR - Signal Protein Interaction Matrix</h1>
<p>
    Display the interaction between one or multiple GPCR/G-protein complex interfaces.
</p>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Interface(s)</h3>
            </div>

            <div class="panel-body">
                <h5><span id='interface-count' class="crystal-count">0 interfaces selected.</span></h5>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#interface-modal-table">Select Interface</button>
            </div>

        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Add additional PDB(s)</h3>
            </div>

            <div class="panel-body">
                <h5><span id='pdb-count' class="crystal-count">0 PDBs selected.</span></h5>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pdb-modal-table">Add PDB</button>
            </div>

        </div>
    </div>


    <div class="col-md-3">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Sequence Signature</h3>
            </div>

            <div class="panel-body">
                <p>Click the button in order to calculate the sequence signature of the set of GPCR structures and your appended PDBs.</p>
                <button type="button" class="btn btn-primary" onClick="run_seq_sig();">Calculate <i id="calc_spin" class="fa fa-spinner fa-spin" style="display: none"></i></button>
            </div>

        </div>
    </div>


    <div class="col-md-3">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Filter Interactions</h3>
            </div>

            <div class="panel-body">
                <p>Display residue pairs with <span id='currentpairs'>1</span> <br/> or more interfaces.</p>

                <div style="padding: 10px 0;">
                    <span class="">1</span>
                    <input
                    type="range"
                    id="highlight_pair_num"
                    class="btn"
                    value="1"
                    min="1"
                    max="20"
                    name="highlight_pair_num"
                    onchange="highlight_pairs()"
                    style="display: inline-block; width: auto">
                    <span class="">20</span>
                </div>

                <div class="">
                    <button class="btn btn-primary" onclick="$('#highlight_pair_num').get(0).value--; highlight_pairs()">-</button>
                    <button class="btn btn-primary" onclick="$('#highlight_pair_num').get(0).value++; highlight_pairs()">+</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="interface-modal-table" role="dialog">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select interfaces from the table</h4>
            </div>

            <div class="modal-body">
                <div class="col-md-12">
                    <table id="table-interface" class="display">
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="pdb-modal-table" role="dialog">
    <!-- <div class="modal-dialog modal-wide" style="width: 800px"> -->
    <div class="modal-dialog modal-wide" style="width: 100%">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select PDBs from the table</h4>
            </div>

            <div class="modal-body">
                <div class="col-md-12">
                    <table id="table-pdb" class="display" width="100%">
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

{% comment %} <div id="raw-data">
    <h2>Raw Data</h2>
    <table id="table-data" class="display">
        <thead>
            <tr>
                <th>int_ty</th>
                <th>PDB</th>
                <th>R AA</th>
                <th>R GN</th>
                <th>R Pos</th>
                <th>S AA</th>
                <th>S Pos</th>
            </tr>
        </thead>
    </table>
</div> {% endcomment %}

<div id="svg-container" class="svg-container">
    <h2>Interaction Interface</h2>
</div>

<div id="seqsig-container" class="svg-container" style="display: none; padding-bottom: 130%">
    <div id="seqsig">
        <h2>Sequence Signature</h2>
    </div>
</div>

<div id="conseq-container" class="svg-container" style="display: none">
    <div id="conseq">
        <h2>Consensus Sequence</h2>
    </div>
</div>

{% endblock %}

{% block addon_js %}
<script type="text/javascript">
    const interactions = {{ interactions | safe}};
    const interactions_metadata = {{ interactions_metadata | safe}};
    const ps = {{ ps | safe}};
    const rs = {{ rs | safe}};
    let pdb_sel = [];

    // Global Variable
    let data;
    let svg;
    let xScale;
    let yScale;
    let fscale;
    let xAxis;
    let yAxis;
    let xAxisGrid;
    let yAxisGrid;
    let pdbScale;
    let sigScale;
    let colScale;
    let tooltip;

    let old_sets = [];
    let pos_set = [];
    let neg_set = [];

    const get_gn = function(){
        const segments = [];
        const orig = [];
        const patt = /(^\d{1,})|(x\d{2,})/g

        const selection = data.receptor
        const value = 'rec_gn'

        for (let index = 0; index < selection.length; index++) {
            let comb_gn = '';
            curr = selection[index][value];
            match = patt.exec(curr);
            while (match != null) {
                comb_gn += match[0];
                match = patt.exec(selection[index][value]);
            }
            if (comb_gn.length > 1) {
                segments.push(comb_gn);
                orig.push(curr);
            }
        };
        return {
            orig: _.uniq(orig),
            label: _.uniq(segments)
            };
    };

    const run_seq_sig = function(){
        let segments = get_gn();
        let pos_set = ["5ht2c_human", "acm4_human", "drd1_human"];
        //let neg_set = ["agtr1_human", "ednrb_human", "gnrhr_human"];
        //console.log(segments);

        if (pos_set.length < 1 || neg_set.length < 1){
            alert('No valid sets selected.');
            return;
        };

        if (_.isEqual(old_sets.sort(), _.union(pos_set, neg_set).sort())){
            alert('The selected sets are identical to the previously selected ones.');
            return;
        };

        // api request
        let req = $.ajax({
            type: 'POST',
            url: '/signprot/matrix/seqsig/',
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                pos: pos_set,
                neg: neg_set,
                seg: segments.label,
            },
            beforeSend: function(){
                old_sets = _.union(pos_set, neg_set);
                console.log(old_sets)
                document.querySelector("#calc_spin").style.display = "inline-block";
            },
            success: function(data){
                $('.svg-content.seqsig').remove();
                $('.svg-content.conseq').remove();
                console.log('success')
                document.querySelector('#seqsig-container').style.display = "inline-block";
                document.querySelector('#conseq-container').style.display = "inline-block";
                document.querySelector('#seqsig').scrollIntoView({behavior: 'smooth'});
                console.log(data);
                // d3 draw
                svg = signprotmat.d3.setup("div#seqsig-container", 'seqsig');
                signprotmat.d3.draw_seq_sig(
                    data,
                    svg,
                    xScale,
                );
                svg = signprotmat.d3.setup("div#conseq-container", 'conseq');
                signprotmat.d3.draw_seq_cons(
                    data,
                    svg,
                    xScale,
                );
            },
            error: function(error){
                alert(error);
            },
            complete: function(){
                document.querySelector("#calc_spin").style.display = "none";
            }
        });
    };

    const highlight_pairs = function() {
        const num = $('input[name="highlight_pair_num"]').val();
        $('#currentpairs').text(num);
        d3.select('g#interact')
        .selectAll("rect")
        .style('display', function(d){return (num <= d.pairs.length ? 'block' : 'none') })
    }


</script>
<script src="{% static 'home/js/d3.v5.7.min.js' %}"></script>
<script src="{% static 'home/js/d3.tip.v4comp.js' %}"></script>
<script src="{% static 'home/js/d3-legend.min.js' %}"></script>
<script src="{% static 'home/js/lodash.min.js' %}"></script>
<script src="{% static 'home/js/chroma.min.js' %}"></script>
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'home/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'home/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'home/js/signprotmat.js' %}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        const table = $('#table-interface').DataTable({
            dom: 'Bfrtip',
            data: interactions_metadata,
            columnDefs: [
                {
                    data: null,
                    targets: 0,
                    defaultContent: '',
                    orderable: false,
                    className: 'select-checkbox',
                }, {
                    data: 'pdb_id',
                    title: 'PDB',
                    targets: 1,
                }],
            select: {
                style: 'os',
            },
            paging: false,
            buttons: [
                {
                    text: 'Select all',
                    action: function () {
                        table.rows().select();
                    }
                },
                {
                    text: 'Select none',
                    action: function () {
                        table.rows().deselect();
                    }
                },
            ]
        });

        table
            .on('select', function (e, dt, type, indexes) {
                const row_count = table.rows({ selected: true }).count()
                if (row_count >= 2 || row_count === 0) {
                    $('#interface-count').text(row_count + ' interfaces selected.');
                } else {
                    $('#interface-count').text(row_count + ' interface selected.');
                }
            })
            .on('deselect', function (e, dt, type, indexes) {
                const row_count = table.rows({ selected: true }).count()
                if (row_count >= 2 || row_count === 0) {
                    $('#interface-count').text(row_count + ' interfaces selected.');
                } else {
                    $('#interface-count').text(row_count + ' interface selected.');
                }
            });

        // Default: Select all rows on page load
        table.rows().select();
        let selection = table.rows({ selected: true }).data();
        pdb_sel = signprotmat.data.select_by_value(selection, 'pdb_id');
        pos_set = signprotmat.data.select_by_value(selection, 'entry_name')

        $('#interface-modal-table').on('hidden.bs.modal', function (e) {
            selection = table.rows({ selected: true }).data();
            pdb_sel = signprotmat.data.select_by_value(selection, 'pdb_id')
            pos_set = signprotmat.data.select_by_value(selection, 'entry_name')

            $('.svg-content').remove();
            data = signprotmat.data.dataTransformationWrapper(interactions, keys, pdb_sel);
            svg = signprotmat.d3.setup("div#svg-container");
            xScale = signprotmat.d3.xScale(data.transformed);
            yScale = signprotmat.d3.yScale(data.transformed);
            xAxis = signprotmat.d3.xAxis(xScale);
            yAxis = signprotmat.d3.yAxis(yScale);
            xAxisGrid = signprotmat.d3.xAxisGrid(xScale, yScale);
            yAxisGrid = signprotmat.d3.yAxisGrid(xScale, yScale);
            pdbScale = signprotmat.d3.pdbScale(data.transformed);
            sigScale = signprotmat.d3.sigScale(data.transformed);
            colScale = signprotmat.d3.colScale(data.inttypes);
            tooltip = signprotmat.d3.tooltip(svg);
            signprotmat.d3.renderData(
                svg,
                data,
                xScale,
                yScale,
                xAxis,
                yAxis,
                xAxisGrid,
                yAxisGrid,
                colScale,
                pdbScale,
                sigScale,
                tooltip
            );

            interface_data_table.clear();
            interface_data_table.rows.add(data.transformed);
            interface_data_table.draw();

            const row_selection = pdb_table.rows({ selected: true }).data();
            const xvals = xScale.domain();
            const prids = signprotmat.data.select_by_value(row_selection, 'rec_id');

            receptor_data = signprotmat.data.get_additional_receptors(rs, xvals, prids)
            signprotmat.d3.addReceptor(receptor_data, data, svg);

        });

        let keys = [
            "rec_chain",
            "rec_aa",
            "rec_pos",
            "rec_gn",
            "sig_chain",
            "sig_aa",
            // "sig_pos",
            "sig_gn",
            "int_ty",
            "pdb_id"
        ];

        data = signprotmat.data.dataTransformationWrapper(interactions, keys, pdb_sel);
        svg = signprotmat.d3.setup("div#svg-container");
        xScale = signprotmat.d3.xScale(data.transformed);
        yScale = signprotmat.d3.yScale(data.transformed);
        xAxis = signprotmat.d3.xAxis(xScale);
        yAxis = signprotmat.d3.yAxis(yScale);
        xAxisGrid = signprotmat.d3.xAxisGrid(xScale, yScale);
        yAxisGrid = signprotmat.d3.yAxisGrid(xScale, yScale);
        pdbScale = signprotmat.d3.pdbScale(data.transformed);
        sigScale = signprotmat.d3.sigScale(data.transformed);
        colScale = signprotmat.d3.colScale(data.inttypes);
        tooltip = signprotmat.d3.tooltip(svg);
        signprotmat.d3.renderData(
            svg,
            data,
            xScale,
            yScale,
            xAxis,
            yAxis,
            xAxisGrid,
            yAxisGrid,
            colScale,
            pdbScale,
            sigScale,
            tooltip
        );

        // PDB TABLE MODAL
        const pdb_table = $('#table-pdb').DataTable({
            dom: 'Bfrtip',
            data: ps,
            scrollX: true,
            columnDefs: [
                {
                    data: null,
                    targets: 0,
                    defaultContent: '',
                    orderable: false,
                    className: 'select-checkbox',
                }, {
                    data: 'protein_class',
                    title: 'Class',
                    targets: 1,
                }, {
                    data: 'protein_family',
                    title: 'Family',
                    targets: 2,
                }, {
                    data: 'name',
                    title: 'Name',
                    targets: 3,
                }, {
                    data: 'pdb_id',
                    title: 'PDB',
                    targets: 4,
                }, {
                    data: 'rec_id',
                    title: 'receptor id',
                    targets: 5,
                }, {
                    data: 'ligand',
                    title: 'Ligand',
                    targets: 6,
                }],
            select: {
                style: 'os',
            },
            paging: true,
            buttons: [
                {
                    text: 'Select all',
                    action: function () {
                        pdb_table.rows().select();
                    }
                },
                {
                    text: 'Select none',
                    action: function () {
                        pdb_table.rows().deselect();
                    }
                },
            ]
        });


        pdb_table
            .on('select', function (e, dt, type, indexes) {
                const row_count = pdb_table.rows({ selected: true }).count()
                if (row_count >= 2 || row_count === 0) {
                    $('#pdb-count').text(row_count + ' PDBs selected.')
                } else {
                    $('#pdb-count').text(row_count + ' PDB selected.')
                }
            })
            .on('deselect', function (e, dt, type, indexes) {
                const row_count = pdb_table.rows({ selected: true }).count()
                if (row_count >= 2 || row_count === 0) {
                    $('#pdb-count').text(row_count + ' PDBs selected.')
                } else {
                    $('#pdb-count').text(row_count + ' PDB selected.')
                }
            });

        $('#pdb-modal-table').on('hidden.bs.modal', function (e) {
            const row_selection = pdb_table.rows({ selected: true }).data();
            const xvals = xScale.domain();
            const prids = signprotmat.data.select_by_value(row_selection, 'rec_id');

            neg_set = signprotmat.data.select_by_value(row_selection, 'entry_name');

            receptor_data = signprotmat.data.get_additional_receptors(rs, xvals, prids)
            signprotmat.d3.addReceptor(receptor_data, data, svg);
        });

        let interface_data_table = $('#table-data').DataTable({
            data: data.transformed,
            columns: [
                { data: 'int_ty' },
                { data: 'pdb_id' },
                { data: 'rec_aa' },
                { data: 'rec_gn' },
                { data: 'rec_pos' },
                { data: 'sig_aa' },
                { data: 'sig_gn' }
            ]
        });

        // https://www.datatables.net/examples/api/tabs_and_scrolling.html
        $(document).on('shown.bs.modal', function (e) {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        });

    });


</script>

{% endblock %}