{% extends "home/base.html" %}
{% load static %}

{% block addon_css %}
<link href="{% static 'home/css/signprotmat.css' %}" rel="stylesheet">
<link href="{% static 'home/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'home/css/select.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'home/css/buttons.dataTables.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />

<link href="{% static 'home/css/flareplot-contactbrowser.css' %}" rel="stylesheet">
<link href="{% static 'home/css/flareplot-selectors.css' %}" rel="stylesheet">
<link href="{% static 'home/css/flareplot-rangeslider.css' %}" rel="stylesheet">
<style type="text/css">
    .gpcrdb-link {
        filter: grayscale(100%);
    }
    .gpcrdb-link:hover {
        filter: grayscale(0%);
    }
    .shorten {
      max-width: 100px;
      text-overflow: ellipsis;
      word-break: normal;
      overflow: hidden;
      white-space: nowrap;
    }
</style>
{% endblock %}

{% block content %}

<div class="dummy-content" style="display: none">
    <!-- excel export -->
    <a id="dlink"></a>
    <div id="excel_table"></div>

    <ul class="nav nav-tabs" id="mode_nav">
        <li class="active">
            <a href="#single-crystal-group-tab" data-toggle="tab">Single set of structures</a>
        </li>
    </ul>
</div>

{% if page == 'gprotein' %}
<h1 class="page-header" id="htmlVariable" data-url="G alpha">GPCR - G protein interface interactions</h1>
{% else %}
<h1 class="page-header" id="htmlVariable" data-url="A">GPCR - Arrestin interface interactions</h1>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Structures</h3>
            </div>

            <div class="panel-body">


                <div class="col-md-2">
                    <p
                            id='single-crystal-group-pdbs-modal-external-text'
                            class="crystal-count"
                            style="font-weight: 700">
                    0 structures selected.
                        </p></h5>
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#interface-modal-table">
                            Select Structures
                        </button>
                        <button
                            type="button"
                            class="btn btn-success"
                            style="margin-top: 5px"
                            onClick='var fasta_data = signprotmat.data.get_data_gap_non_int(pdbScale, xScale, non_interactions, data.receptor);
                            signprotmat.data.download_fasta(fasta_data, pdbScale)'>
                            Download Fasta
                        </button>
                </div>

                <div class="col-md-2">
                    <p><b>Sequence Color</b></p>

                    <div class="btn-group-vertical btn-group-sm" role="group">
                        <button
                            type="button"
                            id="resbut"
                            class="btn btn-primary"
                            onClick="signprotmat.d3.colorBySwitch('res', colScale)">
                            Residue
                        </button>
                        <button
                            type="button"
                            id="intbut"
                            class="btn btn-primary active"
                            onClick="signprotmat.d3.colorBySwitch('int', colScale)">
                            Interaction
                        </button>
                    </div>
                </div>

                <div id="legend-space" class="col-md-6">
                </div>

                <div class="col-md-2">
                    <p style='margin: 0'><b>Interaction frequency filter (%)</b></p>
                    <div id="amount_min"></div>
                    <div id="amount_max"></div>

                    <div id="slider-range"></div>
                </div>

                <!-- calculation status display -->
                <!-- <div class="col-md-2">                        -->
                <!--     <div class="col">                         -->
                <!--         <p>Sequence Features:                 -->
                <!--             <i id="calc_spin"                 -->
                <!--                class="fa fa-times"            -->
                <!--                style="display: inline-block"> -->
                <!--             </i>                              -->
                <!--         </p>                                  -->
                <!--     </div>                                    -->
                <!--     <div class="col">                         -->
                <!--         <p>Feature Match:                     -->
                <!--             <i id="sigm_spin"                 -->
                <!--                class="fa fa-times"            -->
                <!--                style="display: inline-block"> -->
                <!--             </i>                              -->
                <!--         </p>                                  -->
                <!--     </div>                                    -->
                <!-- </div>                                        -->
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="interface-modal-table" role="dialog">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select a set of structures</h4>
            </div>

            <div class="modal-body">
                <div class="col-md-12">
                    <span id="single-crystal-group-pdbs-modal-text">0 structure(s) selected</span>
                    <button type="button" onclick="resetselection();" class="btn btn-xs btn-primary reset-selection">Reset selection</button>
                    <p style="display:inline;">Filtering and selection might take up a few seconds.</p>
                    <div class="tableview"></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <div class="loading_overlay">
            <img src="/static/home/images/loading.gif" id="img-load" />
        </div>
    </div>
</div>

<div id="interface-container" class="" >
    <div id="interface-svg" class="collapse in"></div>
</div>

<div id="seqsig-container" style="display: none;margin-bottom:20px;">
    <div id="seqsig-svg" class="collapse in"></div>
</div>

<div id="conseq-container" style="display: none;margin-bottom:20px;">
    <!-- <div>                                                      -->
    <!--     <h2>Property Consensus</h2>                            -->
    <!--     <button class="btn btn-primary" data-toggle="collapse" -->
    <!--         data-target="#conseq-svg">Collapse</button>        -->
    <!-- </div>                                                     -->
    <!-- <div id="conseq-svg" class="collapse in"></div>            -->
</div>


<div id="sigmatch-container" class="svg-container" style="display: none; padding-bottom:10%"><div>
  <div class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:saveSvgAsPng(document.getElementsByClassName('interaction')[0], 'GPCR-GProtein_interface_matrix.png');">PNG</a>
            </li>
            <li>
                <a href="javascript:saveSvgAsJpg(document.getElementsByClassName('interaction')[0], 'GPCR-GProtein_interface_matrix.jpg');">JPG</a>
            </li>
            <li>
                <a href="javascript:saveSvgAsTiff(document.getElementsByClassName('interaction')[0], 'GPCR-GProtein_interface_matrix.tiff');">TIFF</a>
            </li>
            <li>
                <a href="javascript:saveSvg(document.getElementsByClassName('interaction')[0], 'GPCR-GProtein_interface_matrix.svg');">SVG</a>
            </li>
        </ul>
    </div>
  </div>
  <br />
  <br />
        <h2>Interface Property Consensus Conservation in Class</h2>

        <!-- <div class="row">                                                                                 -->
        <!--     <div class="col-md-12">                                                                       -->
        <!--         <div class="panel panel-default">                                                         -->
        <!--             <div class="panel-heading">                                                           -->
        <!--                 <h3 class="panel-title"></h3>                                                     -->
        <!--             </div>                                                                                -->


        <!--             <div class="panel-body">                                                              -->

        <!--                 <div class="col-md-12">                                                           -->
        <!--                     <p>                                                                           -->
        <!--                     Receptors are marked with two different kinds of symbols:                     -->
        <!--                     <ul>                                                                          -->
        <!--                         <li><i class="fa mattab fa-check"></i></li>                               -->
        <!--                         <li><i class="fa mattab fa-times"></i></li>                               -->
        <!--                     </ul>                                                                         -->
        <!--                     Coloring the symbols black and grey shows primary and                         -->
        <!--                     secondary coupling respectively.                                              -->

        <!--                     <br>                                                                          -->

        <!--                     Note, that when <b>exporting the data</b> a 2 corresponds to                  -->
        <!--                     secondary coupling, a 1 to primary coupling.                                  -->
        <!--                     </p>                                                                          -->
        <!--                 </div>                                                                            -->

        <!--                 <div class="col-md-12">                                                           -->
        <!--                     <p><b>Show</b> the sequence alignments that correspond to the shown score</p> -->
        <!--                     <a id='score-button' href="javascript:void(0)" class="btn                     -->
        <!--                         btn-primary">Show Alignment</a>                                           -->
        <!--                 </div>                                                                            -->
        <!--             </div>                                                                                -->

        <!--         </div>                                                                                    -->
        <!--     </div>                                                                                        -->
        <!-- </div>                                                                                            -->
    </div>
    <table id='sigmatch_table' class="display" style="width: 100%">
      <thead id="headers">
        <tr class="header-spans">
          {% if page == 'gprotein' %}
          <th style="text-align:left" colspan="6">
            Receptors</th>
          <th style="border-left: 1px solid black; text-align:left" colspan="4">
            Guide to Pharmacology</th>
          <th style="border-left: 1px solid black; text-align:left" colspan="4">
            GPCRdb Mean</th>
          {% else %}
          <th style="text-align:left" colspan="6">
            Receptors</th>
          <!-- <th style="border-left: 1px solid black; text-align:left" colspan="2">
            Guide to Pharmacology</th> -->
          <th style="border-left: 1px solid black; text-align:left" colspan="2">
            GPCRdb Mean</th>
          {% endif %}
        </tr>
        <tr class="table-filter-dropdown">
          <th style="text-align:center" colspan="1"></th>
          <th style="text-align:center" colspan="1">
            Class</th>
          <th style="text-align:center" colspan="1">
            Family</th>
          <th style="text-align:center" colspan="1">
            IUPHAR</th>
          <th style="text-align:center" colspan="1">
            UniProt</th>
          <th style="text-align:center" colspan="1">
            Interface Conservation (%)</th>
          {% if page == 'gprotein' %}
          <th style="text-align:center" colspan="1">
            Gs</th>
          <th style="text-align:center" colspan="1">
            Gi/o</th>
          <th style="text-align:center" colspan="1">
            Gq/11</th>
          <th style="text-align:center" colspan="1">
            G12/13</th>
          <th style="text-align:center" colspan="1">
            Gs</th>
          <th style="text-align:center" colspan="1">
            Gi/o</th>
          <th style="text-align:center" colspan="1">
            Gq/11</th>
          <th style="text-align:center" colspan="1">
            G12/13</th>
          {% else %}
          <!-- <th style="text-align:center" colspan="1">
            ARRB1</th>
          <th style="text-align:center" colspan="1">
            ARRB2</th> -->
          <th style="text-align:center" colspan="1">
            ARRB1</th>
          <th style="text-align:center" colspan="1">
            ARRB2</th>
          {% endif %}
        </tr>
      </thead>
    </table>
</div>
{% endblock %}

{% block addon_js %}
<script type="text/javascript">
const interactions_metadata = {{ interactions_metadata | safe}};
const gprot = {{ gprot | safe}};
const receptor = {{ receptor | safe}};
const csrf_token = "{{ csrf_token }}"

</script>
<script src="{% static 'home/js/d3.v5.min.js' %}"></script>
<script src="{% static 'home/js/d3.tip.v4comp.js' %}"></script>
<script src="{% static 'home/js/d3-legend.min.js' %}"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/saveSvg.js' %}"></script>
<script src="{% static 'home/js/lodash.min.js' %}"></script>
<script src="{% static 'home/js/chroma.min.js' %}"></script>

<script src="{% static 'home/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'home/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'home/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'home/js/selection.js' %}"> </script>
<script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
<script src="{% static 'home/js/select2.js' %}"> </script>
<script src="{% static 'home/js/gpcrdb.js' %}"></script>
<script src="{% static 'home/js/jquery.tablesorter.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'home/js/matrix_utilities.js' %}"></script>
<script src="{% static 'home/js/signprotmat.js' %}"></script>
<script src="{% static 'home/js/fixed_columns.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/contactbrowser_functions.js' %}"> </script>

{% endblock %}
