{% extends "home/base.html" %}
{% load staticfiles %}

{% block addon_css %}
<link href="{% static 'home/css/signprotmat.css' %}" rel="stylesheet">
<link href="{% static 'home/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'home/css/select.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'home/css/buttons.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h3>GPCR - Signal Protein Interaction Matrix</h3>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Interface(s)</h3>
            </div>

            <div class="panel-body">
                <h5><span id='interface-count' class="crystal-count">0 interfaces selected.</span></h5>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#interface-modal-table">Select Interface</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="interface-modal-table" role="dialog">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select interfaces from the table</h4>
            </div>

            <div class="modal-body">
                <div class="col-md-12">
                    <table id="table-interface" class="display">
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block addon_js %}
<script type="text/javascript">
    const interactions = {{ interactions | safe}};
    const interactions_metadata = {{ interactions_metadata | safe}};
</script>
<script src="{% static 'home/js/d3.v5.7.min.js' %}"></script>
<script src="{% static 'home/js/d3.tip.v4comp.js' %}"></script>
<script src="{% static 'home/js/d3-legend.min.js' %}"></script>
<script src="{% static 'home/js/lodash.min.js' %}"></script>
<script src="{% static 'home/js/chroma.min.js' %}"></script>
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'home/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'home/js/dataTables.buttons.min.js' %}"></script>
<!-- visualization script -->
<script src="{% static 'home/js/signprotmat.js' %}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        const table = $('#table-interface').DataTable({
            dom: 'Bfrtip',
            data: interactions_metadata,
            columnDefs: [
                {
                    data: null,
                    targets: 0,
                    defaultContent: '',
                    orderable: false,
                    className: 'select-checkbox',
                }, {
                    data: 'pdb_id',
                    title: 'PDB',
                    targets: 1,
                }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            paging: false,
            buttons: [
                {
                    text: 'Select all',
                    action: function () {
                        table.rows().select();
                    }
                },
                {
                    text: 'Select none',
                    action: function () {
                        table.rows().deselect();
                    }
                },
            ]
        });

        table
            .on( 'select', function ( e, dt, type, indexes ) {
                const row_count = table.rows( { selected: true } ).count()
                if (row_count >= 2 || row_count === 0) {
                    $('#interface-count').text(row_count + ' interfaces selected.');
                } else {
                    $('#interface-count').text(row_count + ' interface selected.');
                }
            } )
            .on( 'deselect', function ( e, dt, type, indexes ) {
                const row_count = table.rows( { selected: true } ).count()
                if (row_count >= 2 || row_count === 0) {
                    $('#interface-count').text(row_count + ' interfaces selected.');
                } else {
                    $('#interface-count').text(row_count + ' interface selected.');
                }
            } );

        // Default: Select all rows on page load
        table.rows().select();

        // https://www.datatables.net/examples/api/tabs_and_scrolling.html
        $('#interface-modal-table').on('shown.bs.modal', function (e) {
            $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
        })

    });
</script>

<table id="table-data" class="display">
    <thead>
        <tr>
            <!-- <th>int_ty</th> -->
            <th>PDB</th>
            <th>R AA</th>
            <th>R GN</th>
            <th>R Pos</th>
            <th>S AA</th>
            <th>S Pos</th>
        </tr>
    </thead>
</table>

{% endblock %}