{% extends "home/base.html" %}
{% load static %}
{% load coupling_extras %}

{% block addon_css %}
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'home/css/signprot-multitabtable.css' %}" type="text/css"/>

    <!-- Custom CSS for Hover Effect -->
    <style>
    #proteinTable {
        table-layout: fixed; 
        width: 100%;
    }
    #proteinTable th {
        white-space: nowrap; /* Prevent header text from wrapping */
    }
    .col_size {
        width: 35rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .main_th {
        border-left: 1px solid !important;
    }
    .truncate:hover::after {
        content: attr(data-full-text); /* Pull the full content from a custom data attribute */
        position: absolute;
        background-color: #333;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        white-space: pre-wrap; /* Preserve line breaks and show full content */
        top: 100%; /* Position below the text */
        left: 0;
        z-index: 1000;
        width: max-content; /* Adjust width to fit content */
        max-width: 300px; /* Limit the max width of the tooltip */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
        pointer-events: none; /* Prevent interaction with the tooltip */
    }
    </style>
{% endblock %}


{% block content %}

<!-- Tab Navigation -->
<ul class="nav nav-tabs" id="segmentTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="icl3-tab" data-toggle="tab" href="" role="tab" aria-controls="icl3" aria-selected="true" onclick="showSegment('icl3')">ICL3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="cterm-tab" data-toggle="tab" href="" role="tab" aria-controls="cterm" aria-selected="false" onclick="showSegment('cterm')">C-term</a>
    </li>
</ul>

<!-- Data Table -->
<table id="proteinTable">
    <thead>
        <tr>
            <!-- checkbox -->
            <th colspan="1" style="width: 0.2rem;"></th> 

            <th class="col_size" colspan="4">Receptor</th>

            <th class="segment-col icl3-col col_size main_th" colspan="2" style="width: 8rem;">Segment<br>(ICL3)</th>
            <th class="segment-col icl3-col col_size main_th" colspan="4" style="width: 35rem;">Sites from<br>structures</th>
            <th class="segment-col icl3-col col_size main_th" colspan="5" style="width: 31rem;">P sites</th>
            <th class="segment-col icl3-col col_size main_th" colspan="4">Longest<br>P site</th>
            <th class="segment-col icl3-col col_size main_th" colspan="5">O sites</th>
            <th class="segment-col icl3-col col_size main_th" colspan="4">Longest<br>O site</th>

            <th class="segment-col cterm-col col_size main_th" colspan="2" style="width: 8rem;">Segment<br>(Ct)</th>
            <th class="segment-col cterm-col col_size main_th" colspan="4" style="width: 31rem;">Sites from<br>structures</th>
            <th class="segment-col cterm-col col_size main_th" colspan="5">P sites</th>
            <th class="segment-col cterm-col col_size main_th" colspan="4">Longest<br>P site</th>
            <th class="segment-col cterm-col col_size main_th" colspan="5">O sites</th>
            <th class="segment-col cterm-col col_size main_th" colspan="4">Longest<br>O site</th>
        </tr>
        <tr>
            <th></th>
            {% for header in fixed_headers %}
                <th class="col_size">{{ header | title }}</th>
            {% endfor %}
            {% for header in segment_headers %}
                <th class="segment-col icl3-col col_size">{{ header }}</th>
            {% endfor %}
            {% for header in segment_headers %}
                <th class="segment-col cterm-col col_size" style="display:none;">{{ header }}</th>
            {% endfor %}a
        </tr>
    </thead>
    <tbody>
        {% for site in sites %}
            <tr>
                <td class="text-center"><input class="alt" type="checkbox"></td>
                {% for header in fixed_headers %}
                    <td class="col_size">{{ site|dict_get:header }}</td>
                {% endfor %}


                <!-- {% for header in segment_headers %}
                    {% with key='icl3_'|add:header %}
                        <td class="segment-col icl3-col">{{ site|dict_get:key }}</td>
                    {% endwith %}
                {% endfor %}
                {% for header in segment_headers %}
                    {% with key='c-term_'|add:header %}
                        <td class="segment-col cterm-col" style="display:none;">{{ site|dict_get:key }}</td>
                    {% endwith %}
                {% endfor %} -->

                {% for header in segment_headers %}
                {% with key='icl3_'|add:header %}
                    <td class="segment-col icl3-col col_size" data-full-text="{{ site|dict_get:key }}">
                        {{ site|dict_get:key }}
                    </td>
                {% endwith %}
            {% endfor %}
            {% for header in segment_headers %}
                {% with key='c-term_'|add:header %}
                    <td class="segment-col cterm-col col_size" style="display:none;">
                        {{ site|dict_get:key }}
                    </td>
                {% endwith %}
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


{% block addon_js %}
  <script src="{% static 'home/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"></script>
  <script src="{% static 'home/js/select2.js' %}"></script>
  <script src="{% static 'home/js/signprot-multitabtable.js' %}"></script>
  <script src="{% static 'home/js/xlsx.full.min.js' %}"></script>  
  <script src="{% static 'home/js/gpcrdb.js' %}"></script>


  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script> -->


  <!-- Initialize DataTable -->
  <script>
    $(document).ready(function() {

        let column_filters = [];
      // Arg list: createYADCFfilters(start_column, num_cols, filter_type, select_type*, filter_default_label*, filter_reset_button_text*, filter_match_mode*, column_data_type*, width*)
      column_filters = column_filters.concat(createYADCFfilters(1, 61, "multi_select", 'select2', 'select' ,false, null));

    var proteintable = $('#proteinTable').DataTable({
        searching: true,
        info: true,
        autoWidth: false,
        paging:false,
        columnDefs: [
          { targets: 'segment-col', visible: true },
          {
            // targets: [3,4,28],
            targets: [5,11,29, 34, 35, 40, 44, 49],
            // width: '30rem !important',
            className: 'truncate', // Apply a class for truncation and hover effect
        },
        ],
        order: []
      });
    // Initialize YADCF
      yadcf.init(proteintable, column_filters, {
      cumulative_filtering: false
    });

    });


    $('#proteinTable').on('change', 'input.alt', function() {
        var $checkbox = $(this);
        var $td = $checkbox.closest('td');   // The <td> containing the checkbox
        var $row = $checkbox.closest('tr');  // The <tr> containing the checkbox

        if ($checkbox.is(':checked')) {
            // Add 'highlight' class to all <td>s in the row
            $row.find('td').addClass('highlight');
            $row.addClass('alt_selected')
        } else {
            // Remove 'highlight' class from all <td>s in the row
            $row.find('td').removeClass('highlight');
            $row.removeClass('alt_selected')
        }
    });
    

    //handle column visibility
    function showSegment(segment) {
        // Hide all segment columns
        document.querySelectorAll('.segment-col').forEach(function(col) {
            col.style.display = 'none';
        });
        // Show the selected segment columns
        document.querySelectorAll('.' + segment + '-col').forEach(function(col) {
            col.style.display = '';
        });
        // Update active tab
        document.querySelectorAll('#segmentTabs .nav-link').forEach(function(tab) {
            tab.classList.remove('active');
        });
        document.getElementById(segment + '-tab').classList.add('active');
    }

    showSegment('icl3')

    //Activate first tab
    $('#segmentTabs .nav-item').first().addClass('active')

    $('#segmentTabs .nav-link').first().addClass('active')
    .attr('aria-selected', 'true')
    .attr('aria-expanded', 'true');
    </script>
{% endblock %}
  