{% extends "home/base.html" %}
{% load static %}

{% block addon_css %}
<link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
<link href="{% static 'home/css/color_picker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row text-success">
    <div class="text-center">
        <h2>{{ p.name|safe }} ({{ p.entry_name }})</h2>
    </div>
</div>

{% include "protein/protein_info.html" %}

{% include "protein/sequence_viewer.html" %}

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>LINKS</h4>
    </div>
    <div class="col-md-10">
        <p><a href="http://www.uniprot.org/uniprot/{{p.accession}}">UniProt</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>DIAGRAMS</h4>
    </div>
    <div class="col-md-10" style="height:500px">
      {% if 'Alpha' in families %}
        {{ p.get_gprotein_plot }}
        <p><div class="btn-group ">
            <div class="col-md-6">
                <input type="range" class="range-slider vertical-range" id="fader" value="0.80" min="0.01" max="0.99" step="0.05" oninput="outputUpdate(value)">
                <input type="text" maxlength="4" size="3" value="0.80" name="cutoff" title="A bold text"/>
<!--                <span class="tooltip">Info</span> -->
            <script type="text/javascript">
            function outputUpdate(vol) {
                    document.querySelector('input[name=cutoff]').value = vol;
            }</script>
            </div>
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            <li>
                <a href="javascript:saveSvgAsPng(document.getElementById('snakeplot'), 'plot_{{ p.entry_name }}.png',
                {scale: 3});">PNG</a>
            </li>
            <li>
                <a href="javascript:saveSvgAsJpg(document.getElementById('snakeplot'), 'plot_{{ p.entry_name }}.jpg',
                {scale: 3});">JPG</a>
            </li>
            <li>
                <a href="javascript:saveSvgAsTiff(document.getElementById('snakeplot'), 'plot_{{ p.entry_name }}.tiff',
                {scale: 3});">TIFF</a>
                </a>
            </li>
            <li>
            <a id=snake_svg_link href-lang="image/svg+xml" href="" download="plot_{{ p.entry_name }}">SVG</a>
            </li>
            </ul>

        </div></p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% else %}
      {{ p.get_arrestin_plot }}
      <p><div class="btn-group ">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
          <li>
              <a href="javascript:saveSvgAsPng(document.getElementById('snakeplot'), 'plot_{{ p.entry_name }}.png',
              {scale: 3});">PNG</a>
          </li>
          <li>
              <a href="javascript:saveSvgAsJpg(document.getElementById('snakeplot'), 'plot_{{ p.entry_name }}.jpg',
              {scale: 3});">JPG</a>
          </li>
          <li>
              <a href="javascript:saveSvgAsTiff(document.getElementById('snakeplot'), 'plot_{{ p.entry_name }}.tiff',
              {scale: 3});">TIFF</a>
              </a>
          </li>
          <li>
          <a id=snake_svg_link href-lang="image/svg+xml" href="" download="plot_{{ p.entry_name }}">SVG</a>
          </li>
          </ul>

      </div></p>
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    {% endif %}
<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>MUTATIONS</h4>
    </div>
    <div class="col-md-10">
    <!-- <p>{{ mutations|length }} mutation data points available.</p> -->
    {% if "arrb1_human" in p.entry_name|stringformat:"s" %}
        <p>0 mutation data points available</p>
    {% elif "arrb2_human" in p.entry_name|stringformat:"s" %}
        <p>5 mutation data points available</p>
    {% elif "arrs" in p.entry_name|stringformat:"s" %}
        <p>403 mutation data points available</p>
    {% elif "arrc" in p.entry_name|stringformat:"s" %}
        <p>0 mutation data points available</p>
    {% else %}
        <p>{{ mutations|length }} mutation data points available</p>
    {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>STRUCTURES</h4>
    </div>
    {% if structures|length > 0 %}
    <div class="col-md-10">
        {% if "arr" in p.entry_name|stringformat:"s" and not arr_found %}
            <p>Found {{ structures|length }} structure(s) - view in <a href="/structure/arrestin_structure_browser" target='_blank'>Structures</a></p>
        {% elif "gna" in p.entry_name|stringformat:"s" and not gna_found %}
            <p>Found {{ structures|length }} structure(s) - view in <a href="/structure/g_protein_structure_browser" target='_blank'>Structures</a></p>
        {% endif %}
    </div>
    
    {% else %}
    <div class="col-md-10">
        No structures available
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>RECEPTOR COMPLEX STRUCTURES</h4>
    </div>
    {% if complex_structures|length > 0 %}
    <div class="col-md-10">
        {% if "arr" in p.entry_name|stringformat:"s" and not arr_found %}
            <p>Found {{ complex_structures|length }} complex model(s) - view in <a href="/structure/arrestin_structure_browser" target='_blank'>Structures</a></p>
        {% elif "gna" in p.entry_name|stringformat:"s" and not gna_found %}
            <p>Found {{ complex_structures|length }} complex model(s) - view in <a href="/structure/g_protein_structure_browser" target='_blank'>Structures</a></p>
        {% endif %}
    </div>
    {% else %}
    <div class="col-md-10">
        No receptor complex structures available
    </div>
    {% endif %}
</div>

{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/sequenceviewer.js' %}"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/diagrams.js' %}"></script>
<script src="{% static 'home/js/color_picker.js' %}"></script>
{% endblock %}
