<table width='260px'>

    <!-- Z-SCALES SIGNATURE -->

    <tr>
        <td class="ali-td-header-row ali-td-first-col signature-section-header" colspan="3">Z-SCALES SIGNATURE</td>
    </tr>
    <tr>
        <td class="ali-td-header-row ali-td-first-col" colspan="3">Z1 (Lipophilicity)</td>
    </tr>
    <tr>
        <td class="ali-td-header-row ali-td-first-col" colspan="3">Z2 (Steric properties)</td>
    </tr>
    <tr>
        <td class="ali-td-header-row ali-td-first-col" colspan="3">Z3 (Electronic properties)</td>
    </tr>
    <tr>
        <td class="ali-td-header-row ali-td-first-col" colspan="3"data-toggle="tooltip" data-placement="top" data-html="true" title="PC1 of several properties:<br/> - electronegativity<br/> - heat of formation<br/> - electrophilicity<br/> - hardness<br/> - NMR (pD=1 and pD=7)">Z4 (PC1 several properties)</td>
    </tr>
    <tr>
        <td class="ali-td-header-row ali-td-first-col" colspan="3" data-toggle="tooltip" data-placement="top" data-html="true" title="PC2 of several properties:<br/> - electronegativity<br/> - heat of formation<br/> - electrophilicity<br/> - hardness<br/> - NMR (pD=1 and pD=7)">Z5 (PC2 several properties)</td>
    </tr>

</table>
