{% extends "common/selection.html" %}
{% load staticfiles %}

{% block addon_js %}
    <script>
    $(document).ready(function() {
        $(function(){
          // bind change event to select
          $('#preloaded_xtals').on('change', function () {
            var url = window.location.href;

            if (url.substr(-1) == '/') url = url.substr(0, url.length - 2);

            url = url.split('/');
            url.pop();
            url = url.join('/')+"/interaction/"+$(this).val(); // get selected value
            if (url) { // require a URL
                window.location = url; // redirect
            }
            return false;
          });
        });
    }); 
    </script>

{% endblock %}

{% block middle_column %}


            <div class="col-md-12 panel panel-primary">
                <div class="panel-body">
                    <h4>Select from interactions pre-calculated</h4>
                    <div>
                    <select id='preloaded_xtals'>
                    <option>Select from list</option>
                    {% for structure in structures %}
                        <option value="{{structure.structure_ligand_pair__structure__pdb_code__index}}">{{structure.structure_ligand_pair__structure__pdb_code__index}} ({{structure.structure_ligand_pair__structure__protein_conformation__protein__parent__entry_name}}) </option>
                    {% endfor %}
                    </select>
                    </div>
                </div>
            </div>

            <div class="col-md-12 panel panel-primary">
                <div class="panel-body">
                    <h4>Run a new calculation</h4>
                    <div>
                        Enter a PDB code to analyse:
                            <form action="calculate" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <label for="pdbname">PDB code</label>
                            {{ form.pdbname }} <br> or 
                            <p>{{ form.file.label_tag }}  </p> {{ form.file }}
                            <br>
                            <input type="submit" value="OK">
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}
