{% extends "home/base.html" %}
{% load static %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css" />
<link href="{% static 'home/css/residue_table.css' %}" rel="stylesheet">
<style>
canvas {
    border: 1px solid #888888;
    z-index: 1 ;
    position: absolute;
}
.overlay{
    border: 1px solid #888888;
      position: absolute;
    margin: 0 auto;
    background:#eeeeee;
    z-index:2;
    min-width: 200px;
}


#viewport_full, #viewport, #viewport_1, #viewport_2, #viewport_3  {
    /*border: 1px solid #888888;*/
    position: relative;
    margin: 0 auto;
    text-align: left;

    }

</style>
<style>
    .tooltip {
        position: absolute;
        text-align: center;
        padding: 10px;
        background: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 4px;
        pointer-events: none;
    }
    .newrow {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .legend-header {
      font-family: Arial;
      font-size: 14px;
      font-weight: bold;
      fill: black;
    }
    path.highlight {
      stroke-width: 2;
    }
    .checkbox-group {
      display: flex;
    }

    .checkbox-item {
      display: inline-block;
      margin-right: 10px;  /* Add right margin */
      font-size: 18px;
    }
    .dotted {
      stroke-dasharray: 5,5;
    }
    .checkbox-item:last-child {
      margin-right: 0;  /* Remove right margin for the last item */
    }
</style>
{% endblock %}
{% block content %}
<h2>Structure information</h2>
 <script src="http://cdn.jsdelivr.net/3dmol.js/latest/3Dmol-min.js"></script>
 <div class="row">
    <table width="100%">
      <tr>
        <td width="50%" style="border:0px;">
        <div class="row text-success">
        <div class="text-center">
                <h2>{{ crystal.protein_conformation.protein.family.name|safe }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>PROTEIN CLASS</h4>
            </div>
            <div class="col-md-6">
            {{ crystal.protein_conformation.protein.get_protein_class }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>PDB CODE</h4>
            </div>
            <div class="col-md-6">
            {{ crystal.pdb_code.index }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>SPECIES</h4>
            </div>
            <div class="col-md-6">
            {{ crystal.protein_conformation.protein.species.latin_name }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>RESOLUTION</h4>
            </div>
            <div class="col-md-6">
            {{ crystal.resolution}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>PREFERRED CHAIN</h4>
            </div>
            <div class="col-md-6">
            {{ crystal.preferred_chain }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>REFERENCE</h4>
            </div>
            <div class="col-md-6">
            <a href="{{ crystal.publication.web_link }}">{{ crystal.publication.web_link.index }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>PUBLICATION DATE</h4>
            </div>
            <div class="col-md-6">
            {{ crystal.publication_date }}
            </div>
        </div>

    </td>
    <td style="border:0px;text-align:left">

       <!--      <div style="height: 300px; width: 500px; position: relative;" class='viewer_3Dmoljs'  data-backgroundcolor='0xffffff' data-href='pdb?pdb={{ pdbname }}' data-type='pdb' data-backgroundcolor='0xffffff' data-labelres2='fontSize:12;opacity:.2;color:black' data-select1='{"hetflag":false}'  data-style1='{"cartoon":{"color":"spectrum"}}' data-select2='{"resn":["test","{{ mainligand}}"]}' data-style2='{"stick":{"colorscheme":"greenCarbon"}}'></div>
                 -->
            <div id="viewport_full" style="width:100%; height:300px;">
            </div>
            <div style="width:100%; background-color:#eaeaea; border-radius: 0px 0px 5px 5px;">
                <p style="padding: 2px 0px 2px 5px; font-size: 10px;"><a href="https://github.com/arose/ngl">NGL</a> is a WebGL based 3D viewer powered by <a href="https://mmtf.rcsb.org">MMTF</a>.</p>
            </div>
            <button id=fullscreen_full>Full Screen</button>
             <a href="pdb?pdb={{ pdbname }}">Download PDB file</a>
    </td>
    </tr>
    </table>
</div>
<h2>Ligand Interaction Browser</h2>
<a href="excel/{{pdbname}}">Download list in excel</a>
<div class="row">
    <div class="col-md-11 text-center">
        {% if residues %}
        <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;">
            <table width="100%" class="display" id="residues">

                <thead>
                    <tr>
                        <th>Ligand</th>
                        <th>Amino Acid</th>
                        <th>Generic Number</th>
                        <th>Segment</th>
                        <th>Interaction Type</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ligand</th>
                        <th>Amino Acid</th>
                        <th>Generic Number</th>
                        <th>Segment</th>
                        <th>Interaction Type</th>
                    </tr>
                </tfoot>
                {% for residue in residues %}
                <tr>
                <td>{{residue.ligand}}</td>
                <td>{{residue.aa}}{{residue.pos}}</td>
                <td>{{residue.gpcrdb}}</td>
                <td>{{residue.segment}}</td>
                <td>{{residue.type}}</td>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p> Ooops! There is no data to show here yet. </p>
    {% endif %}

    </div>
</div>

<br>

<h2>Ligands</h2>
        {% for ligand in ligands %}
        <div class="row">
            <div class="col-md-2 text-left text-info">
                <h4>{{ligand}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 text-center text-info">
                3D interaction viewer
<!--                  <div style="height: 380px; width: 400px; position: relative;" class='viewer_3Dmoljs'  data-backgroundcolor='0xffffff' data-href='download?ligand={{ ligand }}&pdb={{ pdbname }}' data-type='pdb' data-backgroundcolor='0xffffff' data-labelres1='fontSize:10;opacity:1;color:white;backgroundOpacity:0.8' data-select1='{"hetflag":false}' data-style1='stick' data-select2='{"hetflag":true}' data-style2='{"stick":{"colorscheme":"greenCarbon"}}'></div>
 -->
                 <a href="download?ligand={{ ligand }}&pdb={{ pdbname }}">Download PDB file</a>
                 {% if multiple_ligands %}
                 <div id="viewport_{{ forloop.counter }}" style="width:100%; height:300px;"></div>
                 <div style="width:100%; background-color:#eaeaea; border-radius: 0px 0px 5px 5px; text-align: left;">
                    <p style="padding: 2px 0px 2px 5px; font-size: 10px;"><a href="https://github.com/arose/ngl">NGL</a><font color='black'> is a WebGL based 3D viewer powered by </font><a href="https://mmtf.rcsb.org">MMTF</a>.</p>
                 </div>
                 <div> <button id="fullscreen_{{ forloop.counter }}">Full Screen</button></div>
                 {% else %}
                 <div id="viewport" style="width:100%; height:300px;"></div>
                 <div style="width:100%; background-color:#eaeaea; border-radius: 0px 0px 5px 5px; text-align: left;">
                    <p style="padding: 2px 0px 2px 5px; font-size: 10px;"><a href="https://github.com/arose/ngl">NGL</a><font color='black'> is a WebGL based 3D viewer powered by </font><a href="https://mmtf.rcsb.org">MMTF</a>.</p>
                 </div>
                 <div> <button id="fullscreen">Full Screen</button></div>
                 {% endif %}
            </div>
{% comment %}
              {# PoseView has been pending for years #}
              <div class="col-md-5 text-center text-info">
                2D interaction plot<br>
                <br>
                 PoseView coming soon.
            </div>
{% endcomment %}
        </div>
       <!-- <a href="pdb/{{pdbname}}/ligand/{{structure.structure_ligand_pair__ligand__name}}">{{structure.structure_ligand_pair__ligand__name}}</a> Has {{structure.numRes}} residues interacting<br> -->

              <!-- <button style="width:220px;" onclick="ajaxInteractionsLigand('{{ protein.entry_name }}','{{structure.structure_ligand_pair__ligand__name}}')">Color diagrams with interactions</button><br> -->
<br>
{% empty %}
    No structures yet.
{% endfor %}

<h2>Residue Diagrams</h2>
<div class="row">
    <div class="col-md-10 text-center">
        {{ helixbox }}
        <br>
        Download:
        <a href="javascript:saveSvgAsPng(document.getElementById('helixbox'), 'helixbox{{ pdbname }}.png', {scale: 3});">PNG</a> |
        <a id=helix_svg_link href-lang="image/svg+xml" href="" download="helixbox{{ p.pdbname }}">SVG</a>
    </div>
</div>

<div class="row">
<div class="col-md-10 text-center">
    {{ snakeplot }}
    <br>
    Download:
    <a href="javascript:saveSvgAsPng(document.getElementById('snakeplot'), 'snake_{{ pdbname }}.png', {scale: 3});">PNG</a> |
    <a id=snake_svg_link href-lang="image/svg+xml" href="" download="snake_{{ p.pdbname }}">SVG</a>
    </div>
</div>

<h2>Residue Table</h2>
<div class="col-md-10">
{% include "residue/residue_table_only.html" with header=header segments=segments data=data onlymutants=1 %}
</div>


{% endblock %}
{% block addon_js %}
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/diagrams.js' %}"></script>
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
<script src="{% static 'home/js/dataTables.tableTools.min.js' %}"> </script>
<script src="{% static 'home/js/jquery.dataTables.columnFilter.js' %}"> </script>
<script src="{% static 'home/js/d3.min.js' %}"></script>
<script src="{% static 'home/js/nv.d3.min.js' %}"></script>
<script src="{% static 'home/js/d3.v4.min.js' %}"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static 'home/js/selection.js' %}"> </script>
<script src="{% static 'home/js/table2csv.js' %}"> </script>
<script src="{% static 'home/js/phylo_tree.js' %}"></script>
<script>
  // Function to download the image
  function downloadSVG(svgElementId, filename, format = 'svg') {
    const svgElement = document.getElementById(svgElementId);

    if (!svgElement) {
      console.error(`Element with id "${svgElementId}" not found.`);
      return;
    }

    if (format === 'svg') {
      const svgString = new XMLSerializer().serializeToString(svgElement);
      const blob = new Blob([svgString], { type: "image/svg+xml;charset=utf-8" });
      const link = document.createElement("a");
      link.href = URL.createObjectURL(blob);
      link.download = filename + '.svg';
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    } else {
      const svgString = new XMLSerializer().serializeToString(svgElement);
      const img = new Image();
      img.src = 'data:image/svg+xml;base64,' + window.btoa(svgString);
      img.onload = function() {
        const canvas = document.createElement('canvas');
        canvas.width = img.width;
        canvas.height = img.height;
        const ctx = canvas.getContext('2d');
        ctx.drawImage(img, 0, 0);
        let mimeType = 'image/png';
        if (format === 'jpeg') mimeType = 'image/jpeg';
        else if (format === 'tiff') mimeType = 'image/tiff';
        canvas.toBlob((blob) => {
          const link = document.createElement('a');
          link.href = URL.createObjectURL(blob);
          link.download = filename + '.' + format;
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        }, mimeType);
      };
    }
  }
</script>

    <script>
      $(document).ready(function() {
            var table = $('#residues').DataTable({
                "scrollX": true,
                "scrollY": 600,
                "bScrollCollapse": true,
                'paging': false,
                orderCellsTop: true,
                "autoWidth": true,
                dom: 'T<"clear">lfrtip',
                "aoColumnDefs": [
                    { "sType": "string", "aTargets": [0] },
                ],
                tableTools: {
                    "sRowSelect": "multi",
                    "aButtons": []
                },
                initComplete: function () {
                    $('#residues').dataTable().columnFilter({
                        sPlaceHolder: "head:after",
                        aoColumns: [
                            { type: "select" }, //ligand
                            { type: "select" }, //protein name
                            { type: "select" }, //Alt Position
                            { type: "select" }, //Position
                            { type: "select" }, //Segment
                        ]
                    });
                }
            });

            $('[data-toggle="tooltip"]').tooltip();

            function ajaxInteractions(plotid) {
                interactions = {{ residues|safe }};
                count = [];
                output = [];
                $.each( interactions, function( index, val ) {
                  key = val['wt_pos'];

                  if (key in count) {
                      count[key] += 1;
                      if (!(val['type'] in output[key])) output[key].push(val['type'])
                  } else {
                      count[key] = 1;
                      output[key] = [val['type']]
                  }

                    extra = "\n" + String(count[key]) + " interactions | Type: "+ output[key];


                    $('#'+plotid).find("#"+key).css("fill", "#E60A0A");
                    $('#'+plotid).find("#"+key).next().css("fill", "#FDFF7B");

                    original_title = $('#'+plotid).find("#"+key).attr('original_title')


                    $('#'+plotid).find("#"+key).attr('title',original_title+extra);
                    $('#'+plotid).find("#"+key+"t").attr('title',original_title+extra);

                });
                $("circle").tooltip('fixTitle');
                $("text").tooltip('fixTitle');
              }
              ajaxInteractions('snakeplot')
              ajaxInteractions('helixbox')
            });

    </script>
    <script src="{% static 'home/js/ngl.js' %}"> </script>
    <script>
    // {32: 'T32 1x28', 33: 'V33 1x29', 34: 'S34 1x30', 35: 'Y35 1x31', 36: 'Q36 1x32',
    // 37: 'V37 1x33', 38: 'I38 1x34', 39: 'T39 1x35', 40: 'S40 1x36', 41: 'L41 1x37',
    // 42: 'L42 1x38', 43: 'L43 1x39', 44: 'G44 1x40', 45: 'T45 1x41', 46: 'L46 1x42'}
    var residues_lookup = {{ residues_lookup|safe }};

    function getPickingMessage( d, prefix ){
        var msg;
        if( d.atom ){
            msg = "atom: " +
                d.atom.qualifiedName() +
                " (" + d.atom.structure.name + ")";
            var re = /](\d+):/i;
            var found = d.atom.qualifiedName().match(re);
            if (found) {
                pos = found[1];
                if (residues_lookup[pos]) msg = residues_lookup[pos];
                }
        }else if( d.bond ){
            msg = "bond: " +
                d.bond.atom1.qualifiedName() + " - " + d.bond.atom2.qualifiedName() +
                " (" + d.bond.structure.name + ")";

            var re = /](\d+):/i;
            var found = d.bond.atom1.qualifiedName().match(re);
            if (found) {
                pos = found[1];
                if (residues_lookup[pos]) msg = residues_lookup[pos];
            }
        }else if( d.volume ){
            msg = "volume: " +
                d.volume.value.toPrecision( 3 ) +
                " (" + d.volume.volume.name + ")";
        }else{
            msg = "nothing";
        }
        return prefix + " " + msg;
    }

    document.addEventListener( "DOMContentLoaded", function(){
        stage_full = new NGL.Stage( "viewport_full", { backgroundColor: "white" } );
        stage_full.loadFile( "pdb?pdb={{ pdbname }}", { ext: "pdb" } ).then( function( o ){

            o.addRepresentation( "cartoon", {
                color: "residueindex", aspectRatio: 4, scale: 0.5
            } );
            o.addRepresentation( "rope", {
                color: "residueindex", visible: false
            } );
            {% if multiple_ligands %}
              var pdb_ligs = {{main_ligand|safe}};
              for (i=0; i<pdb_ligs.length; i++){
                o.addRepresentation("ball+stick", { sele: pdb_ligs[i], scale: 1, aspectRatio: 1 } );
                o.addRepresentation("surface", { sele: pdb_ligs[i], opacity: 0.4, useWorker: false } );
                o.addRepresentation( "licorice", { sele: "({{display_res}}) and sidechainAttached" , scale: 2, aspectRatio: 1});
                o.addRepresentation( "label", {
                    sele: "({{display_res}}) and .CB",
                    color: "#113", scale: 2.0
                } );
                o.addRepresentation( "label", {
                    sele: "[pdb_ligs[i]] and .C1",
                    color: "#888", scale: 3.0, labelType: "resname"
                } );
              }
            {% else %}
              {% if main_ligand != 'none' %}
                o.addRepresentation("ball+stick", { sele: "[{{ main_ligand}}]", scale: 1, aspectRatio: 1 } );
                o.addRepresentation("surface", { sele: "[{{ main_ligand}}]", opacity: 0.4, useWorker: false } );
                o.addRepresentation( "licorice", { sele: "({{display_res}}) and sidechainAttached" , scale: 2, aspectRatio: 1});
                o.addRepresentation( "label", {
                    sele: "({{display_res}}) and .CB",
                    color: "#113", scale: 2.0
                } );
                o.addRepresentation( "label", {
                    sele: "[{{ main_ligand}}] and .C1",
                    color: "#888", scale: 3.0, labelType: "resname"
                } );
              {% endif %}
            {% endif %}
            o.centerView();
        } );

        stage_full.signals.clicked.add( function( d ){
            $('#clicked').html(getPickingMessage( d, "Clicked" ));
        } );
        stage_full.signals.hovered.add( function( d ){
            $('#hovered').html(getPickingMessage( d, "Hovered" ));
        } );

        $('#viewport_full').find("canvas").after("<div class='overlay'><span id='clicked'></span> | <span id='hovered'></span></div>");

        $( "#fullscreen_full" ).click(function() {
            stage_full.toggleFullscreen();
        } );
        // stage_full.setSpin( [ 0, 1, 0 ], 0.005 );
        // HERE WE NEED TO DIVERISFY
        {% if multiple_ligands %}
          var pdb_ligs = {{main_ligand|safe}};
          var pdb_ligs_full = {{main_ligand_full|safe}};
          for (i=0; i<pdb_ligs.length; i++){
              var k = i + 1;
              stage = new NGL.Stage( "viewport_"+k, { backgroundColor: "white" } );
              stage.loadFile( "download?ligand="+pdb_ligs_full[i]+"&pdb={{ pdbname }}", { ext: "pdb" }  ).then( function( o ){

                  o.addRepresentation( "ball+stick", { sele: pdb_ligs[i], scale: 1, aspectRatio: 1 } );
                  // o.addRepresentation( "surface", { sele: pdb_ligs[i], opacity: 0.4, useWorker: false } );
                  o.addRepresentation( "licorice", { sele: "sidechainAttached and not "+pdb_ligs[i] , scale: 2, aspectRatio: 1});
                  o.addRepresentation( "label", { sele: ".CB", color: "#113", scale: 2.0} );
                  // o.addRepresentation( "label", {
                  //    sele: pdb_ligs[i]+" and .C1",
                  //    color: "#888", scale: 3.0, labelType: "resname"
                  // } );

                  o.centerView();
              } );

              // stage.setSpin( [ 0, 1, 0 ], 0.005 );

              $( "#fullscreen_"+k ).click(function() {
                  stage.toggleFullscreen();
              });

              stage.signals.clicked.add( function( d ){
                  $('#clicked_two').html(getPickingMessage( d, "Clicked" ));
              } );
              stage.signals.hovered.add( function( d ){
                  $('#hovered_two').html(getPickingMessage( d, "Hovered" ));
              } );

              $('#viewport'+k).find("canvas").after("<div class='overlay'><span id='clicked_two'>&nbsp;</span> | <span id='hovered_two'>&nbsp;</span></div>");

          }
        {% else %}
          {% if main_ligand != 'none' %}
          stage = new NGL.Stage( "viewport", { backgroundColor: "white" } );
          stage.loadFile( "download?ligand={{ main_ligand_full }}&pdb={{ pdbname }}", { ext: "pdb" }  ).then( function( o ){


              o.addRepresentation("ball+stick", { sele: "{{ main_ligand}}", scale: 1, aspectRatio: 1 } );
              o.addRepresentation("surface", { sele: "{{ main_ligand}}", opacity: 0.4,
                                              useWorker: false } );
              o.addRepresentation( "licorice", { sele: "sidechainAttached and not {{ main_ligand}}" , scale: 2, aspectRatio: 1});
              o.addRepresentation( "label", {
                  sele: ".CB",
                  color: "#113", scale: 2.0
              } );
              o.addRepresentation( "label", {
                  sele: "{{ main_ligand}} and .C1",
                  color: "#888", scale: 3.0, labelType: "resname"
              } );

              o.centerView();
          } );

          // stage.setSpin( [ 0, 1, 0 ], 0.005 );

          $( "#fullscreen" ).click(function() {
              stage.toggleFullscreen();
          });

          stage.signals.clicked.add( function( d ){
              $('#clicked_two').html(getPickingMessage( d, "Clicked" ));
          } );
          stage.signals.hovered.add( function( d ){
              $('#hovered_two').html(getPickingMessage( d, "Hovered" ));
          } );

          $('#viewport').find("canvas").after("<div class='overlay'><span id='clicked_two'>&nbsp;</span> | <span id='hovered_two'>&nbsp;</span></div>");

          {% endif %}
        {% endif %}
    });
</script>
  

{% endblock %}
