t{% extends "home/base.html" %}
{% load staticfiles %}
{% block addon_css %}
{% endblock %}
{% block content %}

<h2>GPCRs as drug targets:</h2>
<div id="pie_targets"></div>
<div id="pie_families"></div>
<div id="pie_classes"></div>
<div id="pie_types"></div>
<div id="pie_disease"></div>

{% endblock %}
{% block addon_js %}
<!-- http://d3pie.org/#generator-result -->
<script src="{% static 'home/js/d3.min.js' %}"></script>
<script src="{% static 'home/js/d3pie.js' %}"></script>
<script>
var pie = new d3pie("pie_types", {
  "header": {
    "title": {
      "text": "Drugtypes",
      "fontSize": 32,
      "font": "open sans"
    },
    "subtitle": {
      "text": " ",
      "color": "#999999",
      "fontSize": 12,
      "font": "open sans"
    },
    "titleSubtitlePadding": 25
  },
  "footer": {
    "text": "Approved drugs with distinct indication",
    "color": "#999999",
    "fontSize": 10,
    "font": "open sans",
    "location": "center"
  },
  "size": {
    "canvasHeight": 600,
    "canvasWidth": 1100,
    "pieInnerRadius": "50%",
    "pieOuterRadius": "100%"
  },
  "data": {
    "sortOrder": "value-asc",
    "content": {{drugtypes|safe}}
  },
  "labels": {
    "outer": {
      "pieDistance": 21
    },
    "inner": {
      "hideWhenLessThanPercentage": 3
    },
    "mainLabel": {
      "fontSize": 12
    },
    "percentage": {
      "color": "#ffffff",
      "fontSize": 12
    },
    "value": {
      "color": "#adadad",
      "fontSize": 12
    },
    "lines": {
      "enabled": true,
      "style": "straight"
    },
    "truncation": {
      "enabled": true
    }
  },
  "tooltips": {
    "enabled": true,
    "type": "placeholder",
    "string": "{label}: {value}, {percentage}%",
    "styles": {
      "fadeInSpeed": 0,
      "backgroundOpacity": 0.71,
      "borderRadius": 10,
      "fontSize": 15
    }
  },
  "effects": {
    "load": {
      "speed": 800
    },
    "pullOutSegmentOnClick": {
      "effect": "linear",
      "speed": 400,
      "size": 14
    }
  },
  "misc": {
    "gradient": {
      "enabled": true,
      "percentage": 65
    }
  }
});

var pie = new d3pie("pie_classes", {
  "header": {
    "title": {
      "text": "Class targets",
      "fontSize": 32,
      "font": "open sans"
    },
    "subtitle": {
      "text": " ",
      "color": "#999999",
      "fontSize": 12,
      "font": "open sans"
    },
    "titleSubtitlePadding": 25
  },
  "footer": {
    "text": "Approved drugs with distinct indication",
    "color": "#999999",
    "fontSize": 10,
    "font": "open sans",
    "location": "center"
  },
  "size": {
    "canvasHeight": 600,
    "canvasWidth": 1100,
    "pieInnerRadius": "50%",
    "pieOuterRadius": "100%"
  },
  "data": {
    "sortOrder": "value-desc",
    "content": {{drugclasses|safe}}
  },
  "labels": {
    "outer": {
      "pieDistance": 21
    },
    "inner": {
      "hideWhenLessThanPercentage": 3
    },
    "mainLabel": {
      "fontSize": 12
    },
    "percentage": {
      "color": "#ffffff",
      "fontSize": 12
    },
    "value": {
      "color": "#adadad",
      "fontSize": 12
    },
    "lines": {
      "enabled": true,
      "style": "straight"
    },
    "truncation": {
      "enabled": true
    }
  },
  "tooltips": {
    "enabled": true,
    "type": "placeholder",
    "string": "{label}: {value}, {percentage}%",
    "styles": {
      "fadeInSpeed": 0,
      "backgroundOpacity": 0.71,
      "borderRadius": 10,
      "fontSize": 15
    }
  },
  "effects": {
    "load": {
      "speed": 800
    },
    "pullOutSegmentOnClick": {
      "effect": "linear",
      "speed": 400,
      "size": 14
    }
  },
  "misc": {
    "gradient": {
      "enabled": true,
      "percentage": 65
    }
  }
});

var pie = new d3pie("pie_families", {
  "header": {
    "title": {
      "text": "Family targets",
      "fontSize": 32,
      "font": "open sans"
    },
    "subtitle": {
      "text": " ",
      "color": "#999999",
      "fontSize": 12,
      "font": "open sans"
    },
    "titleSubtitlePadding": 25
  },
  "footer": {
    "text": "Approved drugs with distinct indication",
    "color": "#999999",
    "fontSize": 10,
    "font": "open sans",
    "location": "center"
  },
  "size": {
    "canvasHeight": 600,
    "canvasWidth": 1100,
    "pieInnerRadius": "50%",
    "pieOuterRadius": "100%"
  },
  "data": {
    "sortOrder": "value-asc",
    "content": {{drugfamilies|safe}}
  },
  "labels": {
    "outer": {
      "pieDistance": 21
    },
    "inner": {
      "hideWhenLessThanPercentage": 3
    },
    "mainLabel": {
      "fontSize": 12
    },
    "percentage": {
      "color": "#ffffff",
      "fontSize": 12
    },
    "value": {
      "color": "#adadad",
      "fontSize": 12
    },
    "lines": {
      "enabled": true,
      "style": "straight"
    },
    "truncation": {
      "enabled": true
    }
  },
  "tooltips": {
    "enabled": true,
    "type": "placeholder",
    "string": "{label}: {value}, {percentage}%",
    "styles": {
      "fadeInSpeed": 0,
      "backgroundOpacity": 0.71,
      "borderRadius": 10,
      "fontSize": 15
    }
  },
  "effects": {
    "load": {
      "speed": 800
    },
    "pullOutSegmentOnClick": {
      "effect": "linear",
      "speed": 400,
      "size": 14
    }
  },
  "misc": {
    "gradient": {
      "enabled": true,
      "percentage": 65
    }
  }
});

var pie = new d3pie("pie_disease", {
  "header": {
    "title": {
      "text": "Disease indications",
      "fontSize": 32,
      "font": "open sans"
    },
    "subtitle": {
      "text": " ",
      "color": "#999999",
      "fontSize": 12,
      "font": "open sans"
    },
    "titleSubtitlePadding": 25
  },
  "footer": {
    "text": "Approved drugs with distinct indication",
    "color": "#999999",
    "fontSize": 10,
    "font": "open sans",
    "location": "center"
  },
  "size": {
    "canvasHeight": 600,
    "canvasWidth": 1100,
    "pieInnerRadius": "50%",
    "pieOuterRadius": "100%"
  },
  "data": {
    "sortOrder": "value-asc",
    "content": {{drugindications|safe}}
  },
  "labels": {
    "outer": {
      "pieDistance": 21
    },
    "inner": {
      "hideWhenLessThanPercentage": 3
    },
    "mainLabel": {
      "fontSize": 12
    },
    "percentage": {
      "color": "#ffffff",
      "fontSize": 12
    },
    "value": {
      "color": "#adadad",
      "fontSize": 12
    },
    "lines": {
      "enabled": true,
      "style": "straight"
    },
    "truncation": {
      "enabled": true
    }
  },
  "tooltips": {
    "enabled": true,
    "type": "placeholder",
    "string": "{label}: {value}, {percentage}%",
    "styles": {
      "fadeInSpeed": 0,
      "backgroundOpacity": 0.71,
      "borderRadius": 10,
      "fontSize": 15
    }
  },
  "effects": {
    "load": {
      "speed": 800
    },
    "pullOutSegmentOnClick": {
      "effect": "linear",
      "speed": 400,
      "size": 14
    }
  },
  "misc": {
    "gradient": {
      "enabled": true,
      "percentage": 65
    }
  }
});

var pie = new d3pie("pie_targets", {
  "header": {
    "title": {
      "text": "Receptor targets",
      "fontSize": 32,
      "font": "open sans"
    },
    "subtitle": {
      "text": " ",
      "color": "#999999",
      "fontSize": 12,
      "font": "open sans"
    },
    "titleSubtitlePadding": 25
  },
  "footer": {
    "text": "Approved drugs with distinct indication",
    "color": "#999999",
    "fontSize": 10,
    "font": "open sans",
    "location": "center"
  },
  "size": {
    "canvasHeight": 600,
    "canvasWidth": 1100,
    "pieInnerRadius": "50%",
    "pieOuterRadius": "100%"
  },
  "data": {
    "sortOrder": "value-asc",
    "content": {{drugtargets|safe}}
  },
  "labels": {
    "outer": {
      "pieDistance": 21
    },
    "inner": {
      "hideWhenLessThanPercentage": 3
    },
    "mainLabel": {
      "fontSize": 12
    },
    "percentage": {
      "color": "#ffffff",
      "fontSize": 12
    },
    "value": {
      "color": "#adadad",
      "fontSize": 12
    },
    "lines": {
      "enabled": true,
      "style": "straight"
    },
    "truncation": {
      "enabled": true
    }
  },
  "tooltips": {
    "enabled": true,
    "type": "placeholder",
    "string": "{label}: {value}, {percentage}%",
    "styles": {
      "fadeInSpeed": 0,
      "backgroundOpacity": 0.71,
      "borderRadius": 10,
      "fontSize": 15
    }
  },
  "effects": {
    "load": {
      "speed": 800
    },
    "pullOutSegmentOnClick": {
      "effect": "linear",
      "speed": 400,
      "size": 14
    }
  },
  "misc": {
    "gradient": {
      "enabled": true,
      "percentage": 65
    }
  }
});
</script>
{% endblock %}