{% extends "home/base.html" %}
{% load static %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.yadcf.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css">

<style type="text/css">
  input.yadcf-filter, input.select2-input.select2-default  {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    padding: 2px;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;

  }
  tr.no-border-bottom th {
    text-align: center;
    border-left: 1px solid black;
    border-bottom: none !important;
  }

	table.dataTable thead th,
	table.dataTable tbody td {
    max-width: 10px;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>

{% endblock %}
{% block content %}
<h2>Drug Browser</h2>
<button onclick="tableToExcel()" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px"> Export to Excel </button>
<div class="row">
    <div class="col-md-12 text-center">
        {% if drugdata %}
        <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
            <table width="100%" class="display compact" id="drugdata">
                <thead>
                  <tr class="no-border-bottom">
                    <th colspan="2" style="border-left: none;">DRUGS</th>
                    <th colspan="5">RECEPTOR</th>
                    <th colspan="7">CLINICAL INFORMATION</th>  
                  </tr>

                  <!-- yadcf filter rows -->
                  <tr>
                    <!-- Drug section -->
                    <th style="text-align:center; border-left: none;"></th>
                    <th style="text-align:center; border-left: none;"></th>
                    <!-- Receptor section -->
                    <th style="text-align:left; border-left: 1px solid black;"></th>
                    <th style="text-align:left; border-left: none"></th>
                    <th style="text-align:left; border-left: none"></th>
                    <th style="text-align:left; border-left: none"></th>
                    <th style="text-align:left; border-left: none"></th>
                    <!-- Clinical information section -->
                    <th style="text-align:left; border-left: 1px solid black;">  </th>
                    <th style="text-align:left; border-left: none"></th>
                    <th style="text-align:left; border-left: none"></th>
                    <th style="text-align:left; border-left: none"></th>
                    <th style="text-align:left; border-left: none"></th>
                    <th style="text-align:left; border-left: none"></th>
                    <th style="text-align:left; border-left: none"></th>
                  </tr>
                </thead>
                <tbody>
                {% for row in drugdata %}
                <tr>
                {% if row.NHS == 'yes' %}
                  <td style="text-align:left;"><a href='/drugs/nhs/{{row.name|safe}} ' target="_blank"> {{row.name|safe}}</a></td>
                {% else %}
                  <td style="text-align:left">{{row.name|safe}}</a></td>
                {% endif %}
                <td style="text-align:left">{{row.indication|safe}}</td>
                <td style="text-align:left"> <a href='/protein/{{row.target|safe}} '> {{row.target|safe}} </a></td>
                <td style="text-align:left">{{row.targetlevel|safe}}</td>
                <td style="text-align:left">{{row.class|safe}}</td>
                <td style="text-align:left">{{row.family|safe}}</td>
                <td style="text-align:left">{{row.status|safe}}</td>
                <td style="text-align:left">{{row.phase|safe}}</td>
                <td style="text-align:left">{{row.clinicalstatus|safe}}</td>
                <td style="text-align:left">{{row.approval|safe}}</td>
                <td style="text-align:left">{{row.drugtype|safe}}</td>
                <td style="text-align:left">{{row.moa|safe}}</td>
                <td style="text-align:left">
                  {% for pmid in row.references %}
                    {% if pmid != "nan" %}
                      <a href='https://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}' target="_blank">{{pmid}}</a>
                    {% else %}
                      -
                    {% endif %}
                    {% if not forloop.last %} | {% endif %}
                  {% endfor %}
                </td>
                  {% if row.NHS == 'yes' %}
                    <td style="text-align:left"><a href='/drugs/nhs/{{row.name|safe}} '> {{row.NHS|safe}}</a></td>
                  {% else %}
                    <td style="text-align:left">{{row.NHS|safe}}</a></td>
                  {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p> Ooops! There is no data to show here yet. </p>
    {% endif %}
    </div>
</div>
<br>

{% endblock %}
{% block addon_js %}
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
<script src="{% static 'home/js/gpcrdb.js' %}"></script>
<script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"></script>
<script src="{% static 'home/js/select2.js' %}"></script>
<script src="{% static 'home/js/datatables.min.js' %}"> </script>
<script src="{% static 'home/js/bootstrap2-toggle.min.js' %}"></script>
<script src="{% static 'home/js/gpcrdb.js' %}"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(
    function() {
      var table = $('#drugdata').DataTable(
        {
          autoWidth: true,
          'order': [[0, "asc"]],
          scrollY: "65vh",
          scrollX: true,
          scrollCollapse: true,
          scroller: true,
          paging: false,
          bSortCellsTop: false,
        }
      ); 
      let filter_names = 'Name, Indication, Target, Target level, Class, Family, Status, Phase, Clinical Status, Year of Approval, Drug Type, Mechanism of Action, References, NHS'.split(', ');
      let column_filters = [];
      column_filters = column_filters.concat(createYADCFfiltersNameArray(0, 3, "text", select_type="select2", filter_default_label_=filter_names));
      column_filters = column_filters.concat(createYADCFfiltersNameArray(3, 11,"multi_select", select_type="select2", filter_default_label_=filter_names));
      // YADCF filter 
      yadcf.init(
        table, column_filters
  
      );
    }
  );
</script>
    <script>
      var tableToExcel = (function () {
        var encabezado = '<html><head><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/><style> table, td {border:thin solid black} table {border-collapse:collapse}</style></head><body><table>';
        var dataTable = document.getElementById('drugdata').innerHTML;
        var piePagina = "</table></body></html>";
        var tabla = encabezado + dataTable + piePagina;
        var myBlob =  new Blob( [tabla] , {type:'text/html'});
        var url = window.URL.createObjectURL(myBlob);
        var a = document.createElement("a");
        document.body.appendChild(a);
        a.href = url;
        a.download = "DrugBrowserData.xls";
        a.click();

        setTimeout(function() {window.URL.revokeObjectURL(url);},0);
      });
    </script>
{% endblock %}