{% extends "home/base.html" %}
{% load static %}
{% load structure_extras %}


{% block content %}
<style>
.link {
  fill: none;
  stroke: #969696;
  stroke-opacity: .1;
}
.link:hover {
  stroke-opacity: .3;
}
</style>

<div class="row text-success">
    <div class="text-center">
        <h2>{{indication}}</h2>
    </div>
</div>


<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>ONTOLOGY PAGE</h4>
    </div>
    <div class="col-md-10">
      <a href="https://www.ebi.ac.uk/ols4/ontologies/efo/classes?short_form={{indication_code}}" target="_blank">{{indication_code}}</a>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>SANKEY PLOT</h4>
    </div>
    <div class="col-md-10">
      <!-- Create a div where the graph will take place -->
      <div id="sankey_plot"></div>
      <p>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
          <li>
              <a href="javascript:saveSvgAsPng(document.getElementById('sankey'), 'sankey_{{indication}}.png');">PNG</a>
          </li>
          <li>
              <a href="javascript:saveSvgAsJpg(document.getElementById('sankey'), 'sankey_{{indication}}.jpg');">JPG</a>
          </li>
          <li>
              <a href="javascript:saveSvgAsTiff(document.getElementById('sankey'), 'sankey_{{indication}}.tiff');">TIFF</a>
              </a>
          </li>
          </ul>
      </div>
    </p>
  </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>PROTEIN TARGETS</h4>
    </div>
    <div class="col-md-10">
      {% for prot in targets %}
          <p style="display: inline;"><a href="/protein/{{ prot }}" target="_blank">{{ prot }}</a>{% if forloop.last %} {% else %}, {% endif %}</p>
      {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>DRUGS</h4>
    </div>
    <div class="col-md-10">
      {% for pair in ligands %}
          <p style="display: inline;"><a href="/ligand/{{ pair.1 }}/info" target="_blank">{{ pair.0|safe }}</a>{% if forloop.last %} {% else %}, {% endif %}</p>
      {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>MAYBE WE CAN PUT A TABLE HERE?</h4>
    </div>
</div>
{% endblock %}


{% block addon_css %}
    <link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/color_picker.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
    <link href="{% static 'home/css/construct_alignment.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/modal.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/jquery.powertip.css' %}" />
{% endblock %}

{% block addon_js %}
    <script src="{% static 'home/js/d3.min.js' %}"></script>
    <script src="{% static 'home/js/nv.d3.min.js' %}"></script>
    <script src="{% static 'home/js/saveSvg.js' %}"></script>
    <script src="{% static 'home/js/d3.v4.min.js' %}"></script>
    <script src="{% static 'home/js/sankey.js' %}"></script>
    <script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>

    <script>
    var sankey_data = JSON.parse('{{ sankey|safe }}');
    var top_nodes = '{{ nodes_nr|safe }}';
    var totalPoints = '{{ points }}';
    // set the dimensions and margins of the graph
    // set height iteratively based on highest number of nodes
    var margin = {top: 10, right: 10, bottom: 10, left: 10},
        width = 1000 - margin.left - margin.right,
        height = (top_nodes*30) - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3v4.select("#sankey_plot").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("id", "sankey")
      .append("g")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");

    // Color scale used
    var color = d3v4.scaleSequential(d3v4.interpolateBlues)
        .domain([0, totalPoints - 1]); // Adjust the domain based on your data points

    // Set the sankey diagram properties
    var sankey = d3v4.sankey()
        .nodeWidth(25)
        .nodePadding(5)
        .size([width, height]);

    // Constructs a new Sankey generator with the default settings.
    sankey
        .nodes(sankey_data.nodes)
        .links(sankey_data.links)
        .layout(100);

    // add in the links
    var link = svg.append("g")
      .selectAll(".link")
      .data(sankey_data.links)
      .enter()
      .append("path")
        .attr("class", "link")
        .attr("d", sankey.link())
        .attr("lig", function(d) { return d.ligtrace; })
        .attr("prot", function(d) { return d.prottrace; })
        .style("stroke-width", function(d) { return Math.max(1, d.dy); })
        .sort(function(a, b) { return b.dy - a.dy; });

    // add in the nodes
    var node = svg.append("g")
      .selectAll(".node")
      .data(sankey_data.nodes)
      .enter().append("g")
        .attr("class", "node")
        .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
        // .call(d3v4.drag()
        //   .subject(function(d) { return d; })
        //   .on("start", function() { this.parentNode.appendChild(this); })
        //   .on("drag", dragmove));

    var paths = svg.selectAll("path");
    // add the rectangles for the nodes
    node
      .append("rect")
        .attr("height", function(d) { return d.dy; })
        .attr("width", sankey.nodeWidth())
        .style("fill", function(d, i) {
           return color(i); // Apply color based on index
         })
        .on("click", function(d) {
           var isActive = d3v4.select(this).classed("active");
           // Reset all paths to default opacity
           paths.style("stroke-opacity", 0.1);
           paths.style("stroke", '#969696');
           if (!isActive) {
               // Highlight the paths with the same name
               paths.filter(function() {
                   var ligPathName = d3v4.select(this).attr("lig");
                   var protPathName = d3v4.select(this).attr("prot");
                   return ligPathName === d.name || protPathName === d.name;
               })
               .style("stroke-opacity", 0.3)
               .style("stroke", 'green');
           }
           // Toggle the 'active' class on the clicked node
           d3v4.select(this).classed("active", !isActive);
         })
      // Add hover text
      .append("title")
        .text(function(d) { return d.name + "\n" + "There is " + d.value + " stuff in this node"; });


    // add in the title for the nodes
    node.append("text")
        .attr("x", -6)
        .attr("y", function(d) { return d.dy / 2; })
        .attr("dy", ".35em")
        .attr("text-anchor", "end")
        .attr("transform", null)
        .style("font-weight", "bold")
        .on("click", function(d) {window.open(d.url, '_blank')})
        .each(function(d) {
            // Replace HTML entities with Unicode characters
            var formattedName = d.name.replace(/&alpha;/g, "α").replace(/&beta;/g, "β")
                                      .replace(/&kappa;/g, "κ").replace(/&delta;/g, "δ")
                                      .replace(/&mu;/g, "µ").replace(/&gamma;/g, "γ");

            var parts = formattedName.split("<sub>"),
                mainText = parts[0],
                subText = parts[1] ? parts[1].split("</sub>")[0] : '';

            var supParts = mainText.split("<sup>"),
                supText = supParts[1] ? supParts[1].split("</sup>")[0] : '';
                mainText = supParts[0]; // Update mainText to exclude supText

            var italicParts = mainText.split("<i>"),
                italicText = italicParts[1] ? italicParts[1].split("</i>")[0] : '';
                mainText = italicParts[0]; // Update mainText to exclude italicText

            var text = d3v4.select(this);
            text.text(mainText); // Set the main text

            if(italicText) {
                text.append("tspan")
                    .style("font-style", "italic")
                    .text(italicText);

                // Check for remaining text after italic tag
                if(italicParts[1] && italicParts[1].split("</i>")[1]) {
                    text.append("tspan")
                        .style("font-style", "normal") // Reset style to normal for following text
                        .text(italicParts[1].split("</i>")[1]);
                }
            }

            if(supText) {
                text.append("tspan") // Add the superscript part
                    .attr("dy", "-0.5em") // Move the superscript up
                    .attr("dx", "-0.1em") // Nudge back to align after main text
                    .style("font-size", "smaller") // Make superscript smaller
                    .text(supText);
            }

            if(subText) {
                text.append("tspan") // Add the subscript part
                    .attr("dy", "0.7em") // Move the subscript down
                    .attr("dx", "-0.1em") // Move the subscript back to align correctly after the main text
                    .style("font-size", "smaller") // Make subscript smaller
                    .text(subText);
            }

            if(parts[1] && parts[1].split("</sub>")[1]) {
                // Add remaining text after the subscript, if any
                text.append("tspan")
                    .attr("dy", "-0.7em") // Move back up to align with the main text baseline
                    .attr("dx", "0.0em") // Move forward past the subscript
                    .text(parts[1].split("</sub>")[1]);
            }
        })
        .filter(function(d) { return d.x < width / 2; })
            .attr("x", 6 + sankey.nodeWidth())
            .attr("text-anchor", "start");


    // the function for moving the nodes
    function dragmove(d) {
      d3v4.select(this)
        .attr("transform",
              "translate("
                 + d.x + ","
                 + (d.y = Math.max(
                    0, Math.min(height - d.dy, d3v4.event.y))
                   ) + ")");
      sankey.relayout();
      link.attr("d", sankey.link() );
    }

    </script>
{% endblock %}
