{% extends "home/base.html" %}
{% load static %}
{%block addon_css%}
<!-- <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" /> -->
<!-- <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.yadcf.css' %}" type="text/css"> -->
<!-- <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css"> -->
<!-- <link rel="stylesheet" href="{% static 'home/css/modal.css' %}" type="text/css"> -->
<link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/NewDrugsBrowser_datatables.min.css' %}" type="text/css"/>
<!-- <link rel="stylesheet" href="{% static 'home/css/NEW_jquery.dataTables.yadcf.css' %}" type="text/css"> -->
<!-- <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css"> -->
<link rel="stylesheet" href="{% static 'home/css/select2_4.1.0-rc.0._full.css' %}" type="text/css">

<style type="text/css">
  table.dataTable thead th,
  table.dataTable tbody td {
    max-width: 1px;
    word-break: break-word;
    overflow: hidden;
    white-space: nowrap;
  }
  .dataTables_length {
    position: relative;
    white-space:pre-wrap; 
    /* float: none !important; */
    /* text-align: center; */
  }

.select2-search__field::placeholder{
    text-align:center;
    /* line-height: auto !important; */
    /* margin-bottom:auto; */
}


.select2-container--default .select2-selection--multiple{
    overflow: hidden !important;
    /* height: 1px; */
    /* max-height: 2rem; */
    /* overflow: auto; */
}

#containerexample {display: none}
#loadercontainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .select2-selection__clear{
   position: relative;
   top: 0;
   right: -133px;
   border: 1px solid #ccc;
   border-left: 0;
   height: 100%;
   padding: 0 12px;
} */
/* .select2-selection__arrow {
    height: 34px !important;
} */
/* .select2-search__field:-ms-input-placeholder {
    color: #f00;
}
.select2-search__field::-ms-input-placeholder {
    color: #cecfd0;
} */
</style>
{%endblock%}
{%block content%}
<!-- <div style="padding-top: 10px; font-size: 14px; white-space: nowrap;">
  <button onclick="reset_all()">Reset</button>
</div> -->
<div id="containerexample" style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
  <table width="100%" class="display compact" id="Table_example">
  <!-- <table width="100%" class="display" id="Table_example"> -->
    <thead>
      <!-- !!! Stupid work around !!! Fixed headers and resposive tables havent work out the issue of complex headers yet, 
        so inserting a "dummy header row" this allows the table to correspond correctly. 
        Should have been fixed by patch 2.1.0 responsive, but still not working..." -->
      <script type="text/javascript">
          var timerStart = Date.now();
      </script>
      <tr> 
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
      </tr>
      <!-- ## Super header row ## -->
      <tr style="padding-top: 10px; font-size: 14px; white-space: nowrap;">
        <th colspan="3" id="Complex_header_1" style="text-align: center;" data-dt-order="disable">Drugs, Indications, Targets</th>
        <th colspan="3" id="Complex_header_2" style="text-align: center;" data-dt-order="disable">Target information</th>
        <th colspan="5" id="Complex_header_3" style="text-align: center;" data-dt-order="disable">Clinical information</th>
      </tr>
      <!-- ## header row ## -->
      <tr>
        <th style="text-align: center;">Drugs</th>
        <th style="text-align: center;">Indication</th>
        <th style="text-align: center;">GPCRdb</th>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Class</th>
        <th style="text-align: center;">Family</th>
        <th style="text-align: center;">Drug status</th>
        <th style="text-align: center;">Phase</th>
        <th style="text-align: center;">Year of<br/>Approval</th>
        <th style="text-align: center;">Drug type</th>
        <th style="text-align: center;">Mechanism<br/>of action</th>
      </tr>
      <!-- ## Filter row ## -->
      <tr>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
        <td style="text-align: center" data-dt-order="disable"></td>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>
<div id="loadercontainer">
  <div class="d-flex justify-content-center text-secondary" id="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
  </div>
{%endblock%}

{%block addon_js%}

<script src="{% static 'home/js/Test1.js' %}"></script>
<script src="{% static 'home/js/Test2.js' %}"></script>
<script src="{% static 'home/js/Test3.js' %}"></script>
<script src="{% static 'home/js/Test6.js' %}"></script>
<!-- <script src="{% static 'home/js/select2.js' %}"></script> -->
<script src="{% static 'home/js/bootstrap2-toggle.min.js' %}"></script>
<script src="{% static 'home/js/select2_4.1.0-rc.0_full.js' %}"></script>
<script src="{% static 'home/js/dataTables.absolute.js' %}"></script>
<script src="{% static 'home/js/NorgesDTFilterBuilder.js' %}"></script>
<script>

// ##########################################################################################################
// ##                                 Load the data as a js variable                                       ##
// ## only outside the document ready function for debugging purposes (doesnt like the django code format) ##
// ##########################################################################################################

var drugs_data = {{drug_data|safe}};
var table1;
 
// ######################
// ## Ordering schemes ##
// ######################

var numbersType = $.fn.dataTable.absoluteOrderNumber( [
    { value: 'None', position: 'bottom' }
  ] );
  var namesType = $.fn.dataTable.absoluteOrder( [
    { value: 'unknown', position: 'bottom' }
  ] );

// ###############################
// ### Document ready function ###
// ###############################

  $(document).ready(function() {
    
  // #############################
  // ### Create the Datatable  ###
  // #############################

  
  var table1 = $('#Table_example').on( 'draw.dt', function () {
    $("#containerexample").attr("id", "container"); $("#loadercontainer").css("display","none");
  } ).DataTable({
    // ####################
    // ## Table settings ##
    // ####################
    
    // ## Layout positions ##
    dom: 
    "<'row'<'col-sm-12 dt-btn'B>>" +
     "<'row'<'col-sm-6'l><'col-sm-3'><'col-sm-3'f>>" +
     "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-12'ip>>",

    // ##  Common settings ##
    order: [2,"asc"],
    pageLength: 20,
    lengthMenu: [10, 20, 50, 75, 100,{ label: 'All', value: -1 }],
    processing: true,
    serverSide: false,
    deferLoading: 57,
    deferRender: true,
    // serverSide: true,
    language : {
     sLengthMenu: "_MENU_",
     //processing: 'DataTables is currently busy'
    },
    scrollY: "50vh",
    scrollX: true,
    scrollCollapse: true,
    scroller: true,
    paging: true,
    responsive: true,
    // fixedColumns: true,
    // fixedHeader: true,
    "sScrollX": "200%", 
    "sScrollXInner": "200%",
    
    // ###################
    // ## Load the data ##
    // ###################
    
    data: drugs_data,

    // ###################
    // ##  Column data  ##
    // ###################

    columns:[
    
    // #####################
    // #  Column 1 - Drugs #
    // #####################

    {data: "Drug",
      name: "Drug",
      width:'8%'},

    // ##########################
    // #  Column 2 - Indication #
    // ##########################

    {data: "Indication",
      name: "Indication",
      width:'10%'},
    
    // #####################################
    // #  Column 3 - Target Name (Uniprot) #
    // #####################################
    
    {data: "Protein_name",
      render: function (data, type, row, meta) { // To put links into the table data use the render function.
        data = '<a href="https://www.uniprot.org/uniprot/' + row.Protein_uniprot + '" target="_blank">' + data + '</a>';
        return data},
      width:'8%'}, 
    
    // ######################################
    // #  Column 4 - Receptor Name (GPCRdb) #
    // ######################################

    {"data": "Protein_receptor",
      "name":"Protein_receptor",
      render: function(data,type,row,meta){
        //data = '<a href="https://www.uniprot.org/uniprot/' + row.Protein_uniprot + '" target="_blank">' + data + '</a>';
        data = '<a href="/protein/'+ row.Protein_uniprot +'" target="_blank" data-toggle="popover" title="something...." data-content="interesting info" data-trigger="hover"><img width="12px" height="12px" class="gpcrdb-link" src="{% static "home/logo/gpcr/main.png" %}"> '+data+'</a>'
        return data // "data-toggle="popover" title="something...." data-content="interesting info" data-trigger="hover" is the hover over toggle tag
      },
      width: '10%'},
    
    // #############################
    // #  Column 5 - Target Class  #
    // #############################

    {data: "Protein_class", 
      name:"Protein_class",
      width: '10%'},

    // #############################
    // # Column 6 - Target Family  #
    // #############################

    {data: "Protein_family", 
      name:"Protein_family",
      width: '10%'},
    
    // ###########################
    // # Column 7 - Drug Status  #
    // ###########################

    {data: "Drug_status", 
      name:"Drug_status",
      width: '10%'},
    
    // #####################
    // # Column 8 - Phase  #
    // #####################

    {data: "Indication_max_phase", 
      name:"Indication_max_phase",
      width: '8%'},
    
    // ################################
    // # Column 9 - Year of approval  #
    // ################################

    {data: "Approval_year", 
      name:"Approval_year",
      width: '8%'},

    // ##########################  
    // # Column 10 - Drug type  #
    // ##########################

    {"data": "Drug_type",
      name:"Drug_type",
      width: '8%'},
    
    // ####################################
    // # Column 11 - Mechanism of action  #
    // ####################################

    {data: "Moa",
      name: "Moa",
      width: '10%'}
    ],

    // ###################################################
    // ## Define ordering - Handles special case values ##
    // ###################################################

    columnDefs: [
      { type: numbersType, targets: 8 },
      { type: namesType, targets: 10 },
      {className: "dt-center expand", "targets": "_all"}
      ],
    
    // ###########################################
    // ## Needed for the popover toggle of data ##
    // ###########################################

    fnDrawCallback: function() {
      $('[data-toggle="popover"]').popover();
    },
    
    // ############################
    // ### Table control button ###
    // ############################

    buttons: [
      { 
        text: 'Table control',
        extend: 'collection',
        buttons: [{ 
          text: 'Toggle Receptor Info',
          action: function ( e, dt, node, config ) {
            dt.column( 3 ).visible( ! dt.column( 3 ).visible() );  
            dt.column( 4 ).visible( ! dt.column( 4 ).visible() );
            dt.column( 5 ).visible( ! dt.column( 5 ).visible() );
            // dt.column( 6 ).visible( ! dt.column( 6 ).visible() );
            this.active(!this.active());
          }
        },
        { 
          text: 'Toggle Clinical Info',
          action: function ( e, dt, node, config ) {
              dt.column( 6 ).visible( ! dt.column( 6 ).visible() );
              dt.column( 7 ).visible( ! dt.column( 7 ).visible() );
              dt.column( 8 ).visible( ! dt.column( 8 ).visible() );
              dt.column( 9 ).visible( ! dt.column( 9 ).visible() );
              dt.column( 10 ).visible( ! dt.column( 10 ).visible() );
              // dt.column( 11 ).visible( ! dt.column( 11 ).visible() );
              this.active(!this.active());
          }
        },

        // #################
        // # Colvis button #
        // #################

        {
          popoverTitle: 'Individual columns',
          extend: 'colvis',
          columns: 'th:nth-child(n+4)',
          collectionLayout: ['fixed three-column'],
          popoverTitle: 'Column visibility control',
          postfixButtons: ['colvisRestore'],
          // columnText: function(dt, i, title) {
          //   console.log($(dt.column(i).header()).text()) <--- "FIX !"
          //   return $(dt.column(i).header()).text();
          // }
        }
        ]},
        {
          text: 'Reset filters',
          action: function (e, dt, node, config) {
            reset_all();
          }
                }], // End of buttons
        }); // End of DataTables
        
        // #############################
        // ###    Create Filters     ###
        // #############################

        var column_filters = [];
        // CreateColumnFilters --> CreateColumnFilters(datatable_selector,column_number, column_range, header_row, filter_type)
        column_filters = column_filters.concat(CreateColumnFilters(table1,0,7,3,"Multi-select"));
        column_filters = column_filters.concat(CreateColumnFilters(table1,7,1,3,"Range_filter_float"));
        column_filters = column_filters.concat(CreateColumnFilters(table1,8,1,3,"Range_filter_year"));
        column_filters = column_filters.concat(CreateColumnFilters(table1,9,1,3,"Multi-select"));
        column_filters = column_filters.concat(CreateColumnFilters(table1,10,1,3,"Multi-select"));
        // #############################
        // ###   Initialize filters  ###
        // #############################
        
        createDropdownFilters(table1,column_filters);
        
        
        // ## run time printer ##
        const time = Date.now();
        const time_now = time-timerStart;
        const time_s = (time_now*0.001).toFixed(2);
        console.log("all done in: "+time_s+'s'); 
}); // End document ready function



// #############################
// ### Reset button function ###
// #############################

function reset_all() {
  $('.select2').val(null).trigger('change');
}
</script>
{%endblock%}


