{% extends "home/base.html" %}
{% load static %}
{%block addon_css%}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.yadcf.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/modal.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/signprot-multitabtable.css' %}" type="text/css"/>
<style type="text/css">

  input.yadcf-filter, .select2-container-multi .select2-choices  {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    padding: 2px;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
  }

  .yadcf-filter-wrapper {
    margin-top: 5px;
    margin-bottom: 2px;
    width: 100%;
  }

  tr.no-border-bottom th {
    text-align: center;
    border-left: 1px solid black;
    border-bottom: none !important;
  }
  table.dataTable thead th,
  table.dataTable tbody td {
    max-width: 1px;
    word-break: break-word;
    overflow: hidden;
    white-space: nowrap;
  }
</style>
{%endblock%}
{%block content%}
<button onclick="tableToExcel()" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px"> Export to Excel </button>
<div class="row">
    <div class="col-md-12 text-center">
        {% if drug_data %}
        <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
            <table width="100%" class="display compact" id="drugdata">
                <thead >
                  <tr>
                    <th colspan="2" style="text-align:center; border-left: 1px solid #000000; border-top: 1px solid #000000; ">Drugs</th>
                    <th colspan="4" style="text-align:center; border-left: 1px solid #000000; border-top: 1px solid #000000; ">Receptor</th>
                    <th colspan="5" style="text-align:center; border-left: 1px solid #000000; border-right: 1px solid #000000; border-top: 1px solid #000000; ">Clinical information</th>
                    <!-- <th colspan="5">RECEPTOR</th>
                    <th colspan="7">CLINICAL INFORMATION</th>   -->
                  </tr>

                  <!-- yadcf filter rows -->
                  <tr class="no-border-bottom">
                    <!-- Drug section -->
                    <th style="text-align:center; border-left: 1px solid #000000;">Name<br/></th>
                    <th style="text-align:center;">Indication<br/></th>
                    <!-- Receptor section -->
                    <th style="text-align:center; border-left: 1px solid #000000;">Uniprot<br/></th>
                    <th style="text-align:center;">GPCRdb<br/></th>
                    <th style="text-align:center;">Class<br/></th>
                    <th style="text-align:center;">Family<br/></th>
                    <!-- Clinical information -->
                    <th style="text-align:center; border-left: 1px solid #000000;">Drug status<br/></th>
                    <th style="text-align:center;">Phase<br/></th>
                    <th style="text-align:center;">Year of<br/>Approval<br/></th>
                    <th style="text-align:center;">Drug type<br/></th>
                    <th style="text-align:center; border-right: 1px solid #000000;">Mechanism<br/>of action<br/></th>
                  </tr>
                </thead>
                <tbody>
                
                {% for row in drug_data %}
                <tr>
                  <!-- Drug section -->
                  <td style="text-align:left">{{ row.Drug|safe }}</td>
                  <td style="text-align:left">
                    <a href="https://www.ebi.ac.uk/ols4/ontologies/efo/classes?short_form={{ row.Indication_ID }}" target="_blank">{{ row.Indication|safe }}</a>
                  </td>
                  <!--  -->
                  <!-- Receptor section -->
                  <td class="uniprot1 text-left">
                      <a href="https://www.uniprot.org/uniprot/{{ row.Protein_uniprot }}" target="_blank">{{ row.Protein_name|safe }}</a>
                  </td>
                  <td style="text-align:left"> 
                    <a href="/protein/{{ row.Protein_uniprot }}" target="_blank"><img width="12px" height="12px" class="gpcrdb-link" src="{% static 'home/logo/gpcr/main.png' %}">  {{ row.Protein_receptor|safe }}</a>
                  </td>
                  <td style="text-align:left">{{ row.Protein_class|safe }}</td>
                  <td style="text-align:left">{{ row.Protein_family|safe }}</td>
                  <!-- Clinical information -->
                  <td style="text-align:left">{{ row.Drug_status|safe }}</td>
                  <td style="text-align:left">{{ row.Indication_max_phase|safe }}</td>
                  <td style="text-align:left">{{ row.Approval_year|safe }}</td>
                  <td style="text-align:left">{{ row.Drug_type|safe }}</td>
                  <td style="text-align:left">{{ row.Moa|safe }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p> Ooops! There is no data to show here yet. </p>
    {% endif %}
  </div>
</div>
<br>
{%endblock%}
<!-- {%block popup%}
<div class="modal" id="references">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <b><h4 class="modal-title">Refs:</h4></b>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
    </div>
  </div>
</div>
{%endblock%} -->

{%block addon_js%}
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
<script src="{% static 'home/js/gpcrdb.js' %}"></script>
<script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"></script>
<script src="{% static 'home/js/select2.js' %}"></script>
<script src="{% static 'home/js/bootstrap2-toggle.min.js' %}"></script>
<script src="{% static 'home/js/gpcrdb.js' %}"></script>
<!-- <script src="{% static 'home\js\dataTables.js' %}"></script>
<script src="{% static 'home\js\dataTables.responsive.js' %}"></script>
<script src="{% static 'home\js\responsive.dataTables.js' %}"></script>
<script src="{% static 'home\js\dataTables.buttons.min_drugs_browser.js' %}"></script>
<script src="{% static 'home/js/buttons.dataTables.js' %}"></script>
<script src="{% static 'home/js/buttons.colVis.min.js' %}"></script> -->

<!-- <script>
  //triggered when modal is about to be shown
$('#references').on('show.bs.modal', function(e) {

    //get data-id attribute of the clicked element
    var bookId = $(e.relatedTarget).data('book-id');
    $("#references .modal-body p").html(bookId);
    //populate the textbox
    // $(e.currentTarget).find('.modal-body p').val(bookId);
});
</script> -->
<script type="text/javascript" charset="utf-8">

  $(document).ready(
    function() {
      var table = $('#drugdata').DataTable(
        {
          autoWidth: false,
          'order': [[0, "asc"]],
          scrollY: "50vh",
          scrollX: true,
          scrollCollapse: true,
          scroller: true,
          paging: true,
          bSortCellsTop: false,
          columnDefs: [
            { targets: [], width: '100px' }
          ]
        }
      ); 
      let column_filters = [];
      // ## DRUGS ##
      // # Name #
      column_filters = column_filters.concat(createYADCFfilters(0, 1,"multi_select", "select2", "Select", false, null, null, '75px'));
      // # Indication #
      column_filters = column_filters.concat(createYADCFfilters(1, 1,"multi_select", "select2", "Select", false, null, null, '75px'));
      // ## Recepters ##
      // # Uniprot #
      column_filters = column_filters.concat(createYADCFfilters(2, 1,"multi_select", "select2", "Select", false, 'exact', "html", '75px'));
      // # GPCRdb #
      column_filters = column_filters.concat(createYADCFfilters(3, 1,"multi_select", "select2", "Select", false, null, null, '75px'));
      // # Class #
      column_filters = column_filters.concat(createYADCFfilters(4, 1,"multi_select", "select2", "Select", false, null, null, '75px'));
      // # Family #
      column_filters = column_filters.concat(createYADCFfilters(5, 1,"multi_select", "select2", "Select", false, null, null, '75px'));
      // ## Clinical information ##
      // # Drug status #
      column_filters = column_filters.concat(createYADCFfilters(6, 1,"multi_select", "select2", "Select", false, null, null, '75px'));
      // # Phase #
      column_filters = column_filters.concat(createYADCFfilters(7, 1,"multi_select", "select2", "Select", false, null, null, '75px'));
      // # Year of Approval #
      column_filters = column_filters.concat(createYADCFfilters(8, 1,"multi_select", "select2", "Select", false, null, null, '75px'));
      // # Drug type #
      column_filters = column_filters.concat(createYADCFfilters(9, 1,"multi_select", "select2", "Select", false, null, null, '75px'));
      // # Mechanism of action #
      column_filters = column_filters.concat(createYADCFfilters(10, 1,"multi_select", "select2", "Select", false, null, null, '75px'));;
      // possible width: 'data-filter'
      // column_filters = column_filters.concat(createYADCFfilters(3, 10,"multi_select", select_type="select2", filter_default_label="Select"));
      // column_filters[12]["data"] = ["yes", "no"];
      // YADCF filter 
      yadcf.init(
        table, column_filters
      );
      //Adding 'expand' class to long text cells - on hover, the cell expands and text is readable
      $("tr td:nth-child(2)").addClass("expand");
      $("tr td:nth-child(6)").addClass("expand");
    }
  );
  </script>
  <script>
    var tableToExcel = (function () {
      var encabezado = '<html><head><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/><style> table, td {border:thin solid black} table {border-collapse:collapse}</style></head><body><table>';
      var dataTable = document.getElementById('drugdata').innerHTML;
      var piePagina = "</table></body></html>";
      var tabla = encabezado + dataTable + piePagina;
      var myBlob =  new Blob( [tabla] , {type:'text/html'});
      var url = window.URL.createObjectURL(myBlob);
      var a = document.createElement("a");
      document.body.appendChild(a);
      a.href = url;
      a.download = "DrugBrowserData.xls";
      a.click();

      setTimeout(function() {window.URL.revokeObjectURL(url);},0);
    });
  </script>
{%endblock%}