{% extends "home/base.html" %}
{% load static %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.yadcf.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/modal.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css">

<!-- Specific css for this browser -->
<link rel="stylesheet" href="{% static 'home/css/dataTables.dataTables.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/responsive.dataTables.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/buttons.dataTables.css' %}" type="text/css">

<style type="text/css">
  input.yadcf-filter, .select2-container-multi .select2-choices  {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    padding: 2px;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
  }
  /* might need to change !!! */
  input.number_range_filter,
  input.date_range_filter {
    width: 20px;
    font-size: 8px;
  }

  .yadcf-filter-wrapper {
    margin-top: 5px;
    margin-bottom: 2px;
    width: 100%;
  }
  
 
  tr.no-border-bottom th {
    text-align: center;
    border-left: 1px solid black;
    border-bottom: none !important;
  }

	table.dataTable thead th,
	table.dataTable tbody td {
    max-width: 1px;
		word-break: break-word;
		overflow: hidden;
		white-space: nowrap;
	}

</style>
{% endblock %}



{% block content %}

<!-- ### Top page ### -->
<!-- ## Reset buttons ## -->

<div style="padding:10px">
  <input type="button" id="Reset_all_filters" value="Reset All Filters" class="btn btn-primary">
</div>

<!-- ### Create the panel tabs ### -->



<!-- <button onclick="Debugger_log()">Debugger</button> -->

<ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab" >Drug Targets</a></li>
  <li><a href="#tab2" data-toggle="tab" >Tissue Expression</a></li>
</ul>


<!-- ## Tab content ## -->
<div class="tab-content">
  <!-- ## Tab 1 - Drug Browser ## -->
  <div id="tab1" class="tab-pane fade in active">
      <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
        <table width="100%" class="display compact" id="Drug_browser_table">
            <thead>
              <tr class="no-border-bottom">
                <th colspan="1" style="text-align:center;border-left: none;">Index</th>
                <th colspan="2" style="text-align:center;border-left: none;">Target-Indication</th>
                <th colspan="2" style="text-align:center;border-left: none;">Info</th>
                <th colspan="4" style="text-align:center;border-left: none;">Drugs</th>
                <th colspan="4" style="text-align:center;border-left: none;">Structures</th>
              </tr>
              <tr>
                <!-- Index column -->
                <th style="text-align:center; border-left: none;">INDEX<br/></th>
                <!-- Data columns -->
                <th style="text-align:center; border-left: none;">Target<br/></th>
                <th style="text-align:center; border-left: none;">Indication<br/></th>
                <th style="text-align:center; border-left: none;">Novelty score<br/></th>
                <th style="text-align:center; border-left: none;">IDG<br/></th>
                <th style="text-align:center; border-left: none;">Total<br/></th>
                <th style="text-align:center; border-left: none;">Approved<br/></th>
                <th style="text-align:center; border-left: none;">In trial<br/></th>
                <th style="text-align:center; border-left: none;">Discontinued<br/></th>
                <th style="text-align:center; border-left: none;">Total<br/></th>
                <th style="text-align:center; border-left: none;">Active<br/></th>
                <th style="text-align:center; border-left: none;">Inactive<br/></th>
                <th style="text-align:center; border-left: none;">Intermediate<br/></th>
                <!-- <th style="text-align:center; border-left: none;">IDG<br/></th> -->
                <!-- <th style="text-align:center; border-left: none;">Class<br/></th>
                <th style="text-align:center; border-left: none;">Ligand type<br/></th>
                <th style="text-align:center; border-left: none;">Family<br/></th>
                <th style="text-align:center; border-left: none;">Novelty score<br/></th>
                <th style="text-align:center; border-left: none;">Drug type<br/></th>
                <th style="text-align:center; border-left: none;">Drug status<br/></th>
                <th style="text-align:center; border-left: none;">Approval year<br/></th>
                <th style="text-align:center; border-left: none;">Indication<br/>(Max phase)<br/></th>
                <th style="text-align:center; border-left: none;">Indication<br/></th>
                <th style="text-align:center; border-left: none;">Ligand<br/></th>
                <th style="text-align:center; border-left: none;">Mechanism<br/>of action<br/></th> -->
              </tr>
            </thead>
            <tbody>
              {% if Target_data %}
                {% for row in Target_data %}
                <tr>
                  <!-- Index column -->
                  <td style="text-align:center">{{row.Index_number|safe}}</td> 
                  <!-- Target-Indications -->
                  <td style="text-align:center">{{row.Target_name|safe}}</td>
                  <td style="text-align:center">{{row.Indication_name|safe}}</td>
                  <!-- Infomation -->
                  <td style="text-align:center">{{row.Novelty_score|safe}}</td>
                  <td style="text-align:center">{{row.IDG|safe}}</td>
                  <!-- Drugs -->
                  <td style="text-align:center">{{row.Drugs_total|safe}}</td>
                  <td style="text-align:center">{{row.Drugs_approved|safe}}</td>
                  <td style="text-align:center">{{row.Drugs_in_trial|safe}}</td>
                  <td style="text-align:center">{{row.Drugs_discontinued|safe}}</td>
                  <!-- Structures -->
                  <td style="text-align:center">{{row.Structure_total|safe}}</td>
                  <td style="text-align:center">{{row.Structure_active|safe}}</td>
                  <td style="text-align:center">{{row.Structure_inactive|safe}}</td>
                  <td style="text-align:center">{{row.Structure_intermediate|safe}}</td>
                  <!-- <td style="text-align:center">{{row.class_name|safe}}</td> -->
                  <!-- <td style="text-align:center">{{row.Ligand_type|safe}}</td>
                  <td style="text-align:center">{{row.Family|safe}}</td>
                  <td style="text-align:center">{{row.Novelty_score|safe}}</td>
                  <td style="text-align:center">{{row.Clinical_drug_type|safe}}</td>
                  <td style="text-align:center">{{row.Drug_status|safe}}</td>
                  <td style="text-align:center">{{row.Drug_approval_year|safe}}</td>
                  <td style="text-align:center">{{row.Max_indication_phase|safe}}</td>
                  <td style="text-align:center">{{row.Indication|safe}}</td>
                  <td style="text-align:center">{{row.Ligand_name|safe}}</td>
                  <td style="text-align:center">{{row.Moa|safe}}</td> -->
                </tr>
                {% endfor %}
              {% else %}
                <p> Data not found... test1 </p>
              {% endif %}
            </tbody>
        </table>
      </div>
  </div>
  <!-- ## Tab 2 - Tissue Browser ## -->
  <div id="tab2" class="tab-pane fade">
    <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
      <table width="100%" class="display compact" id="Tissue_browser_table">
          <thead>
            <!-- <tr class="no-border-bottom">
              <th colspan="4" style="border-left: none;">Tissue Expression</th>
            </tr> -->
            <tr>
              <!-- Index column -->
              <th style="text-align:center; border-left: none;">INDEX<br/></th> 
              <!-- Data columns -->
              <th style="text-align:center; border-left: none;">UniProt<br/></th>
              <th style="text-align:center; border-left: none;">Adipose<br/>tissue<br/></th>
              <th style="text-align:center; border-left: none;">Adrenal<br/>gland<br/></th>
              <th style="text-align:center; border-left: none;">Amygdala<br/></th>
              <th style="text-align:center; border-left: none;">Appendix<br/></th>
              <th style="text-align:center; border-left: none;">Basal<br/>ganglia<br/></th>
              <th style="text-align:center; border-left: none;">Bone<br/>marrow<br/></th>
              <th style="text-align:center; border-left: none;">Breast<br/></th>
              <th style="text-align:center; border-left: none;">Cerebellum<br/></th>
              <th style="text-align:center; border-left: none;">Cerebral<br/>cortex<br/></th>
              <!-- 10 colums -->
              <th style="text-align:center; border-left: none;">Cervix<br/></th>
              <th style="text-align:center; border-left: none;">Choroid<br/>plexus<br/></th>
              <th style="text-align:center; border-left: none;">Colon<br/></th>
              <th style="text-align:center; border-left: none;">Duodenum<br/></th>
              <th style="text-align:center; border-left: none;">Endometrium<br/></th>
              <th style="text-align:center; border-left: none;">Epididymis<br/></th>
              <th style="text-align:center; border-left: none;">Esophagus<br/></th>
              <th style="text-align:center; border-left: none;">Fallopian<br/>tube<br/></th>
              <th style="text-align:center; border-left: none;">Gallbladder<br/></th>
              <th style="text-align:center; border-left: none;">Heart<br/>muscle<br/></th>
              <!-- 20 colums -->
              <th style="text-align:center; border-left: none;">Hippocampal<br/>formation<br/></th>
              <th style="text-align:center; border-left: none;">Hypothalamus<br/></th>
              <th style="text-align:center; border-left: none;">Kidney<br/></th>
              <th style="text-align:center; border-left: none;">Liver<br/></th>
              <th style="text-align:center; border-left: none;">Lung<br/></th>
              <th style="text-align:center; border-left: none;">Lymph<br/>node<br/></th>
              <th style="text-align:center; border-left: none;">Midbrain<br/></th>
              <th style="text-align:center; border-left: none;">Ovary<br/></th>
              <th style="text-align:center; border-left: none;">Pancreas<br/></th>
              <th style="text-align:center; border-left: none;">Parathyroid<br/>gland<br/></th>
              <!-- 30 colums -->
              <th style="text-align:center; border-left: none;">Pituitary<br/>gland<br/></th>
              <th style="text-align:center; border-left: none;">Placenta<br/></th>
              <th style="text-align:center; border-left: none;">Prostate<br/></th>
              <th style="text-align:center; border-left: none;">Rectum<br/></th>
              <th style="text-align:center; border-left: none;">Retina<br/></th>
              <th style="text-align:center; border-left: none;">Salivary<br/>gland<br/></th>
              <th style="text-align:center; border-left: none;">Seminal<br/>vesicle<br/></th>
              <th style="text-align:center; border-left: none;">Skeletal<br/>muscle<br/></th>
              <th style="text-align:center; border-left: none;">Skin<br/></th>
              <th style="text-align:center; border-left: none;">Small<br/>intestin<br/></th>
              <!-- 40 colums -->
              <th style="text-align:center; border-left: none;">Smooth<br/>muscle<br/></th>
              <th style="text-align:center; border-left: none;"><br/>cord<br/></th>
              <th style="text-align:center; border-left: none;">Spleen<br/></th>
              <th style="text-align:center; border-left: none;">Stomach<br/></th>
              <th style="text-align:center; border-left: none;">Testis<br/></th>
              <th style="text-align:center; border-left: none;">Thymus<br/></th>
              <th style="text-align:center; border-left: none;">Thyroid<br/>gland<br/></th>
              <th style="text-align:center; border-left: none;">Tongue<br/></th>
              <th style="text-align:center; border-left: none;">Tonsil<br/></th>
              <th style="text-align:center; border-left: none;">Urinary<br/>bladder<br/></th>
              <!-- 50 colums -->
              <th style="text-align:center; border-left: none;">Vagina<br/></th>
              <!-- 51 colums -->
            </tr>
          </thead>
          <tbody>
            {% if Tissue_data %}
              {% for row in Tissue_data %}
              <tr>
                <!-- Index column -->
                <td style="text-align:center">{{row.Index_number|safe}}</td> 
                <!-- Data columns -->
                <td style="text-align:center">{{row.ProteinID|safe}}</td>
                <td style="text-align:center">{{row.adipose_tissue|safe}}</td>
                <td style="text-align:center">{{row.adrenal_gland|safe}}</td>
                <td style="text-align:center">{{row.amygdala|safe}}</td>
                <td style="text-align:center">{{row.appendix|safe}}</td>
                <td style="text-align:center">{{row.basal_ganglia|safe}}</td>
                <td style="text-align:center">{{row.bone_marrow|safe}}</td>
                <td style="text-align:center">{{row.breast|safe}}</td>
                <td style="text-align:center">{{row.cerebellum|safe}}</td>
                <td style="text-align:center">{{row.cerebral_cortex|safe}}</td>
                <!-- 10 colums -->
                <td style="text-align:center">{{row.cervix|safe}}</td>
                <td style="text-align:center">{{row.choroid_plexus|safe}}</td>
                <td style="text-align:center">{{row.colon|safe}}</td>
                <td style="text-align:center">{{row.duodenum|safe}}</td>
                <td style="text-align:center">{{row.endometrium|safe}}</td>
                <td style="text-align:center">{{row.epididymis|safe}}</td>
                <td style="text-align:center">{{row.esophagus|safe}}</td>
                <td style="text-align:center">{{row.fallopian_tube|safe}}</td>
                <td style="text-align:center">{{row.gallbladder|safe}}</td>
                <td style="text-align:center">{{row.heart_muscle|safe}}</td>
                <!-- 20 colums -->
                <td style="text-align:center">{{row.hippocampal_formation|safe}}</td>
                <td style="text-align:center">{{row.hypothalamus|safe}}</td>
                <td style="text-align:center">{{row.kidney|safe}}</td>
                <td style="text-align:center">{{row.liver|safe}}</td>
                <td style="text-align:center">{{row.lung|safe}}</td>
                <td style="text-align:center">{{row.lymph_node|safe}}</td>
                <td style="text-align:center">{{row.midbrain|safe}}</td>
                <td style="text-align:center">{{row.ovary|safe}}</td>
                <td style="text-align:center">{{row.pancreas|safe}}</td>
                <td style="text-align:center">{{row.parathyroid_gland|safe}}</td>
                <!-- 30 colums -->
                <td style="text-align:center">{{row.pituitary_gland|safe}}</td>
                <td style="text-align:center">{{row.placenta|safe}}</td>
                <td style="text-align:center">{{row.prostate|safe}}</td>
                <td style="text-align:center">{{row.rectum|safe}}</td>
                <td style="text-align:center">{{row.retina|safe}}</td>
                <td style="text-align:center">{{row.salivary_gland|safe}}</td>
                <td style="text-align:center">{{row.seminal_vesicle|safe}}</td>
                <td style="text-align:center">{{row.skeletal_muscle|safe}}</td>
                <td style="text-align:center">{{row.skin|safe}}</td>
                <td style="text-align:center">{{row.small_intestine|safe}}</td>
                <!-- 40 colums -->
                <td style="text-align:center">{{row.smooth_muscle|safe}}</td>
                <td style="text-align:center">{{row.spinal_cord|safe}}</td>
                <td style="text-align:center">{{row.spleen|safe}}</td>
                <td style="text-align:center">{{row.stomach|safe}}</td>
                <td style="text-align:center">{{row.testis|safe}}</td>
                <td style="text-align:center">{{row.thymus|safe}}</td>
                <td style="text-align:center">{{row.thyroid_gland|safe}}</td>
                <td style="text-align:center">{{row.tongue|safe}}</td>
                <td style="text-align:center">{{row.tonsil|safe}}</td>
                <td style="text-align:center">{{row.urinary_bladder|safe}}</td>
                <!-- 50 colums -->
                <td style="text-align:center">{{row.vagina|safe}}</td>
                <!-- 51 colums -->
              </tr>
              {% endfor %}
            {% else %}
              <p> Data not found... test1 </p>
            {% endif %}
          </tbody>
      </table>
    </div>
</div>


{% endblock %}
<!-- ### Java scripts ### -->

{% block addon_js %}
<!-- ## Libraries ## -->
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
<script src="{% static 'home/js/gpcrdb.js' %}"></script>
<script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"></script>
<script src="{% static 'home/js/select2.js' %}"></script>
<script src="{% static 'home/js/bootstrap2-toggle.min.js' %}"></script>
<script src="{% static 'home/js/gpcrdb.js' %}"></script>

<!-- For the visiable columns function -->
<!-- NEEDS JQUERY UPDATE! -->
<!-- <script src="{% static 'home\js\jquery-3.7.1.js' %}"></script> -->
<!-- <script src="{% static 'home\js\dataTables.js' %}"></script>
<script src="{% static 'home\js\dataTables.responsive.js' %}"></script>
<script src="{% static 'home\js\responsive.dataTables.js' %}"></script>
<script src="{% static 'home\js\dataTables.buttons.min_drugs_browser.js' %}"></script>
<script src="{% static 'home/js/buttons.dataTables.js' %}"></script>
<script src="{% static 'home/js/buttons.colVis.min.js' %}"></script> -->


<!-- ## Java scripts ## -->
<script type="text/javascript" charset="utf-8">
  // ## when another jquery is loaded on top of the /home.html --> this line fixes the two jquery acting up ##
  // var $jq = jQuery.noConflict(true);
  // # Initialize global variable to control table input #
  $(document).ready(
    function() {
      // # Set index visable true/false #
      var index_visable = true

      // ### Reset filter functions for drugs browser and tissue expression ###
      $("#Reset_all_filters").click(function() {
        yadcf.exResetAllFilters(table1);
        yadcf.exResetAllFilters(table2);
        });
      // ### Init Drugbrowser table ###
      var table1 = $('#Drug_browser_table').DataTable(
        {
          autoWidth: false,
          // buttons: ['colvis'], for when the jquery packages are updated !!! FIXME WITH UPDATE JQUERY VERSION
          scrollY: "50vh",
          scrollX: true,
          scrollCollapse: true,
          scroller: true,
          paging: true,
          pageLength: 20,
          lengthMenu: [10, 20, 50, 75, 100],
          // "sScrollX": "100%", 
          // "sScrollXInner": "200%",
          columnDefs: [
            { targets: 0, 
              visible: index_visable,
              searchable: true }
          ]
        }
      );
      // Selector column for drugs browser
      let column_filters1 = [];
      // Arg list: createYADCFfilters(start_column, num_cols, filter_type, select_type*, filter_default_label*, filter_reset_button_text*, filter_match_mode*, column_data_type*, width*)
      // # Index # 
      column_filters1 = column_filters1.concat(createYADCFfilters(0, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // ## Target-Indication pair ##
      // # Target #
      column_filters1 = column_filters1.concat(createYADCFfilters(1, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // # Indication #
      column_filters1 = column_filters1.concat(createYADCFfilters(2, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // ## Info ##
      // # Novelty score #
      column_filters1 = column_filters1.concat(createYADCFfilters(3, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // # DGI target level
      column_filters1 = column_filters1.concat(createYADCFfilters(4, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // ## Drugs ##
      // # Total #
      column_filters1 = column_filters1.concat(createYADCFfilters(5, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // # Approved drugs #
      column_filters1 = column_filters1.concat(createYADCFfilters(6, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // # Agents in trial #
      column_filters1 = column_filters1.concat(createYADCFfilters(7, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // # Agents discontinued #
      column_filters1 = column_filters1.concat(createYADCFfilters(8, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // # No ligands #
      // ????
      // ## Structures ##
      // # Total #
      column_filters1 = column_filters1.concat(createYADCFfilters(9, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // # Active #
      column_filters1 = column_filters1.concat(createYADCFfilters(10, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // # Inactive #
      column_filters1 = column_filters1.concat(createYADCFfilters(11, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // # Intermediate #
      column_filters1 = column_filters1.concat(createYADCFfilters(12, 1, "multi_select", "select2", "Select", false, "exact", null, "50px"));

      // column_filters1 = column_filters1.concat(createYADCFfilters(6,1, "range_number", null, ["Min", "Max"], false, null, null, "0px"));
      // column_filters1 = column_filters1.concat(createYADCFfilters(7, 2, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // column_filters1 = column_filters1.concat(createYADCFfilters(9,2, "range_number", null, ["Min", "Max"], false, null, null, "0px"));
      // column_filters1 = column_filters1.concat(createYADCFfilters(11, 3, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      // create filter type array to handle filters applied
      filter_1_array = []
      for (const [key, value] of Object.entries(column_filters1)) {
          filter_1_array.push(value.filter_type);
      }
      // YADCF filter 
      yadcf.init(
        table1, column_filters1,{
            cumulative_filtering: true //Added so you can only select visiable values in the table.
        }
      );

      // ### Init Tissue expression table ###
      var table2 = $('#Tissue_browser_table').DataTable(
        {
          autoWidth: false,
          scrollY: "50vh",
          scrollX: true,
          scrollCollapse: true,
          scroller: true,
          paging: true,
          pageLength: 20,
          lengthMenu: [10, 20, 50, 75, 100],
          // ## sScrollX & sScrollXInner was added to fix horizontal scrolling, which with the tab "hidden - display" didnt work without ##
          "sScrollX": "100%", 
          "sScrollXInner": "450%",
          columnDefs: [
            { targets: 0, 
              visible: index_visable,
              searchable: true }
          ]
        }
        
      );
      

      // Selector column for tissue expression table
      let column_filters2 = [];
      // Arg list: createYADCFfilters(start_column, num_cols, filter_type, select_type*, filter_default_label*, filter_reset_button_text*, filter_match_mode*, column_data_type*, width*)
      column_filters2 = column_filters2.concat(createYADCFfilters(0,2, "multi_select", "select2", "Select", false, "exact", null, "50px"));
      column_filters2 = column_filters2.concat(createYADCFfilters(2,50, "range_number", null, ["Min", "Max"], false, null, null, "0px"));
      // create filter type array to handle filters applied
      filter_2_array = []
      for (const [key, value] of Object.entries(column_filters2)) {
          filter_2_array.push(value.filter_type);
      }
      // YADCF filter 
      yadcf.init(
        table2, column_filters2,{
            cumulative_filtering: true //Added so you can only select visiable values in the table.
        }
      );
      // ### Adjust tab2 (tissue expression) so headers dont collapse (initalization problem with datatables and tabs) ###
      $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
          $.fn.dataTable.tables({ visible: true, api: true}).columns.adjust();
      });  
      // ######################################################
      // ### Table update handle - switching between tables ###
      // ######################################################

      // #########################################
      // ## Drugs browser --> Tissue expression ##
      // #########################################

      $('[href="#tab2"]').on('shown.bs.tab', function (e) {
        // # reset table index if no filters are applied in drugs browser #
        // Function for checking filter status
        let filter_state_function = arr => arr.every(v => v === 'true');
        // Initialize filter status variables
        var table1_filter_state = [];
        var searchbar_table1 = table1.search();
        table1.columns().every( function (index) {
          // skip index column
          if (index == 0) {} else {
            // check which kind of filtering is applied
            if (filter_1_array[index] == 'multi_select') {
              // if no filter is applied return true
              if (yadcf.exGetColumnFilterVal(table1, index).length !== 0) {
                table1_filter_state.push('false')
              } else {
                table1_filter_state.push('true')
              }
            // # If the filter is range type # 
            } else if (filter_1_array[index] == 'range_number') {
              // if no filter is applied return true 
              if (yadcf.exGetColumnFilterVal(table1, index).from !== '' && yadcf.exGetColumnFilterVal(table1, index).to !== '') {
                table1_filter_state.push('false')
              } else {
                table1_filter_state.push('true')
              }
            // # If the filter type is not included in if/else statement #   
            } else {
              console.log("No handle for this filter type - please rewrite code appropriately")
            }
          }
        });
        console.log(table1_filter_state)
        // ## If no filter is applied --> reset index column on tissue expression table ##
        if (filter_state_function(table1_filter_state) == true && searchbar_table1 == '') {
            // yadcf.exResetAllFilters(table2, [[0]]);
            yadcf.exFilterColumn(table2, [ [0, "" ] ]);
          // ## If there is a filter update tissue table to match the filtered drugs browser ##
          } else {
            var Drugs_browser_indexValues = table1.column(0,{ filter :'applied' }).data();
            yadcf.exFilterColumn(table2, [ [0, Drugs_browser_indexValues ] ]);
          }
      });

      // #########################################
      // ## Tissue expression --> Drugs browser ##
      // #########################################
      
      $('[href="#tab1"]').on('shown.bs.tab', function (e) {
        // # reset table index if no filters are applied in drugs browser #
        // Function for checking filter status
        let filter_state_function = arr => arr.every(v => v === 'true');
        // Initialize filter status variables
        var table2_filter_state = [];
        var searchbar_table2 = table2.search();
        table2.columns().every( function (index) {
          // skip index column
          if (index == 0) {} else {
            // check which kind of filtering is applied
            if (filter_2_array[index] == 'multi_select') {
              // if no filter is applied return true
              if (yadcf.exGetColumnFilterVal(table2, index).length !== 0) {
                table2_filter_state.push('false')
              } else {
                table2_filter_state.push('true')
              }
            // # If the filter is range type # 
            } else if (filter_2_array[index] == 'range_number') {
              // if no filter is applied return true
              console.log(yadcf.exGetColumnFilterVal(table2, index).from);
              console.log(yadcf.exGetColumnFilterVal(table2, index).to);
              if (yadcf.exGetColumnFilterVal(table2, index).from !== '' || yadcf.exGetColumnFilterVal(table2, index).to !== '') {
                table2_filter_state.push('false')
              } else {
                table2_filter_state.push('true')
              }
            // # If the filter type is not included in if/else statement #   
            } else {
              console.log("No handle for this filter type - please rewrite code appropriately")
            }
          }
        });
        console.log(table2_filter_state)
        // ## If no filter is applied --> reset index column on tissue expression table ##
        if (filter_state_function(table2_filter_state) == true && searchbar_table2 == '') {
            // yadcf.exResetAllFilters(table2, [[0]]);
            yadcf.exFilterColumn(table1, [ [0, "" ] ]);
          // ## If there is a filter update tissue table to match the filtered drugs browser ##
          } else {
            var Tissue_expression_indexValues = table2.column(0,{ filter :'applied' }).data();
            yadcf.exFilterColumn(table1, [ [0, Tissue_expression_indexValues ] ]);
          }
      });
    }
  );
</script>
{% endblock %}
