#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}


* {
  box-sizing: border-box; }

.hero {
  margin-bottom: 40px; }
  .hero h2 {
    margin: 0;
    font-size: 3.5em; }

.actions a {
  display: block;
  margin: 25px auto 0;
  width: 200px;
  text-align: center;
  background: #b31d14;
  color: #c8c8c8;
  padding: 6px;
  border-radius: 3px;
  text-decoration: none; }

.filters {
  margin-bottom: 20px; }

.filter-container {
  float: left;
  width: 25%;
  padding-right: 10px; }
  .filter-container:last-of-type {
    padding-right: 0; }
  .filter-container input {
    -webkit-appearance: none;
    border: 2px solid rgb(221, 221, 221);
    background: #ffffff;
    border-radius: 3px;
    font-size: 18px;
    width: 100%
    .filter-container input:focus {
      outline: none; }

table {
  width: 100%;
  border-collapse: collapse; }
  table th {
    text-align: left;
    border-bottom: 1px solid #043a47; }
  table th, table td {
    padding: 6px 4px; }
  table td {
    border-bottom: 1px solid #087891; }
  table tr:last-of-type td {
    border-bottom: none; }
  table tr td:last-of-type {
    border-right: none; }

.clearfix {
  clear: both;
  width: 100%; }
