.slider-container {
  background-color: #f2f2f9;
}

.slider {
  position: absolute;
  border: 1px solid #aab;
  background: #bce;
  height: 100%;
  width: 58px;
  top: 0;
  cursor: move;

  /* margin:-0.5px; */
}

.slider .handle {
  position: absolute;
  height: 9px;
  width: 9px;
  border: 1px solid #aab;
  background: #9ac;

  /* Support for bootstrap */
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

.slider .EE {
  right: -4px;
  cursor: e-resize;
}

.slider .WW {
  cursor: w-resize;
  left: -4px;
}

.slider .EE,
.slider .WW {
  top: 50%;
  margin-top: -4px;
}

.play-container .button {
  fill-opacity: 0;
  stroke: #aab;
  stroke-width: 1.6;
}

.play-container .play,
.play-container .stop {
  fill: #bce;
  stroke: #aab;
  stroke-width: 1;
}
