.selector-container{
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 150px;

    border: 1px dashed #BBB;
    border-radius: 6px;
}

.selector-container label{
    display:block;
}

.selector-container .treeselector{
    border-bottom: 1px dashed #BBB;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.selector-container .treeselector:before{
    content: "Trees";
}

.selector-container .trackselector{
    margin-bottom: 10px;
}
.selector-container .trackselector:before{
    content: "Tracks";
}

.selector-container span{
    padding-left: 4px;
}