<style type="text/css">
    .highlight_reference{
        background-color: #DCDCDC;
    }
    .alert {
      padding: 5px;
      border-color: black;
      display: inline-block;
    }
    .page-selection {
        box-shadow: .5px .5px .5px .5px;
        background-color: #f0f0f5;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        padding: 5px;
    }
    .select-link,
    .select-link:link,
    .select-link:visited,
    .select-link:hover {
        color: black;
        text-decoration: none;
    }
    .widget_open {
        display: inline;
    }
    .widget-link {
        padding-right: 5px;
    }
    .widget-link:hover {
        text-decoration: none;
    }
    .icon-button {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
        padding: 2px 0px 2px 0px;
    }
    .highlight-menu{
        background-color: #5C5452;
    }
</style>