.highlight_reference {
  background-color: #dcdcdc;
}

.alert {
  padding: 5px;
  border-color: black;
  display: inline-block;
}

.page-selection {
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
  background-color: #f0f0f5;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

.select-link,
.select-link:link,
.select-link:visited,
.select-link:hover {
  color: black;
  text-decoration: none;
}

.widget_open {
  display: inline;
}

.widget-link {
  padding-right: 5px;
}

.widget-link:hover {
  text-decoration: none;
}

.icon-button {
  appearance: none;
  outline: none;
  border: 0;
  background: transparent;
  padding: 2px 0;
}

nav.navbar {
  background-color: #5c5452;
}

nav.navbar li.dropdown:not(.highlight_menu) {
  background-position: 10px 12px;
}

nav.navbar li.dropdown.highlight_menu {
  background-color: #222;
  background-position: 10px 8px;
}

nav.navbar li.dropdown.open {
  background-color: #222;
}

nav.navbar li.dropdown a.dropdown-toggle:not(.select-link) {
  color: #ccc;
}

nav.navbar li.dropdown.open a.dropdown-toggle,
nav.navbar li.dropdown.open a.dropdown-toggle:hover,
nav.navbar li.dropdown.open a.dropdown-toggle:focus {
  background-color: transparent;
}

nav.navbar li.dropdown a.dropdown-toggle:hover:not(.select-link) {
  color: #fff;

  /* padding-top: 11px; */
}

/* nav.navbar li.dropdown:hover a.dropdown-toggle {
  padding-top: 11px;
} */

nav.navbar .navbar-nav > .open > a,
nav.navbar .navbar-inverse .navbar-nav > .open > a:focus,
nav.navbar .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: transparent;
}

li#gpcrdb_menu,
li#gproteindb_menu,
li#ligandbiasdb_menu,
li#arrestindb_menu {
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 30px;
}

/* li.highlight_menu a.dropdown-toggle,
  li#cite_menu:hover a {
  padding-top: 11px;
  background-position: 10px 8px;
} */

li.highlight_menu.gpcr {
  border-top: 4px solid #be00be;
}

li.highlight_menu.gprotein {
  border-top: 4px solid #f46615;
}

li.highlight_menu.arrestin {
  border-top: 4px solid #55ae35;
}

li.highlight_menu.ligandbias {
  border-top: 4px solid #4169e1;
}

nav.navbar li.dropdown:not(.gpcr, .gprotein, .arrestin, .page-selection),
nav.navbar li#cite_menu {
  border-top: 4px solid #5c5452;
}

li#gpcrdb_menu,
li#drugs_menu,
li#constructs_menu {
  border-top: 4px solid #be00be;
  background-position: 10px 8px;
}

li#gpcrdb_menu {
  background-image: url("/static/home/logo/gpcr/main.png");
}

li#gproteindb_menu {
  border-top: 4px solid #f46615;
  background-position: 10px 8px;
  background-image: url("/static/home/logo/gprotein/main.png");
}

li#arrestindb_menu {
  border-top: 4px solid #55ae35;
  background-position: 10px 8px;
  background-image: url("/static/home/logo/arrestin/main.png");
  background-size: 35px;
  padding-left: 35px;
}

li#ligandbiasdb_menu {
  border-top: 4px solid #4169e1;
  background-position: 10px 8px;
  background-image: url("/static/home/logo/ligandbias/main.png");
  background-size: 35px;
  padding-left: 35px;
}

li#main_reference,
li#article_list {
  list-style-type: none;
}
