.rt-header {
    padding: 4px 4px 4px 4px;
    font-size: 10px; 
    white-space: nowrap;
    text-align: center;
}
.rt-row-odd {
    background-color: #DDDDDD;
    padding: 4px 4px 4px 4px;
    font-size: 12px; 
    white-space: nowrap;
    text-align: center;
}
.rt-row-even {
    background-color: #ffffff;
    padding: 4px 4px 4px 4px;
    font-size: 12px; 
    white-space: nowrap;
    text-align: center;
}
.rt-first-col {
    padding: 4px 4px 4px 4px;
    font-size: 10px; 
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}