.rt-header {
    padding: 4px 4px 4px 4px;
    font-size: 10px; 
    white-space: nowrap;
    text-align: center;
}
.rt-row-odd {
    background-color: #DDDDDD;
    padding: 4px 4px 4px 4px;
    font-size: 12px; 
    white-space: nowrap;
    text-align: center;
}
.rt-row-even {
    background-color: #ffffff;
    padding: 4px 4px 4px 4px;
    font-size: 12px; 
    white-space: nowrap;
    text-align: center;
}
.rt-first-col {
    padding: 4px 4px 4px 4px;
    font-size: 10px; 
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}


th.rotate {
  /* Something you can count on */
  height: 80px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(10px, 25px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 40px;
}
th.rotate > div > span {
  //border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

td {
    text-align: center;
    padding: 2px 2px;
    border: 1px solid #ccc;
  }