#content input.form-control,
select.form-control {
  width: 40px;
  height: 20px;
  font-size: 9px;
  padding: 2px;
}

#content input.number_range_filter,
input.date_range_filter {
  width: 20px;
  font-size: 8px;
}

.protein-th {
  background-color: #98df8a;
}

.pdb-th {
  background-color: #aec7e8;
}

.ligand-th {
  background-color: #ff9896;
}

.pub-th {
  background-color: #ffbb78;
}

.version-th {
  background-color: #c2c2d6;
}

.similarity-th {
  background-color: gold;
}

div.container .toggled,
div.container .toggled:hover,
div.container .toggled:visited,
div.container .toggled:active,
div.container .toggled:link {
  background-color: #134b7d;
}
