label {
    font-weight: bold;
    margin-right: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
    letter-spacing: -0.05em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.section {
    flex: 1;
    min-width: 200px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section .row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="file"], button {
    width: 100%;
    margin-bottom: 20px;
}

button {
    padding: 10px; /* Increase padding to make the button more square */
    width: 80%; /* Maintain full width */
    height: fit-content;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px; /* You can reduce or remove border-radius if you want a more square or rectangular shape */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Tooltip styles */
.tooltip-wrapper, .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    background-color: #fff;
    color: #333;
    text-align: left;
    border-radius: 8px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    transform: translateX(-50%);
    min-width: 200px;
    max-width: 350px;
    width: max-content;
    white-space: normal;
}

.tooltip-wrapper:hover .tooltiptext, .tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Spinner styles */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #007bff;
    animation: spin 1s ease infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-spinner {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Data Table */
#results {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#results_table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: medium;
}

.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        align-items: stretch;
    }

    .section {
        margin-bottom: 20px;
    }
}