.select2-result-label {
  font-size: x-small;
  font-size: 10px;
}

#filters {
  font-size: 10px;
  padding: 7px 15px;
}

@media (min-width: 1600px) {
  #content {
    width: 1570px;
  }
}

@media (min-width: 1800px) {
  #content {
    width: 1770px;
  }
}

.centered-header th {
  text-align: center;
}

table.dataTable.compact thead th {
  padding: 4px 16px 4px 2px;
}

table.dataTable.compact thead th.over_header {
  border-right: 1px solid;
  border-left: 0 solid;
  text-align: left;
  padding: 4px 4px 4px 4px;
}

table.dataTable.compact thead tr.over_header th {
  border-bottom: 1px solid #ccc;
}

table.dataTable.compact thead th.leftborder {
  border-left: 1px solid;
}

table.dataTable.compact thead th.rightborder {
  border-right: 1px solid;
}

table.dataTable.compact thead th.checkbox_tr {
  text-align: left;
  padding: 4px 4px 4px 4px;
}

.yadcf-filter-wrapper {
  margin-top: 0;
}

input.yadcf-filter {
  width: 100px;
  font-family: sans-serif;
  font-size: 100%;
  font-weight: bold;
}

.yadcf-filter-range-date,
.yadcf-filter-range-number {
  width: 30px;
  font-family: sans-serif;
  font-size: 100%;
  font-weight: bold;
}

.yadcf-filter-range {
  min-width: 30px;
}

.clicked_button {
  background-color: rgb(215, 215, 215);
}

.wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}

#overlay {
  top: 0;
  position: absolute;
  background: #f8f8f8;
  -webkit-box-shadow: 5px 0 2px -2px #888;
  box-shadow: 5px 0 2px -2px #888;
}

#overlay tbody tr {
  background-color: #f8f8f8;
}

div.overhead_text {
  float: left;
  display: inline;
  padding: 8px 0 0 0;
  width: 90%;
}

div.overhead_close {
  float: right;
  display: inline;
  width: 10%;
}

.icon-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
  padding: 2px 0 2px 0;
}

.highlight {
  background-color: rgb(204, 229, 255);
}

.glyphicon.glyphicon-export {
  font-size: 20px;
}

.glyphicon.glyphicon-info-sign {
  font-size: 15px;
  color: #337ab7;
}

.glyphicon.glyphicon-book {
  font-size: 15px;
}

.popover{
    max-width: 50%;
}

.glyphicon.glyphicon-question-sign {
  font-size: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: 100%;
  display: block;
}

.show { display: block; }

.expand {
  max-width: 100px;
  text-overflow: ellipsis;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
}

.expand:hover {
  overflow: visible;
  white-space: normal;
}
