.select2-result-label{
    font-size:x-small;
    font-size: 10px;
}

#filters{

    font-size: 10px;
    padding:  7px 15px;
}


@media (min-width: 1600px){
    #content {
        width: 1570px;
    }
}
@media (min-width: 1800px){
    #content {
        width: 1770px;
    }
}

table.dataTable.compact thead th.over_header {
    border-right: 1px solid;
    border-left: 0px solid;
    text-align: left;
    padding: 4px 4px 4px 4px;
}

table.dataTable.compact thead tr.over_header th {
    border-bottom: 1px solid #ccc;
}

table.dataTable.compact thead th.leftborder {
    border-left: 1px solid;
}

table.dataTable.compact thead th.rightborder {
    border-right: 1px solid;
}

table.dataTable.compact thead th.checkbox_tr {
    text-align: left;
    padding: 4px 4px 4px 4px;
}

table.dataTable.compact thead th {
    padding: 4px 16px 4px 2px;
}
.yadcf-filter-wrapper {
    margin-top: 0px;
}
input.yadcf-filter  {
    width: 100px;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
}
.yadcf-filter-range-date, .yadcf-filter-range-number {
    width: 30px;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
}
.yadcf-filter-range {
    min-width: 35px;
}
/*#yadcf-filter--structures_scrollable-from-12 {
    width: 10px;
}
#yadcf-filter--structures_scrollable-to-12 {
    width: 10px;
}
.yadcf-filter-wrapper-inner--structures_scrollable-12 {
    width: 5px;
}*/
.clicked_button {
    background-color: rgb(215,215,215);
}
.wrapper {
  overflow-x: scroll;
  overflow-y:hidden;
}

#overlay
{
    top: 0px;
    position: absolute;
    background: #f8f8f8;
  /*border: 1px solid #333;*/
  -webkit-box-shadow: 5px 0 2px -2px #888;
          box-shadow: 5px 0 2px -2px #888;
}
#overlay tbody tr {
     background-color: #f8f8f8;
}
div.overhead_text {
    float:left;
    display:inline;
    padding: 8px 0px;
    width:90%;
}
div.overhead_close {
    float:right;
    display:inline;
    width:10%;
}
.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding: 2px 0px 2px 0px;
}
.highlight {
    background-color: rgb(204,229,255);
}
/*.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
/*}*/
/*.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
*/
  /* Position the tooltip text - see examples below! */
 /* position: absolute;
  z-index: 1;
}*/
/*.tooltip:hover .tooltiptext {
  visibility: visible;
}*/
.glyphicon.glyphicon-export {
    font-size: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    width: 100%;
    display: block;
}
.show {display:block;}

