.form-control {
	height: 20px;
	font-size: 10px;
	padding: 2px 2px;
}
.protein-th {
    background-color: #98df8a;
}
.pdb-th {
    background-color: #aec7e8;
}
.ligand-th {
    background-color: #ff9896;
}
.pub-th {
    background-color: #ffbb78;
}
.similarity-th {
    background-color: gold;
}