/*body { padding-top: 70px; }*/

h1, h2, h3, h4 { margin-top: 0px; }

.carousel-caption{
    background: rgba(0,0,0,0.6);
}

.main-logo { height:20px;width:20px; }

.dropdown-menu > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
}

.well { padding-bottom: 10px; }

.selection-box
{
    box-sizing: border-box;
}

.selection-heading
{
    height:40px;
}

.selection-heading-text
{
    font-size:18px;
    font-weight:bold;
    vertical-align:middle;
}

.selection-tree-box {
    width: 330px;
    height: 350px;
    overflow-x: scroll;
}

.target-selection
{
    padding: 0px 0px 0px 0px;
    font-size: 11px;
    white-space: nowrap;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .2em 0 .2em;
    line-height: 1.5;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track
{
    background: rgba(255,255,255,0);
}
::-webkit-scrollbar-thumb
{
    background: rgba(6,128,202,1); 
}
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
select.form-control {
    width: auto;
    height:22px;
    font-size: 11px;
    display: inline;
}
input.form-control {
    width: 250px;
    font-size: 14px;
    display: inline;
}

/*Dropdown settings*/
.dropdown-menu {
    min-width: 260px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

rect.segment {
    cursor: pointer;
}
text.segment {
    cursor: pointer;
}