.dataTables_scrollBody {
  border: 2px;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}

.modal-no-border {
  border: none;
}

table#uniprot_selection {
  margin: 0;
  font-size: 1em;
}

tr.selected td {
  background-color: rgb(204, 229, 255);
}
