.top-citation-panel {
    background-color: #e7fef7;
    border-bottom-color: #080808;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 20px;
    display: none;

}
.top-citation-panel-content {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 5px;
    border-color: black;
}

.collapse-toggle .bi {
    display: inline-block;           /* important */
    transition: transform 0.2s ease-in-out;
}
.collapse-toggle[aria-expanded="true"] .bi {
    transform: rotate(90deg); /* Rotate arrow when expanded */
}