{% extends "home/base.html" %}
{% load static %}
{% load structure_extras %}

{% block addon_css %}
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/simple_browser.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="{% static 'home/css/signprotmat.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<style>
canvas {
    border:2px solid #888888;
}
.col-md-3 {
    color: black;
}
</style>

<style>
.inline {display:inline;}
.graphcolor {
              display:inline-block;
              padding: 1px 5px;
              text-align: center;
              margin-left: 10px;
              vertical-align: middle;
              width: 20px;
              height: 20px;
              margin-top: 5px;}
</style>

<style>
    .tooltip {
        position: absolute;
        text-align: center;
        padding: 10px;
        background: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 4px;
        pointer-events: none;
    }
    .newrow {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .legend-header {
      font-family: Arial;
      font-size: 14px;
      font-weight: bold;
      fill: black;
    }
    path.highlight {
      stroke-width: 2;
    }
    .checkbox-group {
      display: flex;
    }

    .checkbox-item {
      display: inline-block;
      margin-right: 10px;  /* Add right margin */
      font-size: 18px;
    }
    .dotted {
      stroke-dasharray: 5,5;
    }
    .checkbox-item:last-child {
      margin-right: 0;  /* Remove right margin for the last item */
    }

    tr td {
      padding: 5px;
      text-align: center;
    }
    .overlay{
      border: 1px solid #888888;
      position: absolute;
      margin: 0 auto;
      background:#eeeeee;
      z-index:2;
      min-width: 200px;
    }
</style>

<div class="row text-success">
    <div class="text-center">
        <div style="display: inline;">
          {% if structure_type.slug == "af-signprot" %}
              <h2>G<sub>{{ model.signprot_complex.protein.family.name|gprot_short|slice:"1:" }}</sub> - {{ model.protein_conformation.protein.name|safe }} complex model
          {% else %}
              <h2>Refined structure ({{ model.pdb_code.index|entry_short }}) of G<sub>{{ model.signprot_complex.protein.family.name|gprot_short|slice:"1:" }}</sub> - {{ model.protein_conformation.protein.name|safe}}
          {% endif %}

            <div style="display: inline;">
              <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Download <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a id="download_btn1" href="./{{model.pdb_code.index}}/download_complex_pdb">Full</a></li>
                    <!-- <li><a id="download_btn2" href="./{{model.protein_conformation.protein.entry_name|upper}}_noloops/download_pdb">Without loops</a></li> -->
                  </ul>
              </div>
            </div>
            <div style="display: inline;">
                <i style="color:black; font-size:16px;" class="fas fa-info-circle" data-html="true" data-toggle="popover" data-trigger="click hover" data-placement="below" data-html="true" data-content="The PDB file contains GPCRdb generic residue numbers in the B-factor field of C&alpha; atoms <a target='_blank' href='https://doi.org/10.1016/j.tips.2014.11.001'>Isberg et al. 2015</a>"></i>
            </div>
            </h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>RECEPTOR CLASS (FAMILY)</h4>
    </div>
    <div class="col-md-9">
        {{ model.protein_conformation.protein.get_protein_class|cut_classname }}
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>SPECIES</h4>
    </div>
    <div class="col-md-9">
        {{ model.protein_conformation.protein.species.latin_name }}
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>G PROTEIN FAMILY</h4>
    </div>
    <div class="col-md-9">
        G<sub>{{ model.signprot_complex.protein.family.parent|safe|slice:"1:" }}</sub>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>DATE</h4>
    </div>
    <div class="col-md-9">
    {{ model.publication_date|date:"Y-m-d" }}
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>3D VIEW</h4>
    </div>
    <div class="col-md-5">
      <div style="float: left; width: 60%;">
          <div id="viewport" style="width:500px; height:400px;background-color: white;"></div>
          <div style="width:500px; background-color:#eaeaea; border-radius: 0px 0px 5px 5px;">
              <p style="padding: 2px 0px 2px 5px; font-size: 10px;"><button id="fullscreen">Full Screen</button><a href="https://github.com/arose/ngl"> NGL</a> is a WebGL based 3D viewer powered by <a href="https://mmtf.rcsb.org">MMTF</a>.</p>
          </div>
      </div>
      {% if refined == "true" %}
      <div style='width: 100%; display:table; position:relative;'>
          <div style='display: table-cell;'>
              {% for prot, bts in backbone_templates.items %}
                  {% for bt in bts %}
                      <div class="graphcolor" style="background-color:{{ bt.color }}; width: 20px; height: 15px; margin-bottom: 5px; border:solid black 1px;"></div>
                      Structure ({{ bt.pdb_code.index }})
                  {% endfor %}
              {% endfor %}
                      <div class="graphcolor" style="background-color:white; width: 20px; height: 15px; margin-bottom: 5px; border:solid black 1px; "></div>
                      Model (AlphaFold2-Multimer)
          </div>
      </div>
      {% endif %}
      <br>
    </div>
    {% if refined == "false" %}
    <div class="col-md-4" style='padding-left: 50px;'>
        <div><h4>Tertiary structure confidence <i class="fas fa-info-circle" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="below" data-content="<b>Interpretation of AlphaFold models</b><br>The pLDDT score from AlphaFold estimates the confidence of the placement of an individual residue in relation to its neighboring residues within a 15 Å radius."></i></h4></div>
        <p>(pLDDT score) avg.: {{ plddt_avg|floatformat:1 }}</p>
        <div style='width: 90%; display:table; position:relative;'>
            <!-- <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td>pLDDT</td>
                </tr>
                <tr>
                    <td class="graphcolor" style="background-color: blue;"></td>
                    <td>Very high</td>
                    <td>> 90</td>
                </tr>
                <tr>
                    <td class="graphcolor" style="background-color: lightblue;"></td>
                    <td>Confident</td>
                    <td>90-70</td>
                </tr>
                <tr>
                    <td class="graphcolor" style="background-color: yellow;"></td>
                    <td>Low</td>
                    <td>70-50</td>
                </tr>
                <tr>
                    <td class="graphcolor" style="background-color: orange;"></td>
                    <td>Very low</td>
                    <td>< 50</td>
                </tr>
                <tr>
                    <td class="graphcolor" style="background-color: red;"></td>
                    <td>Disordered</td>
                    <td></td>
                </tr>
            </table> -->
            <div style='display: table-cell;'>
              <div class="graphcolor" style="background-color: blue; "></div>
              <span style="margin-left: 5px; vertical-align: middle; padding-top: 5px;">Very high (>90)</span>
              <br>
              <div class="graphcolor" style="background-color: lightblue; "></div>
              <span style="margin-left: 5px; vertical-align: middle;">Confident (90-70)</span>
              <br>
              <div class="graphcolor" style="background-color: yellow; "></div>
              <span style="margin-left: 5px; vertical-align: middle;">Low (70-50)</span>
              <br>
              <div class="graphcolor" style="background-color: orange;"></div>
              <span style="margin-left: 5px; vertical-align: middle;">Very low (<50)</span>
              <br>
              <div class="graphcolor" style="background-color: red;"></div>
              <span style="margin-left: 5px; vertical-align: middle;">Disordered</span>
              <br>
            </div>
        </div>
        <br>
        <div>
          <h5>PTM Score
            <span class="fa fa-info-circle" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="<b>Predicted TM-score </b>:<br /> is an estimate of the TM-score derived from comparing predicted atom positions
            to true positions under various alignments, emphasizing correct local frame residue interactions in AlphaFold."></span>
          </h5>
        </div>
        <div id="PTM_location"></div>
        <div>
          <h5>iPTM Score
            <span class="fa fa-info-circle" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="<b>Interface predicted TM-score</b>:<br />
A modified pTM score, adapted to measure the accuracy of predicted protein interfaces Instead of comparing residues within the same protein chain as in the original TM-score, it compares residues from different chains."></span>
          </h5>
        </div>
        <div id="iPTM_location"></div>
        <div>
          <h5>PAE mean
            <span class="fa fa-info-circle" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="<b>The mean of the predicted alignment errors</b>:<br>The average expected error in residue x's position when aligning predicted and true structures based on residue y, focusing on inter-chain relationships."></span>
          </h5>
        </div>
        <div id="PAE_location"></div>
    </div>
    {% endif %}
</div>

{% if refined == "true" %}
<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>REFINED G PROTEIN RESIDUES</h4>
    </div>
    <div class="col-md-9">
        <div style="padding-bottom: 10px;">
            Residue backbones - {{ bb_alt2 }} from structure ({{ bb_alt_perc2 }}%), {{ bb_none2 }} from model ({{ bb_none_perc2 }}%) <br>
            Residue sidechains - {{ sc_alt2 }} from structure ({{ sc_alt_perc2 }}%), {{ sc_none2 }} from model ({{ sc_none_perc2 }}%)
        </div>
        <style>
            table.dataTable thead th {padding: 3px 1px 3px 3px;}
        </style>
        <div style="padding-top: 0px; font-size: 10px; white-space: nowrap; width: 50%;">
            <table class="display" id="signprot_rotamers">
                <thead>
                    <tr>
                        <th>Segment</th>
                        <th>Seq.num.</th>
                        <th>AA</th>
                        <th>CGN#</th>
                        <th>Backbone from</th>
                        <th>Sidechain from</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for rota in signprot_rotamers %}
                    <tr>
                        <td>{{ rota.residue.protein_segment.slug }}</td>
                        <td>{{ rota.residue.sequence_number }}</td>
                        <td>{{ rota.residue.amino_acid }}</td>
                        <td style="text-align:left;">{{ rota.residue.display_generic_number.label }}</td>
                        {% if rota.backbone_template %}
                            <td style="text-align:left;">Structure</td>
                        {% else %}
                            <td style="text-align:left;">AF2</td>
                        {% endif %}
                        {% if rota.rotamer_template %}
                            <td style="text-align:left;">Structure</td>
                        {% else %}
                            <td style="text-align:left;">AF2</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>REFINED GPCR RESIDUES</h4>
    </div>
    <div class="col-md-9">
        <!-- <table>
            <thead>
                <tr>
                    <th class='table-th'></th>
                    <th class='table-th'>Main template (%)</th>
                    <th class='table-th'>Additional templates (%)</th>
                    <th class='table-th' style="border-right: 0px;">No template - freely modelled (%)</th>
            </thead>
            <tbody>
                <tr>
                    <td style="border-right: 1px solid #9ea7af; text-align:right; padding: 3px; font-size: 12px;">Backbone</td>
                    <td class="table-td">{{bb_main}}</td>
                    <td class="table-td">{{bb_alt}}</td>
                    <td class="table-td" style="border-right: 0px;">{{bb_none}}</td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid #9ea7af; text-align:right; padding: 3px; font-size: 12px;">Side-chains</td>
                    <td class="table-td">{{sc_main}}</td>
                    <td class="table-td">{{sc_alt}}</td>
                    <td class="table-td" style="border-right: 0px;">{{sc_none}}</td>
                </tr>
            </tbody>
        </table> -->
        <!-- <br>
        Number of backbone templates: {{ backbone_templates_number }}<br>
        Number of rotamer templates: {{ rotamer_templates_number }}<br><br>
 -->
        <div style="padding-bottom: 10px;">
            Residue backbones - {{ bb_alt }} from structure ({{ bb_alt_perc }}%), {{ bb_none }} from model ({{ bb_none_perc }}%) <br>
            Residue sidechains - {{ sc_alt }} from structure ({{ sc_alt_perc }}%), {{ sc_none }} from model ({{ sc_none_perc }}%)
        </div>
        <style>
            table.dataTable thead th {padding: 3px 1px 3px 3px;}
        </style>
        <div style="padding-top: 0px; font-size: 10px; white-space: nowrap; width: 50%;">
            <table class="display" id="rotamers">
                <thead>
                    <tr>
                        <th>Segment</th>
                        <th>Seq.num.</th>
                        <th>AA</th>
                        <th>GPCRdb#</th>
                        <th>Backbone from</th>
                        <th>Sidechain from</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for rota in receptor_rotamers %}
                    <tr>
                        <td>{{ rota.residue.protein_segment.slug }}</td>
                        <td>{{ rota.residue.sequence_number }}</td>
                        <td>{{ rota.residue.amino_acid }}</td>
                        {% if rota.residue.display_generic_number %}
                            <td style="text-align:left;">{{ rota.residue.display_generic_number.label }}</td>
                        {% else %}
                            <td style="text-align:left;">-</td>
                        {% endif %}
                        {% if rota.backbone_template %}
                            <td style="text-align:left;">Structure</td>
                        {% else %}
                            <td style="text-align:left;">AF2</td>
                        {% endif %}
                        {% if rota.rotamer_template %}
                            <td style="text-align:left;">Structure</td>
                        {% else %}
                            <td style="text-align:left;">AF2</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>
{% endif %}

<div class="row">
  <br/>
  <br/>
  <div class="col-md-12 text-center">
    <h2>GPCR - G protein interface interactions</h2>
  </div>
</div>

<div class="col-md-12 ">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#circles" id="circles_tab">Biflare</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#matrix" id="matrix_tab">Matrix</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" data-toggle="tab" href="#3dview" id="3dview_tab">3D view</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#table" id="table_tab">Table</a>
    </li>
  </ul>
  <br/>
  <br/>
  <div class="tab-content">
    <div class="tab-pane container" id="circles">

      <div>
        <p>The biflare plot is a modified version of a flareplot, where lines are drawn between an <b>inner concentric circle</b>
          <i>(G&alpha; residues)</i>
          and an <b>outer concentric circle</b> <i>(GPCR residues)</i> depicting the interface interactions.<br/>
          Different interaction types are shown with different line types (<b>aromatic</b> - <i>solid</i>,
          <b>hydrophobic</b> - <i>dashed</i>,
          <b>ionic</b> - <i>long dashed</i>, <b>polar</b> - <i>dotted</i>, <b>Van der Waals</b> - <i>dash-dot</i>).<br/>
          The interactive features include filtering on interaction type, segments, residues and backbone or sidechain interactions.
        </p>
      </div>
      <br/>
      <div>
        <b>Interaction cut-off:</b>
          <div class="btn-group" role="group" id="cut_off">
              <button id="strict" class="btn btn-info active">Strict</button>
              <button id="loose" class="btn btn-info">Loose</button>
          </div>
      </div>
      <div id="tooltip" class="tooltip"></div>
      <div style="display: flex; justify-content: center;">
        <svg id="visualization" width="100%" height="1115"></svg>
      </div>
      <div class="row">
        <div class="col-md-2 text-right text-info">
        </div>
        <div class="col-md-9" style="padding-left: 90px">
          <div class="container">
            <p style="display: inline-block; vertical-align: middle;"><b>GPCR-G protein backbone (bb) or sidechain (sc):</b></p>
            <div class="checkbox-group" style="display: inline-block; vertical-align: middle; margin-left: 10px;">
              <div class="checkbox-item">
                <input type="checkbox" id="main-main" name="chain" value="Main-Main">
                <label for="main-main">bb-bb</label>
              </div>
              <div class="checkbox-item">
                <input type="checkbox" id="main-side" name="chain" value="Main-Side">
                <label for="main-side">bb-sc</label>
              </div>
              <div class="checkbox-item">
                <input type="checkbox" id="side-side" name="chain" value="Side-Side">
                <label for="side-side">sc-sc</label>
              </div>
              <div class="checkbox-item">
                <input type="checkbox" id="side-main" name="chain" value="Side-Main">
                <label for="side-main">sc-bb</label>
              </div>
            </div>
          </div>
          <br/>
          <div style="text-align: left;">
            <button id="interactionsButton">Interactions</button>
            <button id="propertiesButton">Properties</button>
            <button id="segmentButton">Segment</button>
            <button id="resetButton">Reset</button>
          </div>
          <br/>
          <div style="text-align: left;">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Download <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:downloadSVG('visualization', 'interactionsPNG', 'png');">PNG</a>
                    </li>
                    <li>
                        <a href="javascript:downloadSVG('visualization', 'interactionsJPEG', 'jpeg');">JPEG</a>
                    </li>
                    <li>
                        <a href="javascript:downloadSVG('visualization', 'interactionsTIFF', 'tiff');">TIFF</a>
                    </li>
                    <li>
                        <a href="javascript:downloadSVG('visualization', 'interactionsSVG');">SVG</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
    <div class="tab-pane container" id="matrix">
      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">

                  <div class="panel-heading">
                      <h3 class="panel-title">Structures</h3>
                  </div>

                  <div class="panel-body">


                      <div class="col-md-2" hidden>
                          <p
                                  id='single-crystal-group-pdbs-modal-external-text'
                                  class="crystal-count"
                                  style="font-weight: 700">
                          0 structures selected.
                              </p></h5>
                              <button
                                  type="button"
                                  class="btn btn-primary"
                                  data-toggle="modal"
                                  data-target="#interface-modal-table">
                                  Select Structures
                              </button>
                              <button
                                  type="button"
                                  class="btn btn-success"
                                  style="margin-top: 5px"
                                  onClick='var fasta_data = signprotmat.data.get_data_gap_non_int(pdbScale, xScale, non_interactions, data.receptor);
                                  signprotmat.data.download_fasta(fasta_data, pdbScale)'>
                                  Download Fasta
                              </button>
                      </div>

                      <div class="col-md-2">
                          <p><b>Sequence Color</b></p>

                          <div class="btn-group-vertical btn-group-sm" role="group">
                              <button
                                  type="button"
                                  id="resbut"
                                  class="btn btn-primary"
                                  onClick="signprotmat.d3.colorBySwitch('res', colScale)">
                                  Residue
                              </button>
                              <button
                                  type="button"
                                  id="intbut"
                                  class="btn btn-primary active"
                                  onClick="signprotmat.d3.colorBySwitch('int', colScale)">
                                  Interaction
                              </button>
                          </div>
                      </div>

                      <div id="legend-space" class="col-md-6">
                      </div>

                      <div class="col-md-2" hidden>
                          <p style='margin: 0'><b>Interaction frequency filter (%)</b></p>
                          <div id="amount_min"></div>
                          <div id="amount_max"></div>

                          <div id="slider-range"></div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <div id="interface-container" class="" >
          <div id="interface-svg"></div>
      </div>

    </div>
    <div class="tab-pane container active" id="3dview">
      <div id="viewport_full" style="width:500px; height:400px; background-color: white;"></div>
      <div style="width:500px; background-color:#eaeaea; border-radius: 0px 0px 5px 5px;">
          <p style="padding: 2px 0px 2px 5px; font-size: 10px;"><button id="fullscreen_full">Full Screen</button><a href="https://github.com/arose/ngl"> NGL</a> is a WebGL based 3D viewer powered by <a href="https://mmtf.rcsb.org">MMTF</a>.</p>
      </div>
    </div>
    <div class="tab-pane container" id="table">
      <div class="row">
          <div class="col-md-9">
            {% if residues_browser %}
            <div style="padding-top: 0px; font-size: 10px; white-space: nowrap; width; 50%;">
                <table class="display" id="residues">
                    <thead>
                        <tr>
                            <th>GPCR Amino Acid</th>
                            <th>Generic Number</th>
                            <th>Segment</th>
                            <th>G Protein Amino Acid</th>
                            <th>CGN#</th>
                            <th>Interaction Type</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for residue in residues_browser %}
                    <tr>
                    <td>{{residue.gpcr_aa}}{{residue.gpcr_pos}}</td>
                    <td>{{residue.gpcr_grn}}
                    <td>{{residue.segment}}</td>
                    <td>{{residue.gprot_aa}}{{residue.gprot_pos}}</td>
                    <td>{{residue.gprot_grn}}</td>
                    <td>{{residue.type}}</td>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <p> Ooops! There is no data to show here yet. </p>
        {% endif %}
        </div>
      </div>
  </div>
</div>

<style>
.inline {display:inline;}
.graphcolor { display:inline-block; border-style:solid; border-width: 1px; padding: 1px 5px; text-align: center}
</style>

{% endblock %}
{% block addon_js %}
    <script src="{% static 'home/js/ngl.js' %}"> </script>
    <script>
        document.addEventListener( "DOMContentLoaded", function(){
            // Model viewer
            stage = new NGL.Stage( "viewport", { backgroundColor: "white" } );
            var color_residues = JSON.parse('{{color_residues|safe}}');
            var schemeId = NGL.ColorMakerRegistry.addSelectionScheme( color_residues );
            stage.loadFile( "/structure/complex_models/view/{{pdbname}}", { ext: "pdb" }  ).then( function( o ){
                o.addRepresentation( "cartoon", {color: schemeId} );  // pass schemeId here ,{ color: schemeId }
                o.centerView();
            } );
            $( "#fullscreen" ).click(function() {
                stage.toggleFullscreen();
            });

            // 3D intereaction viewer
            stage_full = new NGL.Stage( "viewport_full", { backgroundColor: "white" } );
            stage_full.loadFile( "/structure/complex_models/view/{{pdbname}}", { ext: "pdb" }  ).then( function( o ){

                o.addRepresentation( "cartoon", {
                    color: "chainname"
                } );
                // Strict interactions
                o.addRepresentation( "licorice", { sele: "({{display_res_gpcr_strict}}) and sidechainAttached", color: "red", scale: 2, aspectRatio: 1});
                o.addRepresentation( "label", {
                    sele: "({{display_res_gpcr_strict}}) and .CB",
                    color: "red", borderColor: "black", showBorder: true, scale: 2.0
                } );
                o.addRepresentation( "licorice", { sele: "({{display_res_gprot_strict}}) and sidechainAttached", color: "orange", scale: 2, aspectRatio: 1});
                o.addRepresentation( "label", {
                    sele: "({{display_res_gprot_strict}}) and .CB",
                    color: "orange", borderColor: "black", showBorder: true, scale: 2.0
                } );
                // Loose interactions
                o.addRepresentation( "line", { sele: "({{display_res_gpcr_loose}}) and sidechainAttached", color: "grey", scale: 2, aspectRatio: 1});
                o.addRepresentation( "line", { sele: "({{display_res_gprot_loose}}) and sidechainAttached", color: "grey", scale: 2, aspectRatio: 1});
                o.centerView();
            } );
            // stage_full.signals.clicked.add( function( d ){
            //     $('#clicked').html(getPickingMessage( d, "Clicked" ));
            // } );
            // stage_full.signals.hovered.add( function( d ){
            //     $('#hovered').html(getPickingMessage( d, "Hovered" ));
            // } );

            // $('#viewport_full').find("canvas").before("<div class='overlay'><span id='clicked'></span> | <span id='hovered'></span></div>");

            $( "#fullscreen_full" ).click(function() {
                stage_full.toggleFullscreen();
            } );
            
        } );
    </script>
        
    <script src="{% static 'home/js/d3.min.js' %}"></script>
    <script src="{% static 'home/js/nv.d3.min.js' %}"></script>
    <script src="{% static 'home/js/d3.v4.min.js' %}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static 'home/js/d3.tip.v4comp.js' %}"></script>
    <script src="{% static 'home/js/d3-legend.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/dataTables.tableTools.min.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.columnFilter.js' %}"> </script>
    <script src="{% static 'home/js/selection.js' %}"> </script>
    <script src="{% static 'home/js/table2csv.js' %}"> </script>
    <script src="{% static 'home/js/phylo_tree.js' %}"></script>
    <script src="{% static 'home/js/lodash.min.js' %}"></script>
    <script src="{% static 'home/js/chroma.min.js' %}"></script>
    <!-- <script src="{% static 'home/js/jquery.tablesorter.js' %}"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'home/js/matrix_utilities.js' %}"></script>
    <script src="{% static 'home/js/signprotmat.js' %}"></script>
    <!-- <script src="{% static 'home/js/fixed_columns.js' %}"></script> -->
    <script>
      $(function () {
        $("[data-toggle='popover']").popover();
      });
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            if ({{ refined }} === false) {
              ptm = {{ scores.ptm }};
              iptm = {{ scores.iptm }};
              pae = {{ scores.pae_mean }};
              draw_model_scores('PTM_location', 'PTM_divider', 'PTM',  0, 1, ptm, 0.5);
              draw_model_scores('iPTM_location', 'iPTM_divider', 'iPTM',  0, 1, iptm, 0.5);
              draw_model_scores('PAE_location', 'PAE_divider', 'PAE',  0, 31, pae, 15.5, true);
            }
            interactions = {{ interactions | safe }};
            inner_data = {{ inner | safe }};
            outer_data = {{ outer | safe }};
            interactions_strict = {{ interactions_strict | safe }};
            inner_data_strict = {{ inner_strict | safe }};
            outer_data_strict = {{ outer_strict | safe }};
            interactions_metadata = {{ interactions_metadata | safe}};
            gprot = {{ gprot | safe}};
            receptor = {{ receptor | safe}};
            csrf_token = "{{ csrf_token }}";
            pdb_sel = {{ pdb_sel | safe }};
            conversion_dict = {{ conversion_dict | safe }};
            conversion_dict_strict = {{ conversion_dict_strict | safe }};

            ClearSelection('targets');
            ClearSelection('reference');
            // Call the function with your desired values
            draw_interactions_in_circles('visualization', interactions_strict, inner_data_strict, outer_data_strict, conversion_dict_strict);
          
            $("#strict").click(function(){
              $("#strict").addClass("active");
              $("#loose").removeClass("active");
              d3.select("#visualization").selectAll("*").remove();
              draw_interactions_in_circles('visualization', interactions_strict, inner_data_strict, outer_data_strict, conversion_dict_strict);
              d3.selectAll(`.van-der-waals`).attr("stroke-opacity", 0);
            });

            $("#loose").click(function() {
              $("#strict").removeClass("active");
              $("#loose").addClass("active");
              d3.select("#visualization").selectAll("*").remove();
              draw_interactions_in_circles('visualization', interactions, inner_data, outer_data, conversion_dict);
              d3.selectAll(`.van-der-waals`).attr("stroke-opacity", 0);
            });

            d3.selectAll(`.van-der-waals`).attr("stroke-opacity", 0);

            var table3 = $('#residues').DataTable({
                "scrollX": true,
                "scrollY": 600,
                "bScrollCollapse": true,
                'paging': false,
                orderCellsTop: true,
                "autoWidth": true,
                dom: 'T<"clear">lfrtip',
                "aoColumnDefs": [
                    { "sType": "string", "aTargets": [0] },
                ],
                tableTools: {
                    "sRowSelect": "multi",
                    "aButtons": []
                },
                initComplete: function () {
                    $('#residues').dataTable().columnFilter({
                        sPlaceHolder: "head:after",
                        aoColumns: [
                            { type: "select" }, //ligand
                            { type: "select" }, //protein name
                            { type: "select" }, //Alt Position
                            { type: "select" }, //Position
                            { type: "select" }, //Segment
                            { type: "select" }, //Segment
                        ]
                    });
                }
            });

            // Section for the Matrix
            $.ajax({
              type: "POST",
              url: "/signprot/matrix/AJAX_Interactions/",
              async: false,
              data: {
                selected_pdbs: pdb_sel,
                effector: '-',
                csrfmiddlewaretoken: csrf_token,
              },
              success(data) {
                non_interactions = data[0];
                selected_interactions = data[1];
              }
            });

            let old_sets = [];
            let pos_set = [];
            let neg_set = [];

            // get corresponding protein entry_name values
            for (var int_meta of interactions_metadata) {
              if (pdb_sel.indexOf(int_meta["pdb_id"]) !== -1) {
                pos_set = [int_meta["conf_id"], ...pos_set];
              }
            }

            data = signprotmat.data.dataTransformationWrapper(selected_interactions, pdb_sel);
            svg = signprotmat.d3.setup("div#interface-svg");
            xScale = signprotmat.d3.xScale(data.transformed, receptor);
            yScale = signprotmat.d3.yScale(data.transformed, gprot);
            xAxis = signprotmat.d3.xAxis(xScale);
            yAxis = signprotmat.d3.yAxis(yScale);
            xAxisGrid = signprotmat.d3.xAxisGrid(xScale, yScale);
            yAxisGrid = signprotmat.d3.yAxisGrid(xScale, yScale);
            pdbScale = signprotmat.d3.pdbScale(data.transformed, interactions_metadata);
            sigScale = signprotmat.d3.sigScale(data.transformed, interactions_metadata);
            colScale = signprotmat.d3.colScale(data.inttypes);
            tooltip = signprotmat.d3.tooltip(svg);
            signprotmat.d3.renderData(
              svg,
              data,
              non_interactions,
              interactions_metadata,
              xScale,
              yScale,
              xAxis,
              yAxis,
              xAxisGrid,
              yAxisGrid,
              colScale,
              pdbScale,
              sigScale,
              tooltip
            );
            signprotmat.d3.colorBySwitch('res', colScale);
            var rects = document.querySelectorAll('.res_rect');
            rects.forEach(function(rect) {
              rect.setAttribute('height', 40);
              rect.setAttribute('y', 125);
            });
            var rects_vert = document.querySelectorAll('.res_rect_vertical');
            rects_vert.forEach(function(rect) {
              rect.setAttribute('width', 40);
              rect.setAttribute('x', 40);
            });

            d3.select("#legend-space").selectAll("*").remove();

            var scale = {
              A: { bg_color: "#E6E600", font_color: "#000000" },
              C: { bg_color: "#B2B548", font_color: "#000000" },
              D: { bg_color: "#E60A0A", font_color: "#FDFF7B" },
              E: { bg_color: "#E60A0A", font_color: "#FDFF7B" },
              F: { bg_color: "#18FF0B", font_color: "#000000" },
              G: { bg_color: "#FF00F2", font_color: "#000000" },
              H: { bg_color: "#0093DD", font_color: "#000000" },
              I: { bg_color: "#E6E600", font_color: "#000000" },
              K: { bg_color: "#145AFF", font_color: "#FDFF7B" },
              L: { bg_color: "#E6E600", font_color: "#000000" },
              M: { bg_color: "#E6E600", font_color: "#000000" },
              N: { bg_color: "#A70CC6", font_color: "#FDFF7B" },
              P: { bg_color: "#CC0099", font_color: "#FDFF7B" },
              Q: { bg_color: "#A70CC6", font_color: "#FDFF7B" },
              R: { bg_color: "#145AFF", font_color: "#FDFF7B" },
              S: { bg_color: "#A70CC6", font_color: "#FDFF7B" },
              T: { bg_color: "#A70CC6", font_color: "#FDFF7B" },
              V: { bg_color: "#E6E600", font_color: "#000000" },
              W: { bg_color: "#0BCF00", font_color: "#000000" },
              Y: { bg_color: "#18FF0B", font_color: "#000000" },
              "-": { bg_color: "#FFFFFF", font_color: "#000000" },
              _: { bg_color: "#EDEDED", font_color: "#000000" },
              "+": { bg_color: "#FFFFFF", font_color: "#000000" },
            };

            var ordinal = d3
              .scaleOrdinal()
              .domain(Object.keys(scale))
              .range(Object.values(scale).map((x) => x.bg_color));

            var legendSvg = d3
              .select("#legend-space")
              .append("svg")
              .attr("width", 554)
              .attr("height", 110);

            legendSvg
              .append("g")
              .attr("class", "legendOrdinal")
              .attr("transform", "translate(10,20)");

            var legendOrdinal = d3
              .legendColor()
              .orient("horizontal")
              .labelAlign("center")
              .shapePadding(20)
              .scale(ordinal);

            legendSvg
              .select(".legendOrdinal")
              .call(legendOrdinal)
              .selectAll("rect")
              .attr("rx", 3)
              .attr("ry", 3);

            legendSvg.select(".legendOrdinal").selectAll("text").attr("class", "legend");

            // * ADDING Interaction Type LEGEND
            let size = 2;
            let window_starts = _.range(0, colScale.domain().length + 1, size);

            let i = 0;
            for (let windo of window_starts) {
              let start = windo;
              let stop = windo + size;
              let element_ids = _.range(start, stop);
              let filter_elements = _.pullAt(colScale.domain(), element_ids);

              legendSvg
                .append("g")
                .attr("class", "legendOrdinal" + i)
                .attr(
                  "transform",
                  "translate(" +
                    // (xScale.step() / 2 + i * 10 * xScale.step()) + ","
                    (10 + i * 160) +
                    "," +
                    65 +
                    ")"
                );

              let legendOrdinal = d3
                .legendColor()
                .cellFilter(function (d) {
                  return filter_elements.includes(d.label);
                })
                .orient("vertical")
                .labelAlign("start")
                .shapePadding(20)
                .scale(colScale);
              legendSvg
                .select(".legendOrdinal" + i)
                .call(legendOrdinal)
                .selectAll("rect")
                .attr("rx", 3)
                .attr("ry", 3);
              legendSvg
                .select(".legendOrdinal" + i)
                .selectAll("text")
                .attr("class", "legend" + i);
              i += 1;
            }

            legendSvg.select(".legendOrdinal").selectAll("text").attr("transform", "translate(7,25)");
            legendSvg.select(".legendOrdinal0").selectAll("text").attr("transform", "translate(20,12)");
            legendSvg.select(".legendOrdinal1").selectAll("text").attr("transform", "translate(20,12)");
            legendSvg.select(".legendOrdinal2").selectAll("text").attr("transform", "translate(20,12)");
            // document.querySelector("#intbut").classList.add("active");
            // document.querySelector("#resbut").classList.remove("active");

            // Function to update the highlight based on checkbox selections
            function updateHighlight() {
              // Get all selected checkbox values
              const selectedChains = Array.from(document.querySelectorAll('input[name="chain"]:checked'))
                                          .map(el => el.value);
              // Reset all path highlights
              d3.selectAll('path').classed('highlight', false);
              d3.selectAll("path")
                .each(function(d, i) {
                  const segment = d3.select(this).attr("segment");
                  if (!segment) {
                    d3.select(this).attr("stroke-opacity", 0);
                  }
                });
              // d3.selectAll("path").attr("stroke-opacity", 0);
              // Loop through selected checkbox combinations
              selectedChains.forEach(chain => {
                const [outerChain, innerChain] = chain.split('-');

                // Highlight the selected paths
                d3.selectAll(`path[inner-chain="${innerChain}"][outer-chain="${outerChain}"]`)
                  .attr("stroke-opacity", 1);
              });
            }
            // Attach event listeners to checkboxes
            document.querySelectorAll('input[name="chain"]').forEach(el => {
              el.addEventListener('change', updateHighlight);
            });
            var table = $('#rotamers').DataTable({
                'scrollX': true,
                'scrollY': '15vh',
                'bScrollCollapse': true,
                'paging': false,
                'orderCellsTop': true,
                'autoWidth': false,
                'dom': 'iTlfrt',
                'order': [[1, "asc"]], // order by date

                'tableTools': {
                    "sRowSelect": "single",
                    "aButtons": []
                },

                initComplete: function () {
                    $('#rotamers').dataTable().columnFilter({
                        sPlaceHolder: "head:after",
                        sRangeFormat: "{from}:{to}",
                        aoColumns: [
                            { type: "select" }, // segment
                            { type: "number-range"}, // seq num
                            { type: "text" }, // AA
                            { type: "text" }, // gn
                            { type: "text" }, // backbone
                            { type: "text" }, // backbone xtal
                            { type: "text" }, // rotamer
                            { type: "text" }, // rotamer xtal
                        ]
                    });
                },
            });
            var table2 = $('#signprot_rotamers').DataTable({
                'scrollX': true,
                'scrollY': '15vh',
                'bScrollCollapse': true,
                'paging': false,
                'orderCellsTop': true,
                'autoWidth': false,
                'dom': 'iTlfrt',
                'order': [[1, "asc"]], // order by date

                'tableTools': {
                    "sRowSelect": "single",
                    "aButtons": []
                },

                initComplete: function () {
                    $('#signprot_rotamers').dataTable().columnFilter({
                        sPlaceHolder: "head:after",
                        sRangeFormat: "{from}:{to}",
                        aoColumns: [
                            { type: "select" }, // segment
                            { type: "number-range"}, // seq num
                            { type: "text" }, // AA
                            { type: "text" }, // gn
                            { type: "text" }, // backbone
                            { type: "text" }, // backbone xtal
                            { type: "text" }, // rotamer
                            { type: "text" }, // rotamer xtal
                        ]
                    });
                },
            });
        });

        function downloadCSV() {
          $('#rotamers').table2csv({filename: 'Complex_model_templates.csv', quoteFields: true});
        }
        function downloadSVG(svgElementId, filename, format = 'svg') {
          const svgElement = document.getElementById(svgElementId);

          if (!svgElement) {
            console.error(`Element with id "${svgElementId}" not found.`);
            return;
          }

          if (format === 'svg') {
            const svgString = new XMLSerializer().serializeToString(svgElement);
            const blob = new Blob([svgString], { type: "image/svg+xml;charset=utf-8" });
            const link = document.createElement("a");
            link.href = URL.createObjectURL(blob);
            link.download = filename + '.svg';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          } else {
            const svgString = new XMLSerializer().serializeToString(svgElement);
            const img = new Image();
            img.src = 'data:image/svg+xml;base64,' + window.btoa(svgString);
            img.onload = function() {
              const canvas = document.createElement('canvas');
              const bbox = svgElement.getBBox();
              canvas.width = bbox.width * 1.2;
              canvas.height = bbox.height * 1.2;
              const ctx = canvas.getContext('2d');
              ctx.drawImage(img, 0, 0);
              let mimeType = 'image/png';
              if (format === 'jpeg') mimeType = 'image/jpeg';
              else if (format === 'tiff') mimeType = 'image/tiff';
              canvas.toBlob((blob) => {
                const link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.download = filename + '.' + format;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
              }, mimeType);
            };
          }
        }

        function ajaxInteractions(plotid) {
            interactions = {{ residues | safe }};
            count = [];
            output = [];

              $.each( interactions, function( index, val ) {
                key = val['gpcr_aa'];

                if (key in count) {
                    count[key] += 1;
                    if (!(val['type'] in output[key])) output[key].push(val['type'])
                } else {
                    count[key] = 1;
                    output[key] = [val['type']]
                }

                  extra = "\n" + String(count[key]) + " interactions | Type: "+ output[key];

                  $('#'+plotid).find("#"+key).css("fill", "#E60A0A");
                  $('#'+plotid).find("#"+key).next().css("fill", "#FDFF7B");

                  original_title = $('#'+plotid).find("#"+key).attr('original_title')

                  $('#'+plotid).find("#"+key).attr('title',original_title+extra);
                  $('#'+plotid).find("#"+key+"t").attr('title',original_title+extra);

              });
        }

  // {32: 'T32 1x28', 33: 'V33 1x29', 34: 'S34 1x30', 35: 'Y35 1x31', 36: 'Q36 1x32',
  // 37: 'V37 1x33', 38: 'I38 1x34', 39: 'T39 1x35', 40: 'S40 1x36', 41: 'L41 1x37',
  // 42: 'L42 1x38', 43: 'L43 1x39', 44: 'G44 1x40', 45: 'T45 1x41', 46: 'L46 1x42'}
  var residues_lookup = {{ residues_lookup | safe }};

  function getPickingMessage( d, prefix ){
      var msg;
      if( d.atom ){
          msg = "atom: " +
              d.atom.qualifiedName() +
              " (" + d.atom.structure.name + ")";
          var re = /](\d+):/i;
          var found = d.atom.qualifiedName().match(re);
          if (found) {
              pos = found[1];
              if (residues_lookup[pos]) msg = residues_lookup[pos];
              }
      }else if( d.bond ){
          msg = "bond: " +
              d.bond.atom1.qualifiedName() + " - " + d.bond.atom2.qualifiedName() +
              " (" + d.bond.structure.name + ")";

          var re = /](\d+):/i;
          var found = d.bond.atom1.qualifiedName().match(re);
          if (found) {
              pos = found[1];
              if (residues_lookup[pos]) msg = residues_lookup[pos];
          }
      }else if( d.volume ){
          msg = "volume: " +
              d.volume.value.toPrecision( 3 ) +
              " (" + d.volume.volume.name + ")";
      }else{
          msg = "nothing";
      }
      return prefix + " " + msg;
  }
</script>


{% endblock %}
