{% extends "home/base.html" %}
{% load static %}
{% load structure_extras %}

{% block addon_css %}
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
    <link href="{% static 'home/css/construct_alignment.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
        <style type="text/css">
        .select2-result-label{
            font-size:x-small;
            font-size: 10px;
        }

        #filters{

            font-size: 10px;
            padding:  7px 15px;
        }

        @media (min-width: 1600px){
            #content {
                width: 1570px;
            }
        }
        @media (min-width: 1800px){
            #content {
                width: 1770px;
            }
        }

        .highlight_1 {
            background-color: cyan;
        }

        table.dataTable.compact thead th.over_header {
            border-right: 1px solid;
            border-left: 0px solid;
            text-align: center;
            padding: 4px 4px 4px 4px;
        }

        table.dataTable.compact thead tr.over_header th {
            border-bottom: 1px solid #ccc;
        }

        table.dataTable.compact thead th.leftborder {
            border-left: 1px solid;
        }

        table.dataTable.compact thead th.rightborder {
            border-right: 1px solid;
        }

        table.dataTable.compact thead th.checkbox_tr {
            text-align: left;
            padding: 4px 4px 4px 4px;
        }

        table.dataTable.compact thead th {
            padding: 4px 16px 4px 2px;
        }
        .yadcf-filter-wrapper {
            margin-top: 0px;
        }
        input.yadcf-filter  {
            width: 100px;
            font-family: sans-serif;
            font-size: 100%;
            font-weight: bold;
        }
        .yadcf-filter-range-date, .yadcf-filter-range-number {
            width: 30px;
            font-family: sans-serif;
            font-size: 100%;
            font-weight: bold;
        }
        .gpcrdb-link {
            filter: grayscale(100%);
        }
        .gpcrdb-link:hover {
            filter: grayscale(0%);
        }
        /*.model-link {
            filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
        }*/
        .model-link:hover {
            -webkit-filter: hue-rotate(3.142rad);
        }
    </style>
{% endblock %}

{% block addon_js %}
    <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
    <script src="{% static 'home/js/select2.js' %}"> </script>
    <script src="{% static 'home/js/browser_functions.js' %}"> </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            // 'use strict';

            // var oTable;
            var oTable = $('#constructs').DataTable({
                scrollY:        "65vh",
                scrollX:        true,
                scrollCollapse: true,
                paging:         false,
                "order": [],
                  columnDefs: [
                    { targets: 'no-sort', orderable: false }

                  ],
                // fixedColumns:   {
                //     leftColumns: 4,
                // }
            });

            var prev_ids = Array()
            var current_align_ids = Array()

            $("#constructs_div").show();
            assign_to_row();
            $("#loading_div").hide();

            //Uncheck every row when using back button on browser
            $('.alt-selected').prop('checked',false)
            $('.alt').prop('checked',false)
            $('.select-all').prop('checked',false)
            //

            switch (window.location.hash) {
                case "#keepselectionreference":
                    ClearSelection("reference");
                    break;
                case "#keepselectiontargets":
                    ClearSelection("targets");
                    break;
                default:
                    ClearSelection("targets");
                    ClearSelection("reference");
                    break;
            }

            yadcf.init(oTable,
                [
                    {
                        column_number : 3,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        column_data_type: "html",
                        filter_default_label: "UniProt",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '80px',
                        }
                    },
                    {
                        column_number : 4,
                        filter_type: "multi_select",
                        select_type: "select2",
                        column_data_type: "html",
                        html_data_type: "text",
                        filter_default_label: "GtoPdb",
                        filter_match_mode : "exact",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: "60px",
                        }
                    },
                    {
                        column_number: 5,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Family",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 6,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Class",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 7,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Subtype",
                        column_data_type: "html",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '70px',
                        }
                    },
                    {
                        column_number : 8,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Family",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '60px',
                        }
                    },
                    {
                        column_number : 9,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Heterotrimer",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '80px',
                        }
                    },
                    // {
                    //     column_number : 10,
                    //     filter_type: "range_number",
                    //     filter_default_label: ["Min", "Max"],
                    //     filter_reset_button_text: false,
                    //     select_type_options: {
                    //         width: '30px',
                    //     }
                    // },
                    // {
                    //     column_number : 11,
                    //     filter_type: "range_number",
                    //     filter_default_label: ["Min", "Max"],
                    //     filter_reset_button_text: false,
                    //     select_type_options: {
                    //         width: '30px',
                    //     }
                    // },
                    {
                        column_number : 10,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '30px',
                        }
                    },
                    {
                        column_number : 11,
                        filter_type: "range_date",
                        date_format: "yyyy-mm-dd",
                        select_type: 'select2',
                        filter_default_label: ["From", "To"],
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                ],
                {
                    cumulative_filtering: false
                }
            );

            //yadcf.exResetAllFilters(oTable);
            oTable.columns.adjust()

            // $.datepicker.regional[""].dateFormat = "yy-mm-dd";
            // $.datepicker.setDefaults($.datepicker.regional['']);

            $('.alt').change(function () {
                $(this).parent().parent().toggleClass('alt_selected');
            });

            $('.select-all').change(function () {
                $('.alt').prop('checked', $(this).prop("checked"));
                $('.alt').parent().parent().toggleClass('alt_selected');
            });

            $("#remove_sel").click(function () {
                var oTable = $('#constructs').dataTable();
                $('input:checkbox:checked').each(function () {
                    if ( $(this).is(':visible') ) {
                       id = $(this).attr('id');

                       if (id) {
                           oTable.fnDeleteRow("#"+id, null, false);
                       }
                    }
                });
               oTable.fnDraw();
            });

            $("#remove_non_sel").click(function () {
                var oTable = $('#constructs').dataTable();
                $('input:checkbox:not(:checked)').each(function () {
                    if ( $(this).is(':visible') ) {
                       id = $(this).attr('id');
                       if (id) {
                           oTable.fnDeleteRow("#"+id, null, false);
                       }
                   }
                });
                oTable.fnDraw();
            });

            $('#apply_filter').click(function() {
                // $("#filters").toggle();
            });

            $("#OpenFilters").click(function () {
                // $("#filters").toggle();
            });

            $('.slider').slider({
              min: 30,
              max: 200,
              value: 70,
              change: function( event, ui ) {
                console.log(ui.value);
                $(".schematic-block").width(ui.value);
              }
            });

            $('[data-toggle="tooltip"]').tooltip({ container: 'body' })
            $('.table_tooltip').tooltip({ container: 'body', html: true, placement: "top"})


            $('.column_toggle').change(function(evt) {
                console.log('start toggle');
                // evt.stopPropagation();
                // evt.stopImmediatePropagation();
                // evt.preventDefault();
                columns = $(this).attr('data-column').split(",");
                var checked = this.checked;
                var checked = (this.checked ? false : true);
                columns.forEach(function(column) {
                    // console.log('hiding column');
                    var column = oTable.column( column );
                    try {
                        column.visible( checked );
                    }
                    catch(err) {
                        column.visible( checked );
                    }
                });
                // var Table = $('#constructs').dataTable();
                // Table.fnDraw();
                console.log('done toggle');
                oTable.draw();
                console.log('done draw');
            } );

            $("#superpose_btn").click(function() {
                superposition(oTable, [0,3,4,5,6,7,8,15], "complex_models", "gprot", true);
            });

            $('#superpose_template_btn').click(function () {
                var checked_data = oTable.rows('.alt_selected').data();
                if (checked_data.length == 1) {
                    var value = CheckSelection('reference');
                    var div = document.createElement("div");
                    div.innerHTML = checked_data[0][13];
                    var destination;
                    if (value != 0){
                      destination = 'targets';
                    } else {
                      destination = 'reference';
                    }
                    if (typeof div.innerText !== "undefined") {
                        AddToSelection(destination, 'structure', div.innerText.replace(/\s+/g, ''));
                    } else {
                        AddToSelection(destination, 'structure', div.textContent.replace(/\s+/g, ''));
                    }
                } else {
                  for (i = 0; i < checked_data.length; i++) {
                      var div = document.createElement("div");
                      div.innerHTML = checked_data[i][15];
                      if (typeof div.innerText !== "undefined") {
                          AddToSelection('targets', 'structure', div.innerText.replace(/\s+/g, ''));
                      } else {
                          AddToSelection('targets', 'structure', div.textContent.replace(/\s+/g, ''));
                      }
                  }
                }
                window.location.href = '/structure/superposition_workflow_gprot_index';
            });

            $('#download_btn').click(function () {
                var checked_data = $(".alt_selected");
                if (checked_data.length === 0) {
                    showAlert("No models (rows) selected for download.", "danger");
                    return 0;
                }
                else if (checked_data.length > 1000) {
                    showAlert("Maximum number of downloadable entries in one query is 1000", "warning");
                    return 0;
                }
                var selected_ids = [];
                $.each(checked_data, function(){
                    hom_id = $(this).closest('tr').attr('model_id');
                    selected_ids.push(hom_id);
                });
                window.location.href = '/structure/complexmod_download?ids='+selected_ids.join(",");

            });

            $('#align_btn1').click(function () {
                var checked_data = oTable.rows('.alt_selected').data();
                if (checked_data.length === 0){
                  showAlert("No models (rows) selected for receptor alignment.", "danger");
                  return;
                }

                ClearSelection('targets');
                for (i = 0; i < checked_data.length; i++) {
                    AddToSelection('targets', 'protein_entry',  checked_data[i][12] );

                }
                window.location.href = '/structure/selection_convert_model';
            });

            $('#align_btn2').click(function () {
                var checked_data = oTable.rows('.alt_selected').data();
                if (checked_data.length === 0){
                  showAlert("No models (rows) selected for G protein alignment.", "danger");
                  return;
                }
                ClearSelection('targets');
                for (i = 0; i < checked_data.length; i++) {
                    AddToSelection('targets', 'structure',  checked_data[i][13] );

                }
                window.location.href = '/structure/selection_convert_signprot_model';
            });
            $("[data-toggle='popover']").popover({
              container: 'body'
            });
        });

        function ClearSelection(selection_type) {
            $.ajax({
                'url': '/common/clearselection',
                'data': {
                    selection_type: selection_type
                },
                'type': 'GET',
                'async': false,
                'success': function (data) {
                    $("#selection-" + selection_type).html(data);
                }
            });
        }

        function AddToSelection(selection_type, selection_subtype, selection_id) {
            $.ajax({
                'url': '/common/addtoselection',
                'data': {
                    selection_type: selection_type,
                    selection_subtype: selection_subtype,
                    selection_id: selection_id
                },
                'type': 'GET',
                'async': false,
                'success': function(data) {
                    $("#selection-" + selection_type).html(data);
                },
            });
        }

        function select_all(e) {
            var checkedStatus = $(e).prop("checked");

            $('.select-all  ').each(function () {
                    $(this).prop('checked', checkedStatus);
            });

            $('.alt').each(function () {
                    $(this).prop('checked', checkedStatus);
            });
        };

        function assign_to_row(){
          $('tbody tr').click(function(event) {
            if (event.target.type !== 'checkbox') {
              $(':checkbox', this).trigger('click');
            }
          });
        }

        function realign() {

            ids = JSON.parse($("#c_ids").val());

            // $('input:checkbox:not(:checked)').each(function () {
            $('input:checkbox:checked').each(function () {
                if ( $(this).is(':visible') ) {
                   id = $(this).attr('value');
                   if (id) { ids.push(id); }
                }
            });

            current_align_ids = ids
            var url = '/construct/align';
            var posting = $.post( url, { ids: JSON.stringify(current_align_ids)  } );
              posting.done(function( data ) {
                $("#align_div").html('').append(data)

                $(function () {$('[data-toggle="tooltip"]').tooltip()})

                $(function(){
                    $('.ali-scroll-div').scroll(function(){
                        $('.ali-main-div')
                            .scrollLeft($('.ali-scroll-div').scrollLeft());
                    });
                    $('.ali-main-div').scroll(function(){
                        $('.ali-scroll-div')
                            .scrollLeft($('.ali-main-div').scrollLeft());
                    });
                });

                $(function () {$('.internal-scroll-div').css('width', $('.dynamic-div').outerWidth() );});
              });
        };


    </script>
    <script>
      window.addEventListener("hashchange", updateButtonConfiguration, false);

      function updateButtonConfiguration() {
          const button = document.getElementById("superpose_template_btn");

          switch (window.location.hash) {
              case "#keepselectionreference":
                  // Update the button for #keepselectionreference
                  button.innerText = "Add reference to superposition";
                  button.id = "superpose_template_btn";
                  button.classList.add("highlight_1");
                  break;
              case "#keepselectiontargets":
                  // Update the button for #keepselectiontargets
                  button.innerText = "Add targets to superposition";
                  button.id = "superpose_template_btn";
                  button.classList.add("highlight_1");
                  break;
              default:
                  // Default configuration (if no recognized hash)
                  button.innerText = "Superposition";
                  button.id = "superpose_btn";
                  button.classList.remove("highlight_1");
                  break;
          }
      }

      // Call this function on page load to set the initial configuration
      document.addEventListener("DOMContentLoaded", updateButtonConfiguration);

    </script>
{% endblock %}

{% block content %}
<div class="btn-group">
    <label class="btn btn-default btn-s" id="align_btn1" href="javascript:void(0)">Align Receptors</label>
    <label class="btn btn-default btn-s" id="align_btn2" href="javascript:void(0)">Align G proteins</label>
    <label class="btn btn-default btn-s" id="superpose_template_btn" href="javascript:void(0)">Superposition</label>
    <label class="btn btn-default btn-s" id="download_btn" href="javascript:void(0)">Download</label>
    <!-- <label class="btn btn-default btn-s" id="superpose_btn" href="javascript:void(0)">Superposition</label> -->
</div>
<br /><br />
<!--
    Show/hide columns:
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default btn-xs">
    <input class="column_toggle" type="checkbox" value="Solubilzation" data-column="3,4,5,6,7" checked="checked"> Receptor
  </label>
  <label class="btn btn-default btn-xs">
    <input class="column_toggle" type="checkbox" value="Solubilzation" data-column="8,9,10" checked="checked"> G Protein
  </label>

  <label class="btn btn-default btn-xs">
    <input class="column_toggle" type="checkbox" value="Purification" data-column="11,12,13" checked="checked"> Template
  </label>
</div>
<br><br> -->

    <div style="padding-top: 0px; font-size: 15px; white-space: nowrap;" id="loading_div">
    <br>Loading...
    </div>
</div>
<div>
    <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;" id="constructs_div">
        <table width="100%" class="display compact" id="constructs">
            <thead>
                <tr class='over_header' style='max-height: 20px'>
                    <th colspan=1 class="over_header"></th>
                    <th colspan=1 class="over_header">   MODEL   </th>
                    <th colspan=5 class="over_header">RECEPTOR</th>
                    <th colspan=3 class="over_header">G PROTEIN</th>
                    <th colspan=1 class="over_header" style="max-width:50px;">COUPLING DATA</th>
                    <th colspan=1 class="over_header">DATE</th>
                </tr>
                <tr class='over_header cenetered-header'>
                    <th class='rightborder'></th>
                    <th class='rightborder'></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class='rightborder'></th>
                    <th></th>
                    <th></th>
                    <th class='rightborder'></th>
                 <!--    <th>Bouvier<br>log(Emax/EC50)</th>
                    <th>Inoue<br>log(Emax/EC50)</th> -->
                    <th class='rightborder'>GtoPdb<br>1' / 2' <span class="glyphicon glyphicon-info-sign" data-html="true" data-toggle="popover" data-trigger="hover click" data-placement="bottom" data-content="Primary (1') or secondary (2') principle receptor signalling pathway or mechanism, where established. This classification is used to denote the principal signalling activity in order to regulate established physiological function. <a target='_blank' href='https://doi.org/10.1093/nar/gkab1010'>Harding et al. 2022</a>"></span></th>
                    <th class='rightborder'></th>
                    <th class='hidden'></th>
                    <th class='hidden'></th>
                </tr>
                <tr>
                    <th class='no-sort checkbox_tr rightborder'><input class="select-all" type="checkbox" onclick="select_all(this)"></th>
                    <th class='rightborder'></th>
                    <th>GPCRdb</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class='rightborder'></th>
                    <th></th>
                    <th></th>
                    <th class='rightborder'></th>
                  <!--   <th></th>
                    <th></th> -->
                    <th class='rightborder'></th>
                    <th class='rightborder'></th>
                    <th class='hidden'></th>
                    <th class='hidden'></th>
                </tr>

            </thead>
            <tbody>
            {% for model in structure_complex_model %}
                <tr model_id='{{model.pk}}'>
                    <td class="text-center"><input class="alt" type="checkbox" id="{{ model.pk }}"></td>
                    <td style="text-align:center;"><a target="_blank" href="complex_models/{{ model.pdb_code__index }}"><img width="14px" height="20px" class="model-link" src="{% static 'home/images/model-surface.png' %}"></a></div></td>
                    <td class="text-center"><a target="_blank" href="/protein/{{ model.protein_conformation__protein__entry_name }}"><img width="12px" height="12px" class="gpcrdb-link" src="{% static 'home/logo/gpcr/main.png' %}"></a></td>
                    <td><a target="_blank" href="http://www.uniprot.org/uniprot/{{ model.protein_conformation__protein__accession }}">{{ model.protein_conformation__protein__entry_name|entry_short }}</a></td>
                    <td><span>{{ model.protein_conformation__protein__name|receptor_short|safe }}</span></td>
                    <td>{{ model.protein_conformation__protein__family__parent__name }}</td>
                    <td>{{ model.protein_conformation__protein__family__parent__parent__parent__name|cut_classname }}</td>
                    <td><a href="/signprot/{{ model.signprot_complex_protein__entry_name }}">{{ model.signprot_complex__protein__family__name|gprot_short }}</a></td>
                    <td>{{ model.signprot_complex__protein__family__parent__name }}</td>
                    <td>{{ model.heterotrimer }}</td>
            <!--         {% if model.Bouvier == "-" %}
                        <td>-</td>
                    {% else %}
                        <td>{{ model.Bouvier|floatformat:1 }}</td>
                    {% endif %}
                    {% if model.Inoue == "-" %}
                        <td>-</td>
                    {% else %}
                        <td>{{ model.Inoue|floatformat:1 }}</td>
                    {% endif %} -->
                    {% if model.GuideToPharma ==  "primary" %}
                        <td>1'</td>
                    {% elif model.GuideToPharma == "secondary" %}
                        <td>2'</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>{{ model.publication_date|date:"Y-m-d" }}</td>
                    <td style="display:none;">{{ model.protein_conformation__protein__entry_name }}</td>
                    <td style="display:none;">{{ model.pdb_code__index }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="superposition-modal" class="modal">
  <!-- Modal content -->
    <div class="modal-content">
        <button id="close_superposition_modal" style="float:right;display:inline;" aria-hidden="true" aria-label="Close" class="close" data-dismiss="superposition-modal">&times;</button>
        <h3>Pick template from selection</h3>
        <p>Superpositions structures selected in the browser to the template checked in this table</p>
        <br>
        <table id="superposition_modal_table" class="display compact" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>UniProt</th>
                    <th>IUPHAR</th>
                    <th>Rec. family</th>
                    <th>Class</th>
                    <th>G protein subtype</th>
                    <th>G protein family</th>
                    <th>Model code</th>
                </tr>
            </thead>
            <tbody>
                <!-- Javascript populates the table from selected rows -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
