{% extends "home/base.html" %}
{% load static %}
{% load structure_extras %}

{% block addon_css %}
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
    <link href="{% static 'home/css/construct_alignment.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/modal.css' %}" rel="stylesheet">
    <style type="text/css">
        .select2-result-label{
            font-size:x-small;
            font-size: 10px;
        }

        #filters{

            font-size: 10px;
            padding:  7px 15px;
        }

        @media (min-width: 1600px){
            #content {
                width: 1570px;
            }
        }
        @media (min-width: 1800px){
            #content {
                width: 1770px;
            }
        }

        .highlight_1 {
            background-color: cyan;
        }

        table.dataTable.compact thead th.over_header {
            border-right: 1px solid;
            border-left: 0px solid;
            text-align: center;
            padding: 4px 4px 4px 4px;
        }

        table.dataTable.compact thead tr.over_header th {
            border-bottom: 1px solid #ccc;
        }

        table.dataTable.compact thead th.leftborder {
            border-left: 1px solid;
        }

        table.dataTable.compact thead th.rightborder {
            border-right: 1px solid;
        }

        table.dataTable.compact thead th.checkbox_tr {
            text-align: left;
            padding: 4px 4px 4px 4px;
        }

        table.dataTable.compact thead th {
            padding: 4px 16px 4px 2px;
        }
        .yadcf-filter-wrapper {
            margin-top: 0px;
        }
        input.yadcf-filter  {
            width: 100px;
            font-family: sans-serif;
            font-size: 100%;
            font-weight: bold;
        }
        .yadcf-filter-range-date, .yadcf-filter-range-number {
            width: 30px;
            font-family: sans-serif;
            font-size: 100%;
            font-weight: bold;
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    }
    </style>
{% endblock %}

{% block addon_js %}
    <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
    <script src="{% static 'home/js/select2.js' %}"> </script>
    <script src="{% static 'home/js/alignment.js' %}"> </script>
    <script src="{% static 'home/js/browser_functions.js' %}"> </script>

<system.webServer>
   <httpErrors errorMode="Detailed" />
   <asp scriptErrorSentToBrowser="true"/>
</system.webServer>

<script>
  window.addEventListener("hashchange", updateButtonConfiguration, false);

  function updateButtonConfiguration() {
      const button = document.getElementById("superpose_template_btn");

      switch (window.location.hash) {
          case "#keepselectionreference":
              // Update the button for #keepselectionreference
              button.innerText = "Add reference to superposition";
              button.id = "superpose_template_btn";
              button.classList.add("highlight_1");
              break;
          case "#keepselectiontargets":
              // Update the button for #keepselectiontargets
              button.innerText = "Add targets to superposition";
              button.id = "superpose_template_btn";
              button.classList.add("highlight_1");
              break;
          default:
              // Default configuration (if no recognized hash)
              button.innerText = "Superposition";
              button.id = "superpose_btn";
              button.classList.remove("highlight_1");
              break;
      }
  }

  // Call this function on page load to set the initial configuration
  document.addEventListener("DOMContentLoaded", updateButtonConfiguration);

</script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {

            var oTable = $('#homology_models').DataTable({
                scrollY:        "65vh",
                scrollX:        true,
                scrollCollapse: true,
                paging:         false,
                "order": [[8,'asc'],[1,'asc']],
                  columnDefs: [
                    { targets: 'no-sort', orderable: false }

                  ]
            });

            $("#homology_models_div").show();
            assign_to_row();
            $("#loading_div").hide();

            //Uncheck every row when using back button on browser
            $('.alt-selected').prop('checked',false)
            $('.alt').prop('checked',false)
            $('.select-all').prop('checked',false)
            //

            yadcf.init(oTable,
                [
                    {
                        column_number : 1,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        column_data_type: "html",
                        filter_default_label: "Model",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 2,
                        filter_type: "range_date",
                        date_format: "yyyy-mm-dd",
                        select_type: 'select2',
                        filter_default_label: ["From", "To"],
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 3,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "State",
                        filter_reset_button_text: false,
                        filter_match_mode : "exact",
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 4,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Refined",
                        filter_reset_button_text: false,
                        filter_match_mode : "exact",
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 5,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        column_data_type: "html",
                        filter_default_label: "UniProt",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '80px',
                        }
                    },
                    {
                        column_number: 6,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        column_data_type: "html",
                        filter_default_label: "IUPHAR",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number: 7,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Rec. family",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 8,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Class",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 9,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Species",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 10,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        column_data_type: "html",
                        filter_default_label: "Receptor",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '120px',
                        }
                    },
                    {
                        column_number : 11,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        column_data_type: "html",
                        filter_default_label: "PDB",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                ],
                {
                    cumulative_filtering: false
                }
            );

            //yadcf.exResetAllFilters(oTable);
            oTable.columns.adjust()

            $('.alt').change(function () {
                $(this).parent().parent().toggleClass('alt_selected');
            });

            $('.select-all').change(function () {
                $('.alt').prop('checked', $(this).prop("checked"));
                $('.alt').parent().parent().toggleClass('alt_selected');
            });

            $('[data-toggle="tooltip"]').tooltip({ container: 'body' })
            $('.table_tooltip').tooltip({ container: 'body', html: true, placement: "top"})

            $('#download_btn').click(function () {
                var selected_ids = [];
                 $.each($(".alt_selected"), function(){
                    hom_id = $(this).closest('tr').attr('model_id');
                    selected_ids.push(hom_id);
                });
                window.location.href = '/structure/hommod_download?ids='+selected_ids.join(",");
            });
            $('#align_btn').click(function () {
                var checked_data = oTable.rows('.alt_selected').data();
                ClearSelection('targets');
                for (i = 0; i < checked_data.length; i++) {

                    AddToSelection('targets', 'structure_model',  checked_data[i][12]+"_"+checked_data[i][3]);

                }
                window.location.href = '/structure/selection_convert_model';
            });

            $('#superpose_template_btn').click(function () {
                var checked_data = oTable.rows('.alt_selected').data();
                var value = CheckSelection('reference');
                var destination;
                if (value != 0){
                  destination = 'targets';
                } else {
                  destination = 'reference';
                }
                if (checked_data.length == 1) {
                    AddToSelection(destination, 'structure_model', checked_data[0][12]+"_"+checked_data[0][3]);
                } else {
                  for (i = 0; i < checked_data.length; i++) {
                      AddToSelection('targets', 'structure_model', checked_data[i][12]+"_"+checked_data[i][3]);
                  }
                }
                window.location.href = '/structure/superposition_workflow_index';
            });

            $("#superpose_btn").click(function() {
                console.log('clicked');
                superposition(oTable, [0,5,6,7,8,9,2,3,4,10,11], "homology_model_browser", 'gpcr', true);
            });
        });

        function ClearSelection(selection_type) {
            $.ajax({
                'url': '/common/clearselection',
                'data': {
                    selection_type: selection_type
                },
                'type': 'GET',
                'async': false,
                'success': function (data) {
                    $("#selection-" + selection_type).html(data);
                }
            });
        }

        function CheckSelection(selection_type) {
            var result = null;

            $.ajax({
                'url': '/common/checkselection',
                'data': {
                    selection_type: selection_type
                },
                'type': 'GET',
                'dataType': 'json',  // Expecting JSON response from the server
                'async': false,
                'success': function(response) {
                    result = response.total;
                },
                'error': function(error) {
                    console.error("An error occurred:", error);
                }
            });

            return result;
        }

        function AddToSelection(selection_type, selection_subtype, selection_id) {
            $.ajax({
                'url': '/common/addtoselection',
                'data': {
                    selection_type: selection_type,
                    selection_subtype: selection_subtype,
                    selection_id: selection_id
                },
                'type': 'GET',
                'async': false,
                'success': function(data) {
                    $("#selection-" + selection_type).html(data);
                },
            });
        }

        function select_all(e) {
            var checkedStatus = $(e).prop("checked");

            $('.select-all  ').each(function () {
                    $(this).prop('checked', checkedStatus);
            });

            $('.alt').each(function () {
                    $(this).prop('checked', checkedStatus);
            });
        };

        function assign_to_row(){
          $('tbody tr').click(function(event) {
            if (event.target.type !== 'checkbox') {
              $(':checkbox', this).trigger('click');
            }
          });
        }

    </script>

{% endblock %}

{% block content %}
<div class="btn-group">
    <label class="btn btn-default btn-s" id="align_btn" href="javascript:void(0)">Align</label>
    <label class="btn btn-default btn-s" id="download_btn" href="javascript:void(0)">Download</label>
    <label class="btn btn-default btn-s" id="superpose_template_btn" href="javascript:void(0)">Superposition</label>
</div>

<div class="btn-group" style="float: right">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-download"></span> Archive <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="left:auto;right:0;margin-right:-10px;">
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2022-06-23.zip"> 2022 June models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2022-04-30.zip"> 2022 April models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2022-03-30.zip"> 2022 March models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2022-01-31.zip"> 2022 January models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2021-11-04.zip"> 2021 October models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2021-10-07.zip"> 2021 September models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2021-09-09.zip"> 2021 August models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2021-07-20.zip"> 2021 July models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2021-06-14.zip"> 2021 June models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2021-05-13.zip"> 2021 May models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2021-04-13.zip"> 2021 April models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2021-03-17.zip"> 2021 March models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2021-02-11.zip"> 2021 February models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2021-01-12.zip"> 2021 January models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2020-12-07.zip"> 2020 December models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2020-11-04.zip"> 2020 November models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2020-09-02.zip"> 2020 September models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2020-07-30.zip"> 2020 July models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2019-03-14.zip"> 2019 March models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2019-01-31.zip"> 2019 January models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2018-07-17.zip"> 2018 July models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2018-04-06.zip"> 2018 April models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2018-01-18.zip"> 2018 January models </a><li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2017-09-27.zip"> 2017 September models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2017-04-10.zip"> 2017 April models </a></li>
          <li><a href="https://files.gpcrdb.org/GPCRdb_homology_models_2016-06-12.zip"> 2016 June models </a></li>
        </ul>
</div>

<br><br>

    <div style="padding-top: 0px; font-size: 15px; white-space: nowrap;" id="loading_div">
    <br>Loading...
    </div>
</div>
<div id="browser">
    <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;" id="homology_models_div">
        <table width="100%" class="display compact" id="homology_models">
            <thead>
                <tr class='over_header' style='max-height: 20px'>
                    <th colspan=5 class="over_header">MODEL</th>
                    <th colspan=5 class="over_header">RECEPTOR</th>
                    <th colspan=2 class="over_header">TEMPLATE</th>
                </tr>
                <tr>
                    <th class='no-sort checkbox_tr'><input class="select-all" type="checkbox" onclick="select_all(this)"></th>
                    <th></th>
                    <th>Date</th>
                    <th></th>
                    <th class='rightborder'></th>
                    <th></th>
                    <th></th>
                    <th ></th>
                    <th></th>
                    <th class='rightborder'></th>
                    <th></th>
                    <th class='rightborder'></th>
                    <th style="display:none;"></th>
                </tr>

            </thead>
            <tbody>
            {% for model in structure_model %}
                <tr model_id='{{model.pk}}'>
                    <td class="text-center"><input class="alt" type="checkbox" id="{{ model.pk }}"></td>
                    {% if model.protein.accession %}
                        <td><a href="homology_models/{{ model.protein.entry_name }}_{{ model.state.slug }}" target="_blank">{{ model.protein.family.name|safe }}</a></td>
                    {% else %}
                        <td><a href="refined/{{ model.protein.entry_name|upper }}" target="_blank">{{ model.protein.family.name|safe }}</a></td>
                    {% endif %}
                    <td>{{ model.version|date:"Y-m-d" }}</td>
                    <td>{{ model.state.name }}</td>
                    <td>
                    {% if not model.protein.accession %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                    </td>
                    <td>
                        {% if not model.protein.accession %}
                            <a href="http://www.uniprot.org/uniprot/{{ model.protein.parent.accession }}">{{ model.protein.parent.entry_short|safe }}</a>
                        {% else %}
                            <a href="http://www.uniprot.org/uniprot/{{ model.protein.accession }}">{{ model.protein.entry_short|safe }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if not model.protein.accession %}
                            <a href="/protein/{{ model.protein.parent.entry_name }}">{{ model.protein.parent.short|safe }}</a>
                        {% else %}
                            <a href="/protein/{{ model.protein.entry_name }}">{{ model.protein.short|safe }}</a>
                        {% endif %}
                    </td>
                    <td>{{ model.protein.family.parent.short|safe }}</td>
                    <td>{{ model.protein.family.parent.parent.parent.short }}</td>
                    <td>{{ model.protein.species.common_name }}</td>
                    {% if model.main_template %}
                        <td><a href="/protein/{{ model.main_template.protein_conformation.protein.parent.entry_name }}">{{ model.main_template.protein_conformation.protein.parent.family.name|safe }}</a></td>
                        <td><a href="{{ model.main_template.pdb_code.index }}">{{ model.main_template.pdb_code.index}}</a></td>
                    {% else %}
                        <td>-</td>
                        <td>-</td>
                    {% endif %}
                    <td style="display:none;">{{ model.protein.entry_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="superposition-modal" class="modal">
  <!-- Modal content -->
    <div class="modal-content">
        <button id="close_superposition_modal" style="float:right;display:inline;" aria-hidden="true" aria-label="Close" class="close" data-dismiss="superposition-modal">&times;</button>
        <h3>Pick template from selection</h3>
        <p>Superpositions structures selected in the browser to the template checked in this table</p>
        <br>
        <table id="superposition_modal_table" class="display compact" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>UniProt</th>
                    <th>IUPHAR</th>
                    <th>Rec. family</th>
                    <th>Class</th>
                    <th>Species</th>
                    <th>Date</th>
                    <th>State</th>
                    <th>Refined</th>
                    <th>Main template receptor</th>
                    <th>Main template PDB</th>
                  </tr>
              </thead>
              <tbody>
                  <!-- Javascript populates the table from selected rows -->
              </tbody>
          </table>
      </div>
  </div>
{% endblock %}
