{% extends "home/base.html" %}
{% load static %}
{% load structure_extras %}

{% block addon_css %}
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css" />
    <link href="{% static 'home/css/construct_alignment.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/jquery.powertip.css' %}" />
{% endblock %}

{% block addon_js %}
    <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
    <script src="{% static 'home/js/select2.js' %}"> </script>
    <script src="{% static 'home/js/alignment.js' %}"> </script>
    <script src="{% static 'home/js/browser_functions.js' %}"> </script>
    <script src="{% static 'home/js/model_statistics.js' %}"> </script>
    <script src="{% static 'home/js/grayscale.js' %}"> </script>
    <script src="{% static 'home/js/gpcrdb.js' %}"></script>
    <script src="{% static 'home/js/jquery.powertip.js' %}"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        model_statistics();
    });
</script>

{% endblock %}


{% block content %}

<div id="browser">

    <div style="width:100%; display:inline;">
        <div class="btn-group" style="padding-left:10px; width: 100%;">
            <a id="dlink"  style="display:none;"></a>
            <div id="excel_table"  style="display:none;"></div>
            <input class="btn btn-default btn-s btn-success" type="button" onclick="GlobalTableToExcel('structures_scrollable', 'Structure model statistics', 'GPCRdb_structure_model_statistics.xls')" value="Export Excel"></input>
            <div style="padding: 0px 0px 0px 10px; display: inline;">The RMSD values compare the latest model before a structure of the same receptor in the same state was published. <a href="https://docs.gpcrdb.org/structures.html#structure-model-statistics" target="_blank">Documentation</a></div>
        </div>
    </div>
    <br />

    <div style="padding-top: 0px; font-size: 15px; white-space: nowrap;" id="loading_div">
    <br>Loading...
    </div>

    <!-- scrollable column -->
    <div style="padding-top: 0px; font-size: 10px; white-space: nowrap; width:100%; overflow-y:hidden; display:inline-block; width:100%;">
        <div id="structures_scrollable_div">
            <table class="display compact text-nowrap" id="structures_scrollable">
                <thead>
                    <tr class="over_header over_header_row">
                        <th colspan=11 class="over_header flexible_over_header" id="aux_prot_over_header">
                            <div>
                                <div class="overhead_text">ROOT-MEAN-SQUARE DEVIATION (&#8491;)</div>
                            </div>
                        </th>
                        <th colspan=4 class="over_header flexible_over_header" id="sign_prot_over_header">
                            <div>
                                <div class="overhead_text">RECEPTOR</div>
                                <div class="overhead_close">
                                    <button type="button" class="close hide_columns" columns="11,12,13,14" style="float:right;display:inline;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            </div>
                        </th>
                        <th colspan=3 class="over_header">
                            <div>
                                <div class="overhead_text">EXPERIMENTAL STRUCTURE</div>
                                <div class="overhead_close">
                                    <button type="button" class="close hide_columns" columns="15,16,17" style="float:right;display:inline;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            </div>
                        </th>
                        <th colspan=2 class="over_header flexible_over_header" id="sign_prot_over_header">
                            <div>
                                <div class="overhead_text">MODEL</div>
                                <div class="overhead_close">
                                    <button type="button" class="close hide_columns" columns="18,19" style="float:right;display:inline;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            </div>
                        </th>
                        <!-- <th colspan=10 class="over_header flexible_over_header" id="structure_over_header" >
                            <div>
                                <div class="overhead_text">MAIN TEMPLATE</div>
                                <div class="overhead_close">
                                    <button type="button" class="close hide_columns" columns="20,21,22,23,24,25,26,27,28,29"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            </div>
                        </th> -->
                    </tr>
                    <tr class="over_header centered-header">
                        <th></th>
                        <th>Overall<br>all</th>
                        <th>Overall<br>backbone</th>
                        <th>7TM<br>all</th>
                        <th>7TM<br>backbone</th>
                        <th>H8</th>
                        <th>ICL1</th>
                        <th>ECL1</th>
                        <th>ICL2</th>
                        <th>ECL2</th>
                        <th class="rightborder">ECL3</th>
                        <th>
                            <div>
                                <div>UniProt</div>
                                <div><button class="icon-button" type="button"><i id="uniprot_copy1" class="glyphicon glyphicon-export uniprot-export1"></i></button></div>
                            </div>
                        </th>
                        <th>IUPHAR</th>
                        <th>Receptor family</th>
                        <th class="rightborder">Cl.</th>
                        <th>
                            <div>
                                <div>PDB</div>
                                <div><button class="icon-button" type="button"><i id="pdb_copy1" class="glyphicon glyphicon-export pdb-export1"></i></button></div>
                            </div>
                        </th>
                        <th>State</th>
                        <th class="rightborder">Degree<br>active (%)</th>
                        <th>Version</th>
                        <th class="rightborder">Note</th>
                        <!-- <th>GN seq.<br>id. (%)<br><i class="glyphicon glyphicon-question-sign gn-seqid"></i></th>
                        <th>GN seq.<br>sim. (%)<br><i class="glyphicon glyphicon-question-sign gn-seqsim"></i></th>
                        <th>
                            <div>
                                <div>UniProt</div>
                                <div><button class="icon-button" type="button"><i id="uniprot_copy2" class="glyphicon glyphicon-export uniprot-export2"></i></button></div>
                            </div>
                        </th>
                        <th>IUPHAR</th>
                        <th>Receptor family</th>
                        <th>Species</th>
                        <th>
                            <div>
                                <div>PDB</div>
                                <div><button class="icon-button" type="button"><i id="pdb_copy2" class="glyphicon glyphicon-export pdb-export2"></i></button></div>
                            </div>
                        </th>
                        <th>State</th>
                        <th>Degree<br>active (%)</th>
                        <th class="rightborder">Resolution</th> -->
                    </tr>
                    <tr>
                        <th class="no-sort checkbox_tr"><input class="select-all" type="checkbox" onclick="select_all(this)"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="rightborder"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="rightborder"></th>
                        <th></th>
                        <th></th>
                        <th class="rightborder"></th>
                        <th></th>
                        <th class="rightborder"></th>
                        <!-- <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="rightborder"></th> -->
                    </tr>
                </thead>
                <tbody>
                {% for smr in structure_model_rmsds.all %}
                    <tr>
                        <!-- RMSD -->
                        <td class="text-center"><input class="alt" type="checkbox" id="{{ smr.pk }}"></td>
                        <td class="text-center color-set1 color-reverse">{{ smr.overall_all }}</td>
                        <td class="text-center color-set1 color-reverse">{{ smr.overall_backbone }}</td>
                        <td class="text-center color-set1 color-reverse">{{ smr.TM_all }}</td>
                        <td class="text-center color-set1 color-reverse">{{ smr.TM_backbone }}</td>
                        <td class="text-center color-set1 color-reverse">
                            {% if smr.H8 %}
                                {{ smr.H8 }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-center color-set1 color-reverse">
                            {% if smr.ICL1 %}
                                {{ smr.ICL1 }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-center color-set1 color-reverse">
                            {% if smr.ECL1 %}
                                {{ smr.ECL1 }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-center color-set1 color-reverse">
                            {% if smr.ICL2 %}
                                {{ smr.ICL2 }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-center color-set1 color-reverse">
                            {% if smr.ECL2 %}
                                {{ smr.ECL2 }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-center color-set1 color-reverse">
                            {% if smr.ECL3 %}
                                {{ smr.ECL3 }}
                            {% else %}
                                -
                            {% endif %}
                        </td>

                        <!-- Receptor -->
                        <td><span><a target="_blank" href="https://www.uniprot.org/uniprot/{{ smr.target_structure.protein_conformation.protein.parent.accession }}">{{ smr.target_structure.protein_conformation.protein.parent.entry_short|safe }}</a></span></td>
                        <td class="uniprot"><a target="_blank" href="/protein/{{ smr.target_structure.protein_conformation.protein.parent.entry_name }}">{{ smr.target_structure.protein_conformation.protein.parent.short|safe }}</a></td>
                        <td class="expand" style="max-width: 80px;"><span>{{ smr.target_structure.protein_conformation.protein.family.parent.short|safe }}</span></td>
                        <td class="expand" style="max-width: 30px;"><span>{{ smr.target_structure.protein_conformation.protein.family.parent.parent.parent.short|safe }}</span></td>

                        <!-- Experimental structure -->
                        <td class="pdb text-left">
                            <a target="_blank" href="{{ smr.target_structure.pdb_code.index}}">{{ smr.target_structure.pdb_code.index}}</a>
                        </td>
                        <td>{{ smr.target_structure.state.name }}</td>
                        <td class="text-center">{{ smr.target_structure.gprot_bound_likeness|floatformat|dashwhenempty }}</td>

                        <!-- Model -->
                        <td>{{ smr.version|date:"Y-m-d" }}</td>
                        <td class="expand">
                            {% if smr.notes %}
                                {{ smr.notes }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <!-- Main template -->
                        <!-- <td class="text-center color-column">{{ smr.seq_id }}</td>
                        <td class="text-center color-column">{{ smr.seq_sim }}</td>
                        <td><span><a target="_blank" href="https://www.uniprot.org/uniprot/{{ smr.main_template.protein_conformation.protein.parent.accession }}">{{ smr.main_template.protein_conformation.protein.parent.entry_short|safe }}</a></span></td>
                        <td class="uniprot"><a target="_blank" href="/protein/{{ smr.main_template.protein_conformation.protein.parent.entry_name }}">{{ smr.main_template.protein_conformation.protein.parent.short|safe }}</a></td>
                        <td class="expand" style="max-width: 80px;"><span>{{ smr.main_template.protein_conformation.protein.family.parent.short|safe }}</span></td>
                        <td>{{ smr.main_template.protein_conformation.protein.species.common_name }}</td>
                        <td class="pdb text-left">
                            <a target="_blank" href="{{ smr.main_template.pdb_code.index}}">{{ smr.main_template.pdb_code.index}}</a>
                        </td>
                        <td>{{ smr.main_template.state.name }}</td>
                        <td class="text-center">{{ smr.main_template.gprot_bound_likeness|floatformat|dashwhenempty }}</td>
                        <td class="text-center color-column">{{ smr.main_template.resolution|floatformat:"1" }}</td> -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
