{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}
<h4>Your structures </h4>
<div class='row-fluid well well-small selection-box'>
    {% if success %}
    PDB structures retrieved successfully.
    {% else %}
    Failed to extract PDB data.
    {% endif %}
</div>
<br />
<hr />
<h4>Structure cleaning options</h4>
<div class='row-fluid well well-small selection-box'>
    <form id="cleanup-form" action="/structure/pdb_download"  method="post" enctype="multipart/form-data"> {% csrf_token %}
        <input checked="checked" id="pref_chain" name="pref_chain" type="radio" value="True" /> Extract the preferred chain only</br>
        <input  id="water" name="water" type="radio" value="True" /> Remove crystalline water</br>
    </form>
</div>

<div>
    <a href="#" class="btn btn-success btn-lg btn-block has-spinner" onclick='document.getElementById("claenup-form").submit()'>
        <span class="spinner"><i class="fa fa-spinner fa-spin icon-download"></i></span> Download structures
    </a>
        <!--<a class="btn btn-small" href="/structure/zipoutput/{{ outfile }}">
            <i class="">Output file<i>
        </a>-->
</div>
<br />
{% endblock %}
