{% extends "home/base.html" %}
{% load static %}

{% block content %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/button_spinner.css' %}" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
<h4>Your structures </h4>
<div class='row-fluid well well-small selection-box'>
    {% if success %}
    PDB structures retrieved successfully.
    {% endif %}
</div>
<br />
<hr />
<h4>Structure cleaning options</h4>
<div class='row-fluid well well-small selection-box'>
    <form id="cleanup-form" action="/structure/pdb_download_index"  method="post" enctype="multipart/form-data"> {% csrf_token %}
        <input checked="checked" id="pref_chain" name="pref_chain" type="checkbox" {% if posted %} disabled="disabled" {% endif %} /> Extract the preferred chain only</br>
        <input  id="water" name="water" type="checkbox" {% if posted %} disabled="disabled" {% endif %} /> Remove crystalline water</br>
        <input id="hets" name="hets" type="checkbox" {% if posted %} disabled="disabled" {% endif %}/> Remove non-ligand heteroatom groups</br>
    </form>
</div>
{% if posted %}
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/structure/pdb_download/full" onclick='document.getElementById("cleanup-form").submit()'>Full proteins</a></li>
            <li><a href="/structure/pdb_download/select" onclick='document.getElementById("cleanup-form").submit()'>Advanced segment selection</a></li>
        </ul>
    </div>
{% else %}
    <div class="col-md-4">
        <a href="#" class="btn btn-success btn-lg btn-block has-spinner" onclick='document.getElementById("cleanup-form").submit()'>
            <span class="spinner"><i class="fa fa-spinner fa-spin icon-download"></i></span> Prepare structures
        </a>
    </div>
{% endif %}
{% endblock %}
