{% extends "home/base.html" %}
{% load staticfiles %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/nv.d3.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/nvd3-update.css' %}" type="text/css" />
{% endblock %}



{% block content %}
<script src="/static/home/js/d3.min.js"></script>
<script src="/static/home/js/nv.d3.min.js"></script>
<script src="/static/home/js/statistics.js"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>


<h4>Structures overview</h4>
<ul>
    <li>{{ all_structures }} total crystal structures.</li>
    <li>{{ unique_structures }} unique crystalized receptors.</li>
    <li>{{ unique_complexes }} unique ligand-receptor complexes.</li>
    <li>{% for class in unique_by_class.items %}{{ class.0 }} : {{ class.1 }} {% endfor %}</li>
</ul>
<br />
<div id="charts" visibility="hidden">
    <?xml version="1.0" standalone="no" ?>
    <svg id="chart_legend" width="450px" height="70px" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="chart_type" id="unique" cx="10" cy="10" r="5" stroke="black" fill="white" stroke-width="2" />
        <text x="20" y="13" font-family="Verdana" font-size="10">The number of unique crystallized receptors available.</text>
        <circle class="chart_type" id="unique_y" cx="10" cy="30" r="5" stroke="black" fill="white" stroke-width="2" />
        <text x="20" y="33" font-family="Verdana" font-size="10">The number of unique receptors CRYSTAL STRUCTURES PUBLISHED each year.</text>
        <circle class="chart_type" id="all" cx="10" cy="50" r="5" stroke="black" fill="white" stroke-width="2" />
        <text x="20" y="53" font-family="Verdana" font-size="10">The number of crystal structures available each year.</text>
    </svg>
    <div id="unique" class="chart_container" style="display: none;">
        <div id="unique_cryst_container"><svg id="unique_cryst" style="width:800px;height:600px;"></svg></div>
        <script>
        data_unique_cryst_container={{ chartdata|safe }};
        </script>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:saveSvgAsPng(document.getElementById('unique_cryst'), 'unique_crystalized_receptors.png',
            {scale: 3});">PNG</a>
                </li>
                <li>
                    <a href="javascript:saveSvgAsJpg(document.getElementById('unique_cryst'), 'unique_crystalized_receptors.jpg',
            {scale: 3});">JPG</a>
                </li>
                <li>
                    <a href="javascript:saveSvgAsTiff(document.getElementById('unique_cryst'), 'unique_crystalized_receptors.tiff',
            {scale: 3});">TIFF</a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="unique_y" class="chart_container" style="display: none;">
        <div id="unique_cryst_year_container"><svg id="unique_cryst_year" style="width:800px;height:600px;"></svg></div>
        <script>
            data_unique_cryst_year_container={{ chartdata_y|safe }};
        </script>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:saveSvgAsPng(document.getElementById('unique_cryst_year'), 'unique_crystalized_receptors_by_year.png',
            {scale: 3});">PNG</a>
                </li>
                <li>
                    <a href="javascript:saveSvgAsJpg(document.getElementById('unique_cryst_year'), 'unique_crystalized_receptors_by_year.jpg',
            {scale: 3});">JPG</a>
                </li>
                <li>
                    <a href="javascript:saveSvgAsTiff(document.getElementById('unique_cryst_year'), 'unique_crystalized_receptors_by_year.tiff',
            {scale: 3});">TIFF</a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="all" class="chart_container" style="display: none;">
        <div id="cryst_year_container"><svg id="data_cryst_year" style="width:800px;height:600px;"></svg></div>
        <script>
            data_cryst_year_container={{ chartdata_all|safe }};
        </script>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:saveSvgAsPng(document.getElementById('data_cryst_year'), 'crystalized_receptors_by_year.png',
            {scale: 3});">PNG</a>
                </li>
                <li>
                    <a href="javascript:saveSvgAsJpg(document.getElementById('data_cryst_year'), 'crystalized_receptors_by_year.jpg',
            {scale: 3});">JPG</a>
                </li>
                <li>
                    <a href="javascript:saveSvgAsTiff(document.getElementById('data_cryst_year'), 'crystalized_receptors_by_year.tiff',
            {scale: 3});">TIFF</a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<br />
<br />
<p>Resolution distribution of the available crystal structures</p>
<script>
    data_reso_container={{ chartdata_reso|safe }};
</script>
<div id="reso_container"><svg id="data_reso" style="width:800px;height:600px;"></svg></div>
<p><div class="btn-group">
    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="javascript:saveSvgAsPng(document.getElementById('data_reso'), 'resolution_coverage.png',
            {scale: 3});">PNG</a>
        </li>
        <li>
            <a href="javascript:saveSvgAsJpg(document.getElementById('data_reso'), 'resolution_coverage.jpg',
            {scale: 3});">JPG</a>
        </li>
        <li>
            <a href="javascript:saveSvgAsTiff(document.getElementById('data_reso'), 'resolution_coverage.tiff',
            {scale: 3});">TIFF</a>
            </a>
        </li>
    </ul>
</div></p>

Structural coverage of GPCR Classes<br />
<div id="phylos">
    {% include "view_phylos.html" %}
</div>

{% endblock %}
