{% load static %}


    <div id="phylo_buttons" class="container" visibility="hidden">
    <?xml version="1.0" standalone="no" ?>
    <svg id="legendSVG" width="950px" height="20px" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="Class_phylo" id="phylo_1" cx="10" cy="10" r="5" stroke="black" fill="white" stroke-width="2" />
        <text x="20" y="13" font-family="Verdana" font-size="10">Class A (Rhodopsin)</text>
        <circle class="Class_phylo" id="phylo_2" cx="160" cy="10" r="5" stroke="black" fill="white" stroke-width="2" />
        <text x="170" y="13" font-family="Verdana" font-size="10">Class B1 (Secretin)</text>
        <circle class="Class_phylo" id="phylo_3" cx="310" cy="10" r="5" stroke="black" fill="white" stroke-width="2" />
        <text x="320" y="13" font-family="Verdana" font-size="10">Class B2 (Adhesion)</text>
        <circle class="Class_phylo" id="phylo_4" cx="460" cy="10" r="5" stroke="black" fill="white" stroke-width="2" />
        <text x="470" y="13" font-family="Verdana" font-size="10">Class C (Glutamate)</text>
        <circle class="Class_phylo" id="phylo_5" cx="610" cy="10" r="5" stroke="black" fill="white" stroke-width="2" />
        <text x="620" y="13" font-family="Verdana" font-size="10">Class F (Frizzled)</text>
        <circle class="Class_phylo" id="phylo_6" cx="760" cy="10" r="5" stroke="black" fill="white" stroke-width="2" />
        <text x="770" y="13" font-family="Verdana" font-size="10">Other</text>
    </svg>
</div>
<div id="phylos_div">{% include 'phylogenetic_trees.html' %}</div>
    <div id="phylo_1" class="container" style="display: none;">Crystallised receptors are shown with blue background<br /><div id="svg1"></div>
    </div><div id="phylo_2" class="container" style="display: none;">
        Crystallised receptors are shown with blue background<br /><div id="svg2"></div><!--<object data="{% static 'home/images/Class_B1_crystallized.svg' %}" type="image/svg+xml"></object>-->
    </div><div id="phylo_3" class="container" style="display: none;">
        Crystallised receptors are shown with blue background<br /><div id="svg3"></div><!--<object data="{% static 'home/images/Class_B2_crystallized.svg' %}" type="image/svg+xml"></object>-->
    </div><div id="phylo_4" class="container" style="display: none;">
        Crystallised receptors are shown with blue background<br /><div id="svg4"></div><!--<object data="{% static 'home/images/Class_C_crystallized.svg' %}" type="image/svg+xml"></object>-->
    </div><div id="phylo_5" class="container" style="display: none;">
        Crystallised receptors are shown with blue background<br /><div id="svg5"></div><!--<object data="{% static 'home/images/Class_F_crystallized.svg' %}" type="image/svg+xml"></object>-->
    </div><div id="phylo_6" class="container" style="display: none;">
        Crystallised receptors are shown with blue background<br /><div id="svg6"></div><!--<object data="{% static 'home/images/Other_crystallized.svg' %}" type="image/svg+xml"></object>-->
    </div>
