{% extends "home/base.html" %}
{% load static %}

{% block addon_css %}
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.yadcf.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
    <link href="{% static 'home/css/construct_alignment.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
        <style type="text/css">
        .select2-result-label{
            font-size:x-small;
            font-size: 10px;
        }

        td { 
             white-space: nowrap;
         }

        thead .cus_sorting {
            background-image: url(/static/home/images/sort_both.png);
            background-repeat: no-repeat;
            background-position: center right;
            cursor: pointer;
        }

        thead .cus_sorting_asc {
            background-image: url(/static/home/images/sort_asc.png);
            background-repeat: no-repeat;
            background-position: center right;
            cursor: pointer;
        }

        thead .cus_sorting_desc {
            background-image: url(/static/home/images/sort_desc.png);
            background-repeat: no-repeat;
            background-position: center right;
            cursor: pointer;
        }

        .glyphbutton > span.glyphicon {
          font-size: 20px;
          line-height: 0px;
          vertical-align: middle;
          /* counteract default bootstrap setting */
          top: 0px;
          /* counteract button padding */
          margin: 0 0px;
        }

        #filters{
/*            float:left;
          display:none;
          position:absolute; */
/*          background:white; 
          border: 1px solid #D1C9C2; 
          border-top: 1; /**/
/*          width: 400px; 
          margin: 0 auto; 
          
          text-align: left; 
          -webkit-border-bottom-right-radius: 6px; 
          -webkit-border-bottom-left-radius: 6px; 
          -moz-border-radius-bottomright: 6px; 
          -moz-border-radius-bottomleft: 6px; 
          border-bottom-right-radius: 6px; 
          border-bottom-left-radius: 6px;
          z-index: 1;*/
            font-size: 10px;
            padding:  7px 15px; 
        }
        #datatable {
        width: 100% !Important;
        }

        .ali-scroll-div, .ali-main-div
        {
            width: 890px;
        }
        @media (min-width: 1600px){
            #content {
                width: 1200px;
            }
        }
        @media (min-width: 1800px){
            #content {
                width: 1770px;
            }
            .ali-scroll-div, .ali-main-div
            {
                width: 1400px;
            }
        }
    </style>
{% endblock %}

{% block addon_js %}
    <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/selection.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
    <script src="{% static 'home/js/select2.js' %}"> </script>
    <script src="{% static 'home/js/jquery.tablesorter.js' %}"></script> 


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            // 'use strict';

            $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {
                    var pdb = data[0]  || 0; // use data for the age column
                    // console.log(pdb);
                    
                    return true;
                }
            );

            // var oTable;
            var oTable = $('#constructs').DataTable({
                scrollX: true,
                // 'paging': true,
                'autoWidth': true,
                // "bFilter": false,
                

                scrollY:        '80vh',
                scrollCollapse: true,
                paging:         false
            });

                // scrollX: true,
                // searching: false,
                // scrollY:        '80vh',
                // scrollCollapse: true,
                // paging:         false



            var prev_ids = Array()
            var current_align_ids = Array()

            $("#constructs_div").show();
            // assign_to_row();


            yadcf.init(oTable,
                [
                    {
                        column_number : 2,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        column_data_type: "html",
                        html_data_type: "text",
                        filter_default_label: "Receptor",
                        filter_container_id: "external_filter_container1",
                        filter_reset_button_text: false,
                    }, 
                    {
                        column_number: 4,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        column_data_type: "html",
                        html_data_type: "text",
                        filter_default_label: "Rec.Family",
                        filter_container_id: "external_filter_container2",
                        filter_reset_button_text: false,
                    },
                    {
                        column_number: 5,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Class",
                        filter_container_id: "external_filter_container3",
                        filter_reset_button_text: false,
                    }, 
                    // {
                    //     column_number : 5,
                    //     filter_type: "multi_select",
                    //     select_type: 'select2',
                    //     filter_default_label: "Species",
                    //     filter_container_id: "external_filter_container4"
                    // },
                ],
                {
                    cumulative_filtering: false
                }
            );

            yadcf.exResetAllFilters(oTable);

            $("#constructs_div").hide();
            $("#loading_div").hide();
            update_tables('c');
            $("#constructs_schematics_div").show();
            set_scroll_divs("#constructs_schematics_div");

            // $.datepicker.regional[""].dateFormat = "yy-mm-dd";
            // $.datepicker.setDefaults($.datepicker.regional['']);

            $('.alt').change(function () {
                $(this).parent().parent().toggleClass('alt_selected');
            });

            $('.select-all').change(function () {
                $('.alt').prop('checked', $(this).prop("checked"));
                $('.alt').parent().parent().toggleClass('alt_selected');
            });

            $("#remove_sel").click(function () { 
                var oTable = $('#constructs').dataTable();
                $('input:checkbox:checked').each(function () {
                    if ( $(this).is(':visible') ) {
                       id = $(this).attr('id');

                       if (id) {
                           oTable.fnDeleteRow("#"+id, null, false);
                       }
                    }
                });
               oTable.fnDraw();
               update_tables('both');
               update_tables('both');
            });

            $("#remove_non_sel").click(function () { 
                var oTable = $('#constructs').dataTable();
                $('input:checkbox:not(:checked)').each(function () {
                    if ( $(this).is(':visible') ) {
                       id = $(this).attr('id');
                       if (id) {
                           oTable.fnDeleteRow("#"+id, null, false);
                       }
                   }
                });
                oTable.fnDraw();
                update_tables('both');
               update_tables('both');

            });

            function update_tables(tables) {
                if (typeof(tables)==='undefined') tables = "both";
                // console.log('update_tables '+tables);
                // $('#wt_schematics > tbody  > tr').each(function() {
                //     $(this).hide();
                // });
                // $('#constructs_schematics > tbody  > tr').hide();
                //     $(this).hide();
                // });
                if (tables=="both" || tables=="wt") {$('#wt_schematics > tbody  > tr').hide();}
                if (tables=="both" || tables=="wt") {$('#wt_schematics_main > tbody  > tr').hide();}
                if (tables=="both" || tables=="c") {$('#constructs_schematics > tbody  > tr').hide();}
                if (tables=="both" || tables=="c") {$('#constructs_schematics_main > tbody  > tr').hide();}
                i = 0;
                ids = Array();
                $('#constructs > tbody  > tr').each(function() {
                    id = $(this).attr('id');
                    // console.log(id);
                    ids.push(id);
                    if (tables=="both" || tables=="c") {
                        $("#con_sche_"+id).show();
                        $("#con_sche_"+id).find('td:eq(1)').attr('data-text',i);
                        $("#con_sche2_"+id).show();
                        $("#con_sche2_"+id).find('td:eq(0)').attr('data-text',i);
                    }
                    if (tables=="both" || tables=="wt") {
                        $("#wt_sche_"+id).show();
                        $("#wt_sche_"+id).find('td:eq(1)').attr('data-text',i);
                        $("#wt_sche2_"+id).show();
                        $("#wt_sche2_"+id).find('td:eq(0)').attr('data-text',i);
                    }
                    i++;
                });


                // if (JSON.stringify(ids)!=JSON.stringify(prev_ids)) {
                //     console.log("new ids!");
                    // header_height = $("#constructs_div").find("thead").innerHeight();
                    // console.log('height',header_height);
                    // if (header_height>0) {
                    //     $(".spacer").height(header_height);
                    // }
                    // $(".spacer").height(15); // 25 px blank, then 35 row
                    // 
                    // $("#constructs_schematics").trigger("destroy");
                    
                    
                // }
                if (tables=="both" || tables=="wt") {
                    if (JSON.stringify(ids)!=JSON.stringify(prev_ids['wt'])) {
                        $("#wt_schematics").trigger("destroy"); 
                        $('#wt_schematics thead th').addClass('sorter-false'); 
                        $("#wt_schematics").tablesorter( {sortList: [[1,0]],textExtraction: 'basic'} );
                        $("#wt_schematics_main").trigger("destroy"); 
                        $('#wt_schematics_main thead th').addClass('sorter-false'); 
                        $("#wt_schematics_main").tablesorter( {sortList: [[0,0]],textExtraction: 'basic'} ); }
                        prev_ids['wt'] = ids;
                }
                if (tables=="both" || tables=="c") {
                    if (JSON.stringify(ids)!=JSON.stringify(prev_ids['c'])) {
                        $("#constructs_schematics").trigger("destroy"); 
                        $('#constructs_schematics thead th').addClass('sorter-false'); 
                        $("#constructs_schematics").tablesorter( {
                            sortList: [[1,0]],
                            textExtraction: 'basic', 
                        }
                        ); 
                        $("#constructs_schematics_main").trigger("destroy"); 
                        $('#constructs_schematics_main thead th').addClass('sorter-false'); 
                        $("#constructs_schematics_main").tablesorter( {
                            sortList: [[0,0]],
                            textExtraction: 'basic', 
                        }
                        );
                        }
                    prev_ids['c'] = ids;
                }
            };

            $('#show_browser').click(function() {
                if ($("#constructs_div").is(':hidden')) {
                    $("#loading_div").show();
                    $("#wt_schematics_div").hide();
                    $("#constructs_schematics_div").hide();
                    $("#constructs_div").show();
                    $("#align_div").hide();
                    // var oTable = $('#constructs').dataTable();
                    // oTable.fnDraw();
                    $("#loading_div").hide();
                    oTable.columns.adjust().draw();
                }
            });

            $('#show_wt').click(function() {
                if ($("#wt_schematics_div").is(':hidden')) {
                    $("#align_div").hide();
                    $("#constructs_schematics_div").hide();
                    $("#constructs_div").hide();
                    update_tables('wt');
                    update_tables('wt');
                    $("#wt_schematics_div").show();
                    set_scroll_divs("#wt_schematics_div");
                }
            });

            $('#show_construct').click(function() {
                if ($("#constructs_schematics_div").is(':hidden')) {
                    $("#wt_schematics_div").hide();
                    $("#align_div").hide();
                    $("#constructs_div").hide();   
                    update_tables('c');
                    update_tables('c');
                    $("#constructs_schematics_div").show();
                    set_scroll_divs("#constructs_schematics_div"); 
                }
            });

            var cus_sort = "asc";
            $('.receptor_sorting').click(function() {
                var oTable = $('#constructs').DataTable();
                
                if (cus_sort == "asc") {
                    cus_sort = "desc";
                    $('.receptor_sorting').removeClass("cus_sorting");
                    $('.receptor_sorting').removeClass("cus_sorting_asc");
                    $('.receptor_sorting').addClass("cus_sorting_desc");
                } else {
                    cus_sort = "asc";
                    $('.receptor_sorting').removeClass("cus_sorting");
                    $('.receptor_sorting').removeClass("cus_sorting_desc");
                    $('.receptor_sorting').addClass("cus_sorting_asc");
                }
                // Sort by column 1 and then re-draw
                oTable
                    .order( [ 2, cus_sort ] )
                    .draw();

               // oTable.fnDraw();
               update_tables('both');
               update_tables('both');
            })

            $('#apply_filter').click(function() {
                pdbs = $('#filter_pdb').val().toUpperCase();
                pdbs = pdbs.split(/[ ,]+/);
                pdbs = pdbs.join("|");
                oTable.search(pdbs,true,false).draw();

                update_tables("both");
                //$("#filters").toggle();
            });

            $("#OpenFilters").click(function () {
                $("#filters").toggle();
            });

            $("#align").click(function () {
                $("#loading_div").show();

                ids = Array()

                // $('input:checkbox:not(:checked)').each(function () {
                $('input:checkbox:checked').each(function () {
                    if ( $(this).is(':visible') ) {
                       id = $(this).attr('id');
                       if (id) { ids.push(id); }
                    }
                });

                if (JSON.stringify(ids)!=JSON.stringify(current_align_ids)) {
                    current_align_ids = ids
                    var url = '/construct/align'; 
                    var posting = $.post( url, { ids: JSON.stringify(current_align_ids)  } );

                      // Put the results in a div
                      posting.done(function( data ) {
                        $("#wt_schematics_div").hide();
                        $("#constructs_schematics_div").hide();
                        $("#constructs_div").hide();
                        $("#align_div").html('').append(data)
                        $("#align_div").show();
                        $(function () {
                            $('[data-toggle="tooltip"]').tooltip()
                        })
                        $(function(){
                            $('.ali-scroll-div').scroll(function(){
                                $('.ali-main-div')
                                    .scrollLeft($('.ali-scroll-div').scrollLeft());
                            });
                            $('.ali-main-div').scroll(function(){
                                $('.ali-scroll-div')
                                    .scrollLeft($('.ali-main-div').scrollLeft());
                            });
                        });
                        $(function () {
                            $('.internal-scroll-div').css('width', $('.dynamic-div').outerWidth() );
                        });
                      });
                  }
                  else {
                    $("#wt_schematics_div").hide();
                    $("#constructs_schematics_div").hide();
                    $("#constructs_div").hide();
                    $("#align_div").show();
                  }
                $("#loading_div").hide();
            });

            $('.slider').slider({
              min: 30,
              max: 200,
              value: 70,
              change: function( event, ui ) {
                console.log(ui.value);
                $(".schematic-block").width(ui.value);
              }
            });

            $('[data-toggle="tooltip"]').tooltip({ container: 'body' })
            $('.table_tooltip').tooltip({ container: 'body', html: true, placement: "top"})

            $('input:checkbox').change(function() {
                console.log('checkbox checked!');
                id = $(this).attr('id');
                if($(this).is(":checked")) {
                   $("#constructs #"+id).prop('checked', true);
                   $("#wt_schematics #"+id).prop('checked', true);
                   $("#constructs_schematics_div #"+id).prop('checked', true);
                } else {
                   $("#constructs #"+id).prop('checked', false);
                   $("#wt_schematics #"+id).prop('checked', false);
                   $("#constructs_schematics_div #"+id).prop('checked', false);
                }    
                console.log('checkbox checked done!');
            });

        });

        function select_all(e) {
            var checkedStatus = $(e).prop("checked");

            $('.select-all  ').each(function () {
                    $(this).prop('checked', checkedStatus);
            });

            $('.alt').each(function () {
                    $(this).prop('checked', checkedStatus);
            });
        };

        function assign_to_row(){
          $('tbody tr').click(function(event) {
            if (event.target.type !== 'checkbox') {
              $(':checkbox', this).trigger('click');
            }
          });
        }

        function realign() {

            ids = JSON.parse($("#c_ids").val());

            // $('input:checkbox:not(:checked)').each(function () {
            $('input:checkbox:checked').each(function () {
                if ( $(this).is(':visible') ) {
                   id = $(this).attr('value');
                   if (id) { ids.push(id); }
                }
            });

            console.log(ids);

            current_align_ids = ids
            var url = '/construct/align'; 
            var posting = $.post( url, { ids: JSON.stringify(current_align_ids)  } );
              posting.done(function( data ) {
                $("#align_div").html('').append(data)
                set_scroll_divs("#align_div");
              });
        };

        function set_scroll_divs(div_name) {
                $(function () {$('[data-toggle="tooltip"]').tooltip()})

                $(function(){
                    $('.ali-scroll-div').scroll(function(){
                        $( div_name ).find(".ali-main-div")
                            .scrollLeft($( div_name ).find( ".ali-scroll-div" ).scrollLeft());
                    });
                    $( div_name ).find( ".ali-main-div" ).scroll(function(){
                        $( div_name ).find(".ali-scroll-div")
                            .scrollLeft( $( div_name ).find( ".ali-main-div" ).scrollLeft());
                        $( div_name ).find(".ali-first-col-div")
                            .scrollTop( $( div_name ).find( ".ali-main-div" ).scrollTop());
                    });
                });

                $(function () {$( div_name ).find(".internal-scroll-div").css('width', $( div_name ).find(".dynamic-div").outerWidth() );});
        }
    </script> 
{% endblock %}

{% block content %}

    <div class="row">

        <div class="btn-group">
        <button class="btn btn-primary btn-group" id='show_browser'>Browser</button>
        <button class="btn btn-primary btn-group" id='show_wt'>WT schematic</button>
        <button class="btn btn-primary btn-group" id='show_construct'>Construct schematic</button>
        </div>

        <div class="dropdown btn-group">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sequence
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#" id="align">Align selected</a></li>
              </ul>
        </div>
        <div id='filters' style="display: inline-block;">
        Filter:
        <div style='width: 90px;display: inline-block;'><span  style='width: 80px;display: inline-block;' id="external_filter_container1"></span></div>
        <div style='width: 90px;display: inline-block;'><span  style='width: 80px;display: inline-block;' id="external_filter_container2"></span></div>
        <div style='width: 90px;display: inline-block;'><span  style='width: 80px;display: inline-block;' id="external_filter_container3"></span></div>
    <!--     <div style='width: 100px;display: inline-block;'><span  style='width: 80px;display: inline-block;' id="external_filter_container0"></span></div> -->
        {# <div style='width: 105px;display: inline-block;'><span  style='width: 80px;display: inline-block;' id="external_filter_container4"></span></div> #}
    <!--     <div style='width: 140px;display: inline-block;'><span id="external_filter_container5"></span></div> -->

        <input type=text id='filter_pdb' placeholder="PDB(s)" class="form-control" size=20>
        <button id='apply_filter' type="button" class="btn  btn-sm btn-primary glyphbutton">Filter <span class="glyphicon glyphicon-filter"></span></button>
            <div class="dropdown btn-group">
                  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Selection options
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Toggle all <input class="select-all" type="checkbox" onclick="select_all(this)"></a></li>
                    <li><a href="#" id="remove_sel">Remove Selected</a></li>
                    <li><a href="#" id="remove_non_sel">Remove Non-selected</a></li>
                  </ul>
            </div>
        </div>
    </div>
    <div style="padding-top: 0px; font-size: 15px; white-space: nowrap;" id="loading_div">
    <br>Loading...
    </div>
    <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;" id="constructs_div">
        <table width="100%" class="display compact" id="constructs" style='margin: 0;width: 100%;'>
            <thead>
                    <tr style='max-height: 20px'>
                    <th class="protein-th" colspan=1></th>
                    <th class="protein-th" colspan=6>Construct</th>
                    <th class="parts4-th" colspan=1>Crystallization</th>
                    <th class="seq-th" colspan=4>Sequence modifications</th>
                    <th class="pdb-th" colspan=2></th>
                    <th class="pub-th" colspan=2></th>
                </tr>
                <tr>
                    <th class="protein-th"><input class="select-all" type="checkbox" onclick="select_all(this)"></th>
                    <th class="protein-th">PDB</th>
                    <th class="protein-th">UniProt</th>
                    <th class="protein-th">Receptor</th>
                    <th class="protein-th">Rec. Family</th>
                    <th class="protein-th">Class</th>
                    <th class="protein-th">Species</th>
                    <th class="parts4-th">Method</th>
                    <th class="seq-th">Mutations</th>
                    <th class='seq-th'>Deletions</th>
                    <th class="seq-th">Modifications</th>
                    <th class='seq-th'>Insertions</th>
                    <th class="pdb-th">PDB</th>
                    <th class="pdb-th">Resolution</th>
                    <th class="pub-th">Reference</th>
                    <th class="pub-th">Date</th>
                </tr>

            </thead>
            <tbody>
            {% for construct in constructs %}
                    <tr id="{{ construct.pk }}">
                    <td class="text-center"><input class="alt" type="checkbox" id="{{ construct.pk }}" cname="{{ construct.name|safe}}"></td>
                    <td><a href="{{ construct.name|safe}}">{{ construct.name|safe }}</a></td>
                    <td><span>{{ construct.protein.entry_short|safe }}</span></td>
                    <td><span>{{ construct.protein.short|safe }}</span></td>
                    <td><span>{{ construct.protein.family.parent.short|safe }}</span></td>
                    <td>{{ construct.protein.family.parent.parent.parent.short }}</td>
                    <td>{{ construct.protein.species.common_name }}</td>
                    {% if construct.crystallization %}
                    <td>{{ construct.crystallization.crystal_method.name}}</td>
                    {% else %}
                    <td colspan=1> N/A</td>
                    {% endif %}
                    <td class="text-center"><a class='table_tooltip' href="#" data-original-title="{{ construct.schematics.summary.mutations }}"> {{ construct.mutations.count }}</a></td>
                    <td class="text-center"><a class='table_tooltip' href="#" data-original-title="{{ construct.schematics.summary.deletions }}"> {{ construct.deletions.count }}</a></td>
                    <td class="text-center"><a class='table_tooltip' href="#" data-original-title="{{ construct.schematics.summary.modifications }}"> {{ construct.modifications.count }}</a></td>
                    <td class="text-center"><a class='table_tooltip' href="#" data-original-title="{{ construct.schematics.summary.insertions }}"> {{ construct.insertions.count }}</a></td>
                    <td class="text-center"><a href="{{ construct.crystal.pdb_code}}">{{ construct.crystal.pdb_code}}
                    </a></td>
                    <td class="text-center">{{ construct.crystal.resolution|floatformat:"1" }}</td>
                    <!-- 
                    <td>{{ construct.contributor.pi_name|safe }}</td>
                    <td>{{ construct.contributor.date|safe }}</td> -->
                    <td>
                        <a href="{{ structure.publication.web_link }}">
                        {{ construct.structure.publication.web_link.index }}
                        </a>
                    </td>
                    <td>{{ construct.structure.publication_date|date:"Y-m-d" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<!-- <div style='height:80vh;overflow-y: scroll;overflow-x: scroll;font-size: 10px;border-bottom: 1px solid #111;' id="wt_schematics_div"> -->
<div style='font-size: 10px;' id="wt_schematics_div">

        <table>
            <tr>
                <!-- static column -->
                <td valign="top">
                    <div class="ali-first-scroll-div"></div>
                    <div class="ali-first-col-div" style="height:80vh;overflow-y: hidden;">
                        <table id="wt_schematics">
                            <!-- segment line -->
                            
                            <!-- numbering scheme lines -->
                            <thead>
                            <tr height='49px'>
                                <th class="ali-td ali-td-first-col protein-th"><input class="select-all" type="checkbox" onclick="select_all(this)"></th>
                                <th class="ali-td ali-td-first-col protein-th">PDB</th>
                                <th class="ali-td ali-td-first-col protein-th receptor_sorting cus_sorting">UniProt</th>
                                <th class="ali-td ali-td-first-col protein-th receptor_sorting cus_sorting">Receptor</th>
                            </tr>
                            </thead>

                            <!-- protein names -->
                            <tbody style='border-top: 1px solid #111;'>
                            {% for construct in constructs %}
                            <tr style='height: 32px' id="wt_sche_{{ construct.pk }}">
                                    <td style='padding: 8px 10px;min-width: 35px;text-align: center' ><input class="alt" type="checkbox" id="{{ construct.pk }}" cname="{{ construct.name|safe}}"></td>
                                    <td style='padding: 8px 10px;'><a href="{{ construct.name|safe}}">{{ construct.name|safe }}</a></td>
                                    <td style='padding: 8px 10px;'>{{ construct.protein.entry_short|safe }}</td>
                                    <td style='padding: 8px 10px;'>{{ construct.protein.short|safe }}</td>
                            </tr>       
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>
                <!-- scrollable column -->
                <td>
                    <div class="ali-scroll-div">
                        <div class="internal-scroll-div">
                            &nbsp;
                        </div>
                    </div>
                    <div class="ali-main-div" style="height:80vh;overflow-y: scroll;">
                        <div class="dynamic-div">
                            <table id="wt_schematics_main">
                                <thead>
                                <tr>
                                    
                                <th class="protein-th">N-term<br><input class="alt_seg" type="checkbox" id="align_N-term"></th>
                                <th class="protein-th">TM1<br><input class="alt_seg" type="checkbox" id="align_TM1"></th>
                                <th class="pdb-th">ICL1<br><input class="alt_seg" type="checkbox" id="align_ICL1"></th>
                                <th class="pdb-th">TM2<br><input class="alt_seg" type="checkbox" id="align_TM2"></th>
                                <th class="pdb-th">ECL1<br><input class="alt_seg" type="checkbox" id="align_ECL1"></th>
                                <th class='pdb-th'>TM3<br><input class="alt_seg" type="checkbox" id="align_TM3"></th>
                                <th class="pdb-th">ICL2<br><input class="alt_seg" type="checkbox" id="align_ICL2"></th>
                                <th class='pdb-th'>TM4<br><input class="alt_seg" type="checkbox" id="align_TM4"></th>
                                <th class="parts-th">ECL2<br><input class="alt_seg" type="checkbox" id="align_ECL2"></th>
                                <th class="parts-th">TM5<br><input class="alt_seg" type="checkbox" id="align_TM5"></th>
                                <th class="parts-th">ICL3<br><input class="alt_seg" type="checkbox" id="align_ICL3"></th>
                                <th class="parts-th">TM6<br><input class="alt_seg" type="checkbox" id="align_TM6"></th>
                                <th class="pub-th">ECL3<br><input class="alt_seg" type="checkbox" id="align_ECL3"></th>
                                <th class="pub-th">TM7<br><input class="alt_seg" type="checkbox" id="align_TM7"></th>
                                <th class="pub-th">H8<br><input class="alt_seg" type="checkbox" id="align_H8"></th>
                                <th class="pub-th">C-term<br><input class="alt_seg" type="checkbox" id="align_C-term"></th>

                                </tr>
                                </thead>
                                
                                <tbody style='border-top: 1px solid #111;'>
                                {% for construct in constructs %}
                                <tr style='height: 32px' id="wt_sche2_{{ construct.pk }}">
                                    {{construct.wt_schematic|safe}}
                                </tr>
                                {% endfor %}
                                </tbody>
                                
                            </table>
                        </div>
                    </div>

                </td>
            </tr>
        </table>
</div>
        <!-- <div style='height:80vh;overflow-y: scroll;overflow-x: scroll;font-size: 10px;border-bottom: 1px solid #111;' id="constructs_schematics_div"> -->
        <div style='font-size: 10px;' id="constructs_schematics_div">

        <table>
            <tr>
                <!-- static column -->
                <td valign="top">
                    <div class="ali-first-scroll-div"></div>
                    <div class="ali-first-col-div" style="height:80vh;overflow-y: hidden;">
                        <table id="constructs_schematics">
                            <!-- segment line -->
                            
                            <!-- numbering scheme lines -->
                            <thead>
                            <tr height='49px'>
                                <th class="ali-td ali-td-first-col protein-th"><input class="select-all" type="checkbox" onclick="select_all(this)"></th>
                                <th class="ali-td ali-td-first-col protein-th">PDB</th>
                                <th class="ali-td ali-td-first-col protein-th receptor_sorting cus_sorting">UniProt</th>
                                <th class="ali-td ali-td-first-col protein-th receptor_sorting cus_sorting">Receptor</th>
                            </tr>
                            </thead>

                            <!-- protein names -->
                            <tbody style='border-top: 1px solid #111;'>
                            {% for construct in constructs %}
                            <tr style='height: 32px' id="con_sche_{{ construct.pk }}">
                                    <td style='padding: 8px 10px;min-width: 35px;text-align: center' ><input class="alt" type="checkbox" id="{{ construct.pk }}" cname="{{ construct.name|safe}}"></td>
                                    <td style='padding: 8px 10px;'><a href="{{ construct.name|safe}}">{{ construct.name|safe }}</a></td>
                                    <td style='padding: 8px 10px;'>{{ construct.protein.entry_short|safe }}</td>
                                    <td style='padding: 8px 10px;'>{{ construct.protein.short|safe }}</td>
                            </tr>       
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>
                <!-- scrollable column -->
                <td>
                    <div class="ali-scroll-div">
                        <div class="internal-scroll-div">
                            &nbsp;
                        </div>
                    </div>
                    <div class="ali-main-div" style="height:80vh;overflow-y: scroll;">
                        <div class="dynamic-div">
                            <table id="constructs_schematics_main">
                                <thead>
                                <tr>
                                    <th class="protein-th">N-inserts<br><input class="alt_seg" type="checkbox" id="align_xx"></th>
                                    <th class="protein-th">N-term<br><input class="alt_seg" type="checkbox" id="align_xx"></th>
                                    <th class="protein-th">TM1<br><input class="alt_seg" type="checkbox" id="align_TM1"></th>
                                    <th class="pdb-th">ICL1<br><input class="alt_seg" type="checkbox" id="align_ICL1"></th>
                                    <th class="pdb-th">TM2<br><input class="alt_seg" type="checkbox" id="align_TM2"></th>
                                    <th class="pdb-th">ECL1<br><input class="alt_seg" type="checkbox" id="align_ECL1"></th>
                                    <th class='pdb-th'>TM3<br><input class="alt_seg" type="checkbox" id="align_TM3"></th>
                                    <th class="pdb-th" colspan=3>ICL2<br><input class="alt_seg" type="checkbox" id="align_ICL2"></th>
                                    <th class='pdb-th'>TM4<br><input class="alt_seg" type="checkbox" id="align_TM4"></th>
                                    <th class="parts-th">ECL2<br><input class="alt_seg" type="checkbox" id="align_ECL2"></th>
                                    <th class="parts-th">TM5<br><input class="alt_seg" type="checkbox" id="align_TM5"></th>
                                    <th class="parts-th" colspan=3>ICL3<br><input class="alt_seg" type="checkbox" id="align_ICL3"></th>
                                    <th class="parts-th">TM6<br><input class="alt_seg" type="checkbox" id="align_TM6"></th>
                                    <th class="pub-th">ECL3<br><input class="alt_seg" type="checkbox" id="align_ECL3"></th>
                                    <th class="pub-th">TM7<br><input class="alt_seg" type="checkbox" id="align_TM7"></th>
                                    <th class="pub-th">ICL4<br><input class="alt_seg" type="checkbox" id="align_ICL4"></th>
                                    <th class="pub-th">C-term<br><input class="alt_seg" type="checkbox" id="align_C-term"></th>
                                    <th class="pub-th" style="white-space: nowrap;">C-inserts<br><input class="alt_seg" type="checkbox" id="align_C-term"></th>
                                </tr>
                                </thead>
                                
                                <tbody style='border-top: 1px solid #111;'>
                                {% for construct in constructs %}
                                <tr style='height: 32px' id="con_sche2_{{ construct.pk }}">
                                    {{construct.cons_schematic|safe}}
                                </tr>
                                {% endfor %}
                                </tbody>
                                
                            </table>
                        </div>
                    </div>

                </td>
            </tr>
        </table>

</div>


<div style="padding-top: 0px; white-space: nowrap;" id="align_div">
</div>
{% endblock %}