{% extends "home/base.html" %}
{% load static %}
{% load filters %}

{% block addon_css %}
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
    <link href="{% static 'home/css/construct_alignment.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
        <style type="text/css">
        .select2-result-label{
            font-size:x-small;
            font-size: 10px;
        }

        #filters{

            font-size: 10px;
            padding:  7px 15px;
        }

        @media (min-width: 1600px){
            #content {
                width: 1570px;
            }
        }
        @media (min-width: 1800px){
            #content {
                width: 1770px;
            }
        }

        table.dataTable.compact thead th.over_header {
            border-right: 1px solid;
            border-left: 0px solid;
            text-align: center;
            padding: 4px 4px 4px 4px;
        }

        table.dataTable.compact thead tr.over_header th {
            border-bottom: 1px solid #ccc;
        }

        table.dataTable.compact thead th.leftborder {
            border-left: 1px solid;
        }

        table.dataTable.compact thead th.rightborder {
            border-right: 1px solid;
        }

        table.dataTable.compact thead th.checkbox_tr {
            text-align: left;
            padding: 4px 4px 4px 4px;
        }

        table.dataTable.compact thead th {
            padding: 4px 16px 4px 2px;
        }
        .yadcf-filter-wrapper {
            margin-top: 0px;
        }
        input.yadcf-filter  {
            width: 100px;
            font-family: sans-serif;
            font-size: 100%;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block addon_js %}
    <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
    <script src="{% static 'home/js/select2.js' %}"> </script>


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            // 'use strict';

            // var oTable;
            var oTable = $('#constructs').DataTable({
                scrollY:        "80vh",
                scrollX:        true,
                scrollCollapse: true,
                paging:         false,
                "order": [],
                  columnDefs: [
                    { targets: 'no-sort', orderable: false }

                  ],
                // fixedColumns:   {
                //     leftColumns: 4,
                // }
            });

            var prev_ids = Array()
            var current_align_ids = Array()

            // console.log(oTable);
            $("#constructs_div").show();
            assign_to_row();
            $("#loading_div").hide();


            yadcf.init(oTable,
                [
                    {
                        column_number : 2,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        column_data_type: "html",
                        html_data_type: "text",
                        filter_default_label: "UniProt",
                        filter_match_mode : "exact",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '60px',
                        }
                    },
                    {
                        column_number : 3,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        column_data_type: "html",
                        html_data_type: "text",
                        filter_default_label: "Receptor",
                        filter_match_mode : "exact",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '80px',
                        }
                    },
                    {
                        column_number: 4,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        column_data_type: "html",
                        html_data_type: "text",
                        filter_default_label: "Rec. family",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number: 5,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Class",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 6,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Species",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 7,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Method",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 8,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Host cell",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 9,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Host cell type",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 10,
                        filter_type: "text",
                        select_type: 'select2',
                        filter_default_label: "Solubilization",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '50px',
                        }
                    },
                    {
                        column_number : 11,
                        filter_type: "text",
                        select_type: 'select2',
                        filter_default_label: "Purification",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '50px',
                        }
                    },
                    {
                        column_number : 12,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Method",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 13,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Type",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 14,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Additional",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '100px',
                        }
                    },
                    {
                        column_number : 15,
                        filter_type: "text",
                        select_type: 'select2',
                        filter_default_label: "Components",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '50px',
                        }
                    },
                    // {
                    //     column_number : 16,
                    //     filter_type: "range_number",
                    //     filter_default_label: "Ph",
                    //     filter_reset_button_text: false,
                    // },
                    // {
                    //     column_number : 17,
                    //     filter_type: "range_number",
                    //     filter_default_label: "Temp",
                    //     filter_reset_button_text: false,
                    // },
                    {
                        column_number : 18,
                        filter_type: "text",
                        select_type: 'select2',
                        filter_default_label: "Ligand",
                        filter_reset_button_text: false,
                        select_type_options: {
                            width: '50px',
                        }
                    },
                    {
                        column_number : 19,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "Ligand Function",
                        filter_reset_button_text: false,
                    },
                    {
                        column_number : 21,
                        filter_type: "multi_select",
                        select_type: 'select2',
                        filter_default_label: "State",
                        filter_reset_button_text: false,
                    },
                ],
                {
                    cumulative_filtering: false
                }
            );

            yadcf.exResetAllFilters(oTable);

            // $.datepicker.regional[""].dateFormat = "yy-mm-dd";
            // $.datepicker.setDefaults($.datepicker.regional['']);

            $('.alt').change(function () {
                $(this).parent().parent().toggleClass('alt_selected');
            });

            $('.select-all').change(function () {
                $('.alt').prop('checked', $(this).prop("checked"));
                $('.alt').parent().parent().toggleClass('alt_selected');
            });

            $("#remove_sel").click(function () {
                var oTable = $('#constructs').dataTable();
                $('input:checkbox:checked').each(function () {
                    if ( $(this).is(':visible') ) {
                       id = $(this).attr('id');

                       if (id) {
                           oTable.fnDeleteRow("#"+id, null, false);
                       }
                    }
                });
               oTable.fnDraw();
            });

            $("#remove_non_sel").click(function () {
                var oTable = $('#constructs').dataTable();
                $('input:checkbox:not(:checked)').each(function () {
                    if ( $(this).is(':visible') ) {
                       id = $(this).attr('id');
                       if (id) {
                           oTable.fnDeleteRow("#"+id, null, false);
                       }
                   }
                });
                oTable.fnDraw();
            });

            $('#apply_filter').click(function() {
                // $("#filters").toggle();
            });

            $("#OpenFilters").click(function () {
                // $("#filters").toggle();
            });

            $('.slider').slider({
              min: 30,
              max: 200,
              value: 70,
              change: function( event, ui ) {
                console.log(ui.value);
                $(".schematic-block").width(ui.value);
              }
            });

            $('[data-toggle="tooltip"]').tooltip({ container: 'body' })
            $('.table_tooltip').tooltip({ container: 'body', html: true, placement: "top"})


        $('.column_toggle').change(function(evt) {
            console.log('start toggle');
            // evt.stopPropagation();
            // evt.stopImmediatePropagation();
            // evt.preventDefault();
            columns = $(this).attr('data-column').split(",");
            var checked = this.checked;
            // var checked = (this.checked ? false : true);
            columns.forEach(function(column) {
                // console.log('hiding column');
                var column = oTable.column( column );
                try {
                    column.visible( checked );
                }
                catch(err) {
                    column.visible( checked );
                }
            });
            // var Table = $('#constructs').dataTable();
            // Table.fnDraw();
            console.log('done toggle');
            oTable.draw();
            console.log('done draw');
        } );


        });

        function select_all(e) {
            var checkedStatus = $(e).prop("checked");

            $('.select-all  ').each(function () {
                    $(this).prop('checked', checkedStatus);
            });

            $('.alt').each(function () {
                    $(this).prop('checked', checkedStatus);
            });
        };

        function assign_to_row(){
          $('tbody tr').click(function(event) {
            if (event.target.type !== 'checkbox') {
              $(':checkbox', this).trigger('click');
            }
          });
        }

        function realign() {

            ids = JSON.parse($("#c_ids").val());

            // $('input:checkbox:not(:checked)').each(function () {
            $('input:checkbox:checked').each(function () {
                if ( $(this).is(':visible') ) {
                   id = $(this).attr('value');
                   if (id) { ids.push(id); }
                }
            });

            console.log(ids);

            current_align_ids = ids
            var url = '/construct/align';
            var posting = $.post( url, { ids: JSON.stringify(current_align_ids)  } );
              posting.done(function( data ) {
                $("#align_div").html('').append(data)

                $(function () {$('[data-toggle="tooltip"]').tooltip()})

                $(function(){
                    $('.ali-scroll-div').scroll(function(){
                        $('.ali-main-div')
                            .scrollLeft($('.ali-scroll-div').scrollLeft());
                    });
                    $('.ali-main-div').scroll(function(){
                        $('.ali-scroll-div')
                            .scrollLeft($('.ali-main-div').scrollLeft());
                    });
                });

                $(function () {$('.internal-scroll-div').css('width', $('.dynamic-div').outerWidth() );});
              });
        };


    </script>
{% endblock %}

{% block content %}
<h2>Experiment Browser</h2>

        <div class="dropdown btn-group">
          <button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Selection options
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Toggle all <input class="select-all" type="checkbox" onclick="select_all(this)"></a></li>
            <li><a href="#" id="remove_sel">Remove Selected</a></li>
            <li><a href="#" id="remove_non_sel">Remove Non-selected</a></li>
          </ul>
    </div>
    Show/hide columns:
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default btn-xs active">
    <input class="column_toggle" type="checkbox" value="Expression" data-column="7,8,9" checked="checked"> Expression
  </label>

  <label class="btn btn-default btn-xs active">
    <input class="column_toggle" type="checkbox" value="Solubilization" data-column="10" checked="checked"> Solubilization
  </label>

  <label class="btn btn-default btn-xs active">
    <input class="column_toggle" type="checkbox" value="Purification" data-column="11" checked="checked"> Purification
  </label>

  <label class="btn btn-default btn-xs active">
    <input class="column_toggle" type="checkbox" value="Crystallization" data-column="12,13,14,15,16,17,18" checked="checked"> Structure determination
  </label>
</div>
<br><br>

    <div style="padding-top: 0px; font-size: 15px; white-space: nowrap;" id="loading_div">
    <br>Loading...
    </div>
</div>
<div>
    <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;" id="constructs_div">
        <table width="100%" class="display compact" id="constructs">
            <thead>
                    <tr class='over_header' style='max-height: 20px'>
                    <th colspan=1 class='no-sort'></th>
                    <th colspan=6 class="over_header">RECEPTOR</th>
                    <th colspan=3 class="over_header">EXPRESSION </th>
                    <th colspan=1 class="over_header">SOLUBILIZATION</th>
                    <th colspan=1 class="over_header">PURIFICATION</th>
                    <th colspan=8 class="over_header">STRUCTURE DETERMINATION</th>
                    <th colspan=2></th>
                    <th colspan=2></th>
                </tr>
                <tr>
                    <th  class='no-sort checkbox_tr'><input class="select-all" type="checkbox" onclick="select_all(this)"></th>
                    <th >PDB</th>
                    <th ></th>
                    <th ></th>
                    <th ></th>
                    <th ></th>
                    <th  class='rightborder'></th>
                    <th></th>
                    <th ></th>
                    <th  class='rightborder'></th>
                    <th  class='rightborder'></th>
                    <th  class='rightborder'></th>
                    <th ></th>
                    <th ></th>
                    <th ></th>
                    <th ></th>
                    <th >pH</th>
                    <th >Temp</th>
                    <th ></th>
                    <th  class='rightborder'></th>
                    <th >Resolution</th>
                    <th ></th>
                    <th >Reference</th>
                    <th >Date</th>
                </tr>

            </thead>
            <tbody>
            {% for construct in constructs %}
                    <tr id="{{ construct.pk }}">
                    <td class="text-center"><input class="alt" type="checkbox" id="{{ construct.pk }}"></td>
                    <td><a href="{{ construct.name|safe}}">{{ construct.name|safe }}</a></td>
                    <td><span>{{ construct.protein.entry_short|safe }}</span></td>
                    <td><span>{{ construct.protein.short|safe }}</span></td>
                    <td><span>{{ construct.protein.family.parent.short|safe }}</span></td>
                    <td>{{ construct.protein.family.parent.parent.parent.short }}</td>
                    <td>{{ construct.protein.species.common_name }}</td>

                        {% if construct.expression %}
                    <td>{{ construct.expression.expression_method}}</td><td>{{ construct.expression.host_cell_type}}</td><td>{{ construct.expression.host_cell}}</td>
                        {% else %}
                    <td colspan=1> N/A</td>
                    <td colspan=1> N/A</td>
                    <td colspan=1> N/A</td>
                        {% endif %}

                    <td>
                        {% if construct.solubilization %}
                            <a class='table_tooltip' href="#" data-original-title="{{ construct.summary.solubilization }}"> {{ construct.sub_count}} chemicals</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>

                    <td>
                        {% if construct.purification %}
                            <a class='table_tooltip' href="#" data-original-title="{{ construct.summary.purification }}">  {{ construct.pur_count}} steps</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>

                        {% if construct.crystallization %}
                    <td>{{ construct.crystallization.crystal_method.name}}</td><td>{{ construct.crystallization.crystal_type.name}}</td><td>{{ construct.crystallization.crystal_type.sub_name}}</td>
                        {% else %}
                    <td colspan=1> N/A</td>
                    <td colspan=1> N/A</td>
                    <td colspan=1> N/A</td>
                        {% endif %}

                    <td>
                        {% if construct.crystallization %}
                            <a class='table_tooltip' href="#" data-original-title="{{ construct.summary.crystallization_chems }}"> {{ construct.crystallization.chemicals_total}} chems</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>

                    <td>
                        {% if construct.crystallization %}
                             {{ construct.crystallization.ph_start}}-{{ construct.crystallization.ph_end}}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>

                    <td>
                        {% if construct.crystallization %}
                             {{ construct.crystallization.temp}}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>

                    <td>
                            {% for ligand in construct.structure.ligands.all %}
                                {% if ligand.ligand.name|safe|length > 20 %}
                                    <span title="{{ ligand.ligand.name|safe }}">{{ ligand.ligand.name|safe|cut_at_20 }}...</span>
                                {% else %}
                                    {{ ligand.ligand.name|safe }}
                                {% endif %}
                                {% for link in ligand.ligand.properities.web_links.all %}
                                    <a href="{{ link}}" target="_blank">{{link.web_resource.slug}}</a>
                                {% endfor %}
                                    <br />
                                {% empty %}
                                    N/A
                            {% endfor %}
                        </td>
                        <td>{% for ligand in construct.structure.ligands.all %}{{ ligand.ligand_role.name }}{% empty %}
                            N/A
                            {% endfor %}</td>
                    <td class="text-center">{{ construct.crystal.resolution|floatformat:"1" }}</td>
                    <td><span>{{ construct.structure.state.name }}</span></td>
                    <!--
                    <td>{{ construct.contributor.pi_name|safe }}</td>
                    <td>{{ construct.contributor.date|safe }}</td> -->
                    <td>
                        <a href="{{ structure.publication.web_link }}">
                        {{ construct.structure.publication.web_link.index }}
                        </a>
                    </td>
                    <td>{{ construct.structure.publication_date|date:"Y-m-d" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
