{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">

        <!-- description boxes -->
        <div class="col-md-4">

            <!-- main description -->
            <div class="col-md-12 well">
                {% if step and number_of_steps %}
                <h2>STEP {{ step }} of {{ number_of_steps }}</h2>
                {% endif %}
                <h4>{{ title }}</h4>
                {{ description|linebreaks }}
            </div>

            <!-- link to docs -->
            {% if docs %}
            <div class="col-md-12 well">
                <p>For more information on this tool, see the <a href="{{ docs }}">docs</a>.</p>
            </div>
            {% endif %}

        </div>
        {% include "upload_file_form.html" %}


    {% endblock %}
