{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}

  <ul class="nav nav-tabs" id='mode_nav'>
      <li class="active">
          <a href="#single-crystal-group-tab" data-toggle="tab">Single group of structures</a>
    </li>
</ul>
        <div class="tab-content clearfix">
            <!-- BEGIN SINGLE CRYSTAL TAB -->
		    <div class="tab-pane active" id="single-crystal-group-tab">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">Check GPCR structure annotation</h1>
                        <p>...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">PDBs</h3>
                            </div>
                            <div class="panel-body">
                                <input type="hidden" class="interactions-input" value="[]" />
                                <input id="pdb-input" class="crystal-pdb" type="hidden" value="[]" />
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#single-crystal-group-pdbs-modal-table">Select Structure</button> <span class="crystal-count">No</span> structure(s) selected
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="row">
                            <div class="btn btn-success btn-lg pull-right go-button"><span>Go</span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="tab-content">
                      <div class="col-md-2" id="single-NGL-tab">
                          <div id="backward" class="btn btn-success"><span>&lt;</span></div>
                          <div id="forward" class="btn btn-success"><span>&#62;</span></div>
                      </div>
                      <div class="col-md-6" id="single-NGL-tab">

                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 id="ngl-title" class="panel-title pull-left">NGL</h3>
                                <span class="pull-right glyphicon glyphicon-fullscreen btn-fullscreen"></span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <div class="ngl-container" id="ngl-single" style="margin: auto; width:100%; height:1000px;">
                                </div>
                            </div>
                         </div>

                      </div>
                      {% comment %}
                  </div>
                  {% endcomment %}
                </div>


            </div>
            <!-- END SINGLE CRYSTAL TAB -->
        </div>

    <!-- BEGIN SINGLE CRYSTAL PDB CHOOSER MODAL -->
    <div class="modal fade" id="single-crystal-group-pdbs-modal-table" role="dialog">
        <div class="modal-dialog modal-wide">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select a group of structures from table</h4>
                </div>
                <div class="modal-body">
                      <div class="col-md-12">
                        <div class="tableview" group-number="0"></div>
                        </div>
                      <div class="clearfix"></div>
               </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END SINGLE CRYSTAL PDB CHOOSER MODAL -->

{% endblock %}
{% block addon_js %}
    <script type="text/javascript" src="{% static 'home/js/snap.svg-min.js' %}"> </script>
    <script type="text/javascript" src="{% static 'home/js/typeahead.bundle.min.js' %}"> </script>

    <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/selection.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
    <script src="{% static 'home/js/select2.js' %}"> </script>
    <script src="{% static 'home/js/jquery.tablesorter.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'home/js/structureCheck.js' %}"></script>
    <script src="{% static 'home/js/fixed_columns.js' %}"></script>
{% endblock %}
{% block addon_css %}
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
    <style type="text/css">
        .select2-result-label{
            font-size:x-small;
            font-size: 10px;
        }

        .no-top-border{
            border-top: 0px;
        }

        #filters{
            float:left;
          display:none;
          position:absolute;
          background:white;
          border: 1px solid #D1C9C2;
          border-top: 1;
          width: 400px;
          margin: 0 auto;
          padding:  7px 15px;
          text-align: left;
          -webkit-border-bottom-right-radius: 6px;
          -webkit-border-bottom-left-radius: 6px;
          -moz-border-radius-bottomright: 6px;
          -moz-border-radius-bottomleft: 6px;
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
          z-index: 1;
            font-size: 10px;
        }

        @media (min-width: 1800px){
            #content {
                width: 1770px;
            }
        }
    </style>

    <style type="text/css">

        .modal-wide {
          width: 1300px;
        }

        .modal-footer {
            border-top: 0px;
        }

        #single-crystal-pdbs {
            height: 400px;
            overflow: scroll;
        }

        @media screen and (max-width: 992px) {
            .go-button {
                width: 100%;
                margin-bottom: 15px;
            }
        }

        .schematic-legend {
            position: absolute;
            right: 25px;
            top: 45px;
            padding: 5px;
            border: 1px dashed;
            background-color: white;
        }

        .schematic-legend ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .schematic-legend ul li {
            padding: 0;
            margin: 0;
        }

        .schematic-legend ul li p {
            padding: 0;
            margin: 0;
            margin-left: 20px;
        }

        .schematic-legend .color-box {
            width: 18px;
            height: 18px;
            float: left;
            margin-top: 2px;
        }

        .schematic-legend input[type=checkbox] {
            position: relative;
            bottom: 2px;
            left: 3px;
        }

        .schematic-legend .temperature-scale .white-to-red {
            height: 10px;
            width: 100%;
            display: inline-block;
            background: -moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
            /* ff3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 0, 0, 1)));
            /* safari4+,chrome */
            background: -webkit-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
            /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
            /* opera 11.10+ */
            background: -ms-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
            /* ie10+ */
            background: linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
            /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FF0000', GradientType=1);
        }

        .schematic-legend .temperature-scale .red-to-white {
            height: 10px;
            width: 50%;
            display: inline-block;
            background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
            /* ff3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 0, 0, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
            /* safari4+,chrome */
            background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
            /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
            /* opera 11.10+ */
            background: -ms-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
            /* ie10+ */
            background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
            /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#FFFFFF', GradientType=1);
        }

        .schematic-legend .temperature-scale .white-to-blue {
            height: 10px;
            width: 50%;
            display: inline-block;
            background: -moz-linear-gradient(180deg, rgba(0, 0, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
            /* ff3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(0, 0, 255, 1)));
            /* safari4+,chrome */
            background: -webkit-linear-gradient(180deg, rgba(0, 0, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
            /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(180deg, rgba(0, 0, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
            /* opera 11.10+ */
            background: -ms-linear-gradient(180deg, rgba(0, 0, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
            /* ie10+ */
            background: linear-gradient(270deg, rgba(0, 0, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
            /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#0000FF', GradientType=1);
        }

        .highlighted {
            stroke: #286090 !important;
            stroke-width: 3 !important;
            opacity: 1 !important;
        }

        .heatmap-legend, .flareplot-legend  {
            position: absolute;
            right: 15px;
            top: 15px;
            padding: 5px;
            border: 1px dashed;
            background-color: white;
        }

        .heatmap-legend ul, .flareplot-legend ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .heatmap-legend ul li, .flareplot-legend ul li {
            padding: 0;
            margin: 0;
        }

        .heatmap-legend ul li p, .flareplot-legend ul li p {
            padding: 0;
            margin: 0;
            margin-left: 20px;
        }

        .heatmap-legend .color-box, .flareplot-legend .color-box {
            width: 18px;
            height: 18px;
            float: left;
            margin-top: 2px;
        }

        .heatmap-legend input[type=checkbox], .flareplot-legend input[type=checkbox] {
            position: relative;
            bottom: 2px;
            left: 3px;
        }

        .temperature-scale .gray-to-red {
            height: 10px;
            width: 100%;
            display: inline-block;
            background: -moz-linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(220,220,220,1) 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(220,220,220,1)), color-stop(100%, rgba(255,0,0,1))); /* safari4+,chrome */
            background: -webkit-linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(220,220,220,1) 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(220,220,220,1) 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(220,220,220,1) 100%); /* ie10+ */
            background: linear-gradient(270deg, rgba(255,0,0,1) 0%, rgba(220,220,220,1) 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DCDCDC', endColorstr='#FF0000',GradientType=1 );
        }

        .temperature-scale .red-to-gray {
            height: 10px;
            width: 50%;
            display: inline-block;
            background: -moz-linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(255,0,0,1) 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,0,0,1)), color-stop(100%, rgba(220,220,220,1))); /* safari4+,chrome */
            background: -webkit-linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(255,0,0,1) 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(255,0,0,1) 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(255,0,0,1) 100%); /* ie10+ */
            background: linear-gradient(270deg, rgba(220,220,220,1) 0%, rgba(255,0,0,1) 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#DCDCDC',GradientType=1 );
        }

        .temperature-scale .gray-to-blue {
            height: 10px;
            width: 50%;
            display: inline-block;
            background: -moz-linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(220,220,220,1) 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(220,220,220,1)), color-stop(100%, rgba(0,0,255,1))); /* safari4+,chrome */
            background: -webkit-linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(220,220,220,1) 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(220,220,220,1) 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(220,220,220,1) 100%); /* ie10+ */
            background: linear-gradient(270deg, rgba(0,0,255,1) 0%, rgba(220,220,220,1) 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DCDCDC', endColorstr='#0000FF',GradientType=1 );
        }

        .temperature-scale .white-to-red {
            height: 10px;
            width: 100%;
            display: inline-block;
            background: -moz-linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,0,0,1))); /* safari4+,chrome */
            background: -webkit-linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
            background: linear-gradient(270deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FF0000',GradientType=1 );
        }

        .temperature-scale .red-to-white {
            height: 10px;
            width: 50%;
            display: inline-block;
            background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,0,0,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
            background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%); /* ie10+ */
            background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#FFFFFF',GradientType=1 );
        }

        .temperature-scale .white-to-blue {
            height: 10px;
            width: 50%;
            display: inline-block;
            background: -moz-linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(0,0,255,1))); /* safari4+,chrome */
            background: -webkit-linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
            background: linear-gradient(270deg, rgba(0,0,255,1) 0%, rgba(255,255,255,1) 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#0000FF',GradientType=1 );
        }

        #single-crystal-group-tab .panel .btn-primary:hover, #single-crystal-group-tab .panel .btn-primary:hover, #two-crystal-groups-tab .panel .btn-primary:hover {
            background-color: #337ab7;
        }

        #single-crystal-group-tab .panel .btn-primary.active:hover, #single-crystal-group-tab .panel .btn-primary.active:hover, #two-crystal-groups-tab .panel .btn-primary.active:hover {
            background-color: #286090;
        }

        #single-crystal-group-tab .panel .btn-primary:focus, #single-crystal-group-tab .panel .btn-primary:focus, #two-crystal-groups-tab .panel .btn-primary:focus {
            background-color: #337ab7;
        }

        #single-crystal-group-tab .panel .btn-primary.active:focus, #single-crystal-group-tab .panel .btn-primary.active:focus, #two-crystal-groups-tab .panel .btn-primary.active:focus {
            background-color: #286090;
        }

        .svg-download-button {
            margin-top: 6px;
        }

        .csv-download-button {
            margin-top: 6px;
        }

        /* Balthasars classes */

        .table-selected {
            color: #F00;
            font-weight: bolder;
        }
    </style>

    <!-- NGL -->
    <script type="text/javascript" src="https://cdn.rawgit.com/arose/ngl/v2.0.0-dev.32/dist/ngl.js"> </script>

    <!-- 2D schematics -->
    <script type="text/javascript" src="{% static 'home/js/schematicplot.js' %}"> </script>

    <!-- D3 -->
    <script type="text/javascript" src="{% static 'home/js/d3.v3.min.js' %}"> </script>
    <script src="{% static 'home/js/d3-color.v1.min.js' %}"></script>
    <script src="{% static 'home/js/d3-interpolate.v1.min.js' %}"></script>
    <script src="{% static 'home/js/d3-scale-chromatic.v1.min.js' %}"></script>
    <script src="{% static 'home/js/d3-selection-multi.v1.min.js' %}"></script>



{% endblock %}
