<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>SCHEMATIC</h4>
    </div>
    <div class="col-md-9">
    Perspective:
    <input type="radio" name="schematic" id="wt" checked="checked" value="wt">Wild-type
    <input type="radio" name="schematic" id="construct" value="construct">Construct
    <br>
    <br>
<div class="row no-wrap" style='overflow-x: scroll;' id="schematic_seq_wt"><table width=100% class='schematic_table'><tr>{{schematics.schematic_2_wt|safe}}</tr></table><br></div>
<div class="row no-wrap" style='overflow-x: scroll;' id="schematic_seq_c"><table width=100% class='schematic_table'><tr>{{schematics.schematic_2_c|safe}}</tr></table><br></div>
</div>


